{% load settings %}
<nav id="partner-navbar">
    <div class="container-lg">
            <a href="https://www.ecologique-solidaire.gouv.fr/" title="Ministère de la Transition écologique">
                <img class="logo ministry-logo" src="/static/img/logo_mte.svg" alt="Logo du Ministère de la Transition écologique" />
            </a>
            <div>
                <a class="deco-none" href="{{ search_page.logo_link }}">{{ search_page.short_title }}</a>
            </div>
            <div>
                <a class="deco-none" href="https://aides-territoires.beta.gouv.fr">Aides-territoires</a>
            </div>
    </div>
</nav>
