{% load settings %}
<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator fr-grid-row fr-grid-row--middle">
                                {% if search_page.logo %}
                                <a class="partner-link" target="_blank" rel="noopener" href="{{ search_page.logo_link }}">
                                    <img class="fr-responsive-img fr-mr-5w" src="{{ search_page.logo.url }}" alt="Logo : {{ search_page.title }}"/>
                                </a>
                                {% endif %}
                                <a href="https://aides-territoires.beta.gouv.fr" title="Aides-territoires">
                                    <img class="fr-responsive-img" src="/static/img/logo_AT_courbes.svg" alt="Logo d'Aides-territoires" />
                                </a>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile-4">
                                Menu
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if pages %}
    <div class="fr-header__menu fr-modal" id="modal-870" aria-labelledby="fr-btn-menu-mobile-4">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-870">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="navigation-869" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="/" target="_self">{{ search_page.tab_title }}</a>
                    </li>
                    {% for page in pages %}
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{% url 'page_detail_view' page.url %}" target="_self">{{ page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</header>