{% extends "aids/_search_form.html" %}

{% block hidden-fields %}
    {{ form.apply_before.as_hidden }}
    {{ form.destinations.as_hidden }}
    {{ form.themes.as_hidden }}
    {{ form.aid_types.as_hidden }}
    {{ form.call_for_projects_only.as_hidden }}

    {% comment %}
        Those fields can be displayed or hidden in admin.
    {% endcomment %}

    {% if not search_page.show_text_field %}
        {{ form.text.as_hidden }}
    {% endif %}

    {% if not search_page.show_perimeter_field %}
        {{ form.perimeter.as_hidden }}
    {% endif %}

    {% if not search_page.show_backers_field %}
        {{ form.backers.as_hidden }}
    {% endif %}

    {% if not search_page.show_audience_field %}
        {{ form.targeted_audiences.as_hidden }}
    {% endif %}

    {% if not search_page.show_categories_field %}
        {{ form.categories.as_hidden }}
    {% endif %}

    {% if not search_page.show_mobilization_step_field %}
        {{ form.mobilization_step.as_hidden }}
    {% endif %}

    {% if not search_page.show_aid_type_field %}
        {{ form.aid_type.as_hidden }}
    {% endif %}
{% endblock hidden-fields %}

{% block other-actions %}
        <div class="fr-col-12 fr-col-md-4 fr-mt-1w">
            <button id="new-filters-btn" name="action" value="more-filters" type="submit" class="advanced-link fr-btn" formmethod="GET" formaction="{% url 'advanced_search_view' %}">
                Plus de critères
            </button>
    
            <a href="{% url 'home' %}" class="fr-ml-2w">
                Réinitialiser
            </a>    
        </div>
        <div class="fr-col-offset-md-6 fr-col-md-2 fr-grid-row fr-grid-row--right fr-mt-1w">
            <button type="button" class="fr-btn" id="save-alert-btn"  data-fr-opened="false" aria-controls="alert-search-modal">
                Créer une alerte
            </button>    
        </div>
{% endblock other-actions %}

{% block form-body %}
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mb-2w" id="search-form">
        {% if search_page.show_perimeter_field %}
            <div class="fr-col-12 fr-col-md-4">
                {% include '_field_snippet.html' with field=form.perimeter %}
            </div>
        {% endif %}

        {% if search_page.show_backers_field %}
        <div class="fr-col-12 fr-col-md-4">
            {% include '_field_snippet.html' with field=form.backers %}
        </div>
        {% endif %}

        {% if search_page.show_audience_field %}
            <div class="fr-col-12 fr-col-md-4">
                {% include '_field_snippet.html' with field=form.targeted_audiences %}
            </div>
        {% endif %}

        {% if search_page.show_mobilization_step_field %}
            <div class="fr-col-12 fr-col-md-4">
                {% include '_field_snippet.html' with field=form.mobilization_step %}
            </div>
        {% endif %}

        {% if search_page.show_categories_field %}
            <div class="fr-col-12 fr-col-md-4">
                {% include '_field_snippet.html' with field=form.categories %}
            </div>
        {% endif %}

        {% if search_page.show_aid_type_field %}
            <div class="fr-col-12 fr-col-md-4">
                {% include '_field_snippet.html' with field=form.aid_type %}
            </div>
        {% endif %}

        {% if search_page.show_text_field %}
        <div class="fr-col-12 fr-col-md-4">
            {% include '_field_snippet.html' with field=form.text %}
        </div>
        {% endif %}

    </div>
{% endblock form-body %}

{% block form-actions %}
<div class="fr-grid-row actions-row">
    <div class="fr-col-12 fr-col-md-3 fr-mt-2w">
        <select name="order_by" id="id_order_by">
            <option hidden>Trier par&nbsp;: </option>
            {% for option in form.order_by %}
            {{ option }}
            {% endfor %}
        </select>
    </div>
    <div class="fr-col-md-3 fr-col-offset-md-6 fr-grid-row fr-grid-row--right fr-mt-2w">
        <button name="action" value="search-filter" class="search-btn fr-btn" type="submit">
            <span class="fr-fi-search-line fr-mr-1w" aria-hidden="true"></span>
            Filtrer les résultats
        </button>
    </div>
</div>
{% endblock form-actions %}