{% extends 'aids/detail.html' %}

{% block extra_head %}
<meta property="og:title" content="{{ page.meta_title|default:search_page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.meta_description }}" />
<meta property="og:site_name" content="{{ search_page.meta_title|default:search_page.title }}" />
{% if search_page.meta_image %}
<meta property="og:image" content="{{ search_page.meta_image.url }}" />
{% endif %}
{% if BdT_financer %}
<link rel="canonical" href="{{ aid.origin_url }}" />
{% else %}
<link rel="canonical" href="{{ canonical_url }}" />
{% endif %}
{% endblock %}

{% block header %}
    {% include 'minisites/_header.html' %}
{% endblock %}

{% block footer %}
    {% include 'minisites/_footer.html' %}
{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Détail de l'aide</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block header_warning %}{% endblock %}

{% block user_menu %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% include 'minisites/_css.html' %}
{% endblock %}

{% block extra_js %}
<script>
    SEARCH_PAGE_SLUG = '{{ search_page.slug }}';
</script>
{{ block.super }}
{% endblock %}
