{% extends 'aids/detail.html' %}
{% load i18n aids compress %}

{% block header %}
    {% include 'minisites/_header.html' %}
{% endblock %}

{% block footer %}
    {% include 'minisites/_footer.html' %}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">{{ _('Aid detail') }}</li>
    </ol>
</nav>
{% endblock %}

{% block header_warning %}{% endblock %}

{% block user_menu %}{% endblock %}

{% block aid_footer %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% include 'minisites/_css.html' %}
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        // Make sure all links contained in aid description open in a new tab.
        $('article#aid div.aid-details a').attr('target', '_blank');
    });
</script>
<script>
    AID_SLUG = '{{ aid_slug }}';
    CURRENT_SEARCH = '{{ search_page.search_querystring }}&{{ current_search | safe }}';
</script>
{% compress js %}
<script src="/static/js/aids/track_aid_events.js"></script>
<script src="/static/js/alerts/track_alert_button_events.js"></script>
<script src="/static/js/alerts/alert_form.js"></script>
<script src="/static/js/links_on_images.js"></script>
<script src="/static/js/aids/share_aid.js"></script>
{% endcompress %}
{% endblock %}
