{% extends 'aids/detail.html' %}

{% block header %}
    {% include 'minisites/_header.html' %}
{% endblock %}

{% block footer %}
    {% include 'minisites/_footer.html' %}
{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Détail de l'aide</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block header_warning %}{% endblock %}

{% block user_menu %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% include 'minisites/_css.html' %}
{% endblock %}

{% block extra_js %}
<script nonce="{{ request.csp_nonce }}">
    SEARCH_PAGE_SLUG = '{{ search_page.slug }}';
</script>
{{ block.super }}
{% endblock %}
