{% extends 'search/search_page.html' %}
{% load compress colors %}

{% block extratitle %}{{ search_page.meta_title|default:search_page.title }}{% endblock %}
{% block meta_description %}{{ search_page.meta_description }}{% endblock %}

{% block header %}
    {% include 'minisites/_header.html' %}
{% endblock %}

{% block footer %}
    {% include 'minisites/_footer.html' %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header_warning %}{% endblock %}

{% block user_menu %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% include 'minisites/_css.html' %}
{% endblock %}

{% block search-engine %}
     {% include 'minisites/_search_form.html' %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% compress js %}
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
<script src="/static/js/aids/categories_autocomplete.js"></script>
<script src="/static/js/aids/targeted_audiances_autocomplete.js"></script>
{% endcompress %}
{% endblock %}
