{% extends 'search/search_page.html' %}
{% load compress colors %}

{% block title %}{{ search_page.meta_title|default:search_page.title }}{% endblock %}
{% block meta_description %}{{ search_page.meta_description }}{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{ search_page.meta_title|default:search_page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ search_page.meta_description }}" />
<meta property="og:url" content="{{ site_url }}" />
<meta property="og:site_name" content="{{ search_page.meta_title|default:search_page.title }}" />
{% if search_page.meta_image %}
<meta property="og:image" content="{{ site_url }}{{ search_page.meta_image.url }}" />
{% endif %}
<link rel="canonical" href="{{ canonical_url }}" />
{% endblock %}

{% block header %}
    {% include 'minisites/_header.html' %}
{% endblock %}

{% block sticky-btn %}
    {% include 'minisites/_sticky-btn.html' %}
{% endblock %}

{% block footer %}
    {% include 'minisites/_footer.html' %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header_warning %}{% endblock %}

{% block user_menu %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% include 'minisites/_css.html' %}
{% endblock %}

{% block search-engine %}
     {% include 'minisites/_search_form.html' %}
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}

{% block modals %}
    {% include 'alerts/_alert_modal.html' with form=form %}
{% endblock %}

{% block extra_js %}
<script>
    SEARCH_PAGE_SLUG = '{{ search_page.slug }}';
</script>
{{ block.super }}
{% compress js %}
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
<script src="/static/js/aids/categories_autocomplete.js"></script>
<script src="/static/js/aids/targeted_audiences_autocomplete.js"></script>
{% endcompress %}
{% endblock %}
