{% extends 'stats/stats.html' %}
{% load i18n compress %}

{% block header %}
    {% include 'minisites/_header.html' %}
{% endblock %}

{% block footer %}
    {% include 'minisites/_footer.html' %}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">Stats</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<section id="stats">

    <div class="stat  full-width">
        <span class="stat-title">
            {{ _('Available aids') }}<br />
            <small>{% blocktrans trimmed %}
                Published aids that are still open.
            {% endblocktrans %}</small>
        </span>
        <div class="stat-body number-stat">
            <span>{{ nb_live_aids }}</span>
        </div>
    </div>

    <div class="stat">
        <span class="stat-title">
            {{ _('Total number of views') }}<br />
            <small>{{ _('Since the launch of the page on') }} {{ search_page.date_created|date:'d/m/Y' }}</small>
        </span>
        <div class="stat-body number-stat">
            <span>{{ view_count_total }}</span>
        </div>
    </div>

    <div class="stat">
        <span class="stat-title">
            {{ _('Number of views within the last 30 days') }}<br />
        </span>
        <div class="stat-body number-stat">
            <span>{{ view_count_last_30_days }}</span>
        </div>
    </div>

    <div class="stat">
        <span class="stat-title">
            {{ _('Number of views within the last 7 days') }}<br />
        </span>
        <div class="stat-body number-stat">
            <span>{{ view_count_last_7_days }}</span>
        </div>
    </div>

    <div class="stat">
        <span class="stat-title">
            {{ _('Aids viewed within the last 30 days') }}<br />
        </span>
        <div class="stat-body number-stat">
            <span>{{ aid_view_count_last_30_days }}</span>
        </div>
    </div>

    <div class="stat">
        <span class="stat-title">
            {{ _('Aids viewed within the last 7 days') }}<br />
        </span>
        <div class="stat-body number-stat">
            <span>{{ aid_view_count_last_7_days }}</span>
        </div>
    </div>

    <div class="stat full-width">
        <span class="stat-title">
            {{ _('Aids viewed per week') }}
        </span>
        <div style="min-height: 400px">
            <canvas id="chartAidsViewed" style="width: 80%;"></canvas>
        </div>
    </div>

    <div class="stat full-width">
        <span class="stat-title">
            {{ _('Top viewed aids') }} (top 10)<br />
            <small>{{ _('Since the launch of the page on') }} {{ search_page.date_created|date:'d/m/Y' }}</small>
        </span>
        <div class="stat-body">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>{{ _('Rank') }}</th>
                        <th>{{ _('Aid URL') }}</th>
                        <th>{{ _('Hits') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aid in top_10_aid_viewed %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ aid.aid__name }}</td>
                            <td>{{ aid.view_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="stat full-width">
        <span class="stat-title">
            {{ _('Top audiences searched') }} (top 10)<br />
            <small>Parmi les {{ search_events_total }} recherches effectuées</small>
        </span>
        <div class="stat-body">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>{{ _('Rank') }}</th>
                        <th>{{ _('Audience') }}</th>
                        <th>{{ _('Search count') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for audience in top_10_audiences_searched %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ audience.audience }}</td>
                            <td>{{ audience.search_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="stat full-width">
        <span class="stat-title">
            {{ _('Top categories searched') }} (top 10)<br />
            <small>Parmi les {{ search_events_total }} recherches effectuées</small>
        </span>
        <div class="stat-body">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>{{ _('Rank') }}</th>
                        <th>{{ _('Category') }}</th>
                        <th>{{ _('Search count') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in top_10_categories_searched %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ category.categories__name }}</td>
                            <td>{{ category.search_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="stat full-width">
        <span class="stat-title">
            {{ _('Top keywords searched') }} (top 10)<br />
            <small>{{ _('Since the launch of the page on') }} {{ search_page.date_created|date:'d/m/Y' }}</small>
        </span>
        <div class="stat-body">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>{{ _('Rank') }}</th>
                        <th>{{ _('Keyword') }}</th>
                        <th>{{ _('Search count') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for keyword in top_10_keywords_searched %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ keyword.label }}</td>
                            <td>{{ keyword.nb_hits }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% include 'minisites/_css.html' %}
    <link rel="stylesheet" href="/static/chart.js/dist/Chart.css" />
{% endblock %}

{% block extra_js %}
<script>
    AID_VIEW_TIMESERIES = {{ aid_view_timeseries | safe }};
</script>
{% compress js %}
<script src="/static/chart.js/dist/Chart.bundle.js"></script>
<script src="/static/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.js"></script>
<script src="/static/js/stats/aid_view_timeseries.js"></script>
{% endcompress %}
{% endblock %}
