{% extends '_base.html' %}
{% load i18n %}


{% block extratitle %}{{ post.title }}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<section id="post-list">

    <div id="blog-content">
        {% if category %}
            <h1>
                {{ category.name }}
            </h1>
            <p>{{ category.description }}</p>
        {% else %}
        <h1>
            {{ _('Blog') }}
        </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dolorum sed cumque 
            beatae unde esse quam! Aliquam quasi corrupti unde magnam facilis culpa? Quas impedit 
            illum iusto, veritatis perspiciatis neque?
        </p>
        <form id="search-posts-form" action="{% url 'post_list_category_view' %}" method="get" autocomplete='off'>
            <label for="id_categorie">{{ _('Post category') }} :</label>
            {{ form.category }}
            <button class="filter-btn" type="submit">
                {{ _('Filter results') }}
            </button>
        </form>
        {% endif %}
    </div>

    {% if posts %}
    <div class="posts">
        {% for post in posts %}
            <article id="post">
                <div>
                    <h1><a href="{% url 'post_detail_view' post.slug %}">
                        {{ post.title }}
                    </a></h1>
                    <p>{{ post.short_text }}</p>
                    <div>
                        <a class="cta-btn" href="{% url 'post_detail_view' post.slug %}">Voir plus</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    {% else %}
    <div class="posts">
        <div id="no_result">
            <p>Aucun article n'est disponible.</p>
        </div>
    </div>
    {% endif %}
</section>

{% include '_pagination.html' %}

{% endblock %}
