{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}{{ post.meta_title|default:post.title }}{% endblock %}
{% block meta_description %}{{ post.meta_description|default:post.short_text }}{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'blog_post_list_view' %}">Blog</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">{{ post.title }}</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<article id="post" class="fr-container fr-mb-5w">

    <section id="post-content" class="fr-pb-5w">

        <div id="post-title" class="fr-grid-row fr-grid-row--top fr-mb-4w">
            <h1 class="fr-col-12 fr-col-md-10">{{ post.title }}</h1>
            <div class="post_categorie fr-tag">{{ post.category.name }}</div>
        </div> 

        {% if post.text %}
        <div>
            {{ post.text|safe }}
        </div>
        {% endif %}

        {% if related_articles %}
        <div id="related-articles" class="fr-background-alt-pink fr-p-3w">
            <p>Vous pourriez aussi être intéressé par&nbsp;:</p>
            <ul>
            {% for related_article in related_articles %}
            <li>
                <a href="{% url 'blog_post_detail_view' related_article.slug %}">{{ related_article.title }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

    </section>

</article>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/links_on_images.js"></script>
<script src="/static/js/responsive_iframe.js"></script>
{% endcompress %}
{% endblock %}
