{% extends '_base.html' %}
{% load i18n %}
{% load compress %}


{% block extratitle %}Blog{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                {% if selected_category %}
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'blog_post_list_view' %}">Blog</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">{{ selected_category.name }}</a>
                </li>
                {% else %}
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Blog</a>
                </li>
                {% endif %}
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<section id="post-list" class="fr-container fr-mb-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-10">
            <div id="blog-content">
                {% if selected_category %}
                    <h1>
                        {{ selected_category.name }}
                    </h1>
                    <p>{{ selected_category.description }}</p>
                {% else %}
                <h1>Blog</h1>
                <p>Retrouvez dans cette rubrique nos actualités ainsi que des ressources complémentaires pour vous aider à réaliser vos projets</p>
                {% if not selected_category %}
                <div id="search-posts">
                    <select class="fr-select" id="select" name="select" title="Filtrer les articles par catégorie - La sélection recharge la page">
                        <option value="" selected disabled hidden>Filtrer les articles par catégorie</option>
                        {% for category in categories %}
                        <option value="{{ category.get_absolute_url }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                {% endif %}
            </div>
        
            {% if posts %}
            <div class="posts">
                {% for post in posts %}
                    <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--horizontal-third fr-my-5w">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h4 class="fr-card__title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h4>
                                <p class="fr-card__desc">{{ post.short_text }}</p>
                                <div class="fr-card__start">
                                    <ul class="fr-tags-group">
                                        <li>
                                            <p class="fr-tag">{{ post.category.name }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% if post.logo %}
                            <div class="fr-card__header">
                                <div class="fr-card__img">
                                <img src="{{ post.logo.url }}" class="fr-responsive-img" alt="" loading="lazy">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="posts">
                <div id="no_result" class="fr-background-alt-pink fr-p-2w">
                    <p class="fr-mb-0">Aucun article n'est disponible dans cette catégorie.</p>
                </div>
            </div>
            {% endif %}        
        </div>
    </div>
</section>

{% include '_pagination.html' %}

{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/blog/filter_article_by_categories.js"></script>
    {% endcompress %}
{% endblock %}
