{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}{{ post.meta_title|default:post.title }}{% endblock %}
{% block meta_description %}{{ post.meta_description|default:post.short_text }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li><a href="{% url 'post_list_view' %}">{{ _('Blog') }}</a></li>
        <li class="active" aria-current="page">{{ post.title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<article id="post">

    <section id="post-content">

        <div id="post-title">
            <h1>{{ post.title }}</h1>
            <p class="post_categorie">{{ post.category.name }}</p>
        </div> 

        {% if post.text %}
            {{ post.text|safe }}
        {% endif %}   
        
    </section>

</article>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/links_on_images.js"></script>
{% endcompress %}
{% endblock %}
