:root {
  --primary-color-text: #8c2;
  --primary-color-background: #a1d273;
  --primary-color-button: rgb(136, 204, 34);
  --primary-color-button-dark: #6ba01b;
  --primary-color-button-light: #a6e14c;
  --menu-height: 50px;
  --paragraph-font-size: 24px;
}

/* LAYOUT */

* {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1000px;
}

header .subtitle strong {
  color: white;
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.title {
  font-weight: 400;
}

.has-navbar-fixed-top {
  padding-top: var(--menu-height);
}

/* BUTTONS */
.button.is-primary {
  background: var(--primary-color-button);
  box-shadow: 0 2px 0 var(--primary-color-button-dark);
}

.button.is-primary:hover {
  background: var(--primary-color-button-light);
}

/* MENU */
.app-main-menu .navbar-brand img {
  max-height: 50px;
}

/* HEADER */

.header {
  background: url("../images/header-2.jpg");
  background-size: cover;
  text-align: center;
  max-height: var(--header-height);
}

.header .hero-body {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.header .title {
  color: white;
  padding-bottom: 1rem;
  font-size: 45px;
}

.header .subtitle {
  color: white;
  font-weight: 400;
  font-size: 26px;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.button-lancez-la-recherche,
.button-lancez-la-recherche:hover {
  color: white;
}

.app-name {
  color: var(--primary-color-background);
  font-size: var(--paragraph-font-size);
  font-weight: 400;
  padding-left: 10px;
}

.section#comment-ca-marche {
  text-align: center;
}

.section#comment-ca-marche .numero {
  font-size: 30px;
  width: 50px;
  height: 50px;
  margin: auto;
  font-weight: 400;
  border: solid black 1px;
  margin-bottom: 1rem;
}

.section#comment-ca-marche .container {
  max-width: 800px;
}

.section#comment-ca-marche .title {
  font-weight: bold;
  color: var(--primary-color-background);
  padding: 0rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.section#comment-ca-marche .section-title {
  margin-bottom: 2rem;
  font-weight: 400;
}

.has-primary-background {
  background-color: var(--primary-color-background);
  color: white;
  font-size: var(--paragraph-font-size);
  padding-top: 100px;
  padding-bottom: 100px;
}

.section#benefices {
  color: var(--primary-color-text);
  text-align: left;
  font-size: var(--paragraph-font-size);
  font-weight: 400;
}

.section#benefices .content ul {
  list-style: disc inside;
  margin-left: 0;
  margin-top: 1em;
}

.section#types-aides {
  text-align: center;
}

.text {
  font-size: var(--paragraph-font-size);
  font-weight: 400;
}

.section#types-aides .description {
  font-weight: 400;
}

.section#types-aides .aides-icon {
  width: 50px;
  margin: auto;
  margin-top: 3rem;
}
.section#types-aides .title {
  color: var(--primary-color-text);
}

.section#inscription {
  background: url("../images/blurred-blue.jpg");
  background-size: cover;
  text-align: center;
  /* color: white;*/
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}

.section#inscription {
  font-size: var(--paragraph-font-size);
}

.section#inscription .title {
  color: white;
}

/* send in blue */
.section#inscription .lbl-tinyltr {
  color: white;
  font-weight: 400;
}

.section#inscription .sib-container {
  padding: 0 !important;
}

.section#inscription button {
  background: var(--primary-color-button) !important;
  box-shadow: 0 2px 0 var(--primary-color-button-dark);
}

.section#contact p {
  font-size: var(--paragraph-font-size) !important;
}

#a-propos-content p {
  text-align: justify;
}

#equipe .card-content {
  min-height: 210px;
}

.sous-section {
  padding-bottom: 2rem;
}
