[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
unipath = "*"
"psycopg2-binary" = "*"
django-compressor = "*"
django-model-utils = "*"
django-environ = "*"
gunicorn = "*"
raven = "*"
requests = "*"
django-rest-framework = "*"
xlrd = "*"
celery = "*"
django-braces = "*"
django-xworkflows = "*"
beautifulsoup4 = "*"
scrapy = "*"
django-widget-tweaks = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
django-debug-toolbar = "*"
factory-boy = "*"
ipython = "*"
pytest-django = "*"
ansible = "*"
yapf = "*"
selenium = "*"
rope = "*"

[requires]
python_version = "3"
