[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3"
unipath = "*"
"psycopg2-binary" = "*"
django-compressor = "*"
django-model-utils = "*"
django-environ = "*"
gunicorn = "*"
raven = "*"
requests = "*"
django-rest-framework = "*"
xlrd = "*"
celery = "*"
redis = "*"
django-braces = "*"
django-xworkflows = "*"
beautifulsoup4 = "*"
scrapy = "*"
zipp = "<2"  # https://github.com/jaraco/zipp/issues/28
django-cors-headers = "*"
django-activity-stream = "*"
django-import-export = "*"
django-admin-autocomplete-filter = "*"
drf-yasg = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
django-debug-toolbar = "*"
factory-boy = "*"
ipython = "*"
pytest-django = "*"
ansible = "*"
yapf = "*"
selenium = "*"
rope = "*"

[requires]
python_version = "3"
