{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}{{ page.meta_title|default:page.title }}{% endblock %}
{% block meta_description %}{{ page.meta_description }}{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">{{ page.title }}</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<article class="fr-container fr-mb-5w">
    <div id="page-content">
        <h1>{{ page.title }}</h1>
    
        {{ page.content|safe }}
    </div>
</article>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/links_on_images.js"></script>
<script src="/static/js/responsive_iframe.js"></script>
{% endcompress %}
{% endblock %}
