{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}{{ page.meta_title|default:page.title }}{% endblock %}
{% block meta_description %}{{ page.meta_description }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">{{ page.title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<article>
<div id="page-content">
    <h1>{{ page.title }}</h1>

    {{ page.content|safe }}
</div>
</article>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/links_on_images.js"></script>
<script src="/static/js/responsive_iframe.js"></script>
{% endcompress %}
{% endblock %}
