.AdminLayout .column-content,
.AdminLayout .column-menu {
  padding: 2rem;
  padding-top: 4rem;
  min-height: 100%;
}

.AdminLayout .app-main-menu {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
}

.AdminLayout .column-menu {
  background-color: rgb(247, 249, 250);
  border-right: 1px solid rgb(211, 220, 224);
}
