{% extends "stats/dashboard_base.html" %}
{% load humanize %}

{% block panels %}
<div id="consultation-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="consultation" tabindex="0">
  <div class="fr-grid-row fr-grid-row--gutters">
    <h3>Chargement en cours…</h3>
  </div></div>

<div id="acquisition-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="acquisition" tabindex="0">
  <div class="fr-grid-row fr-grid-row--gutters">
    <h3>Chargement en cours…</h3>
  </div>
</div>

<div id="engagement-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="engagement" tabindex="0">
  <div class="fr-grid-row fr-grid-row--gutters">
    <h3>Chargement en cours…</h3>
  </div>
</div>

<div id="cote-porteurs-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="cote-porteurs" tabindex="0">
  <h3 class="fr-mt-5w">Côté Porteurs de projets :</h3>
  <div  class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <p class="fr-tile__title">
            <a class="fr-tile__link" href="{% url 'admin:accounts_user_changelist' %}?is_beneficiary__exact=1">Nombre de nouveaux comptes</a>
          </p>
        </div>
        <div class="fr-tile__img overflow--initial" role="presentation">
          <p class="fr-text--lg"><strong>{{ nb_beneficiary_accounts_created|intcomma }}</strong></p>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <p class="fr-tile__title">
            <a class="fr-tile__link" href="{% url 'admin:organizations_organization_changelist' %}">Nombre de nouvelles structures</a>
          </p>
        </div>
        <div class="fr-tile__img overflow--initial" role="presentation">
          <p class="fr-text--lg"><strong>{{ nb_beneficiary_organizations|intcomma }}</strong></p>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <p class="fr-tile__title">
            <a class="fr-tile__link" href="{% url 'admin:projects_project_changelist' %}">Nombre de nouveaux projets</a>
          </p>
        </div>
        <div class="fr-tile__img overflow--initial" role="presentation">
          <p class="fr-text--lg"><strong>{{ nb_projects_for_period|intcomma }}</strong></p>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <p class="fr-tile__title">
            <a class="fr-tile__link" href="{% url 'admin:aids_aidproject_changelist' %}">Nombre d’aides ajoutées dans des projets</a>
          </p>
        </div>
        <div class="fr-tile__img overflow--initial" role="presentation">
          <p class="fr-text--lg"><strong>{{ nb_aids_matching_projects_for_period|intcomma }}</strong></p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="fr-mt-5w">Côté Porteurs d’aides :</h3>
  <div  class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <p class="fr-tile__title">
            <a class="fr-tile__link" href="{% url 'admin:accounts_user_changelist' %}?is_contributor__exact=1">Nombre de nouveaux comptes</a>
          </p>
        </div>
        <div class="fr-tile__img overflow--initial" role="presentation">
          <p class="fr-text--lg"><strong>{{ nb_contributor_accounts_created|intcomma }}</strong></p>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <p class="fr-tile__title">
            <a class="fr-tile__link" href="{% url 'admin:organizations_organization_changelist' %}">Nombre de nouvelles structures</a>
          </p>
        </div>
        <div class="fr-tile__img overflow--initial" role="presentation">
          <p class="fr-text--lg"><strong>{{ nb_contributor_organizations|intcomma }}</strong></p>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <p class="fr-tile__title">
            <a class="fr-tile__link" href="{% url 'admin:aids_aid_changelist' %}">Nombre de nouvelles aides publiées</a>
          </p>
        </div>
        <div class="fr-tile__img overflow--initial" role="presentation">
          <p class="fr-text--lg"><strong>{{ nb_aids_live_for_period|intcomma }}</strong></p>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <p class="fr-tile__title">
            <a class="fr-tile__link" href="{% url 'admin:accounts_user_changelist' %}?is_contributor__exact=1">Nombre de nouveaux comptes porteurs de projets et d’aides</a>
          </p>
        </div>
        <div class="fr-tile__img overflow--initial" role="presentation">
          <p class="fr-text--lg"><strong>{{ nb_beneficiary_and_contributor_accounts_created|intcomma }}</strong></p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="fr-mt-5w">
    📍 Inscriptions de nouvelles communes au cours des 10 dernières semaines :
  </h3>
  <div class="fr-alert fr-alert--info">
    <p>Graphe permettant de représenter l’activité sur la plateforme des nouvelles communes inscrites.</p>
  </div>
  <div class="charts">
    <div id="chart-inscriptions-communes" class="ct-chart"></div>
  </div>
  <div class="charts-legends">
    <ul>
      <li><span class="charts-legend charts-legend-accent"></span> Toutes les communes</li>
      <li><span class="charts-legend charts-legend-regular"></span> Avec une aide publiée</li>
      <li><span class="charts-legend charts-legend-regular2"></span> Avec un projet</li>
    </ul>
  </div>

  <script nonce="{{ request.csp_nonce }}">
    new Chartist.Bar('#chart-inscriptions-communes', {
      labels: {{ nb_inscriptions_weeks|safe }},
      series: [
        {{ nb_inscriptions_communes_serie }},
        {{ nb_inscriptions_communes_with_created_aid_serie }},
        {{ nb_inscriptions_communes_with_created_project_serie }}
      ]
    }, {
      // stackBars: true,
      axisX: {
        labelInterpolationFnc: (value) => {
          // Only display day/month (from ISO date).
          const [ month, day ] = value.slice(5, 10).split('-')
          return `${day}/${month}`
        }
      },
      plugins: [
        Chartist.plugins.tooltip({appendToBody: true, pointClass: 'ct-bar'})
      ]
    })
  </script>

  <h3 class="fr-mt-5w">
    🗺 Inscriptions de nouveaux EPCI au cours des 10 dernières semaines  :
  </h3>
  <div class="fr-alert fr-alert--info">
    <p>Graphe permettant de représenter l’activité sur la plateforme des nouveaux EPCI inscrits.</p>
  </div>
  <div class="charts">
    <div id="chart-inscriptions-epcis" class="ct-chart"></div>
  </div>
  <div class="charts-legends">
    <ul>
      <li><span class="charts-legend charts-legend-accent"></span> Tous les EPCI</li>
      <li><span class="charts-legend charts-legend-regular"></span> Avec une aide publiée</li>
      <li><span class="charts-legend charts-legend-regular2"></span> Avec un projet</li>
    </ul>
  </div>

  <script nonce="{{ request.csp_nonce }}">
    new Chartist.Bar('#chart-inscriptions-epcis', {
      labels: {{ nb_inscriptions_weeks|safe }},
      series: [
        {{ nb_inscriptions_epcis_serie }},
        {{ nb_inscriptions_epcis_with_created_aid_serie }},
        {{ nb_inscriptions_epcis_with_created_project_serie }}
      ]
    }, {
      // stackBars: true,
      axisX: {
        labelInterpolationFnc: (value) => {
          // Only display day/month (from ISO date).
          const [ month, day ] = value.slice(5, 10).split('-')
          return `${day}/${month}`
        }
      },
      plugins: [
        Chartist.plugins.tooltip({appendToBody: true, pointClass: 'ct-bar'})
      ]
    })
  </script>

</div>
{% endblock panels %}
