{% extends "_base.html" %}
{% load i18n humanize compress form_utils stats accounts %}

{% block extratitle %}Statistiques Interne - Projets{% endblock extratitle %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'dashboard_view' %}">Dashboard</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Statistiques Projets</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div id="users-stats" class="fr-container">

    <h1 class="fr-mt-0w fr-h4">Projets :</h1>

    <div class="fr-col-12 fr-col-md-6 fr-mt-4w">
        {% url 'projects_stats' as action_url %}
        {% include 'stats/_start_end_date_form.html' with action=action_url %}
    </div>

    <div class="fr-table fr-table--bordered fr-mt-5w">
        <table class="data-table">
            <thead>
                <tr>
                    <th scope="col">Nom du projet</th>
                    <th scope="col">Structure</th>
                    <th scope="col">Description</th>
                    <th scope="col">Nb d'aides</th>
                    <th scope="col">Création</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>
                        {% for organization in project.organizations.all %}
                        {{ organization }}
                        {% endfor %}
                    </td>
                    <td>{{ project.description|safe }}</td>
                    <td>
                        {% if project.aid_set.all %}
                        {{ project.aid_set.all.count }}
                        {% endif %}
                    </td>
                    <td>{{ project.date_created|date:'d/m/y' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include '_pagination.html' %}

</div>
{% endblock content %}
