{% extends '_base.html' %}

{% block content %}
<section id="stats">

    <div class="stat">
        <span class="stat-title">{{ _('Total number of aids') }}</span>
        <div class="stat-body number-stat">
            <span>{{ nb_all_aids }}</span>
        </div>
    </div>

    <div class="stat">
        <span class="stat-title">{{ _('Number of active aids') }}</span>
        <div class="stat-body number-stat">
            <span>{{ nb_active_aids }}</span>
        </div>
    </div>

    <div class="stat">
        <span class="stat-title">{{ _('Aids updated those 31 days') }}</span>
        <div class="stat-body number-stat">
            <span>{{ nb_updated_aids }}</span>
        </div>
    </div>

    <div class="stat">
        <span class="stat-title">{{ _('Number of active users') }}</span>
        <div class="stat-body number-stat">
            <span>{{ nb_active_users }}</span>
        </div>
    </div>

</section>
{% endblock %}
