{% extends '_base.html' %}
{% load i18n humanize compress form_utils stats accounts %}

{% block extratitle %}Statistiques Interne - Comptes Utilisateurs{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'dashboard_view' %}">Dashboard</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Statistiques Comptes Utilisateurs</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<section id="users-stats" class="fr-container">

    <div class="fr-table fr-table--bordered fr-mt-5w">
        <table class="data-table">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Nombre d'inscrits</th>
                    <th scope="col">%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Porteurs de projets uniquement</th>
                    <td>{{ nb_beneficiaries_only }}</td>
                    <td>{% percent_display nb_beneficiaries_only nb_users %}</td>
                </tr>
                <tr>
                    <th>Porteurs d'aides uniquement</th>
                    <td>{{ nb_contributors_only }}</td>
                    <td>{% percent_display nb_contributors_only nb_users %}</td>
                </tr>
                <tr>
                    <th>Porteurs de projets et d'aides</th>
                    <td>{{ nb_beneficiaries_and_contributors }}</td>
                    <td>{% percent_display nb_beneficiaries_and_contributors nb_users %}</td>
                </tr>
                <tr>
                    <th>TOTAL</th>
                    <td>{{ nb_users }}</td>
                    <td>{% percent_display nb_users nb_users %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4 class="fr-mt-0w">Comptes utilisateurs&nbsp;:</h4>

    <div class="fr-col-12 fr-col-md-6 fr-mt-4w">
        <form method="get" action="{% url 'users_stats' %}" class="fr-grid-row fr-grid-row--start">
          <div id="form-group-start_date" class="fr-input-group fr-mb-0">
            <div class="fr-input-wrap fr-icon-calendar-line">
                <label for="id_start_date" class="fr-label"></label>
                <input type="date" name="start_date" placeholder="jj/mm/aaaa" {% if request.GET.start_date %} value="{{ request.GET.start_date }}" {% else %} value="{% now 'Y-m-d' %}" {% endif %} required="" id="id_start_date" class="fr-input fr-mt-0">
                <span class="fr-hint-text">Date de début</span>
            </div>
          </div>
          <div id="form-group-end_date" class="fr-input-group fr-mb-0">
            <div class="fr-input-wrap fr-icon-calendar-line">
                <label for="id_end_date" class="fr-label"></label>
                <input type="date" name="end_date" placeholder="jj/mm/aaaa" {% if request.GET.end_date %} value="{{ request.GET.end_date }}" {% else %} value="{% now 'Y-m-d' %}" {% endif %} required="" id="id_end_date" class="fr-input fr-mt-0">
                <span class="fr-hint-text">Date de fin</span>
            </div>
          </div>
          <div>
                <button type="submit" class="fr-btn">Envoyer</button>
          </div>
          {% if start_date_error %}
            <p id="text-input-error-desc-error" class="fr-error-text">
                {{ start_date_error.0 }}
            </p>
          {% endif %}
        </form>
    </div>

    <div class="fr-table fr-table--bordered fr-mt-5w">
        <table class="data-table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Structure</th>
                    <th scope="col">Fonction</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Dernière connexion</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.full_name }}</td>
                    <td>
                        {% if user.beneficiary_organization %}
                        {{ user.beneficiary_organization }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.beneficiary_function %}
                        {% choices_display user 'beneficiary_function' %}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.beneficiary_role %}
                        {{ user.beneficiary_role }}
                        {% endif %}
                    </td>
                    <td>{{ user.date_created|date:'d/m/y' }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include '_pagination.html' %}

</section>
{% endblock %}
