<!doctype html>
<html lang="fr" class="nojs">
    <head>
        <title>Aides-territoires | Aides publiques pour les collectivités 🏡</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Trouvez 🔎 des aides publiques pour financer et accompagner les projets locaux de votre territoire en France métropolitaine et en Outre-mer" />
    </head>
    <body class="home">
        <h1>Erreur interne</h1>
        <p>La page que vous demandez n’est pas accessible à cause d’une erreur interne.</p>
        <p>Le mieux que nous puissions faire est de vous <a href="/">
        renvoyer vers la page d’accueil.</a></p>

        <p>Si le problème persiste, n’hésitez pas à <a
        href="mailto:aides-territoires@beta.gouv.fr">
        nous contacter</a>.</p>
    </body>
</html>
