    {% if user.is_contributor_or_staff or user.search_pages.count %}
    <li class="fr-nav__item">
        <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-connected">Votre Espace</button>
        <div class="fr-collapse fr-menu" id="menu-connected">
            <ul class="fr-menu__list">
            
            {% if user.is_contributor_or_staff %}
            <li class="fr-nav__item">
                <span class="fr-centered fr-background-alt fr-py-2w fr-width-fix-100 fr-text--sm fr-mb-0">Espace contributeur</span>
                <ul class="fr-menu__list fr-pb-0">
                    <li>
                        <a class="fr-nav__link" href="{% url 'contributor_profile' %}" target="_self">
                            {% if user.profile_complete %}
                                {{ _('Update your contributor profile') }}
                            {% else %}
                                {{ _('Become a contributor') }}
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a class="fr-nav__link" href="{% url 'aid_draft_list_view' %}" target="_self">
                            {{ _('My portfolio') }}
                        </a>
                    </li>
                    <li>
                        <a class="fr-nav__link" href="{% url 'aid_create_view' %}" target="_self">{{ _('Publish a new aid') }}</a>
                    </li>
                </ul>
            </li>
        {% endif %}

        {% if user.search_pages.count %}
            <li class="fr-nav__item">
                <span class="fr-centered fr-background-alt fr-py-2w fr-width-fix-100 fr-text--sm fr-mb-0">Espace administrateur</span>
                <ul class="fr-menu__list fr-pb-0">
                    {% for search_page in user.search_pages.all %}
                    <!-- <a href="https://{{ search_page.slug }}.aides-territoires.beta.gouv.fr/stats/" target="_blank" rel="noopener">{{ search_page.title }}</a> -->
                    <li>
                        <a class="fr-nav__link" href="{% url 'admin:search_searchpagelite_change' search_page.id %}" target="_blank" rel="noopener">{{ search_page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        </ul>
    </div>
</li>
{% endif %}
