<ul class="navbar-menu">
    {% if user.is_superuser %}
    <li>
        <a href="{% url 'admin:aids_aid_changelist' %}?status__exact=reviewable">
            {{ _('Aids under review') }}
            <span class="review-counter">
                {{ nb_aids_under_review }}
            </span>
        </a>
    </li>
    {% endif %}

    {% if user.is_contributor %}
    <li>
        <a href="{% url 'aid_draft_list_view' %}?order=status">
            {{ _('Draft aids') }}
            <span class="draft-counter">
                {{ nb_draft_aids }}
            </span>
        </a>
    </li>
    {% endif %}

    <li class="user-menu">
        <a href="#" data-toggle="dropdown">
            {{ user.full_name }}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            {% include '_menu_actions.html' %}
            <hr />
            <a href="{% url 'logout' %}">
                {{ _('Log out') }}
            </a>
        </div>
    </li>
</ul>