<ul class="navbar-menu">
    {% if user.is_superuser %}
    <li>
        <a href="{% url 'admin:aids_aid_changelist' %}?status__exact=reviewable">
            {{ _('Aids under review') }}
            <span class="review_counter">
                {{ nb_aids_under_review }}
            </span>
        </a>
    </li>
    {% endif %}

    <li class="user-menu">
        <a href="#" data-toggle="dropdown">
            {{ user.full_name }}
        </a>
        <div class="dropdown-menu">
            <a href="{% url 'aid_draft_list_view' %}">
                {{ _('My published aids') }}
            </a>
            <a href="{% url 'aid_create_view' %}">
                {{ _('Publish a new aid') }}
            </a>
            <a href="{% url 'bundle_list_view' %}">
                {{ _('My aid bundles') }}
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}">
                {{ _('Log out') }}
            </a>
        </div>
    </li>
</ul>