{% if user.is_contributor_or_staff %}
    <h6 id="profile-menu">{{ _('Your profile') }}</h6>

    <a href="{% url 'contributor_profile' %}">
    {% if user.profile_complete %}
        {{ _('Update your contributor profile') }}
    {% else %}
        {{ _('Become a contributor') }}
    {% endif %}
    </a>

    <hr />

    <h6 id="contributor-menu">Espace contributeur</h6>

    <a href="{% url 'aid_draft_list_view' %}">
        {{ _('My portfolio') }}
    </a>
    <a href="{% url 'aid_create_view' %}">
        {{ _('Publish a new aid') }}
    </a>

    <hr />
{% endif %}

{% if user.search_pages.count %}
    <h6 id="contributor-menu">Espace administrateur</h6>

    {% for search_page in user.search_pages.all %}
        <!-- <a href="https://{{ search_page.slug }}.aides-territoires.beta.gouv.fr/stats/" target="_blank" rel="noopener">{{ search_page.title }}</a> -->
        <a href="{% url 'admin:search_searchpage_change' search_page.id %}" target="_blank" rel="noopener">{{ search_page.title }}</a>
    {% endfor %}

    <hr />
{% endif %}

<a href="{% url 'logout' %}">
    {{ _('Log out') }}
</a>
