<ul class="navbar-menu">

    {% if user.is_superuser %}
    <li class="stat">
        <a href="{% url 'admin:aids_aid_changelist' %}?is_imported__exact=0&status__exact=draft">
            {{ _('Drafts') }}
            <span class="counter draft-counter">
                {{ nb_draft_aids }}
            </span>
        </a>
    </li>
    <li class="stat">
        <a href="{% url 'admin:aids_aid_changelist' %}?is_imported__exact=0&status__exact=reviewable">
            {{ _('Reviewable') }}
            <span class="counter review-counter">
                {{ nb_reviewable_aids }}
            </span>
        </a>
    </li>
    <li class="stat">
        <a href="{% url 'admin:aids_aid_changelist' %}?is_imported__exact=1&status__exact=draft">
            {{ _('Imported') }}
            <span class="counter imported-counter">
                {{ nb_waiting_imported_aids }}
            </span>
        </a>
    </li>
    {% elif user.is_contributor_or_staff %}
    <li class="stat">
        <a href="{% url 'aid_draft_list_view' %}?order=status">
            {{ _('Draft aids') }}
            <span class="counter draft-counter">
                {{ nb_draft_aids }}
            </span>
        </a>
    </li>
    {% endif %}

    <li>
        <a href="{% url 'blog_post_list_view' %}">
            Blog
        </a>
    </li>

    <li class="user-menu">
        <a href="#" data-toggle="dropdown">
            {{ user.full_name }}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            {% include '_authenticated_menu_dropdown_actions.html' %}
        </div>
    </li>
</ul>
