{% load compress analytics i18n %}
<!doctype html>
<html lang="fr" class="{% if integration %}integration {% endif %}{% block extraclasses %}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.png" type="image/png">
        <link rel="icon" sizes="32x32" href="/favicon-32.png" type="image/png">
        <link rel="icon" sizes="64x64" href="/favicon-64.png" type="image/png">
        <link rel="icon" sizes="96x96" href="/favicon-96.png" type="image/png">

        <title>
            {% block title %}Aides Territoires — {% endblock %}
            {% block extratitle %}{% endblock %}
        </title>

        {% compress css %}
            <link rel="stylesheet" href="/static/css/styles.scss" type="text/x-scss" charset="utf-8">
            <link rel="stylesheet" href="/static/css/custom.scss" type="text/x-scss" charset="utf-8">
            {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% block extra_head %}{% endblock %}
    </head>
    <body>

        {% include '_header.html' %}

        <main role="main">
            {% block main %}
            <section id="{% block sectionid %}{% endblock %}" class="main-content container">

                {% block breadcrumbs %}{% endblock %}

                {% block messages %}
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags|default:'info' }}" role="alert">{{ message|safe }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endblock %}


                {% block content %}{% endblock %}
            </section>
            {% endblock %}
        </main>

        {% block footer %}
        <footer>
            <div class="container">
                <div class="logos">
                    <img class="logo" id="logo-fabnum" src="/static/img/logo-fabriquenumerique.svg" alt="Logo de la Fabrique Numérique" />
                    <img class="logo" id="logo-ministeres" src="/static/img/MTES_MCTRCT.svg"
                        alt="Logo : Ministère de la transition écologique et solidaire,
                            Ministère de la Cohésion des territoires et des Relations
                            avec les collectivités territoriales" />
                </div>
                <h1>
                    Aides-territoires<br />
                    <small>Un service incubé et développé à la Fabrique Numérique.</small>
                </h1>

                <nav role="navigation">
                    <a href="{% url 'legal_mentions' %}">{{ _('Legal mentions') }}</a>
                    <a href="mailto:aides-territoires@beta.gouv.fr">{{ _('Contact') }}</a>
                    <a href="https://github.com/MTES-MCT/aides-territoires">{{ _('Source code') }}</a>
                </nav>
            </div>
        </footer>
        {% endblock %}

        {% compress js %}
        <script src="/static/jquery/dist/jquery.js"></script>
        <script src="/static/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script>
            // Translations strings
            var catalog = {
                perimeter_placeholder: '{{ _("City, department, region, EPCI…") }}',
                perimeter_url: '{% url "perimeters-list" %}',
                tags_placeholder: '{{ _("Type a few characters to see some suggestions.") }}',
                backers_placeholder: '{{ _("Backers") }}',
                aid_types_placeholder: '{% trans "What kind of aids are you looking for?" context 'js_catalog' %}',
                mobilization_steps_placeholder: '{% trans "When to mobilize the aid?" context 'js_catalog' %}',
                destinations_placeholder: '{% trans "The aid is destined to…" context 'js_catalog' %}',
                scale_placeholder: '{{ _("Who can apply to this aid?") }}',
                search_url: '{% url "results_view" %}',
                copy_to_clipboard_success: '{{ _("The current url was successfully copied to clipboard.") }}',
                copy_to_clipboard_error: '{{ _("Sorry, we could not copy automatically.") }}',
                send_by_email_message: '{{ _("Please wait") }} <span class="fas fa-spinner fa-spin"></span>',
                send_by_email_done: '{{ _("Done") }}',
                send_by_email_success: '{{ _("Done! Check your mailbox for search results.") }}',
                send_by_email_error: '{{ _("It seems something went wrong. Please try again in a few seconds.") }}',
            };
        </script>
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.aides-territoires.beta.gouv.fr"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            _paq.push(['setTrackerUrl', 'https://stats.data.gouv.fr/piwik.php']);
            _paq.push(['setSiteId', '{% analytics_siteid %}']);
        </script>
        {% block extra_js %}{% endblock %}
        {% endcompress %}

        {% analytics_enabled as analytics_enabled %}
        {% analytics_goalid as analytics_goalid %}
        {% if analytics_enabled %}
            {% if analytics_goalid %}
                <script type="text/javascript">
                    _paq.push(['trackGoal', {{ analytics_goalid }}]);
                </script>
            {% endif %}
            <script src="https://stats.data.gouv.fr/piwik.js" async defer></script>
            <noscript><img src="https://stats.data.gouv.fr/piwik.php?idsite={% analytics_siteid %}&idgoal={{ analytics_goalid }}" style="border:0;" alt="" /></noscript>
            <script>
                (function(h,o,t,j,a,r){
                    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                    h._hjSettings={hjid:{% hotjar_siteid %},hjsv:6};
                    a=o.getElementsByTagName('head')[0];
                    r=o.createElement('script');r.async=1;
                    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
            </script>
        {% endif %}
    </body>
</html>
