{% load compress analytics %}
<!doctype html>
<html lang="fr" {% if integration %}class="integration"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.png" type="image/png">
        <link rel="icon" sizes="32x32" href="/favicon-32.png" type="image/png">
        <link rel="icon" sizes="64x64" href="/favicon-64.png" type="image/png">
        <link rel="icon" sizes="96x96" href="/favicon-96.png" type="image/png">

        <title>
            {% block title %}Aides Territoires{% endblock %}
            {% block extratitle %}{% endblock %}
        </title>

        {% compress css %}
            <link rel="stylesheet" href="/static/css/styles.scss" type="text/x-scss" charset="utf-8">
            <link rel="stylesheet" href="/static/css/custom.scss" type="text/x-scss" charset="utf-8">
            {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% block extra_head %}{% endblock %}

        {% analytics_tag %}
    </head>
    <body>

        {% include '_header.html' %}

        <main role="main">
            {% block main %}
            <section class="main-content">

                {% block breadcrumbs %}{% endblock %}

                {% block messages %}
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags|default:'info' }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endblock %}


                {% block content %}{% endblock %}
            </section>
            {% endblock %}
        </main>

        {% block footer %}
        <footer>
            <div>
                {% include '_fabnum.html' %}
                <h1>
                    Aides Territoires<br />
                    <small>Un service développé à la Fabrique Numérique des
                    Ministères de la Transition Écologique et Solidaire et
                    de la Cohésion des Territoires.</small>
                </h1>

                <nav role="navigation">
                    <a href="{% url 'legal_mentions' %}">{{ _('Legal mentions') }}</a>
                    <a href="mailto:aides-territoires@beta.gouv.fr">{{ _('Contact') }}</a>
                    <a href="https://github.com/MTES-MCT/aides-territoires">{{ _('Source code') }}</a>
                </nav>
            </div>
        </footer>
        {% endblock %}

        {% compress js %}
        <script src="/static/jquery/dist/jquery.js"></script>
        <script src="/static/bootstrap/dist/js/bootstrap.bundle.js"></script>
        {% block extra_js %}{% endblock %}
        {% endcompress %}
    </body>
</html>
