{% load widget_tweaks %}
<div class="fr-checkbox-group{% if field.errors %} fr-checkbox-group--error{% endif %}" {% if field.field.required %} required{% endif %}>
    {% if nest_field_class %}
        <div class="{{ nest_field_class }}">
    {% endif %}

    {% if field.errors %}
        {% with aria_describedby="aria-describedby:"|add:field.auto_id|add:"-message-error" %}
            {{ field|attr:aria_describedby }}
        {% endwith %}
    {% else %}
        {{ field }}
    {% endif %}

    {% if nest_field_class %}
        </div>
    {% endif %}

    {% if field.label %}
        <label class="fr-label" for="{{ field.id_for_label }}">
            <span class="at-field-label{% if field.field.required %} at-required--label{% endif %}">{{ field.label }}</span>

            {% if field.help_text %}
                <span class="fr-hint-text">{{ field.help_text }}</span>
            {% endif %}
        </label>
    {% endif %}

    {% if field.errors %}
        <div class="fr-messages-group" id="{{ field.id_for_label }}-messages">
            <p class="fr-message fr-message--error" id="{{ field.auto_id }}-message-error">
                {{ field.errors.0 }}
            </p>
        </div>
    {% endif %}
</div>