<div id="form-group-{{ field.name }}" class="form-group{% if field.field.required %} required{% endif %} checkbox">

    <div class="help-form">
        {% if field.help_text %}
            <div class="fr-hint-text">{{ field.help_text }}</div>
        {% endif %}
    </div>

    <div class="part-form fr-checkbox-group">
        {% if nest_field_class %}
        <div class="{{ nest_field_class }}">
        {% endif %}
    
        {{ field }}
    
        {% if nest_field_class %}
        </div>
        {% endif %}

        {% if field.label %}<label for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
        
        {% if field.errors %}
        <p id="text-input-error-{{ field.name }}" class="fr-error-text">
            {{ field.errors.0 }}
        </p>
        {% endif %}
    </div>
</div>