{% load settings i18n %}
{% load i18n mailing_list %}
<footer>
    <div class="container">
        <div class="columns">
            <div class="logos logos-1">
                <a href="https://www.ecologique-solidaire.gouv.fr/" title="Ministère de la Transition écologique">
                    <img class="logo ministry-logo" src="/static/img/logo_mte.svg" alt="Logo du Ministère de la Transition écologique" />
                </a>
                <a href="https://www.cohesion-territoires.gouv.fr/" title="Ministère de la Cohésion des Territoires et des Relations avec les Collectivités Territoriales">
                    <img class="logo ministry-logo" src="/static/img/logo_mct.svg" alt="Logo du Ministère de la Cohésion des Territoires et des Relations avec les Collectivités Territoriales" />
                </a>
            </div>

            <div class="newsletter">
                <div class="subscribe-newsletter">
                    <h2>Recevez la newsletter</h2>
                    <p>Restez informés des nouveautés de la plateforme</p>
                    <a class="ml-btn" href="{% mailing_list_url %}">Inscrivez-vous</a>
                </div>

                <h2>{{ _("Aid backers") }}</h2>
                <p>{% blocktrans trimmed %}
                Publish your aids now !
                {% endblocktrans %}</p>
                {% if user.is_authenticated %}
                    <a class="ml-btn" href="{% url 'aid_draft_list_view' %}">{{ _('Publish an aid') }}</a>      
                {% else %}
                    <a class="ml-btn" href="{% url 'aid_draft_list_view' %}">{{ _('Login') }}</a>      
                    <a class="ml-btn" href="{% url 'register' %}">{{ _('Register') }}</a>      
                {% endif %}
            </div>

            <div class="logos logos-2">
                <a href="https://www.cohesion-territoires.gouv.fr/la-fabrique-numerique-lincubateur-de-services-numeriques-du-pole-ministeriel" title="La Fabrique Numérique">
                    <img class="logo" id="logo-fabnum" src="/static/img/logo-fabriquenumerique.svg" alt="Logo de la Fabrique Numérique" />
                </a>
                <h4>Aides-territoires</h4>
                <p>Un service incubé et développé à la Fabrique Numérique.</p>
            </div>
        </div>

        <nav role="navigation">
            <ul>
                <li><a href="{% url 'aid_draft_list_view' %}">{{ _('Publish new aids') }}</a></li>
                <li><a href="{% url 'data_doc' %}">{{ _('Data and api') }}</a></li>
                <li><a href="mailto:{{ contact_email }}">{{ contact_email }}</a></li>
                <li><a href="tel:{{ contact_phone }}">{{ contact_phone|phone }}</a> </li>
                <li><a href="{% url 'legal_mentions' %}">{{ _('Legal mentions') }}</a></li>
                <li><a href="https://github.com/MTES-MCT/aides-territoires">{{ _('Source code') }}</a></li>
            </ul>
        </nav>
    </div>
</footer>
