{% load i18n %}

{% if form.errors %}
<div class="fr-alert fr-alert--error fr-alert--sm fr-mt-2w fr-background-main">
    <p>
    Nous <strong>n’avons pas pu traiter</strong> votre formulaire car les données
    saisies sont invalides et / ou incomplètes. Merci de bien vouloir vérifier
    votre saisie et corriger les erreurs avant de réessayer.
    </p>
</div>
{% endif %}

{% if form.non_field_errors %}
<div class="error">
    {{ form.non_field_errors.0 }}
</div>
{% endif %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}