{% load i18n %}

{% if form.errors %}
<div role="alert" class="fr-alert fr-alert--error fr-alert--sm fr-mt-2w fr-background-main">
    <p class="error">{% blocktrans trimmed %}
        We <strong>could not process</strong> your form because it contains some errors.
        Please check your submission below and fix all errors before trying again.
        {% endblocktrans %}</p>        
</div>
{% endif %}

{% if form.non_field_errors %}
<div class="error">
    {{ form.non_field_errors.0 }}
</div>
{% endif %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}