{% block header %}
{% load settings %}
<nav id="main-navbar">
    <div class="container">
        <a class="homelink" href="{% url 'home' %}">
            <div class="long-title">
                {% include '_marianne.html' %}
                aides-territoires.<strong>beta.gouv</strong><em>.fr</em>
            </div>
            <div class="short-title">
                Aides-territoires
            </div>
        </a>
        {% if user.is_authenticated %}
            {% include '_authenticated_menu.html' %}
        {% else %}
            {% include '_anonymous_menu.html' %}
        {% endif %}
    </div>
</nav>
{% staging_warning %}

<div class="header-warning">
    <div class="container">
        <p><a href="{% url 'search_page' 'COVID19' %}">Informations Covid-19</a></p>
    </div>
</div>
{% endblock %}
