{% block header %}
{% load settings %}
<nav id="main-navbar">
    <div class="container">
        <a class="homelink" href="{% url 'home' %}">
            <img src="/static/img/marianne.svg" alt="Logo Marianne" />
            <img src="/static/img/logo_AT_titre.svg" alt="Aides-territoires" />
        </a>
        {% if user.is_authenticated %}
            {% include '_authenticated_menu.html' %}
        {% else %}
            {% include '_anonymous_menu.html' %}
        {% endif %}
    </div>
</nav>
{% staging_warning %}

<div class="header-warning">
    <div class="container">
        <p><a href="{% url 'search_page' 'COVID19' %}">
            COVID-19 : cliquez ici pour retrouver les dispositifs de soutien aux acteurs locaux.
        </a></p>
    </div>
</div>
{% endblock %}
