{% load settings %}

<div class="fr-background-alt fr-p-3w">
    <div class="fr-container fr-centered">
        <p class="fr-mb-0 fr-text--bold">Créez rapidement votre compte pour trouver plus simplement des aides pour vos projets. <a href="https://aides-territoires.beta.gouv.fr/blog/communique-de-presse-aides-territoires-le-moteur-d/">En savoir plus</a></p>
    </div>
</div>

<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <a href="{% url 'home' %}" title="Accueil Aides-territoires">
                                <img src="/static/img/logo_AT_courbes.svg" class="fr-responsive-img light-mode" style="max-width:9.0625rem; min-width:9rem;" alt="Aides-territoires" />
                                <img src="/static/img/logo_AT_courbes_dark_mode.svg" class="fr-responsive-img dark-mode" style="max-width:9.0625rem; min-width:9rem;" alt="Aides-territoires" />
                            </a>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile-4">
                                Menu
                            </button>
                        </div>
                    </div>
                </div>

                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-links-group">
                            {% if user.is_authenticated %}                    
                            <a class="fr-link fr-fi-account-line" id="profil" href="{% url 'user_dashboard' %}">
                                {{ user.full_name }}
                            </a>
                            {% else %}
                            <li>
                                <a class="fr-link fr-fi-lock-line" href="{% url 'login' %}">Se connecter</a>
                            </li>
                            <li>
                                <a class="fr-link fr-fi-account-line" href="{% url 'register' %}">S’inscrire</a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="fr-link fr-tag" href="{% url 'general_search' %}">
                                    <span class="fr-fi-search-line fr-mr-1w" aria-hidden="true"></span>
                                    Trouver des aides
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-header__menu fr-modal" id="modal-870" aria-labelledby="fr-btn-menu-mobile-4">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-870">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="navigation-869" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{% url 'home' %}" target="_self">Accueil</a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="/portails/" target="_self">Portails</a>
                    </li>
                    <li class="fr-nav__item">
                        <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-actualites">Actualités</button>
                        <div class="fr-collapse fr-menu" id="menu-actualites">
                            <ul class="fr-menu__list">
                                <li>
                                    <a class="fr-nav__link" href="{% url 'blog_post_list_view' %}" target="_self">Le blog</a>
                                </li>
                                <li>
                                    <a class="fr-nav__link" href="/europe/" target="_self">Les financements européens 2021-2027</a>
                                </li>
                                <li>
                                    <a class="fr-nav__link" href="{% url 'blog_post_list_view' 'webinaires' %}" target="_self">Les webinaires</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="fr-nav__item">
                        <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-en-savoir-plus">En savoir plus</button>
                        <div class="fr-collapse fr-menu" id="menu-en-savoir-plus">
                            <ul class="fr-menu__list">
                                <li>
                                    <a class="fr-nav__link" href="/plateforme-aides-territoires/" target="_self">La démarche</a>
                                </li>
                                <li>
                                    <a class="fr-nav__link" href="/porteurs-aides/" target="_self">Porteurs d'aides</a>
                                </li>
                                <li>
                                    <a class="fr-nav__link" href="/aides-collectivités/" target="_self">Collectivités</a>
                                </li>
                                <li>
                                    <a class="fr-nav__link" href="/data/" target="_self">Données et API</a>
                                </li>
                                <li>
                                    <a class="fr-nav__link" href="/contact/" target="_self">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


{% staging_warning %}