{% load i18n settings %}

<script>
// Translations strings
var catalog = {
    project_placeholder: 'Exemple: construction, école, piste cyclable',
    perimeter_placeholder: '{{ _("City, department, region, EPCI…") }}',
    perimeter_url: '{% url "perimeters-list" %}',
    autocomplete_placeholder: '{{ _("Type a few characters to see some suggestions.") }}',
    autocomplete_placeholder: '{{ _("Type a few characters to see some suggestions.") }}',
    programs_placeholder: '{{ _("Select program(s)") }}', 
    financers_placeholder: '{{ _("Choose backer(s) among the list.") }}',
    instructors_placeholder: '{{ _("Choose instructor(s) among the list.") }}',
    aid_types_placeholder: '{% trans "What kind of aids are you looking for?" context 'js_catalog' %}',
    mobilization_steps_placeholder: '{% trans "When to mobilize the aid?" context 'js_catalog' %}',
    destinations_placeholder: '{% trans "The aid is destined to…" context 'js_catalog' %}',
    scale_placeholder: '{{ _("Who can apply to this aid?") }}',
    targeted_audiences_placeholder: '{{ _("Who can apply to this aid?") }}',
    copy_to_clipboard_success: '{{ _("The current url was successfully copied to clipboard.") }}',
    copy_to_clipboard_error: '{{ _("Sorry, we could not copy automatically.") }}',
    send_by_email_message: '{{ _("Please wait") }} <span class="fas fa-spinner fa-spin"></span>',
    send_by_email_done: '{{ _("Done") }}',
    send_by_email_success: '{{ _("Done! Check your mailbox for search results.") }}',
    send_by_email_error: '{{ _("It seems something went wrong. Please try again in a few seconds.") }}',
    SEARCH_COOKIE_NAME: '{% setting "SEARCH_COOKIE_NAME" %}',
    exit_confirmation: '{{ _("Are you sure you want to quit? You might lose some changes.") }}',
    no_backers_found: '{{ _("No results were found.") }}',
    suggest_backer_button: '{{ _("Suggest a new backer") }}',
    going_further_cta_label: "Poursuivre la démarche pour obtenir l'aide",
    add_instructor_label: '{{ _("Add a new instructor if different from financer") }}',
    show_me_more: '{{ _("See more details") }}',
    show_me_less: '{{ _("See less details") }}',
};
</script>
