{% load settings %}

<script nonce="{{ request.csp_nonce }}">
// Translations strings
var catalog = {
    project_placeholder: 'Exemple: construction, école, piste cyclable',
    perimeter_placeholder: 'Votre ville, intercommunalité, département…',
    perimeter_url: '{% url "perimeters-list" %}',
    text_placeholder: 'Ex: rénovation énergétique, vélo, tiers lieu, etc.',
    text_url: '{% url "synonymLists-list" %}',
    project_types_url: 'https://aides-territoires.beta.gouv.fr/api/synonymlists/classic-list/',
    project_types_placeholder: 'Sélectionnez un type de projet',
    autocomplete_placeholder: 'Saisissez quelques caractères pour des suggestions.',
    programs_placeholder: 'Sélectionnez un programme', 
    financers_placeholder: 'Sélectionnez le ou les porteurs',
    instructors_placeholder: 'Sélectionnez le ou les instructeurs parmi la liste.',
    aid_types_placeholder: 'Quels types d’aide cherchez-vous ?',
    mobilization_steps_placeholder: 'Quand mobiliser l’aide ?',
    destinations_placeholder: 'L’aide est destinée à…',
    scale_placeholder: 'Qui peut prétendre à cette aide ?',
    targeted_audiences_placeholder: 'Qui peut prétendre à cette aide ?',
    SEARCH_COOKIE_NAME: '{% setting "SEARCH_COOKIE_NAME" %}',
    exit_confirmation: 'Êtes-vous certain de vouloir quitter cette page ? Vos modifications seront perdues.',
    no_backers_found: 'Aucun résultat trouvé.',
    suggest_backer_button: 'Suggérer un nouveau porteur',
    going_further_cta_label: "Poursuivre la démarche pour obtenir l’aide",
    add_instructor_label: 'Ajouter un instructeur s’il est différent du porteur',
    show_me_more: 'Voir plus de détails',
    show_me_less: 'Voir moins de détails',
};
</script>
