<h6 id="profile-menu">{{ _('Your profile') }}</h6>

{% if user.is_contributor %}

<a href="{% url 'contributor_profile' %}">
{% if user.profile_complete %}
    {{ _('Update your contributor profile') }}
{% else %}
    {{ _('Become a contributor') }}
{% endif %}
</a>

<hr />

<h6 id="contributor-menu">{{ _('Are you a contributor?') }}</h6>

<a href="{% url 'aid_draft_list_view' %}">
    {{ _('My portfolio') }}
</a>
<a href="{% url 'aid_create_view' %}">
    {{ _('Publish a new aid') }}
</a>

{% endif %}

<hr />

<a href="{% url 'logout' %}">
    {{ _('Log out') }}
</a>
