<h6 id="profile-menu">{{ _('Your profile') }}</h6>
<a href="{% url 'contributor_profile' %}">
    {{ _('Set up your account') }}
</a>
<hr />

<h6 id="consumer-menu">{{ _('You are an aid consumer') }}</h6>
<a href="{% url 'bundle_list_view' %}">
    {{ _('My bundles') }}
</a>
<hr />

<h6 id="contributor-menu">{{ _('You are a contributor') }}</h6>
<a href="{% url 'aid_draft_list_view' %}">
    {{ _('My published aids') }}
</a>
<a href="{% url 'aid_create_view' %}">
    {{ _('Publish a new aid') }}
</a>