{% load i18n pagination %}
{% if is_paginated %}
<nav id="pagination" aria-label="{{ _('Search results pages') }}">
    <ul class="pagination">
        {% if page_obj.has_next %}
            <li><a id="show_more" href="#">
                {{ _('Show more') }}
            </a></li>
        {% endif %}
    </ul>
</nav>

<script>
    $("#show_more").on("click", function(){
        $.ajax({
            type: "GET",
            url: "{% url_to_page page_obj.next_page_number %}",
            data: "{{ page_obj }}",
            cache: false,
            success: function(html){
                $(".aids").append(html.querySelectorAll(".aids > .col"))
            }   
        });
    })
</script>
{% endif %}
