{% load i18n pagination %}
{% if is_paginated %}
<nav id="pagination" aria-label="{{ _('Search results pages') }}">
    <ul class="pagination">
        {% if page_obj.has_next %}
            <button id="show_more">
                {{ _('Show more') }}
            </button></li>
        {% endif %}
    </ul>
</nav>

<script>
    next_url = "{% url_to_page page_obj.next_page_number %}"
    $("#show_more").on("click", function(){
        $.ajax({
            type: "GET",
            url: next_url,
            cache: false,
            success: function(html){
                html_parsed = $.parseHTML(html)
                $('.aids').append($(html_parsed).find(".aids > .col"))
            }   
        });
    })
</script>
{% endif %}
