<div id="form-group-{{ field.name }}" class="fr-select-group{% if field.field.required %} required{% endif %} {% if required == 'true' %}required{% endif %}">

    <label for="{{ field.id_for_label }}">
        {{ field.label }}{% if field.field.required %} *{% endif %}

        {% if field.help_text %}
            <span class="fr-hint-text">{{ field.help_text|safe }}</span>
        {% endif %}
    </label>

    {% if nest_field_class %}
    <div class="{{ nest_field_class }}">
    {% endif %}

    {{ field }}


    {% if nest_field_class %}
    </div>
    {% endif %}

    {% if field.errors %}
    <p id="text-input-error-{{ field.name }}" class="fr-error-text">
        {{ field.errors.0 }}
    </p>
    {% endif %}
</div>
