<div id="form-group-{{ field.name }}" class="fr-select-group{% if field.field.required %} required{% endif %} {% if required == 'true' %}required{% endif %}">

    <label for="{{ field.id_for_label }}">{{ field.label }}</label>

    {% if nest_field_class %}
    <div class="{{ nest_field_class }}">
    {% endif %}

    {{ field }}

    {% if field.help_text %}
    <span class="field-help">{{ field.help_text|safe }}</span>
    {% endif %}

    {% if nest_field_class %}
    </div>
    {% endif %}

    {% if field.errors %}
    <p class="error field-error">
        ↑
        {{ field.errors.0 }}
        ↑
    </p>
    {% endif %}
</div>
