{% load compress %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            {% block title %}Aides Territoires{% endblock %}
            {% block extratitle %}{% endblock %}
        </title>

        {% compress css %}
            <link rel="stylesheet" href="/static/bootstrap/scss/bootstrap.scss" type="text/x-scss" charset="utf-8">
            <link rel="stylesheet" href="/static/css/styles.scss" type="text/x-scss" charset="utf-8">
            {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% block extra_head %}{% endblock %}

    </head>
    <body>
        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>

        {% compress js %}
            {% block extra_js %}{% endblock %}
        {% endcompress %}
    </body>
</html>
