{% extends '_base.html' %}
{% load i18n %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">{{ _('My aid bundles') }}</li>
    </ol>
</nav>

<section id="bundles" class="aid-list">
    <div id="bundle-list" class="aid-sidebar">
        <nav>
            <h2>{{ _('My aid bundles') }}</h2>
            <ul>
            {% for bundle in bundles %}
                <li><a href="#">{{ bundle }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </div>

    <div id="search-results" class="aid-results">
        {% include 'aids/_results.html' %}
    </div>
</section>
{% endblock %}
