{% extends '_base.html' %}
{% load i18n %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        {% if selected_bundle %}
            <li><a href="{% url 'bundle_list_view' %}">{{ _('My aid bundles') }}</a></li>
            <li class="active" aria-current="page">{{ selected_bundle.name }}</li>
        {% else %}
            <li class="active" aria-current="page">{{ _('My aid bundles') }}</li>
        {% endif %}
    </ol>
</nav>

<section id="bundles" class="aid-list">
    <div id="bundle-list" class="aid-sidebar">
        <nav>
            <h2>{{ _('My aid bundles') }}</h2>
            <ul>
            {% for bundle in bundles %}
                <li><a {% if bundle.slug == selected_bundle.slug %}class="active"{% endif %}
                    href="{% url 'bundle_list_view' bundle.slug %}">{{ bundle }}</a></li>
            {% empty %}
                <li class="empty">{{ _("You don't have any aid bundle yet.") }}</li>
            {% endfor %}
            </ul>
        </nav>
    </div>

    <div id="search-results" class="aid-results">
        {% if aids %}
            {% include 'aids/_results.html' %}
        {% else %}
            <p>{{ _('Select a bundle on the menu to see the associated aids.') }}</p>
        {% endif %}
    </div>
</section>
{% endblock %}
