{% with id=widget.attrs.id %}
{% for group, options, index in widget.optgroups %}
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
        <h2 class="fr-mr-4w fr-h4 fr-col-md-12 fr-mb-0">{{ group }}</h2>

        <div class="buttons fr-col-md-12">
        {% for option in options %}
            <button class="fr-btn" type="submit" name="{{ option.name }}" value="{{ option.value }}">
                {{ option.label }}
            </button>
        {% endfor %}
        </div>
    </div>
{% endfor %}
{% endwith %}
