{% with id=widget.attrs.id %}
{% for group, options, index in widget.optgroups %}
<li>
    <section class="fr-accordion">
        <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" type="button" aria-controls="accordion-theme-{{ index }}" data-theme="{{index}}">
                <span class="fr-ml-1v"></span>
                {{ group }}
            </button>
        </h3>
        <div class="fr-collapse fr-pl-5w" id="accordion-theme-{{ index }}">
            <center>
                <button class="fr-m-1w fr-tag _fr-tag--md fr-text--sd _fr-fi-search-line _fr-tag--icon-left all-categories-btn" type="button" data-selected=false data-theme="{{index}}">
                    Sélectionner toutes les sous-thématiques
                </button>
            </center>
            {% for option in options %}
            <div class="custom-control custom-switch fr-toggle">
                <input type="checkbox" class="custom-control-input fr-toggle__input" name="{{ option.name }}" value="{{ option.value }}" id="{{ option.attrs.id }}" data-theme="{{index}}"/>
                <label class="custom-control-label fr-toggle__label" for="{{ option.attrs.id }}">
                    {{ option.label }}
                </lapel>
            </div>
            {% endfor %}
        </div>
    </section>
</li>
{% endfor %}
{% endwith %}
