{% with id=widget.attrs.id %}
{% for group, options, index in widget.optgroups %}
{% for option in options %}
    <div class="custom-control custom-switch">
        <input type="radio" class="custom-control-input" name="{{ option.name }}" value="{{ option.value }}" id="{{ option.attrs.id }}"/>
        <label class="custom-control-label" for="{{ option.attrs.id }}">
            {{ option.label | safe }}
        </lapel>
    </div>
{% endfor %}
{% endfor %}
<div id="suggested_project">
    <p>Vous avez un autre projet ? Proposez-le.</p>
    <input type="text" name="project_name" placeholder="Nom du projet">
    <input type="text" name="project_description" placeholder="Description du projet">
</div>
{% endwith %}
