{% load i18n %}

<dialog aria-labelledby="fr-modal-title-delete-project" role="dialog" id="delete-project-modal-{{ project }}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close" title="Fermer la fenêtre modale" aria-controls="delete-project-modal-{{ project }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-delete-project" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Supprimer ce projet</h2>

                        {% if user.beneficiary_organization.beneficiaries.count > 1 %}
                        <p>Attention vous vous apprêtez à supprimer un projet sur lequel {{ user.beneficiary_organization.beneficiaries.count }} utilisateurs collaborent.</p>
                        {% endif %}

                        <p>En cliquant sur le bouton ci-dessous, vous supprimerez définitivement votre projet. Il n'y a pas d'annulation possible.</p>
                        <form id="delete-form" action="{% url 'project_delete_view' project %}" method="post">
                            <section>
                                <div class="content">
                                    {% csrf_token %}
                                </div>
                                <footer>
                                    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
                                        <li>
                                            <button class="btn-block fr-btn fr-btn--secondary" type="button" title="Fermer la fenêtre modale" aria-controls="delete-project-modal-{{ project }}">Annuler</button>
                                        </li>
                                        <li>
                                            <button type="submit" class="fr-btn">
                                                Supprimer ce projet
                                            </button>
                                        </li>
                                    </ul>
                                </footer>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
