{% load i18n %}

<dialog aria-labelledby="fr-modal-title-modal-1" role="dialog" id="delete-project-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="delete-project-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Supprimer ce projet</h1>

                        <p>En cliquant sur le bouton ci-dessous, vous supprimerez définitivement votre projet. Il n'y a pas d'annulation possible.</p>
                        <form id="delete-form" action="{% url 'project_delete_view' project.pk %}" method="post">
                            <section>
                                <div class="content">
                                    {% csrf_token %}
                                    <div class="form-group fr-mb-5w">
                                        <input type="checkbox" name="confirm" />
                                        <label>Je comprends</label>
                                    </div>
                                </div>
                                <footer>
                                    <button type="submit" class="fr-btn">
                                        Supprimer ce projet
                                    </button>
                                </footer>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
