{% load static %}

<div class="fr-col-xs-12 fr-col-md-4 fr-p-3w">
    <div class="fr-card fr-enlarge-link  fr-card--grey">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h2 class="fr-card__title fr-h5 fr-mb-1w">

                    <a class="fr-card__link at-color--blue" href="#">
                        {{ project.name }}
                    </a>
                </h2>
                <div class="fr-card__desc">
                    <p class="fr-mb-1w fr-mt-0 fr-text--sm at-color--blue">
                       {{ project.organizations.first.name }} ({{ project.organizations.first.zip_code }})
                    </p>
                </div>
            </div>
        </div>
        <div class="fr-card__header">
            <div class="fr-card__img">
                <img class="fr-responsive-img" src="{% static 'img/portails.jpg' %}" alt="" />
            </div>
        </div>
    </div>
</div>
