{% load static %}

<div class="fr-col-xs-12 fr-col-md-4 fr-p-3w">
    <div class="fr-card fr-enlarge-link  fr-card--grey">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h2 class="fr-card__title fr-h5 fr-mb-1w">

                    <a class="fr-card__link at-color--blue" href="{% url 'public_project_detail_view' pk=project.id slug=project.slug %}">
                        {{ project.name }}
                    </a>
                </h2>
                <div class="fr-card__desc">
                    <p class="fr-mb-1w fr-mt-0 fr-text--sm at-color--blue">
                    {% if user.is_authenticated %}
                    {{ project.organizations.first.name }} ({{ project.organizations.first.zip_code }})
                    {% else %}
                    {% for department in project.organizations.first.perimeter.contained_in.all %}
                    {% if department.scale == 10 %}
                    ({{ department.name }})
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    </p>
                    {% if project.step %}
                    <p class="fr-mb-1w fr-mt-0 fr-text--sm at-color--blue">
                        État d'avancement&nbsp;: {{ project.get_step_display }}
                    </p>
                    {% endif %}
                    {% if project.aid_set.all %}
                    <p class="fr-mb-1w fr-mt-0 fr-text--sm at-color--blue">
                        {{ project.aid_set.all.count }} aide{% if project.aid_set.all.count > 1 %}s{% endif %} sélectionnée{% if project.aid_set.all.count > 1 %}s{% endif %}
                    </p>
                    {% endif %}
                    <p class="fr-mb-1w fr-mt-0 fr-text--sm at-color--blue">
                        {% for project_type in project.project_types.all %}
                        {{ project_type }}
                        {% endfor%}
                    </p>
                </div>
            </div>
        </div>
        <div class="fr-card__header">
            <div class="fr-card__img">
                <img class="fr-responsive-img" src="{% static 'img/project_illustration.png' %}" alt="" />
            </div>
        </div>
    </div>
</div>
