<dialog aria-labelledby="fr-modal-title-remove-from-favorite--{{ project.pk }}" role="dialog" id="remove-from-favorite-modal--{{ project.pk }}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close" title="Fermer la fenêtre modale" aria-controls="remove-from-favorite-modal--{{ project.pk }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-remove-from-favorite--{{ project.pk }}" class="fr-modal__title fr-mt-0"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Retirer ce projet de mes favoris</h2>
                        {% if user.is_authenticated %}
                        <form id="add_to_favorite" method="post" action="{% url 'remove_project_from_favorite_view' request.user.beneficiary_organization.pk %}">
                            <div class="content">
                                {% csrf_token %}
                                <div id="form-group-favorite_projects">
                                    <input type="checkbox" checked hidden name="favorite_projects" value="{{ project.pk }}" id="{{ project.pk }}" />
                                </div>
                                <footer>
                                    <button class="btn-block fr-btn fr-mt-2w" type="submit" {% if favorite_project_page %}name="origin_page" value="project_detail_page"{% endif %}>
                                        Retirer ce projet
                                    </button>
                                    <button class="btn-block fr-btn fr-btn--secondary" type="button" title="Fermer la fenêtre modale" aria-controls="remove-from-favorite-modal--{{ project.pk }}">Annuler</button>
                                </footer>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
