{% extends "_base.html" %}
{% load i18n compress static dsfr_tags %}

{% block extratitle %}Ajouter un projet{% endblock extratitle %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'project_list_view' %}">Gérer mes projets</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Ajouter un projet</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}

<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with project_admin=True %}

        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-h3">Ajouter un projet</h1>

            <form id="create_project" method="post" action="{% url 'project_create_view' %}">

                {% include 'projects/_create_or_update_project_form.html' with form=form %}

                <a href="{% url 'project_list_view' %}" class="btn-block fr-btn fr-mt-2w">
                    Annuler
                </a>
                <button class="btn-block fr-btn fr-mt-2w" type="submit">
                    Ajouter
                </button>

            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
<link rel="stylesheet" href="{% static 'trumbowyg/dist/ui/trumbowyg.css' %}" type="text/css" />
{% endblock extra_css %}

{% block extra_js %}
    {% compress js %}
        <script src="{% static 'select2/dist/js/select2.js' %}"></script>
        <script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
        <script src="{% static 'js/projects/project_types_autocomplete.js' %}"></script>
        <script src="{% static 'js/aids/select2_dsfr.js' %}"></script>
        <script src="{% static 'trumbowyg/dist/trumbowyg.js' %}"></script>
        <script src="{% static 'trumbowyg/dist/langs/fr.js' %}"></script>
        <script src="{% static 'js/enable_rich_text_editor_simple.js' %}"></script>
    {% endcompress %}
{% endblock extra_js %}
