{% extends "_base.html" %}
{% load i18n compress static dsfr_tags %}

{% block extratitle %}Ajouter un projet{% endblock extratitle %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'project_list_view' %}">Gérer mes projets</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Ajouter un projet</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}

<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with project_admin=True %}

        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-mb-5w fr-h3">Ajouter un projet</h1>

            <form id="create_project" method="post" action="{% url 'project_create_view' %}">

                {% block form_header %}{% endblock form_header %}
                {% csrf_token %}
                {{ form.media }}

                {% include '_form_header.html' with form=form %}

                {% if form.non_field_errors %}
                <div class="fr-alert fr-alert--info fr-alert--sm">
                    {{ form.non_field_errors.0 }}
               </div>
                {% endif %}

                {% include '_field_snippet.html' with field=form.name %}
                {% include '_field_snippet.html' with field=form.description %}
                {% include '_calendar_snippet.html' with field=form.due_date %}
                {% dsfr_form_field form.project_types %}
                {% include '_field_snippet.html' with field=form.project_types_suggestion %}
                {% include '_field_snippet.html' with field=form.contract_link %}


                {% if org_is_commune_or_epci %}
                {% if org_details_completed %}
                {% include '_checkbox_snippet.html' with field=form.is_public %}
                {% else %}
                <div class="fr-checkbox-group" required="">
                    <input type="checkbox" name="is_public" required="" id="id_is_public" disabled>
                    <label for="id_is_public">Souhaitez-vous rendre ce projet public sur Aides-territoires?</label>                 
                    <div class="fr-hint-text">
                    Les informations de votre structure doivent avoir été complétées afin que ce choix soit possible.
                    </div> 
                </div>
                {% endif %}
                <div role="alert" class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w">
                    <p>Les projets que vous rendez publics sont visibles et consultables par tout utilisateur connecté.</p>
                    <p>Pourquoi&nbsp;? Rendre vos projets publics permettra à d’autres collectivités de s’inspirer, de vous aider en vous partageant des aides, mais également à des porteurs d’aides ou des accompagnateurs (dont les services déconcentrés) d’identifier vos projets et de mieux vous accompagner&nbsp;!</p>
                    <p>Vous pourrez également suivre les projets qui vous intéressent, et partager votre expérience avec vos pairs.</p>
                </div>
                {% endif %}

                <a href="{% url 'project_list_view' %}" class="btn-block fr-btn fr-mt-2w">
                    Annuler
                </a>
                <button class="btn-block fr-btn fr-mt-2w" type="submit">
                    Ajouter
                </button>

            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
<link rel="stylesheet" href="{% static 'trumbowyg/dist/ui/trumbowyg.css' %}" type="text/css" />
{% endblock extra_css %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'select2/dist/js/select2.js' %}"></script>
<script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
<script src="{% static 'js/projects/project_types_autocomplete.js' %}"></script>
<script src="{% static 'js/aids/select2_dsfr.js' %}"></script>
<script src="{% static 'trumbowyg/dist/trumbowyg.js' %}"></script>
<script src="{% static 'trumbowyg/dist/langs/fr.js' %}"></script>
<script src="{% static 'js/enable_rich_text_editor_simple.js' %}"></script>
{% endcompress %}
{% endblock extra_js %}
