{% extends '_base.html' %}
{% load i18n compress %}

{% block extratitle %}Mon compte{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}user-account{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Gérer mes projets</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with project_admin=True %}

        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-h3">Mes projets
              <button class="fr-m-1w fr-tag fr-text--sd fr-fi-information-line" id="help-collaborators-modal-btn" data-fr-opened="false" aria-controls="help-project-modal">
                <span class="fr-ml-1w">Aide</span>
              </button>
            </h1>
            <button class="fr-btn fr-fi-add-circle-line fr-btn--icon-left fr-mb-5w fr-mt-4w" id="create-project-btn"  data-fr-opened="false" aria-controls="create-project-modal">
                Ajouter un projet
            </button>

            <div class="fr-table">
                <table class="data-table">
                    <caption>
                        Liste de vos projets en cours
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col" class="fr-text">Nom</th>
                            <th scope="col" class="fr-text">Nombre d'aides ajoutées</th>
                            <th scope="col" class="fr-text">Date création</th>
                            <th scope="col" class="fr-text">Date d'échéance</th>
                            <th scope="col" class="fr-text">Créé par</th>
                            <th scope="col" class="fr-text">Action</th>
                        </tr>
                    </thead>
                    {% if projects %}
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td class="fr-text">
                                <a href="{{ project.get_absolute_url }}">
                                    {{ project.name }}
                                </a>
                            </td>
                            <td class="fr-text">
                                <ul>
                                {% if project.aid_set.all %}
                                    {{ project.aid_set.all.count }}
                                {% else %}
                                <span>Vous n'avez pas encore associé d'aides à ce projet.</span>
                                </ul>
                            {% endif %}
                            </td>
                            <td class="fr-text">{{ project.date_created|date:'d/m/y' }}</td>
                            <td class="fr-text">{{ project.due_date|date:'d/m/y' }}</td>
                            <td class="fr-text">
                            {% if project.author %}
                            {% for author in project.author.all %}
                            {% if author == user %}
                            Vous
                            {% else %}
                                {{ author.first_name }} {{ author.last_name }}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            </td>
                            <td class="fr-text">
                                <button type="button" class="btn_delete fr-link fr-fi-delete-line" id="delete-project-btn" data-fr-opened="false" aria-controls="delete-project-modal-{{ project.pk }}"></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <tbody>
                        <tr>
                            <td colspan="6">
                                <center>Vous n'avez aucun projet pour l'instant</center>
                            </td>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
            </div>
            {% include '_pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% include 'projects/_create_project_modal.html' %}
    {% include 'projects/_help_project_modal.html' %}
    {% if projects %}
    {% for project in projects %}    
        {% include 'projects/_delete_project_modal.html' with project=project.pk %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
<link rel="stylesheet" href="/static/trumbowyg/dist/ui/trumbowyg.css" type="text/css" charset="utf-8">
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/trumbowyg/dist/trumbowyg.js"></script>
<script src="/static/trumbowyg/dist/langs/fr.js"></script>
<script src="/static/js/enable_rich_text_editor_simple.js"></script>
{% endcompress %}
{% endblock %}
