{% extends '_base.html' %}
{% load i18n compress %}

{% block extratitle %}Mon compte{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}user-account{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Gérer mes projets</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with project_admin=True %}

        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-h3">Mes projets</h1>
            <div role="alert" class="fr-alert fr-alert--info">
                <p>Que pouvez-vous faire ici&nbsp;?</p>
                <p>Cette page vous permet de gérer vos différents projets et les aides associées.</p> 
                <p><a href="{% url 'general_search' %}">En consultant les aides</a>, vous pourrez ajouter celles qui correspondent à un projet spécifique et ainsi partager plus facilement les aides que vous avez sélectionnées avec votre équipe.</p>
            </div>

            <button class="fr-btn fr-mb-5w fr-mt-4w" id="create-project-btn"  data-fr-opened="false" aria-controls="create-project-modal">
                Ajouter un projet
            </button>

            <div class="fr-table">
                <table class="data-table">
                    <caption>
                        Liste de vos projets en cours
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Nombre d'aides ajoutées</th>
                            <th scope="col">Date création</th>
                            <th scope="col">Date d'échéance</th>
                            <th scope="col">Créé par</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% if projects %}
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{{ project.get_absolute_url }}">
                                    {{ project.name }}
                                </a>
                            </td>
                            <td>
                                <ul>
                                {% if project.aid_set.all %}
                                    {{ project.aid_set.all.count }}
                                {% else %}
                                <span>Vous n'avez pas encore associé d'aides à ce projet.</span>
                                </ul>
                            {% endif %}
                            </td>
                            <td>{{ project.date_created|date:'d/m/y' }}</td>
                            <td>{{ project.due_date|date:'d/m/y' }}</td>
                            <td>
                            {% if project.author %}
                            {% for author in project.author.all %}
                            {% if author == user %}
                            Vous
                            {% else %}
                                {{ author.first_name }} {{ author.last_name }}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                                <a class="btn_delete fr-link  _fr-btn _fr-btn--secondary fr-fi-delete-line _fr-btn--icon-left _fr-btn--sm _fr-text--xs" href="{% url 'project_delete_view' project.pk %}" title="supprimer ce projet">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <center>Vous n'avez aucun projet pour l'instant</center>
                            </td>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% include 'projects/_create_project_modal.html' %}
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
<link rel="stylesheet" href="/static/trumbowyg/dist/ui/trumbowyg.css" type="text/css" charset="utf-8">
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/trumbowyg/dist/trumbowyg.js"></script>
<script src="/static/trumbowyg/dist/langs/fr.js"></script>
<script src="/static/js/enable_rich_text_editor_simple.js"></script>
{% endcompress %}
{% endblock %}