{% extends "_base.html" %}
{% load i18n compress static %}

{% block extratitle %}
{% if commune_search %}
Projets réalisés par les mairies à côté de {nom_structure}
{% elif department_search %}
Projets réalisés par les mairies du département {nom_departement} ({numero_departement})
{% else %}
Trouvez des projets similaires réalisés par des mairies proches
{% endif %}
{% endblock extratitle %}

{% block meta_description %}
{% if commune_search %}
Découvrez la liste des projets réalisés par des mairies proches. Aides Territoires vous permet de voir le coût total des projets et les subventions accordées.
{% elif department_search %}
Découvrez la liste des projets réalisés par les mairies dans le département {nom_departement}. Aides Territoires vous permet de voir le coût total des projets et les subventions accordées dans ce département.
{% else %}
Inspirez-vous des projets réalisés par des mairies voisines au fil des années. Aides Territoires vous permet de facilement trouver des idées et des solutions adaptées à votre ville.
{% endif %}
{% endblock meta_description%}

{% block extra_head %}
<meta property="og:title"
    {% if commune_search %}
    content="Projets réalisés par les mairies à côté de {nom_structure} - Aides Territoires"
    {% elif department_search %}
    content="Projets réalisés par les mairies du département {nom_departement} ({numero_departement}) - Aides Territoires"
    {% else %}
    content="Trouvez des projets similaires réalisés par des mairies proches - Aides Territoires"
    {% endif %}
/>
<meta property="og:type" content="website" />
<meta property="og:description"
    {% if commune_search %}
    content="Découvrez la liste des projets réalisés par des mairies proches. Aides Territoires vous permet de voir le coût total des projets et les subventions accordées."
    {% elif department_search %}
    content="Découvrez la liste des projets réalisés par les mairies dans le département {nom_departement}. Aides Territoires vous permet de voir le coût total des projets et les subventions accordées dans ce département."
    {% else %}
    content="Inspirez-vous des projets réalisés par des mairies voisines au fil des années. Aides Territoires vous permet de facilement trouver des idées et des solutions adaptées à votre ville."
    {% endif %}
/>
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock extra_head %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Projets publics</a>
                </li>
           </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container">
    <div>
        <h1>
            {% with paginator.count as nb_projects %}
            <span class="result-count">
                {% if commune_search %}
                    {% if nb_projects > 1 %}
                    Liste des {{ nb_projects }} projets subventionnés dans un rayon de 50 kms
                    {% else %}
                    {{ nb_projects }} projet subventionné dans un rayon de 50 kms
                    {% endif %}
                {% elif department_search %}
                    {% if nb_projects > 1 %}
                    Liste des {{ nb_projects }} projets subventionnés dans le département {nom_departement}
                    {% else %}
                    {{ nb_projects }} projet subventionné dans le département {nom_departement}
                    {% endif %}
                {% else %}
                Inspirez-vous des {{ nb_projects }} projets similaires aux vôtres !
                {% endif %}
            </span>
            {% endwith %}
        </h1>

        {% if not commune_search and not department_search %}
        <h2 class="fr-h5">
            Pour améliorer la vie de vos concitoyens, consultez les projets mis en place dans les communes proches de chez vous.
        </h2>
        {% endif %}
        
        {% block search-meta %}
        {% include "projects/_search_meta.html" %}
        {% endblock search-meta %}

        <div id="search-engine" class="fr-mb-2w">
            {% block search-engine %}
                <div class="fr-card">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            {% include "projects/_finished_project_search_form.html" %}
                        </div>
                    </div>
                </div>
            {% endblock search-engine %}
        </div>
    </div>
    <div id="projects-list">
        {% if projects %}
        {% include "projects/_projects_result_as_list.html" with projects=projects %}
        {% else %}
        <div class="fr-mb-5w">
            <div role="alert" class="fr-alert fr-alert--info fr-alert--sm">
                <p>Nous n’avons pu trouver aucun résultat.</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% include '_pagination.html' %}
</div>
{% endblock content %}

{% block extra_css %}
    {% compress css %}
        <style>
            .search-form-extra-action {
                display: block;
            }
        </style>
    {% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
    {% compress js %}
        <script src="{% static 'select2/dist/js/select2.js' %}"></script>
        <script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
        <script src="{% static 'js/select2_custom.js' %}"></script>
        <script src="{% static 'js/aids/project_perimeter_autocomplete.js' %}"></script>
        <script src="{% static 'js/projects/project_types_autocomplete.js' %}"></script>
        <script src="{% static 'js/aids/select2_dsfr.js' %}"></script>
        <script src="{% static 'js/url_parameters.js' %}"></script>
        <script src="{% static 'js/projects/search_project_form_advanced.js' %}"></script>
    {% endcompress %}
{% endblock extra_js %}
