{% extends "_base.html" %}
{% load static i18n aids compress humanize %}

{% block extratitle %}projet public « {{ project.name }} »{% endblock extratitle %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}user-account{% endblock sectionid %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'public_project_list_view' %}">Projets publics</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">
                    Projet&nbsp;:« {{ project.name }} »
                    </a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">

    {% if project.status == 'reviewable' and user.is_superuser %}
    <div class="fr-alert fr-alert--warning at-clear fr-my-2w">
        <p class="fr-alert__title">Attention ! Ce projet n’est actuellement pas affiché sur le site.</p>
        <p>Vous pouvez le prévisualiser parce que vous en êtes le modérateur.</p>
    </div>
    {% endif %}

    <div class="fr-grid-row">

        <div class="fr-col-12">
            <h1 class="fr-h3 fr-mb-5w">
            Projet&nbsp;: « {{ project.name }} »
            {% if organization_favorite_project %}
            <i class="ri-star-line at-color--blue fr-mb-1w at-align-end"></i>
            {% endif %}
            </h1>

            {% if user.is_authenticated %}
            <div class="fr-grid-row fr-grid-row--gutters fr-background-alt">
                <img class="fr-col-12 fr-col-md-7" src="{% static 'img/project_illustration.png' %}" alt="" height="450">
                <div class="fr-col-12 fr-col-md-5">
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-mt-5w"><strong>Structure porteuse&nbsp;:</strong> {{ project.organizations.first.name }}</h2>
                    {% if project.other_project_owner%}<h2 class="fr-text--md fr-text--normal fr-mb-0 fr-mt-2w"><strong>Autre maître d'ouvrage&nbsp;:</strong> {{ project.other_project_owner }}</h2>{% endif %}
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-mt-2w"><strong>Territoire du projet&nbsp;:</strong> {{ project.organizations.first.perimeter.name }} ({{ project.organizations.first.zip_code }})</h2>
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-mt-2w"><strong>État d'avancement du projet&nbsp;:</strong>  {% if project.step %}{{ project.get_step_display }}{% else %}aucun{% endif %}</h2>
                    <h2 class="fr-text--md fr-text--normal fr-mb-5w fr-mt-2w"><strong>Budget prévisionnel&nbsp;:</strong>  {% if project.budget %}{{ project.budget|intcomma }} €{% else %}non renseigné{% endif %}</h2>
                </div>
            </div>

            <div class="fr-grid-row fr-grid-row--gutters fr-my-5w">
                <div class="fr-col-12 fr-col-md-7">
                    <h2 class="fr-h4">Description du projet</h2>
                    <div>
                        {{ project.description|safe }}
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-5">
                {% if project.project_types.all %}
                <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-mt-2w"><strong>Types de projet&nbsp;:</strong>
                    {% for project_type in project.project_types.all %}
                    <span class="fr-tag fr-mb-1w">{{ project_type }}</span>
                    {% endfor %}
                </h2>
                {% endif %}
                {% if project.contract_link %}
                <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-mt-2w"><strong>Appartenance à un plan/programme/contrat&nbsp;:</strong> {{ project.get_contract_link_display }}</h2>
                {% endif %}
                </div>
            </div>

            {% include "projects/favorite_or_public_project_aids_list.html" %}

            {% if not organization_own_project %}
            <div class="fr-container fr-centered">
                {% if organization_favorite_project %}
                <button class="fr-btn" data-fr-opened="false" aria-controls="remove-from-favorite-modal--{{ project.pk }}">
                    Retirer ce projet de mes favoris
                </button>
                {% else %}
                <button class="fr-btn" data-fr-opened="false" aria-controls="add-to-favorite-modal--{{ project.pk }}">
                    Ajouter ce projet à mes favoris
                </button>
                {% endif %}
                <button class="fr-btn" data-fr-opened="{% if error_aid %}true{% endif %}" aria-controls="suggest-aid-modal">
                    Suggérer une aide pour ce projet
                </button>
            </div>
            {% endif %}

            {% else %}
            <div role="alert" class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w">
                <p><strong>L'affichage complet de cette page est réservé aux utilisateurs connectés.</strong></p>
                <p><a href="{% url 'login' %}?next={% url 'public_project_detail_view' pk=project.pk slug=project.slug %}?open-modal=true">Connectez-vous</a> ou <a href="{% url 'register' %}">créez un compte</a> afin d'afficher les informations relatives à ce projet !</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block modals %}
    {% include 'projects/_add_to_favorite_modal.html' with project=project %}
    {% include 'projects/_remove_from_favorite_modal.html' with project=project %}
    {% include 'projects/_suggest_aid_modal.html' with project=project %}
{% endblock modals %}
