{% extends '_base.html' %}
{% load i18n compress %}

{% block extratitle %}Mise à jour d'un projet{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'project_list_view' %}">Gérer mes projets</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'project_detail_view' project.pk project.slug %}">Votre projet</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Modifier les informations du projet</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' %}

        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-mb-5w fr-h3">Modifier les informations du projet «&nbsp;{{ project.name }}&nbsp;»</h1>

            <form id="update_project" method="post" action="">

                {% block form_header %}{% endblock %}
                {% csrf_token %}
                {{ form.media }}

                {% include '_form_header.html' with form=form %}

                {% if form.non_field_errors %}
                <div class="danger" role="alert">
                    {{ form.non_field_errors.0 }}
                </div>
                {% endif %}

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}

                {% include '_field_snippet.html' with field=form.name %}
                {% include '_field_snippet.html' with field=form.description %}
                {% include '_field_snippet.html' with field=form.due_date %}

                <a href="{% url 'project_detail_view' project.pk project.slug %}" class="btn-block fr-btn fr-mt-2w">
                    Annuler
                </a>
                <button class="btn-block fr-btn fr-mt-2w" type="submit">
                    Modifier
                </button>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
<link rel="stylesheet" href="/static/trumbowyg/dist/ui/trumbowyg.css" type="text/css" charset="utf-8">
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/trumbowyg/dist/trumbowyg.js"></script>
<script src="/static/trumbowyg/dist/langs/fr.js"></script>
<script src="/static/js/enable_rich_text_editor_simple.js"></script>
{% endcompress %}
{% endblock %}
