{% extends "_base.html" %}
{% load i18n compress static %}

{% block extratitle %}Trouvez des projets similaires réalisés par des mairies proches{% endblock extratitle %}

{% block meta_description %}Inspirez-vous des projets réalisés par des mairies voisines au fil des années. Aides Territoires vous permet de facilement trouver des idées et des solutions adaptées à votre ville.{% endblock meta_description%}

{% block extra_head %}
<meta property="og:title" content="Trouvez des projets similaires réalisés par des mairies proches - Aides Territoires"/>
<meta property="og:type" content="website" />
<meta property="og:description" content="Inspirez-vous des {{ validated_projects_count }} projets réalisés par des mairies voisines au fil des années. Aides Territoires vous permet de facilement trouver des idées et des solutions adaptées à votre ville."/>
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock extra_head %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Projets subventionnés</a>
                </li>
           </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container">
    <div>
        <h1>
            <span class="result-count">
                Inspirez-vous des {{ validated_projects_count }} projets similaires aux vôtres !
            </span>
        </h1>

        <h2 class="fr-h5 fr-col-lg-10">
            Vous avez un projet ? Pour vous inspirer, consultez les projets mis en place dans les communes proches de chez vous.
        </h2>
        
        <div id="search-engine" class="fr-mb-2w">
            {% block search-engine %}
                <div class="fr-card">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            {% include "projects/_validated_project_search_form.html" %}
                        </div>
                    </div>
                </div>
            {% endblock search-engine %}
        </div>
    </div>
    <div>
        {% include 'projects/_map.html' %}
    </div>

    <div class="fr-alert fr-alert--info fr-mb-6w">
        <h3 class="fr-alert__title">Précautions d’usage de ce moteur de recherche</h3>

        <p>
            Ce moteur de recherche est destiné à inspirer les collectivités
            porteuses de projets en les aidant à identifier les projets
            similaires aux leurs, réalisés à proximité de chez elles ou sur un
            périmètre plus large.
        </p>

        <p>
            Étant entendu que des intitulés proches peuvent couvrir des
            réalités très diverses, que les projets référencés peuvent avoir
            des sources de financement diverses, et que les porteurs d’aides
            suivent chacun leurs propres règles d’attributions, cette base,
            constituée à partir de données publiques, ne saurait constituer une
            quelconque référence en matière de montants de subventions alloués
            aux projets des collectivités.
        </p>

        <p>
            Pour la DETR et la DSIL par exemple, qui sont les premières aides
            référencées, une circulaire annuelle, territorialisée, et envoyée à
            toutes les collectivités, vient préciser les opérations éligibles,
            les plafonds et taux d’intervention, mais également les critères
            (opérationnels, financiers, ou autres) de priorisation des
            accompagnements. Tous ces critères sont variables d’une année et
            d’un territoire à l’autre, et les opérations candidates à la DETR
            font également l’objet d’une revue par une Commission des élus,
            présidée par le Préfet.
        </p>

    </div>
</div>
{% endblock content %}

{% block extra_css %}
    {% compress css %}
        <style>
            .search-form-extra-action {
                display: block;
            }
        </style>
    {% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'select2/dist/js/select2.js' %}"></script>
<script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
<script src="{% static 'js/select2_custom.js' %}"></script>
<script src="{% static 'js/aids/project_perimeter_autocomplete.js' %}"></script>
<script src="{% static 'js/aids/text_autocomplete.js' %}"></script>
<script src="{% static 'js/aids/select2_dsfr.js' %}"></script>
<script src="{% static 'js/url_parameters.js' %}"></script>
<script src="{% static 'js/projects/search_project_form_advanced.js' %}"></script>
<script src="{% static 'js/geofr/department_projects_filter.js' %}"></script>
<script src="{% static 'js/geofr/map_projects.js' %}"></script>
{% endcompress %}
<script nonce="{{ request.csp_nonce }}">
    let departments_data = JSON.parse("{{ departments_json|escapejs }}");
    $(document).ready(function () {
        department_filter('/');
    });
</script>
{% endblock extra_js %}
