{% load i18n %}
<div id="financer-suggestion-modal" class="modal">
    <div class="modal-dialog">
            <section>
                <header>
                    <h1>{{ _('Suggest a new financer') }}</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </header>

                <div class="content">
                    {% include '_field_snippet.html' with field=form.financer_suggestion %}
                </div>

                <footer>
                    <button class="btn-block" type="submit">
                        {{ _('Suggest a financer') }}
                    </button>
                </footer>
            </section>
        </form>
    </div>
</div>

<div id="instructor-suggestion-modal" class="modal">
    <div class="modal-dialog">
            <section>
                <header>
                    <h1>{{ _('Suggest a new instructor') }}</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </header>

                <div class="content">
                    {% include '_field_snippet.html' with field=form.instructor_suggestion %}
                </div>

                <footer>
                    <button class="btn-block" type="submit">
                        {{ _('Suggest an instructor') }}
                    </button>
                </footer>
            </section>
        </form>
    </div>
</div>
