{% extends "_base.html" %}
{% load i18n compress static %}

{% block extratitle %}Recherche{% endblock extratitle %}

{% block extra_head %}
<meta property="og:title" content="Aides-territoires | Toutes les aides pour les acteurs locaux  🏡" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Trouvez les aides pertinentes pour financer et accompagner les projets de votre territoire" />
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock extra_head %}

{% block sectionid %}search{% endblock sectionid %}

{% block content %}
<div class="fr-container">
    <div>
        <div class="fr-col-md-12">
            <h1>
                {% with paginator.count as nb_aids %}
                <span class="result-count">{{ nb_aids }} résultat{% if nb_aids > 1 %}s{% endif %}</span>
                {% endwith %}
            </h1>

            {% if request.GET.published_after %}
            <div role="alert" class="fr-alert fr-alert--info fr-alert--sm">
                <p>Les résultats affichés sur cette page correspondent uniquement aux aides publiées depuis votre précédent mail d'alerte.</p>
            </div>
            {% endif %}

            {% block search-meta %}
                {% include "aids/_search_meta.html" %}
                <br />
            {% endblock search-meta %}

            <section id="search-engine">
                {% block search-engine %}
                {% include "aids/_search_form.html" %}
                {% endblock search-engine %}
            </section>

            <section id="aid-list">
                {% include "aids/_results.html" with search_actions="yes" %}
            </section>
        </div>
    </div>
</div>
{% endblock content %}

{% block modals %}
    {% include "alerts/_alert_modal.html" with form=form %}
{% endblock modals %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'select2/dist/js/select2.js' %}"></script>
<script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
<script src="{% static 'js/aids/backers_autocomplete.js' %}"></script>
<script src="{% static 'js/aids/programs_autocomplete.js' %}"></script>
<script src="{% static '/js/aids/select2_dsfr.js' %}"></script>
<script src="{% static 'js/alerts/alert_form.js' %}"></script>
<script src="{% static 'js/aids/bookmark_results.js' %}"></script>
<script src="{% static 'js/alerts/track_alert_button_events.js' %}"></script>
<script src="{% static 'js/aids/display_results_list.js' %}"></script>
{% endcompress %}
{% endblock extra_js %}
