{% extends '_base.html' %}
{% load i18n form_utils %}

{% block extratitle %}{{ _('Aid edition') }}{% endblock %}

{% block content %}

{% block before-section %}{% endblock %}

<section id="aid-edit">

<div class="form-sidebar">
    {% block form_sidebar %}{% endblock %}
</div>

<form id="aid-edit-form" method="post" action="" class="main-form" novalidate>
    {% block form_header %}{% endblock %}
    {% csrf_token %}
    {{ form.media }}

    {% include '_form_header.html' with form=form %}

    {% if form.non_field_errors %}
    <div class="danger" role="alert">
        {{ form.non_field_errors.0 }}
    </div>
    {% endif %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% block fields %}
    <fieldset>
        <legend>{{ _('Aid presentation') }}</legend>
        {% include '_field_snippet.html' with field=form.name %}
        {% include '_field_snippet.html' with field=form.tags %}
        {% include '_field_snippet.html' with field=form.targeted_audiances %}
        {% include '_field_snippet.html' with field=form.financers %}
        {% include '_field_snippet.html' with field=form.financer_suggestion %}
        {% include '_field_snippet.html' with field=form.instructors %}
        {% include '_field_snippet.html' with field=form.instructor_suggestion %}
    </fieldset>

    <fieldset>
        <legend>{{ _('Aid perimeter') }}</legend>
        {% include '_field_snippet.html' with field=form.perimeter %}
    </fieldset>

    <fieldset>
        <legend>{{ _('Aid calendar') }}</legend>
        {% include '_field_snippet.html' with field=form.recurrence %}
        {% include '_field_snippet.html' with field=form.start_date %}
        {% include '_field_snippet.html' with field=form.predeposit_date %}
        {% include '_field_snippet.html' with field=form.submission_deadline %}
    </fieldset>

    <fieldset>
        <legend>{{ _('Aid description') }}</legend>
        {% include '_field_snippet.html' with field=form.is_call_for_project %}
        {% include '_field_snippet.html' with field=form.aid_types %}
        <div id="subvention-fields">
            {% include '_field_snippet.html' with field=form.subvention_rate %}
            {% include '_field_snippet.html' with field=form.subvention_comment %}
        </div>
        {% include '_field_snippet.html' with field=form.mobilization_steps %}
        {% include '_field_snippet.html' with field=form.destinations %}
        {% include '_field_snippet.html' with field=form.description %}
        {% include '_field_snippet.html' with field=form.eligibility %}
    </fieldset>

    <fieldset>
        <legend>{{ _('Contact and actions') }}</legend>
        {% include '_field_snippet.html' with field=form.origin_url %}
        {% include '_field_snippet.html' with field=form.application_url %}
        {% include '_field_snippet.html' with field=form.contact %}
    </fieldset>
    {% endblock %}

    <hr />
    {% block form_actions %}{% endblock %}
</form>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/select2.scss" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block extra_js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/plugins/softmaxlength.js"></script>
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
<script src="/static/js/backers_autocomplete.js"></script>
<script src="/static/js/tags_autocomplete.js"></script>
<script src="/static/js/aids/enable_page_exit_confirmation.js"></script>
<script src="/static/js/aids/toggle_subvention_related_fields.js"></script>
<script src="/static/js/aids/enable_softmaxlength.js"></script>
{% endblock %}
