<ul id="nav-form" class="list-group list-group-horizontal">
    <a href="#aid-presentation" class="list-group-item list-group-item-action active" aria-current="true">
        <span class="counter">1</span>
        Présentation
    </a>
    <span class="separator"></span>
    <a href="#aid-description" class="list-group-item list-group-item-action">
        <span class="counter">2</span>
        Description
    </a>
    <span class="separator"></span>
    <a href="#aid-eligibility" class="list-group-item list-group-item-action">
        <span class="counter">3</span>
        Critères d'éligibilité
    </a>
    <span class="separator"></span>
    <a href="#aid-contact" class="list-group-item list-group-item-action">
        <span class="counter">4</span>
        Contact et démarches
    </a>
</ul>
