{% extends '_base.html' %}
{% load i18n compress %}

{% block extratitle %}{{ _('Search') }}{% endblock %}

{% block sectionid %}search{% endblock %}

{% block content %}
<div class="fr-container">
    <h1>
        {% with paginator.count as nb_aids %}
        <span class="result-count">{{ nb_aids }} résultat{% if nb_aids > 1 %}s{% endif %}</span>
        {% endwith %}
    </h1>

    {% if request.GET.published_after %}
        <p class="warning">Les résultats affichés sur cette page correspondent uniquement aux aides publiées depuis votre précédent mail d'alerte.</p>
    {% endif %}

    {% block search-meta %}
        {% include 'aids/_search_meta.html' %}
        <br />
    {% endblock %}

    <section id="search-engine">
        {% block search-engine %}
        {% include 'aids/_search_form.html' %}
        {% endblock %}
    </section>

    <section id="aid-list">
        {% include 'aids/_results.html' with search_actions="yes" %}
    </section>
</div>
{% endblock %}

{% block modals %}
    {% include 'alerts/_alert_modal.html' with form=form %}
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/aids/backers_autocomplete.js"></script>
<script src="/static/js/aids/programs_autocomplete.js"></script>
<script src="/static/js/aids/show_more.js"></script>
<script src="/static/js/alerts/alert_form.js"></script>
<script src="/static/js/aids/bookmark_results.js"></script>
<script src="/static/js/alerts/track_alert_button_events.js"></script>
{% endcompress %}
{% endblock %}
