{% load i18n %}

<div id="bundle-modal" class="modal">
    <div class="modal-dialog">
        <section>
            <header>
                <h1>Sauvegarder cette aide</h1>
            </header>
            <div class="content">
                {% if user.is_authenticated %}
                    <form id="bundle-form" method="post">
                        {% csrf_token %}
                        {% include '_form_header.html' with form=bundle_form %}

                        {% if user_bundles %}
                            {% include '_field_snippet.html' with field=bundle_form.bundles %}
                        {% endif %}
                        {% include '_field_snippet.html' with field=bundle_form.new_bundle %}
                        <button id="bundle-btn" type="submit">Sauvegarder cette aide</button>
                        {% url 'bundle_list_view' as bundle_url %}
                    </form>
                    <span class="field-help">
                        Vous pouvez <a href="{{ bundle_url }}">gérer vos listes d’aides sur la page dédiée</a>.
                    </span>
                {% else %}
                    {% url 'login' as login_url %}
                    {% url 'register' as register_url %}
                    <p>
                        Vous devez être identifé pour utiliser les listes d'aides.
                        <a href="{{ login_url }}">Rendez-vous sur le formulaire de connexion</a> ou
                        <a href="{{ register_url }}">enregistrez un nouveau compte</a>."
                    </p>
                {% endif %}
            </div>
        </section>
    </div>
</div>
