{% load i18n %}
<dialog aria-labelledby="fr-modal-title-modal-1" role="dialog" id="match-project-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="match-project-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Évaluez cette aide</h1>

                        <div class="content">
                            <div class="info">
                                <p><strong>Cette aide est-elle pertinente pour le projet ci-dessous&nbsp;?</strong></p>
                                <p id="project-name"><strong>
                                        {% for project in current_search_dict.projects %}
                                        {{ project.name }}
                                        {% endfor %}
                                </strong></p>
                            </div>
            
                            {% csrf_token %}
                            
                        </div>

                        <footer>
                            <button type="submit" id="match_project_btn" class="btn close" data-dismiss="modal">Oui</button>
                            <button type="submit" id="no_match_project_btn" class="close" data-dismiss="modal">Non</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>