{% load i18n pagination %}
<div class="fr-callout fr-callout--green-menthe fr-icon-account-circle-line">
    <h3 class="fr-callout__title">Votre recherche comporte d’autres pages de résultats.</h3>
    <p class="fr-callout__text">
        Nous vous conseillons de vous connecter pour accéder à toutes les fonctionnalités
        proposées par Aides-territoires (alertes, sauvegarde des aides, travail en équipe…)
    </p>

    <ul class="fr-btns-group fr-btns-group--inline-md fr-btns-group--icon-left">
        <li>
            <a class="fr-btn fr-icon-account-line" href="{% url 'register' %}?next={{ request.path }}" target="_blank" rel="noopener" title="S’inscrire - ouvre une nouvelle fenêtre">
                S’inscrire
            </a>
        </li>
    </ul>

    <p class="fr-text--xs">Le formulaire d’inscription s’ouvrira dans un nouvel onglet afin que vous ne perdiez pas votre recherche.</p>

</div>