{% load i18n %}
<dialog aria-labelledby="fr-modal-title-aid-preview" role="dialog" id="aid-preview-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close" title="Fermer la fenêtre modale" aria-controls="aid-preview-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-aid-preview" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Prévisualiser votre aide</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>