{% load i18n %}
<div id="error-report-modal" class="modal">
    <div class="modal-dialog">
        <section>
            <header>
                <h1>{{ _('Report a problem') }}</h1>
            </header>

            <div class="content">
                <p>
                {% blocktrans trimmed %}
                If you noticed an error on this page, please let us know and we
                will do our best to fix the problem as soon as possible.
                {% endblocktrans %}
                </p>

                <p>
                {% blocktrans trimmed %}
                Help us fixing it quickly by being as precise as possible in
                your problem report, and don't forget to leave your contact
                information, so we can contact you if we need to.
                {% endblocktrans %}
                </p>

                <p>
                {% blocktrans trimmed %}
                You can contact us by sending an email at this address :
                {% endblocktrans %}
                </p>

                <p class="center">
                    <a
                        href="mailto:aides-territoires@beta.gouv.fr?subject=Rapport d'erreur [aide {{ aid.id }}]">
                    aides-territoires@beta.gouv.fr</a>
                </p>

                <p>
                {% blocktrans trimmed %}
                Thank you for helping us improving the service.
                {% endblocktrans %}
                </p>

            </div>
        </section>
    </div>
</div>
