{% load pagination i18n %}

<form id="search-form" action="" method="get" autocomplete='off'>

    {{ form.integration }}

    {% comment %}
        This is to make sure that those search filters will be carried upon the
        "more filters" page.
    {% endcomment %}
    {% block hidden-fields %}
        {{ form.apply_before.as_hidden }}
        {{ form.mobilization_step.as_hidden }}
        {{ form.destinations.as_hidden }}
        {{ form.categories.as_hidden }}
        {{ form.targeted_audiences.as_hidden }}
        {{ form.perimeter.as_hidden }}
        {{ form.themes.as_hidden }}
        {{ form.projects.as_hidden }}
    {% endblock %}

    {% block other_actions %}
    <div class="other-actions">

        {% comment %}
            This hidden button is here to make it the "default" submit button.
            This way, we make sure pressing "enter" performs a new search instead
            of going to the "more filters" page.
        {% endcomment %}
        <button type="submit" class="hidden-btn">{{ _('Filter results') }}</button>

        {% block other-actions %}
            <a id="new-search-btn" href="{% url 'search_step_audience' %}">
                {{ _('New search') }}
            </a>

            <button id="new-filters-btn" name="action" value="more-filters" type="submit" class="advanced-link" formmethod="GET" formaction="{% url 'advanced_search_view' %}">
                {{ _('More filters') }}
            </button>

            <a href="#" id="save-alert-btn" class="js" data-toggle="modal" data-target="#alert-search-modal">
                {{ _('Create an alert') }}
            </a>
        {% endblock %}
    </div>
    {% endblock %}

    <div class="form-container">
        <div class="form-body">

            {% block form-body %}
            <div class="row">
                <div class="col col-md-3">
                    {% include '_field_snippet.html' with field=form.aid_type %}
                </div>

                <div class="col col-md-3">
                    {% include '_field_snippet.html' with field=form.programs %}
                </div>

                <div class="col col-md-3">
                    {% include '_field_snippet.html' with field=form.backers %}
                </div>

                <div class="col col-md-3">
                    {% include '_field_snippet.html' with field=form.text %}
                </div>
            </div>
            {% endblock %}

            {% block form-actions %}
            <div class="row actions-row">
                <div class="col-md-3">
                    {{ form.order_by }}
                </div>
                <div class="col-md-3 offset-md-6">
                    <button name="action" value="search-filter" class="search-btn" type="submit">
                        {{ _('Filter results') }}
                    </button>
                </div>
            </div>
            {% endblock %}

        </div>
    </div>

</form>
