{% load i18n aids %}
<div class="search-meta">

    {% if not current_search_dict %}
    <div class="fr-alert fr-alert--info">
        <p class="fr-alert__title">Vous n’avez pas sélectionné de filtres.</p>
        <p>Obtenez des aides plus personnalisées en sélectionnant des critères lors de votre recherche.</p>
    </div>
    {% endif %}

    {% block search-meta-targeted-audiences %}
    {% if current_search_dict.targeted_audiences %}
    <div class="fr-tags-group">
        <p title="Bénéficiaires de l'aide" class="fr-tag">
            <span class="ri-home-8-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
            {% form_choices_display current_search_dict 'targeted_audiences' %}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-targeted-audiences %}

    {% block search-meta-perimeter %}
    {% if current_search_dict.perimeter %}
    <div class="fr-tags-group">
        <p title="Périmètre" class="fr-tag">
            <span class="ri-map-pin-fill ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
            {{ current_search_dict.perimeter }}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-perimeter %}

    {% block search-meta-programs %}
    {% if current_search_dict.programs %}
    <div class="fr-tags-group">
        <p title="Programmes d'aides" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
            {{ current_search_dict.programs|join:', ' }}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-programs %}

    {% block search-meta-backers %}
    {% if current_search_dict.backers %}
    <div class="fr-tags-group">
        <p title="Porteur d’aides" class="fr-tag">
            <span class="ri-hand-coin-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
            {{ current_search_dict.backers|join:', ' }}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-backers %}

    {% block search-meta-aid-type %}
    {% if current_search_dict.aid_type %}
    <div class="fr-tags-group">
        <p title="Nature de l’aide" class="fr-tag">
            <span class="ri-money-euro-circle-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
            {% form_choices_display current_search_dict 'aid_type' %}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-aid-type %}

    {% block search-meta-financial-aids %}
    {% if current_search_dict.financial_aids %}
    <div class="fr-tags-group">
        <p title="Nature de l'aide" class="fr-tag">
            <span class="ri-money-euro-circle-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
            {% form_choices_display current_search_dict 'financial_aids' %}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-financial-aids %}

    {% block search-meta-technical-aids %}
    {% if current_search_dict.technical_aids %}
    <div class="fr-tags-group">
        <p title="Nature de l’aide" class="fr-tag">
            <span class="ri-money-euro-circle-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
            {% form_choices_display current_search_dict 'technical_aids' %}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-technical-aids %}

    {% block search-meta-mobilization-step %}
    {% if current_search_dict.mobilization_step %}
    <div class="fr-tags-group">
        <p title="Avancement du projet" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
            {% form_choices_display current_search_dict 'mobilization_step' %}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-mobilization-step %}

    {% block search-meta-destinations %}
    {% if current_search_dict.destinations %}
    <div class="fr-tags-group">
        <p title="Actions concernées" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
            {% form_choices_display current_search_dict 'destinations' %}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-destinations %}

    {% block search-meta-call-for-project %}
    {% if current_search_dict.call_for_projects_only %}
    <div class="fr-tags-group">
        <p title="Appels à projets / Appels à manifestation d’intérêt uniquement" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
            Appels à projets / Appels à manifestation d’intérêt uniquement
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-call-for-project %}

    {% block search-meta-text %}
    {% if current_search_dict.text %}
    <div class="fr-tags-group">
        <p title="Mot-clé" class="fr-tag">
            <span class="ri-double-quotes-r ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
            {{ current_search_dict.text }}
        </p>
    </div>
    {% endif %}
    {% endblock search-meta-text %}

    {% block search-meta-categories %}
    {% if current_search_dict.categories %}
    {% regroup current_search_dict.categories by theme as theme_list %}
    <div class="fr-tags-group at-uppercase">
        {% for theme in theme_list %}
            <p class="theme fr-tag">
                <span class="ri-price-tag-3-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
                {{ theme.grouper }}
                {% for category in theme.list %}
                    <span class="category">{{ category }}</span>
                {% endfor %}
            </p>
        {% endfor %}
    </div>
    {% elif current_search_dict.themes %}
    <div class="fr-tags-group at-uppercase">
        {% for theme in current_search_dict.themes %}
            <p class="theme fr-tag">
                <span class="ri-price-tag-3-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
                {{ theme }}
            </p>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock search-meta-categories %}
</div>