{% load pagination i18n %}

<div class="form-container">
    <form action="" method="get">
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        <div id="basic-search" class="show active">

            <div class="row">
                <div class="col-md-6">
                    {% include '_search_field.html' with field=form.text %}
                </div>

                <div class="col-md-3">
                    {% include '_search_field.html' with field=form.apply_before %}
                </div>

                <div class="col-md-3">
                    <button class="search-btn" type="submit">
                        <span class="fas fa-search"></span>
                        {{ _('Search') }}
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% include '_search_field.html' with field=form.perimeter %}
                </div>
                <div class="col-md-3">
                    {{ form.call_for_projects_only }}
                    <label>
                        {{ form.call_for_projects_only.label }}
                    </label>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'advanced_search_view' %}">
                        {{ _('Advanced search') }}
                    </a>
                </div>
            </div>
        </div>

        <div id="advanced-search">

            <div class="row">
                <div class="col">
                    <label>
                        {{ form.financial_aids.label }}
                    </label>
                    {{ form.financial_aids }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>
                        {{ form.technical_aids.label }}
                    </label>
                    {{ form.technical_aids }}
                </div>
            </div>
        </div>
    </form>
</div>

<nav id="mobile-search-link">
    <div class="container">
        <a href="{% url 'advanced_search_view' %}{% querydict %}">
            {{ _('Filter your results') }}
        </a>
    </div>
</nav>