{% load i18n aids %}

<div class="search-meta">

    {% if not current_search_dict %}
    <i>Vous n'avez pas sélectionné de filtres. Obtenez des aides plus personnalisées en sélectionnant des critères lors de votre recherche.</i>
    {% endif %}

    {% block search-meta-targeted-audiences %}
    {% if current_search_dict.targeted_audiences %}
    <div class="fr-tags-group">
        <p title="Bénéficiaires de l'aide" class="fr-tag fr-fi-arrow-right-line fr-tag--icon-left">
            {% form_choices_display current_search_dict 'targeted_audiences' %}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-perimeter %}
    {% if current_search_dict.perimeter %}
    <div class="fr-tags-group">
        <p title="{{ _('Perimeter') }}" class="fr-tag">
            <i class="ri-map-pin-range-line ri-xl fr-mr-1w"></i>
            {{ current_search_dict.perimeter }}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-programs %}
    {% if current_search_dict.programs %}
    <div class="fr-tags-group">
        <p title="Programmes d'aides" class="fr-tag fr-fi-arrow-right-line fr-tag--icon-left">
            {{ current_search_dict.programs|join:', ' }}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-backers %}
    {% if current_search_dict.backers %}
    <div class="fr-tags-group">
        <p title="{{ _('Aid backers') }}" class="fr-tag">
            <i class="ri-hand-coin-line ri-xl fr-mr-1w"></i>
            {{ current_search_dict.backers|join:', ' }}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-aid-type %}
    {% if current_search_dict.aid_type %}
    <div class="fr-tags-group">
        <p title="{{ _('Aid type') }}" class="fr-tag">
            <i class="ri-money-euro-circle-line ri-xl fr-mr-1w"></i>
            {% form_choices_display current_search_dict 'aid_type' %}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-mobilization-step %}
    {% if current_search_dict.mobilization_step %}
    <div class="fr-tags-group">
        <p title="{{ _('Project progress') }}" class="fr-tag fr-fi-arrow-right-line fr-tag--icon-left">
            {% form_choices_display current_search_dict 'mobilization_step' %}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-destinations %}
    {% if current_search_dict.destinations %}
    <div class="fr-tags-group">
        <p title="{{ _('Concerned actions') }}" class="fr-tag fr-fi-arrow-right-line fr-tag--icon-left">
            {% form_choices_display current_search_dict 'destinations' %}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-call-for-project %}
    {% if current_search_dict.call_for_projects_only %}
    <div class="fr-tags-group">
        <p title="{{ _('Call for projects only') }}" class="fr-tag fr-fi-arrow-right-line fr-tag--icon-left">
            {{ _('Call for projects only') }}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-text %}
    {% if current_search_dict.text %}
    <div class="fr-tags-group">
        <p title="{{ _('Keyword') }}" class="fr-tag">
            <i class="ri-double-quotes-r ri-xl fr-mr-1w"></i>
            {{ current_search_dict.text }}
        </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block search-meta-categories %}
    {% if current_search_dict.categories %}
    {% regroup current_search_dict.categories by theme as theme_list %}
    <div class="fr-tags-group fr-uppercase">
        {% for theme in theme_list %}
            <p class="theme fr-tag">
                <i class="ri-price-tag-3-line ri-xl fr-mr-1w"></i>
                {{ theme.grouper }}
                {% for category in theme.list %}
                    <span class="category">{{ category }}</span>
                {% endfor %}
            </p>
        {% endfor %}
    </div>
    {% elif current_search_dict.themes %}
    <div class="fr-tags-group fr-uppercase">
        {% for theme in current_search_dict.themes %}
            <p class="theme fr-tag">
                <i class="ri-price-tag-3-line ri-xl fr-mr-1w"></i>
                {{ theme }}
            </p>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}

</div>
