{% extends "_base.html" %}
{% load compress static %}

{% block extratitle %}Recherche avancée{% endblock extratitle %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'general_search' %}?{{ current_search }}">Trouver des aides</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'search_view' %}?{{ current_search }}">Résultats</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Plus de critères</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block sectionid %}mobile-search{% endblock sectionid %}

{% block content %}
<div class="article fr-container">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-10">
            <h1>Plus de critères</h1>
            <form id="advanced-search-form" method="get" action="{% url 'search_view' %}">
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
        
                {% include '_field_snippet.html' with field=form.text %}
                {% include '_field_snippet.html' with field=form.perimeter %}
                {% include '_checkbox_snippet_multiple.html' with field=form.targeted_audiences %}
                {% include '_field_snippet.html' with field=form.categories %}
                {% include '_checkbox_snippet_multiple.html' with field=form.aid_type %}
                {% include '_calendar_snippet.html' with field=form.apply_before %}
                {% include '_checkbox_snippet_multiple.html' with field=form.destinations %}
                {% include '_checkbox_snippet_multiple.html' with field=form.mobilization_step %}
                {% include '_field_snippet.html' with field=form.backers %}
                {% include '_checkbox_snippet.html' with field=form.call_for_projects_only %}
                {% include '_field_snippet.html' with field=form.programs %}
                {% include '_select_snippet.html' with field=form.order_by %}
                <button name="action" value="search-filter-advanced" type="submit" class="fr-btn fr-mb-5w">
                    Trouver des aides
                </button>
            </form>        
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'select2/dist/js/select2.js' %}"></script>
<script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
<script src="{% static 'js/aids/perimeter_autocomplete.js' %}"></script>
<script src="{% static 'js/aids/backers_autocomplete.js' %}"></script>
<script src="{% static 'js/aids/categories_autocomplete.js' %}"></script>
<script src="{% static 'js/aids/programs_autocomplete.js' %}"></script>
<script src="{% static 'js/aids/select2_dsfr.js' %}"></script>
{% endcompress %}
{% endblock extra_js %}
