{% extends "_base_pdf.html" %}
{% load i18n aids static compress humanize %}

{% block title_style %}
h1 {
    padding: 1em 1em 0 1em;
    text-align: center;
}
h2, h3, h4 {
    background-color: #f5f5fe;
    padding: 1em 1em 0 1em;
}
{% endblock title_style%}

{% block footer_style %}
#footer_content div {
    color: #666;
    font-style: italic;
}

#footer_content div p {
    border-top: 1px solid #666;
    margin: 0;
    padding-top: 1em;
}

{% endblock footer_style %}

{% block extratitle %}{{ aid.name }}{% endblock extratitle %}

{% block logo_partner %}
<img src="{% static 'img/logo_AT_courbes.png' %}" style="width:150px" alt="Aides-territoires" />
{% if organization.backer.has_logo %}
<img src="{{ organization.backer.logo.url }}" style="width:150px" alt="logo de la structure {{organization}}" />
{% endif %}
{% endblock logo_partner %}

{% block intro %}{% endblock intro %}

{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        <div class="fr-col-12 fr-col-md-9">
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-col-md-9">
                    {# name is an obsolete attribute for web but it is the correct one for PDFs #}
                    <a name="anchor-aid-{{ aid.id }}"></a>
                    <h1 class="fr-h3">Présentation de l'aide « {{ aid.name }} »</h1>
                </div>
            </div>

            <p>{{ aid.description|safe }}</p>

            {% if aid.is_local and aid.local_characteristics %}
                <h4>Spécificités locales</h4>

                {{ aid.local_characteristics|safe }}

            {% endif %}

            {% if aid.targeted_audiences %}
                <h4>Bénéficiaires de l’aide</h4>
                <p>{% choices_display aid 'targeted_audiences' %}</p>
            {% endif %}

            <h4>Zone géographique couverte par l’aide</h4>
            <p>{{ aid.perimeter }}</p>

                <h4>Critères d’éligibilité</h4>

                {% if aid.mobilization_steps %}
                <h5>État d’avancement du projet pour bénéficier du dispositif</h5>
                <p>{% choices_display aid 'mobilization_steps' %}</p>
                {% endif %}

                {% if aid.destinations %}
                <h5>Types de dépenses / actions couvertes</h5>
                <p>{% choices_display aid 'destinations' %}</p>
                {% endif %}

                {% if aid.project_examples %}
                <h5>Exemples de projets réalisables</h5>
                {{ aid.project_examples|safe }}
                {% endif %}

                {% if aid.eligibility %}
                <h5>Autres critères d’éligibilité</h5>
                {{ aid.eligibility|safe }}
                {% endif %}

                <h4>Porteurs d’aides</h4>
                <ul>
                {% for financer in aid.financers.all %}
                    <li>{{ financer.name }}</li>
                {% endfor %}
                </ul>

                <h4>Calendrier</h4>
                <ul>
                    <li><strong>Récurrence:</strong> {{ aid.get_recurrence_display }}</li>
                    {% if aid.start_date %}
                        <li><strong>Ouverture:</strong> {{ aid.start_date|date }}</li>                
                    {% endif %}
                    {% if aid.submission_deadline %}
                        <li><strong>Clôture:</strong> {{ aid.submission_deadline|date }}</li>
                    {% endif %}
                </ul>
                <strong>Voir le descriptif complet sur Aides-territoires :</strong>
                <a href="{{ hostname }}{{ aid.get_absolute_url }}" class="at-pdf-link">
                    {{ hostname }}{{ aid.get_absolute_url }}
                </a>
                <pdf:nextpage />

            <p>
                Export valable en date du <strong>{{ today|date }}</strong>.
            </p>
            <p>Pensez à télécharger régulièrement ce document afin de disposer de la dernière mise à jour.</p>

        </div>
    </div>
</div>
{% endblock content %}

{% block footer-sup %}
<span>
    <br />
    L’aide citée a été publiée sur la plateforme Aides-territoires depuis laquelle ce fichier a été édité.
</span>
{% endblock footer-sup %}
