{% extends "aids/_base_edit.html" %}
{% load i18n form_utils %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block page_title %}
    <h1>Publier une aide</h1>
{% endblock page_title %}

{% block before_section %}
<div class="fr-alert fr-alert--info fr-alert--sm fr-mb-1w">
    <p class="fr-mb-0">Votre aide devra être <strong>revue par un administrateur</strong> avant publication.</p>
</div>
<div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w">
    <p class="fr-mb-0">Vous pouvez créer votre aide et <strong>demander la publication immédiatement,</strong> ou <strong>l'enregistrer en tant que brouillon.</strong></p>
</div>
{% endblock before_section %}

{% block form_sidebar %}
<div id="nav-form" class="list-group list-group-horizontal">
    <a href="#aid-presentation" class="at-link__nodecorator list-group-item list-group-item-action active" aria-current="true">
        <span class="counter">1</span>
        Présentation
    </a>
    <span class="separator fr-icon-arrow-right-s-line" aria-hidden="true"></span>
    <a href="#aid-description" class="at-link__nodecorator list-group-item list-group-item-action">
        <span class="counter">2</span>
        Description
    </a>
    <span class="separator fr-icon-arrow-right-s-line" aria-hidden="true"></span>
    <a href="#aid-eligibility" class="at-link__nodecorator list-group-item list-group-item-action">
        <span class="counter">3</span>
        Critères d'éligibilité
    </a>
    <span class="separator fr-icon-arrow-right-s-line" aria-hidden="true"></span>
    <a href="#aid-contact" class="at-link__nodecorator list-group-item list-group-item-action">
        <span class="counter">4</span>
        Contact et démarches
    </a>
</div>
{% endblock form_sidebar %}

{% block form_actions %}
<div class="fr-background-main fr-pt-2w">
    <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-2w">
        <p>
            Votre aide <strong>ne sera pas publiée</strong> tant qu'elle n'aura pas été revue par un administrateur.
        </p>            
    </div>

    <div class="form-actions fr-grid-row">
        <div class="submit-buttons fr-col-12 fr-col-md-10">
            <button name="_status" value="reviewable" type="submit" class="fr-btn fr-mb-2w">Enregistrer et demander la publication</button>
            <button name="_status" value="draft" type="submit" class="fr-btn fr-mb-2w">Enregistrer en brouillon</button>
        </div>
        <div class="fr-col-md-2 fr-grid-row fr-grid-row--right">
            <a href="{% url 'aid_draft_list_view' %}" class="fr-btn fr-mb-2w">Annuler</a>
        </div>
    </div>
</div>
{% endblock form_actions %}
