{% extends 'aids/_base_edit.html' %}
{% load i18n form_utils %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li><a href="{% url 'aid_draft_list_view' %}">{{ _('My published aids') }}</a></li>
        <li class="active" aria-current="page">{{ _('Publish a new aid') }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_title %}
    <h1>{{ _('Publish a new aid') }}</h1>
{% endblock %}

{% block form_header %}
<p class="info">{% blocktrans %}
    Your aid will not be published until it is reviewed by an admin.
{% endblocktrans %}</p>
{% endblock %}

{% block form_actions %}
    <div class="form-actions">
        <a href="{% url 'aid_draft_list_view' %}">{{ _('Cancel and go back to published aids') }}</a>
        <button type="submit">{{ _('Save your aid') }}</button>
    </div>
</form>
{% endblock %}
