{% extends '_base.html' %}
{% load i18n aids compress %}
{% load i18n aids%}
{% load settings %}

{% block extratitle %}{{ aid.name }}{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{ aid.name }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{% if financers %}{% for financer in financers %}{{ financer }}{% endfor%}{% endif %} - Trouvez les aides pertinentes pour financer et accompagner les projets de votre territoire" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" title="Revenir à l'accueil">{{ _('Home') }}</a></li>
        <li><a href="{% url 'search_step_audience' %}?{{ current_search }}" title="Lancer une nouvelle recherche">{{ _('Search') }}</a></li>
        <li><a href="{% url 'search_view' %}?{{ current_search }}" title="Revenir aux résultats">{{ _('Results') }}</a></li>
        <li class="active" aria-current="page">{{ _('Aid detail') }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<article id="aid">

    {% if aid.submission_deadline and not aid.is_ongoing %}
    <div class="deadline-data">
        {% if aid.has_approaching_deadline %}
        <span>J-{{ aid.days_before_deadline }}</span>
        {% endif %}
        <p>
            <strong>{{ _('Deadline') }}</strong><br />
            {{ aid.submission_deadline|date }}
        </p>
    </div>
    {% endif %}

    <h1> {{ aid.name }} </h1>
    {% if aid.categories %}
    {% regroup aid.categories.all by theme as theme_list %}
    <ul class="aid-categories">
        {% for theme in theme_list %}
        {% if forloop.counter <= 4 %}
        <li class="theme">
        {% else %}
        <li class="theme collapse hidden-categories">
        {% endif %}
            <strong>
                {{ theme.grouper }}
            </strong>
            <ul>
                {% for category in theme.list %}
                <li class="category">{{ category }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        {% if theme_list|length > 4 %}
        <a href=".hidden-categories" data-toggle="collapse" id="collapse-categories-btn">Afficher toutes les thématiques</a>
        {% endif %}
    </ul>
    {% endif %}

    {% if not aid.is_published %}
    <div class="danger">
        <p>{{ _('Warning! This aid is <strong>currently not published</strong>. You can only see it because you are the author.') }}</p>
    </div>
    {% endif %}

    {% if aid.has_expired %}
    <div class="danger">
        <p>{{ _('Warning! This aid is <strong>no longer available</strong>. It is still displayed for historical purpose.') }}</p>
    </div>
    {% endif %}

    <section class="aid-content">
        <div class="sidebar">

            {% if aid.is_local or aid.is_generic %}
                {% if aid.is_local %}
                <div class="card">
                    <div class="local-generic">
                        <h3>{{ _('Local aid') }}</h3>
                        <p>
                            {{ _('This aid is a local variant of a ') }}<a href="{{ aid.generic_aid.get_absolute_url }}">{{ _('national measure') }}</a>
                        </p>
                    </div>
                </div>
                {% endif %}

                {% if aid.is_generic %}
                <div class="card">
                    <div class="local-generic">
                        <h3>{{ _('National measure') }}</h3>
                        <p>
                            {{ _('This aid is a national measure ') }} <a href="#aides-locales">{{ _('declinated locally') }}</a>
                        </p>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if financers or instructors %}
            <div class="card">

                {% if financers %}
                <div class="financers">
                    <h3>{{ _('Financers') }}</h3>
                    <ul>
                        {% for financer in financers %}
                        <li>
                            {{ financer }}
                            {% if financer.is_corporate %}
                            ({{ _('Corporate') }})
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if instructors %}
                <div class="instructors">
                    <h3>{{ _('Instructors') }}</h3>
                    <ul>
                        {% for instructor in instructors %}
                        <li>
                            {{ instructor }}
                            {% if instructor.is_corporate %}
                            ({{ _('Corporate') }})
                            {% endif %}

                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endif %}

            <div class="card">
                {% if aid.is_call_for_project %}
                <div class="call-for-project">
                    <h3>
                        <acronym title="{{ _('Call for project') }}">
                            AAP
                        </acronym> /
                        <acronym title="{{ _('Call for expression of interest') }}">
                            AMI
                        </acronym>
                    </h3>
                </div>
                {% endif %}

                <div class="aid-type">
                    <h3>{{ _('Aid type') }}</h3>
                    <p>{% choices_display aid 'aid_types' %}</p>
                </div>

                {% if aid.subvention_rate or aid.subvention_comment %}
                <div class="subvention-rate">
                    <h3>{{ _('Subvention rate') }}</h3>
                    {% if aid.subvention_rate %}
                    <ul>
                        {% if aid.subvention_rate.lower %}
                        <li><strong>{{ _('Min:') }}</strong> {{ aid.subvention_rate.lower }}%</li>
                        {% endif %}
                        {% if aid.subvention_rate.upper %}
                        <li><strong>{{ _('Max:') }}</strong> {{ aid.subvention_rate.upper }}%</li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    {% if aid.subvention_comment %}
                    {{ aid.subvention_comment }}
                    {% endif %}
                </div>
                {% endif %}
            </div>

            <div class="card">
                {% if aid.recurrence %}
                <div class="recurrence">
                    <h3>{{ _('Recurrence') }}</h3>
                    <p>{{ aid.get_recurrence_display }}</p>
                </div>
                {% endif %}

                {% if aid.has_calendar %}
                {% if aid.start_date and not aid.is_ongoing %}
                <div class="calendar-start">
                    <h3>{{ _('Start date') }}</h2>
                        <p>{{ aid.start_date|date }}</p>
                </div>
                {% endif %}

                {% if aid.predeposit_date and not aid.is_ongoing %}
                <div class="calendar-predeposit">
                    <h3>{{ _('Predeposit date') }}</h3>
                    <p>{{ aid.predeposit_date|date }}</p>
                </div>
                {% endif %}

                {% if aid.submission_deadline and not aid.is_ongoing %}
                <div class="calendar-deadline">
                    <h3 class="submission_deadline">{{ _('Submission deadline') }}</h3>
                    <p>{{ aid.submission_deadline|date }}</p>
                </div>
                {% endif %}
                {% endif %}
            </div>

            {% if aid.is_imported %}
            <div class="card">
                <div class="data-origin">
                    <h3>{{ _('Data origin') }}</h3>
                    <p>{% blocktrans trimmed %}
                        This aid was imported from another data stream.
                        {% endblocktrans %}</p>
                    <dl>
                        <dt>{{ _('Origin url') }}</dt>
                        <dd>{{ aid.import_data_url|default_if_none:_('NA') }}</dd>
                        <dt>{{ _('Import share license') }}</dt>
                        <dd>{{ aid.get_import_share_licence_display|default:_('NA') }}</dd>
                        <dt>{{ _('Last update') }}</dt>
                        <dd>{{ aid.import_last_access|date }}</dd>
                    </dl>
                </div>
            </div>
            {% endif %}

            {% if financers_with_logo %}
            <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for financer in financers_with_logo %}
                    {% if forloop.counter0 < 1 %}
                    <li data-target="#carouselControls" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                    {% else %}
                    <li data-target="#carouselControls" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for financer in financers_with_logo %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                    {% endif %}
                        <a class="d-block w-100"
                            href="{% url 'backer_detail_view' financer.pk financer.slug %}">
                            <img src="{{ financer.logo.url }}" alt="{{ financer.name }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if programs %}
            <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for program in programs %}
                    {% if forloop.counter0 < 1 %}
                    <li data-target="#carouselControls" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                    {% else %}
                    <li data-target="#carouselControls" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for program in programs %}
                    {% if forloop.counter0 < 1 %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                    {% endif %}
                        <a class="d-block w-100" href="{% url 'program_detail' program.slug %}">
                            <img src="{{ program.logo.url }}" alt="{{ program.name }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if aid.is_corporate_aid %}
            <div class="card" id="aid-entreprise">
                <div class="aid-entreprise">
                    <p><strong>Vous recherchez des aides pour les entreprises&nbsp;?</strong></p>
                    <p>Visitez <a href="https://www.aides-entreprises.fr/" target="_blank" rel="noopener">Aides-entreprises</a></p>    
                </div>
            </div>
            {% endif %}

            <div class="card">
                <div class="share">
                    <div>
                        <h3><strong>Partager cette aide</strong></h3>
                    </div>
                    <a href="#" class="js" data-toggle="modal" data-target="#share-modal">
                        Sauvegarder ou envoyer à mon réseau
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="suggest-modification">
                    <div>
                        <h3><strong>Améliorer cette aide</strong></h3>
                        <p>Vous souhaitez apporter des précisions à cette fiche aide&nbsp;?</p>
                    </div>
                    <a href="mailto:aides-territoires@beta.gouv.fr?subject=Amendement%20d%20'une%20aide&body={{ request.build_absolute_uri }}">
                        Envoyez-nous un e-mail
                    </a>   
                </div> 
            </div>

        </div>

        <div class="aid-details">

            {% if current_search_dict.projects and not messages %}
            <a href="#" id="fit_project_btn" class="js" data-toggle="modal" data-target="#match-project-modal">Évaluez cette aide</a>
            {% endif %}

            <h2>{{ _('Global presentation') }}</h2>

            <h3>{{ _('Description') }}</h3>
            {% if aid.description %}
            {{ aid.description|safe }}
            {% else %}
            <p> {{ _('No detailed description was submitted.') }} </p>
            {% endif %}

            {% if aid.is_local and aid.local_characteristics %}
            <h4>Spécificités locales</h4>

            {{ aid.local_characteristics|safe }}

            {% endif %}

            {% if aid.targeted_audiences %}
            <h3>{{ _('Targeted audiences') }}</h3>
            <p>{% choices_display aid 'targeted_audiences' %}</p>
            {% endif %}

            <h3>{{ _('Aid targeted area') }}</h3>
            <p>{{ aid.perimeter }}</p>

            {% if eligibility_criteria or aid.has_eligibility_test %}
            <h2>{{ _('Eligibility criteria') }}</h2>

            {% if aid.mobilization_steps %}
            <h3>{{ _('The aid can be mobilized during…') }}</h3>
            <p>{% choices_display aid 'mobilization_steps' %}</p>
            {% endif %}

            {% if aid.destinations %}
            <h3>{{ _('Types of expenses covered') }}</h3>
            <p>{% choices_display aid 'destinations' %}</p>
            {% endif %}

            {% if aid.project_examples %}
            <h3>{{ _('Project examples') }}</h3>
            {{ aid.project_examples|safe }}
            {% endif %}

            {% if aid.eligibility %}
            <h3>{{ _('Other eligibility criterias') }}</h3>
            {{ aid.eligibility|safe }}
            {% endif %}
            {% endif %}

            {% if aid.has_eligibility_test %}
            <div>
                <a href="#" id="aid-eligibility-test-block-btn" class="btn btn-primary js" data-toggle="modal" data-target="#aid-eligibility-test-modal">
                    Tester mon éligibilité !
                </a>
            </div>
            {% endif %}

            {% if aid.is_generic %}
            <h2 id="aides-locales">
                {{ _('Local variants') }}
            </h2>
            <p>{{  _("If you don't find your local aid refer to the national measure.") }}</p>
            <div id="localAidsLinks">
                <ul>
                    {% for local_aid in aid.get_sorted_local_aids %}
                        <li><a href="{% url 'aid_detail_view' local_aid.slug %}">{{ local_aid.perimeter }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% include 'aids/_generic_to_local.html' %}

            {% endif %}

            <h2>{{ _('Going further') }}</h2>
            <button type="button" id="going-further-reveal-button" class="cta-btn d-inline-block">
                Poursuivre la démarche pour obtenir l'aide
            </button>
            <div id="going-further" class="fake-collapse" aria-expanded="false">
                {% if aid.contact %}
                <h3>{{ _('Contact') }}</h3>
                {{ aid.contact|safe }}
                {% endif %}

                {% if aid.origin_url %}
                <h3>{{ _('Link to full description') }}</h3>
                <p>
                    <a target="_blank" rel="noopener" href="{{ aid.origin_url }}">{{ aid.origin_url }}</a>
                </p>
                {% endif %}

                {% if aid.application_url %}
                <h3>{{ _('Link to an online application form') }}</h3>
                <p>
                    <a target="_blank" rel="noopener" href="{{ aid.application_url }}">{{ aid.application_url }}</a>
                </p>
                {% endif %}
            </div>

    </section>

</article>

<div id="save-alert-block">
    <h5>🔔 Ne manquez plus aucun dispositif et recevez les dernières aides en rapport avec votre recherche !</h5>
    <div>
        <a href="#" id="save-alert-detail-block-btn" class="js" data-toggle="modal" data-target="#alert-search-modal">
            {{ _('Create an alert') }}
        </a>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% include 'aids/_share_modal.html' %}
    {% include 'aids/_match_project_modal.html' %}
    {% include 'alerts/_alert_modal.html' %}
    {% include 'eligibility/_eligibility_test_modal.html' %}
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        // Make sure all links contained in aid description open in a new tab.
        $('article#aid div.aid-details a').attr('target', '_blank');
    });
</script>
<script>
    AID_ID = parseInt('{{ aid.id }}');
    AID_SLUG = '{{ aid.slug }}';
    PROJECT_ID = '{% for project in current_search_dict.projects %}{{ project.id }}{% endfor %}';
    AID_ELIGIBILITY_TEST_ID = parseInt('{{ aid.eligibility_test_id }}');
    CURRENT_SEARCH = '{{ current_search | safe }}';
</script>
{% compress js %}
<script src="/static/js/aids/track_aid_events.js"></script>
<script src="/static/js/alerts/track_alert_button_events.js"></script>
<script src="/static/js/aids/match_project_form.js"></script>
<script src="/static/js/alerts/alert_form.js"></script>
<script src="/static/js/eligibility/eligibility_test_form.js"></script>
<script src="/static/js/links_on_images.js"></script>
<script src="/static/js/aids/share_aid.js"></script>
{% endcompress %}
{% endblock %}
