{% extends '_base.html' %}
{% load aids %}

{% block extratitle %}{{ _('My portfolio') }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">{{ _('My portfolio') }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<article id="draft-list">

    <a class="main-action action-add" href="{% url 'aid_create_view' %}">
        {{ _('Publish a new aid') }}
    </a>

    <h1>{{ _('My portfolio') }}</h1>

    <div class="info">
        {{ _('Total number of hits') }} : <span class="counter">{{ hits_total }}</span><br />
        {{ _('Number of hits in the last 30 days') }} : <span class="counter">{{ hits_last_30_days }}</span>
    </div>

    <form id="filter-form" action="" method="get" autocomplete='off'>
        <div class="form-container">
            {{ filter_form }}
            <button class="filter-btn" type="submit">
                {{ _('Filter results') }}
            </button>
        </div>
    </form>

    <div class="table-help">
        {{ _('Click on the column name to order') }}
    </div>

    <table class="data-table">
        <caption class="sr-only">{{ _('Your list of published aids') }}</caption>
        <thead>
            <tr>
                {% if user.backer %}
                    <th class="aid-name-column" title="Trier par Nom de l'aide">{% sortable_header 'Auteur' 'author' %}</th>
                {% endif %}
                <th class="aid-name-column" title="Trier par Nom de l'aide">{% sortable_header _('Aid title') 'name' %}</th>
                <th title="Trier par {{ _('Perimeter') }}">{% sortable_header _('Perimeter') 'perimeter__name' %}</th>
                <th title="Trier par {{ _('Created on') }}">{% sortable_header _('Created on') 'date_created' %}</th>
                <th title="Trier par {{ _('Last modified') }}">{% sortable_header _('Last modified') 'date_updated' %}</th>
                <th title="Trier par {{ _('Deadline') }}">{% sortable_header _('Deadline') 'submission_deadline' %}</th>
                <th>{{ _('Is live') }}</th>
                <th>Vues</th>
            </tr>
        </thead>
        <tbody>
            {% for aid in aids %}
            <tr>
                {% if user.backer %}
                    <td>{{ aid.author.full_name }}</td>
                {% endif %}
                <td>
                    {% if aid.author == user %}
                        <a href="{% url 'aid_edit_view' aid.slug %}">{{ aid.name }}</a>
                    {% else %}
                        <span>{{ aid.name }}</span>
                    {% endif %}
                    {% if aid.is_live %}
                        <span class="fas fa-check-circle" title="Affichée"></span>
                    {% endif %}
                </td>
                <td>{{ aid.perimeter }}</td>
                <td>{{ aid.date_created|date:'d/m/y' }}</td>
                <td>{{ aid.date_updated|date:'d/m/y' }}</td>
                <td class="nowrap-cell">
                    {% if aid.is_ongoing %}
                        <span class="fas fa-parking" title="Permanente"></span>
                    {% elif aid.has_approaching_deadline %}
                        <span class="fas fa-clock" title="{{ _('Deadline approaching') }}"></span>
                    {% elif aid.has_expired %}
                        <span class="fas fa-exclamation-circle" title="{{ _('Expired') }}"></span>
                    {% endif %}
                    <span>{{ aid.submission_deadline|date:'d/m/y' }}</span>
                </td>
                <td class="nowrap-cell"><a href="{{ aid.get_absolute_url }}">{{ aid.get_status_display }}</a></td>
                <td>{% get hits_per_aid aid.id 0 %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include '_pagination.html' %}

</article>
{% endblock %}
