{% extends 'aids/_base_edit.html' %}
{% load i18n form_utils compress %}

{% block breadcrumbs %}{% endblock %}

{% block messages %}{% endblock %}

{% block page_title %}
    <h1>Modifiez une aide</h1>
{% endblock %}

{% block before-section %}
    {% if messages %}
        {% for message in messages %}
        <p class="warning">
            <span class="fas fa-exclamation-circle"></span>
            {{ message | safe }}
        </p>
    {% endfor %}
    {% endif %}
    <div class="actions">
        <div class="sidebar-actions">
            <h3>{{ aid.get_status_display }}</h3>                
            <div>
                {% if aid.is_draft %}
                <p>Cette aide <strong>n'est actuellement pas affichée sur le site</strong>. Vous pouvez l'envoyer pour publication en demandant une revue par un administrateur.</p>
                <form id="unpublish-form" action="{% url 'aid_status_update_view' aid.slug %}" method="post">
                    <span class="help">Vous pourrez continuer à modifier votre aide.</span>
                    {% csrf_token %}
                    <input type="hidden" name="current_status" value="{{ aid.status }}" />
                    <button type="submit">Demander la publication</button>
                </form>
                {% elif aid.is_under_review %}
                    <p>Sous réserve de validation par un administrateur, <strong>cette aide sera publiée sous peu</strong>.</p>
                    <form id="unpublish-form" action="{% url 'aid_status_update_view' aid.slug %}" method="post">
                        <span class="help">Vous pourrez à nouveau demander une revue pour publication plus tard.</span>
                        {% csrf_token %}
                        <input type="hidden" name="current_status" value="{{ aid.status }}" />
                        <button type="submit">Annuler la revue</button>
                    </form>
                {% elif aid.is_published %}
                    <p>Vous éditez actuellement une aide publiée à <a href="{{ aid.get_absolute_url}}"><strong>cette adresse</strong></a>. Merci de procéder avec prudence.</p>
                    <form id="unpublish-form" action="{% url 'aid_status_update_view' aid.slug %}" method="post">
                        <span class="help">Vous devrez demander une revue par un administrateur pour re-publier votre aide.</span>
                        {% csrf_token %}
                        <input type="hidden" name="current_status" value="{{ aid.status }}" />
                        <button type="submit">Dépublier maintenant</button>
                    </form>
                {% endif %}
            </div>
        </div>
    
        <div class="sidebar-actions">
            <h3>Prévisualisation</h3>
            <div>
                <p>Vérifiez le rendu de votre aide pour notre public.</p>
                <p>
                    <button class="preview-btn" data-target="#aid-preview-modal" data-toggle="modal" data-preview-url="{{ aid.get_absolute_url }}?integration=integration">
                        Prévisualiser cette aide
                    </button>
                </p>
            </div>
        </div>
    
        <div class="sidebar-actions action-danger">
            <h3>Suppression de l'aide</h3>
            <div>
                <p>En cliquant sur le bouton ci-dessous, vous supprimerez définitivement votre aide. Il n'y a pas d'annulation possible.</p>
                <form id="delete-form" action="{% url 'aid_delete_view' aid.slug %}" method="post">
                    {% csrf_token %}
    
                    <div class="form-group">
                        <input type="checkbox" name="confirm" />
                        <label>Je comprends</label>
                    </div>
                    <button type="submit">
                        Supprimer cette aide
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_sidebar %}

<ul id="nav-form" class="list-group list-group-horizontal">
    <a href="#aid-presentation" class="list-group-item list-group-item-action active" aria-current="true">
        <span class="counter">1</span>
        Présentation
    </a>
    <span class="separator"></span>
    <a href="#aid-description" class="list-group-item list-group-item-action">
        <span class="counter">2</span>
        Description
    </a>
    <span class="separator"></span>
    <a href="#aid-eligibility" class="list-group-item list-group-item-action">
        <span class="counter">3</span>
        Critères d'éligibilité
    </a>
    <span class="separator"></span>
    <a href="#aid-contact" class="list-group-item list-group-item-action">
        <span class="counter">4</span>
        Contact et démarches
    </a>
</ul>

{% endblock %}

{% block form_actions %}
<div class="form-actions">
    <div class="submit-buttons">
        <button type="submit" value="save">Enregistrer vos modifications</button>
        <button class="secondary" type="submit" name="_save_as_new" value="_save_as_new">Dupliquer cette aide</button>
    </div>
    <a href="{% url 'aid_draft_list_view' %}">Retour à votre portefeuille d'aides</a>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% compress js %}
<script src="/static/js/aids/update_status_form_availability.js"></script>
<script src="/static/js/aids/disable_delete_button.js"></script>
<script src="/static/js/aids/configure_preview_modal.js"></script>
{% endcompress %}
<script>
$(document).ready(function() {
    // Force the user to preview the aid at every edit.
    var queryString = window.location.search.substring(1);
    if (queryString.match(/preview/)) {
        var previewBtn = $('button.preview-btn');
        previewBtn.click();
    }
});
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% include 'aids/_preview_modal.html' %}
{% endblock %}
