{% extends 'aids/_base_edit.html' %}
{% load i18n form_utils compress %}

{% block breadcrumbs %}{% endblock %}

{% block messages %}{% endblock %}

{% block page_title %}
    <h1>{{ _('Edit an aid') }}</h1>
{% endblock %}

{% block before-section %}
    {% if messages %}
        {% for message in messages %}
        <p class="warning">
            <span class="fas fa-exclamation-circle"></span>
            {{ message | safe }}
        </p>
        {% endfor %}
    {% endif %}
    <div class="actions">
        <div class="sidebar-actions">
            <h3>{{ aid.get_status_display }}</h3>
    
            {% if aid.is_draft %}
                {% trans 'This aid is <strong>currently not displayed on the site</strong>. You can send it to publication by requesting a review by an administrator. Simply click on the save button at the bottom of the form.' as status_info %}
                {% trans 'Demander la publication' as btn_label %}
                {% trans 'You will be able to keep editing your aid.' as status_help %}
            {% elif aid.is_under_review %}
                {% trans 'Pending approval by an administrator, this aid <strong>will be published anytime soon</strong>.' as status_info %}
                {% trans 'Cancel review' as btn_label %}
                {% trans 'You will be able to submit your aid for review later on.' as status_help %}
            {% elif aid.is_published %}
                {% trans 'You are editing a published aid. Please proceed with caution.' as status_info %}
                {% trans 'Unpublish right now' as btn_label %}
                {% trans 'You will need to request a new review to re-publish your aid.' as status_help %}
            {% endif %}
    
            <div>
                <p>{{ status_info }}</p>
                <div><span class="help">{{ status_help }}</span></div>
                {% if not aid.is_draft %}
                    <form id="unpublish-form" action="{% url 'aid_status_update_view' aid.slug %}" method="post">
                        <span class="help">{{ status_help }}</span>
                        {% csrf_token %}
                        <input type="hidden" name="current_status" value="{{ aid.status }}" />
                        {% if aid.is_draft %}
                            <p>{{ btn_label }}</p>
                        {% else %}
                        <button type="submit">{{ btn_label }}</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    
        <div class="sidebar-actions">
            <h3>{{ _('Preview') }}</h3>
            <div>
                <p>{{ _('Check how your aid will appear to our users.') }}</p>
                <p>
                    <button class="preview-btn" data-target="#aid-preview-modal" data-toggle="modal" data-preview-url="{{ aid.get_absolute_url }}?integration=integration">
                        {{ _('Preview the aid') }}
                    </button>
                </p>
            </div>
        </div>
    
        <div class="sidebar-actions action-danger">
            <h3>{{ _('Delete the aid') }}</h3>
            <div>
                <p>{% blocktrans trimmed %}
                    By clicking the button below, you will delete this aid. This action cannot be undone.
                {% endblocktrans %}</p>
                <form id="delete-form" action="{% url 'aid_delete_view' aid.slug %}" method="post">
                    {% csrf_token %}
    
                    <div class="form-group">
                        <input type="checkbox" name="confirm" />
                        <label>{{ _('I understand') }}</label>
                    </div>
                    <button type="submit">
                        {{ _('Delete this aid') }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_sidebar %}
    {% include 'aids/_base_edit_sidebar.html' %}
{% endblock %}

{% block form_actions %}
<div class="form-actions">
    <div class="submit-buttons">
        <button type="submit" value="save">{{ _('Save changes') }}</button>
        <button name="status" value="review" type="submit">{{ _('Save and request publication') }}</button>
    </div>
</div>
<div class="form-actions">
    <div class="submit-buttons">
        <button class="secondary" type="submit" name="_save_as_new" value="_save_as_new">{{ _('Copy this aid') }}</button>
    </div>
    <a href="{% url 'aid_draft_list_view' %}">{{ _('Back to your portfolio') }}</a>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% compress js %}
<script src="/static/js/aids/update_status_form_availability.js"></script>
<script src="/static/js/aids/disable_delete_button.js"></script>
<script src="/static/js/aids/configure_preview_modal.js"></script>
{% endcompress %}
<script>
$(document).ready(function() {
    // Force the user to preview the aid at every edit.
    var queryString = window.location.search.substring(1);
    if (queryString.match(/preview/)) {
        var previewBtn = $('button.preview-btn');
        previewBtn.click();
    }
});
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% include 'aids/_preview_modal.html' %}
{% endblock %}
