{% extends 'aids/_base_search.html' %}
{% load i18n compress %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li><a href="{% url 'search_step_audience' %}?{{ current_search }}">{{ _('Search') }}</a></li>
        <li class="active" aria-current="page">{{ _('Results') }}</li>
    </ol>
</nav>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    var CURRENT_SEARCH = '{{ current_search | safe }}';
    var PERIMETER = '{{ perimeter|default_if_none:'' }}';
    var CATEGORIES = [
        {% if categories %}
        {% regroup categories by theme as theme_list %}
        {% for theme in theme_list %}
            {% for category in theme.list %}
                '{{ category }}',
            {% endfor %}
        {% endfor %}
        {% elif themes %}
            {% for theme in themes %}
                '{{ theme }}',
            {% endfor %}
        {% endif %}
    ];
    var NB_RESULTS = {{ paginator.count }};
</script>
<script src="/static/js/search/track_search_events.js"></script>
{% endblock %}
