{% extends '_base.html' %}
{% load i18n %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">{{ _('All aids') }}</li>
    </ol>
</nav>

<section id="search">
    <div id="search-engine">
        <form action="" method="GET">
            {% include '_form_snippet.html' with form=form nest_field_class="field" %}
            <button type="submit">{{ _('Filter results') }}</button>
            <a class="reset" href="{% url 'search_view' %}">{{ _('Reset all filters') }}</a>
            <p>{% blocktrans %}
            As this is a beta service, some aids are yet to be referenced here.
            Feel free to contact us if you see that something is missing.
            {% endblocktrans %}</p>
        </form>
    </div>

    <div id="search-results">
        {% include 'aids/_results.html' %}
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/select2.scss" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block extra_js %}
<script src="/static/jquery/dist/jquery.js"></script>
<script src="/static/select2/dist/js/select2.js"></script>
<script>
    $(document).ready(function() {
        $('select#id_perimeter').select2({
            placeholder: '{{ _("City, department, region, EPCI…") }}',
            ajax: {
                url: '{% url "perimeters-list" %}',
                dataType: 'json',
                delay: 100,
            },
            theme: 'bootstrap4',
            width: '',
        });

        $('div#search-engine form').change(renderSearchResults);

        // Since we use js to dynamically fetch new results, it's better
        // to hide the useless submit button. We do it using js, so
        // the search feature remains fully working when js is not available.
        $('div#search-engine button[type=submit]').hide();
    });

    // When the search filter form is used, we dynamically fetch new
    // results and display them on the spot. We also update the url,
    // so the current search remains bookmarkable.
    var results_div = $('div#search-results');
    var results_url = '{% url "results_view" %}';
    var searchXHR = undefined;
    var pendingRequest = false;

    var renderSearchResults = function(event) {
        var $form = $(this);
        var search_parameters = $form.serialize();

        // If a pending request exists, abort it before we start a new one
        if (pendingRequest && searchXHR) {
            searchXHR.abort();
        }

        searchXHR = $.ajax({
            url: results_url,
            data: search_parameters,
            dataType: 'html',
            beforeSend: function() {
                pendingRequest = true;
                results_div.addClass('loading');
            }
        }).done(function(result) {
            results_div.html(result)

            var new_url = '?' + search_parameters;
            history.replaceState(null, null, new_url);
        }).always(function() {
            pendingRequest = false;
                results_div.removeClass('loading');
        });
    };
</script>
{% endblock %}