<table class="sortable-table at-table--xl">
    <caption role="status">{{ caption }}</caption>
    {% if aid_type == "financial" %}
        <thead>
            <tr>
                <th scope="col">Porteur</th>
                <th scope="col">Total aides financières</th>
                <th scope="col">Subvention</th>
                <th scope="col">Prêt</th>
                <th scope="col">Avance récupérable</th>
                <th scope="col">Autres aides financières</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        <a href="{% url 'backer_detail_view' entry.id entry.slug %}">{{ entry.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=financial&targeted_audiences={{ target_audience }}">
                            {{ entry.financial_aids }}
                        </a>
                    </td>
                    <td>{{ entry.grant_count }}</td>
                    <td>{{ entry.loan_count }}</td>
                    <td>{{ entry.recoverable_advance_count }}</td>
                    <td>{{ entry.other_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% elif aid_type == "technical" %}
        <thead>
            <tr>
                <th scope="col">Porteur</th>
                <th scope="col">Total aides techniques</th>
                <th scope="col">Ingénierie technique</th>
                <th scope="col">Ingénierie financière</th>
                <th scope="col">Ingénierie Juridique / administrative</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        <a href="{% url 'backer_detail_view' entry.id entry.slug %}">{{ entry.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=technical&targeted_audiences={{ target_audience }}">
                            {{ entry.technical_aids }}
                        </a>
                    </td>
                    <td>{{ entry.technical_count }}</td>
                    <td>{{ entry.financial_count }}</td>
                    <td>{{ entry.legal_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th scope="col">Porteur</th>
                <th scope="col">Nombre d’aides</th>
                <th scope="col">Aides financières</th>
                <th scope="col">Aides en ingénierie</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        <a href="{% url 'backer_detail_view' entry.id entry.slug %}">{{ entry.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&targeted_audiences={{ target_audience }}">{{ entry.total_aids }}</a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=financial&targeted_audiences={{ target_audience }}">
                            {{ entry.financial_aids }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=technical&targeted_audiences={{ target_audience }}">
                            {{ entry.technical_aids }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>