<table class="sortable-table at-table--xl">
    <caption role="status">{{ caption }}</caption>
    {% if aid_type == "financial" %}
        <thead>
            <tr>
                <th scope="col">Programme</th>
                <th scope="col">Total des aides financières</th>
                <th scope="col">Subvention</th>
                <th scope="col">Prêt</th>
                <th scope="col">Avance récupérable</th>
                <th scope="col">Autres aides financières</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        <a href="{% url 'program_detail' entry.slug %}">{{ entry.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&programs={{ entry.slug }}&aid_type=financial">
                            {{ entry.financial_aids }}
                        </a>
                    </td>
                    <td>{{ entry.grant_count }}</td>
                    <td>{{ entry.loan_count }}</td>
                    <td>{{ entry.recoverable_advance_count }}</td>
                    <td>{{ entry.other_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% elif aid_type == "technical" %}
        <thead>
            <tr>
                <th scope="col">Programme</th>
                <th scope="col">Total des aides en ingénierie</th>
                <th scope="col">Ingénierie technique</th>
                <th scope="col">Ingénierie financière</th>
                <th scope="col">Ingénierie juridique / administrative</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        <a href="{% url 'program_detail' entry.slug %}">{{ entry.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&programs={{ entry.slug }}&aid_type=technical">
                            {{ entry.technical_aids }}
                        </a>
                    </td>
                    <td>{{ entry.technical_count }}</td>
                    <td>{{ entry.financial_count }}</td>
                    <td>{{ entry.legal_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th scope="col">Programme</th>
                <th scope="col">Total des aides</th>
                <th scope="col">Aides financières</th>
                <th scope="col">Aides en ingénierie</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        <a href="{% url 'program_detail' entry.slug %}">{{ entry.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&programs={{ entry.slug }}">
                            {{ entry.total_aids }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&programs={{ entry.slug }}&aid_type=financial">
                            {{ entry.financial_aids }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&programs={{ entry.slug }}&aid_type=technical">
                            {{ entry.technical_aids }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>