{% extends "_base.html" %}
{% load static compress %}

{% block extratitle %}Cartographie | {{ current_dept.name }} | Programmes{% endblock extratitle %}
{% block meta_description %}{{ current_dept.name }} : Liste des programmes{% endblock meta_description %}

{% block extra_head %}
<meta property="og:title" content="Aides-territoires | Cartographie | {{ current_dept.name }} | Programmes" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock extra_head %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'map_view' %}">Cartographie</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'department_view' current_dept.code current_dept.name|slugify %}">{{ current_dept.code }} - {{ current_dept.name }}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Programmes</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
    {% include "map/_department_orgtype_selector.html" %}
    <article id="programs-by-departement" class="fr-container fr-mb-5w fr-pb-5w">
        <div class="fr-table at-table--fullwidth">{% include "map/_programs_table.html" with entries_list=programs_list caption=caption %}</div>
    </article>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'datatables.net-dt/css/jquery.dataTables.min.css' %}" type="text/css" charset="utf-8" />
    <style>
    .dataTables_wrapper {
        padding-top: 3em;
    }
    </style>
{% endblock extra_css %}

{% block extra_js %}
    {% compress js %}
        <script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/map/department_filter.js' %}"></script>
        <script>
    $(document).ready(function () {
        department_filter('/programmes/');
        $('.sortable-table').DataTable({
            paging: false,
            info: false,
            "order": [[ 1, 'desc' ]],
            "language": {
                "search": "Filtrer :",
            }
        });
    });
        </script>
    {% endcompress %}
{% endblock extra_js %}