{% if faq_questions_answers.all %}
    {% if program_fonds_vert %}
    <div role="alert" class="fr-alert fr-alert--info fr-alert--sm fr-mt-5w fr-mb-5w">
        <p class="fr-mb-1w"><strong>Pour tout complément, vous êtes invités à contacter votre sous-préfet d’arrondissement ou les services déconcentrés de l’État compétents (DREAL, DDT-M, directions et services de l’État en outre-mer...).</strong></p>
    </div>
    {% endif %}
<p class="fr-mb-5 fr-text--sm">Cette FAQ a été mise à jour le {{ faq_questions_answers.last.date_updated|date:'d/m/Y'}}.</p>
{% else %}
<div role="alert" class="fr-alert fr-alert--info fr-alert--sm fr-mt-5w fr-mb-5w">
    <p class="fr-mb-1w"><strong>La FAQ est cours de reconstruction, merci de recharger la page dans quelques instants.</strong></p>
</div>
{% endif %}

{% regroup faq_questions_answers.all by faq_category as faq_categories_list %}
{% for faq_category in faq_categories_list %}
    <div>
        <h3 class="at-color--blue">{{ faq_category.grouper }}</h3>
        <div>
        {% for faq_question_answer in faq_category.list %}
            <div class="fr-accordion">
                <h4 class="fr-accordion__title fr-grid-row">
                    <button type="button" class="fr-accordion__btn fr-col-md-12" aria-expanded="false" aria-controls="{{ faq_question_answer.id }}">
                        {{ faq_question_answer.question }}
                    </button>
                </h4>
                <div id="{{ faq_question_answer.id }}" class="fr-collapse">
                    <div>
                        {{ faq_question_answer.answer|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}