{% extends '_base.html' %}
{% load i18n aids %}

{% block extratitle %}{{ program.name }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li><a href="{% url 'program_list' %}">{{ _('All aid programs') }}</a></li>
        <li class="active" aria-current="page">{{ program.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<article id="program" >
    <div id="program-content">
        <h1>{{ program.name }}</h1>
        {% if program.description %}
            <div>
                <h2>{{ _('Global presentation') }}</h2>
                <div>
                    {{ program.description | safe | linebreaks }}
                </div>
            </div>
        {% endif %}  
    </div>
</article>

<section id="aid-list">
    <div class="aids">
        {% for aid in aids %}
        <div class="col">
            {% include 'aids/_aid_result.html' with aid=aid %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
