{% extends '_base.html' %}
{% load i18n aids compress static %}

{% block extratitle %}{{ program.meta_title|default:program.name }}{% endblock %}
{% block meta_description %}{{ program.meta_description }}{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'program_list' %}">Tous les programmes d’aides</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">{{ program.name }}</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<article id="program" class="fr-container fr-mb-5w fr-pb-5w">
    <div id="program-content">

        <div id="program-title">
            {% if program.logo %}
            <div class="fr-grid-row fr-grid-row--middle">
                <div class="fr-col-12 fr-col-md-9">
                    <h1>{{ program.name }}</h1>
                </div>
                <div class="fr-col-12 fr-col-md-3">
                    <img src="{{ program.logo.url }}" class="fr-responsive-img" alt="logo du programme {{ program.name }}">
                </div>
            </div>
            {% else %}
                <h1>{{ program.name }}</h1>
            {% endif %}
        </div>

        <div class="fr-tabs">
            <ul class="fr-tabs__list" role="tablist" aria-label="Onglets du programme">
                <li role="presentation">
                    <button id="tabpanel-program-description" class="fr-tabs__tab" {% if faq_selected or tab_selected %} tabindex="-1" aria-selected="false" {% else %} tabindex="0" aria-selected="true" {% endif %} role="tab" aria-controls="tabpanel-program-description-panel">Présentation générale</button>
                </li>
                {% if program_fonds_vert %}
                <li role="presentation">
                    <button id="tabpanel-faq" class="fr-tabs__tab" {% if faq_selected %} tabindex="0" aria-selected="true" {% else %}tabindex="-1" aria-selected="false"{% endif %} role="tab" aria-controls="tabpanel-faq-panel">Foire aux questions</button>
                </li>
                {% endif %}
                {% if program_tabs %}
                {% for tab in program_tabs %}
                <li role="presentation">
                    <button id="tabpanel-{{tab.title}}" class="fr-tabs__tab" {% if tab_selected == tab.title %} tabindex="0" aria-selected="true" {% else %}tabindex="-1" aria-selected="false"{% endif %} role="tab" aria-controls="tabpanel-{{tab.title}}-panel">{{ tab.title }}</button>
                </li>
                {% endfor %}
                {% endif %}
            </ul>

            {% if program.description or aids %}
            <div id="tabpanel-program-description-panel" class="fr-tabs__panel at-tabs__panel--opaque fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-program-description" tabindex="0">
                <h2 class="fr-mt-0 fr-mb-2w">Présentation générale</h2>
                {{ program.description | safe }}
                <section id="aid-list">
                    <h2>{{ aids.count }} aides liées au programme {{ program.name }}</h2>
                    {% include 'aids/_search_meta.html' %}
                    {% include "programs/_search_form.html" %}
                    <div class="fr-grid-row">
                        {% for aid in aids %}
                        <div class="fr-col-xs-12 fr-col-md-4 fr-p-3w">
                            {% include 'aids/_aid_result.html' with aid=aid %}
                        </div>
                        {% endfor %}
                        {% include '_pagination.html' %}
                    </div>
                </section>
            </div>
            {% endif %}

            {% if program_fonds_vert %}
            <div id="tabpanel-faq-panel" class="fr-tabs__panel at-tabs__panel--opaque fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-faq" tabindex="0">
                <h2 class="fr-mt-0 fr-mb-2w">Foire aux questions</h2>
                {% include 'programs/_faq_program.html' with program=program.pk %}
            </div>
            {% endif %}

            {% if program_tabs %}
            {% for tab in program_tabs %}
            <div id="tabpanel-{{ tab.title }}-panel" class="fr-tabs__panel at-tabs__panel--opaque" role="tabpanel" aria-labelledby="tabpanel-{{ tab.title }}" tabindex="0">
                <h2 class="fr-mt-0 fr-mb-2w">{{ tab.title }}</h2>
                {{ tab.content|safe }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}

{% block extra_css %}
    {% compress css %}
        <style>
            .search-form-extra-action {
                display: block;
            }
        </style>
    {% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
    {% compress js %}
    <script src="{% static 'js/responsive_iframe.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.js' %}"></script>
    <script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
    <script src="{% static 'js/select2_custom.js' %}"></script>
    <script src="{% static 'js/aids/aid_types_autocomplete.js' %}"></script>
    <script src="{% static 'js/aids/backers_autocomplete.js' %}"></script>
    <script src="{% static 'js/aids/categories_autocomplete.js' %}"></script>
    <script src="{% static 'js/aids/destinations_autocomplete.js' %}"></script>
    <script src="{% static 'js/aids/mobilization_steps_autocomplete.js' %}"></script>
    <script src="{% static 'js/aids/perimeter_autocomplete.js' %}"></script>
    <script src="{% static 'js/aids/text_autocomplete.js' %}"></script>
    <script src="{% static 'js/aids/select2_dsfr.js' %}"></script>
    <script src="{% static 'js/aids/search_form_advanced.js' %}"></script>
    <script src="{% static 'js/url_parameters.js' %}"></script>
    {% endcompress %}
{% endblock extra_js %}
