{% extends '_base.html' %}
{% load i18n aids %}

{% block extratitle %}{{ program.meta_title|default:program.name }}{% endblock %}
{% block meta_description %}{{ program.meta_description }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li><a href="{% url 'program_list' %}">Tous les programmes d'aides</a></li>
        <li class="active" aria-current="page">{{ program.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<article id="program" >
    <div id="program-content">
        <h1>{{ program.name }}</h1>
        {% if program.description %}
            <div>
                <h2>Présentation générale</h2>
                <div>
                    {{ program.description | safe }}
                </div>
            </div>
        {% endif %}
    </div>
</article>

<section id="aid-list">
    <div class="aids">
        {% for aid in aids %}
        <div class="col">
            {% include 'aids/_aid_result.html' with aid=aid %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
