{% extends '_base.html' %}
{% load i18n aids %}

{% block extratitle %}{{ program.name }}{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Tous les programmes d'aides</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<section id="program-list" class="fr-container fr-mb-5w fr-pb-5w">

    <h1>
        Tous les programmes d'aides
    </h1>

    <div class="program-list" class="fr-grid-row">
        {% for program in programs %}
        <div class="fr-col-xs-12 fr-col-md-4 fr-p-3w">
            {% include 'programs/_program_result.html' %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
