{% extends '_base.html' %}
{% load i18n aids %}

{% block extratitle %}{{ program.name }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li class="active" aria-current="page">Tous les programmes d'aides</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<section id="program-list">

    <h1>
        Tous les programmes d'aides
    </h1>

    <div class="program-list">
        {% for program in programs %}
            {% include 'programs/_program_result.html' %}
        {% endfor %}
    </div>
</section>
{% endblock %}
