{% load settings i18n %}<footer>
    <div class="container">
        <div class="columns">
            <div class="logos logos-1">
                <p class="ministere">
                    Ministère de la Transition écologique et solidaire
                </p>
                <hr />
                <p class="ministere">
                    Ministère de la Cohésion des territoires et des Relations avec les collectivités territoriales
                </p>
            </div>

            <div class="newsletter">
                <p>
                    Aides-territoires facilite la recherche d'aides des
                    collectivités territoriales et de leurs partenaires locaux,
                    en rendant visibles et accessibles tous les dispositifs
                    financiers et d'ingénierie auxquels ils peuvent prétendre.
                </p>
            </div>

            <div class="logos logos-2">
                <a href="https://www.cohesion-territoires.gouv.fr/la-fabrique-numerique-lincubateur-de-services-numeriques-du-pole-ministeriel" title="La Fabrique Numérique">
                    <img class="logo" id="logo-fabnum" src="/static/img/logo-fabriquenumerique.svg" alt="Logo de la Fabrique Numérique" />
                </a>
                <h4>Aides-territoires</h4>
                <p>Un service incubé et développé à la Fabrique Numérique.</p>
            </div>
        </div>
    </div>
</footer>
