{% load settings %}
<nav id="partner-navbar">
    <div class="container-lg">
        <a class="homelink" href="{% url 'home' %}">
            <img class="at d-sm-none" src="/static/img/logo_AT_titre.svg" alt="Aides-territoires" />
            <img class="at d-none d-sm-inline-block" src="/static/img/logo_AT_courbes.svg" alt="Aides-territoires" />
        </a>

        <div class="partner-logo">
            <img src="{{ search_page.logo.url }}" alt="Logo : {{ search_page.title }}"/>
        </div>
    </div>
</nav>
