{% extends '_base.html' %}
{% load compress i18n form_utils %}

{% block extratitle %}Recherche – Trouver des aides{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici&nbsp;:">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Trouver des aides</a>
                </li>
            </ol>
        </div>
    </nav>
</div>

{% endblock %}
{% block content %}
<div class="fr-container">
    <h1 class="fr-mb-5w fr-h2">Trouver des aides</h1>
    <form id="general_search_form" class="fr-px-0" action="{% url 'search_view' %}" method="GET">
        <h2 class="fr-h4 fr-mt-4w">
            <span class="counter">
                1
            </span> 
            Définissez votre périmètre
        </h2>
        <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
            <div class="fr-select-group fr-col-12 fr-col-md-3 fr-pb-0 fr-mb-0">
                <h3 class="fr-h6">votre structure&nbsp;:</h3>
                <div id="form-group-targeted_audiences" class="fr-input-group">
                    <label for="id_targeted_audiences">Vous êtes un/une</label>
                    <select name="targeted_audiences" id="id_targeted_audiences">
                        <option value="" hidden>Faites votre choix</option>
                        {% for option in form.targeted_audiences %}
                        {{ option }}
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="fr-select-group fr-col-12 fr-col-md-6 fr-pb-0 fr-mb-0">
                <h3 class="fr-h6">votre territoire&nbsp;:</h3>
                {% include '_field_snippet.html' with field=form.perimeter %}

            </div>
            <div id="text-research-help" class="fr-mt-2w fr-ml-1w">
                <p><span>💡</span> Si vous laissez ces champs vides, votre recherche portera sur l'ensemble du territoire, toutes structures confondues.</p>
            </div>
        </div>

        <h2 class="fr-h4 fr-mt-4w"><span class="counter">2</span> Puis affinez votre recherche</h2>
        <div class="fr-grid-row fr-grid-row--gutters fr-mt-3w">
            <div class="fr-select-group fr-col-12 fr-col-md-6 fr-pr-2w fr-mb-5w column--space-between" id="search-step-2">
                <div class="fr-container fr-p-0">
                    <h3 class="fr-h6">soit par mot-clé&nbsp;:
                        <span class="fr-hint-text">
                            recherchez parmi toutes les aides le mot-clé que vous souhaitez
                        </span>
                    </h3>
                    <div class="fr-grid-row fr-grid-row--middle">
                        <div class="fr-col-12 fr-col-md-8 fr-mr-1w">
                            {% include '_field_snippet.html' with field=form.text %}
                        </div>
                        <button name="action" value="search" type="submit" class="fr-btn fr-my-1w">
                            <span class="fr-fi-search-line fr-mr-1w" aria-hidden="true"></span>
                            Rechercher
                        </button>
                    </div>    
                </div>
                <img src="/static/img/home_aides.svg"alt="picto-aides-territoires" class="fr-responsive-img" />
            </div>
            <div class="fr-select-group fr-col-12 fr-col-md-6 fr-pl-2w fr-mb-5w" id="search-step-2">
                <h3 class="fr-h6">soit par thématiques&nbsp;:
                    <span class="fr-hint-text fr-mb-0">
                        cliquez sur une thématique, sélectionnez ensuite une ou plusieurs sous-thématiques
                    </span>
                </h3>
                <ul class="fr-accordions-group fr-pt-0">
                    {% include '_field_snippet.html' with field=form.categories %}
                </ul>
                <button name="action" value="search" type="submit" class="fr-btn fr-mb-2w fr-mt-3w">
                    <span class="fr-fi-search-line fr-mr-1w" aria-hidden="true"></span>
                    Rechercher
                </button>
            </div>
        </div>            
    </form>        
</div>
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
<script src="/static/js/search/check_all_btn.js"></script>
<script src="/static/js/search/track_audience_step_events.js"></script>
<script src="/static/js/search/track_perimeter_step_events.js"></script>
<script src="/static/js/search/track_category_step_events.js"></script>
{% endcompress %}
{% endblock %}