{% extends 'aids/_base_search.html' %}
{% load compress %}

{% block extratitle %}{{ search_page.meta_title|default:search_page.title }}{% endblock %}
{% block meta_description %}{{ search_page.meta_description }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li><a href="">{{ _('Search pages') }}</a></li>
        <li class="active" aria-current="page">{{ search_page.title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<article>
<h1>{{ search_page.title }}</h1>

{{ search_page.content|safe }}
</article>

{{ block.super }}

{% endblock %}
