{% extends '_base.html' %}
{% load compress %}
{% load i18n %}

{% block extratitle %}Recherche - Projet{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block content %}
<div id="before-project-modal"></div>
<div id="project-modal" class="modal show" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <section>
            <header>
                <h1>Contribuez à améliorer Aides-territoires !</h1>
                <a href="{% url 'search_view' %}?{{ querystring }}" class="close" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </a>
            </header>

            <div class="content">            
                <div id="suggested_project_box">
                    <div class="info">
                        <p>Indiquez le projet pour lequel vous recherchez une aide.</p>
                        <p>Cela nous permettra d'améliorer dans le futur la pertinence des résultats qui vous seront proposés.</p>
                    </div>
                    <form id="suggested_project" method="post" action="{% url 'project_suggest_view' %}?{{ querystring }}">
                        <div class="content">
                            {% csrf_token %}
                            {% include '_field_snippet.html' with field=project_form.name %}
                            {% include '_field_snippet.html' with field=project_form.description %}
                            <div class="warning">
                                <p>Ces informations n’auront aucune influence sur les résultats de votre recherche et resteront confidentielles</p>
                            </div>
                            <button name="action" value="search" type="submit">
                                Partager mon projet
                            </button>
                        </div>
                    </form>
                </div>   
            </div>

            <div class="modal-footer">
                <div class="navigation-links">
                    <a class="previous-btn" href="{% url 'search_step_category' %}?{{ querystring }}">
                        Revenir en arrière
                    </a>
                    <a class="next-btn" href="{% url 'search_view' %}?{{ querystring }}">
                        Passer cette étape
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal-backdrop show"></div>
{% endblock %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" href="/static/css/select2.scss" type="text/x-scss" charset="utf-8">
{% endcompress %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/search/project_step_bg.js"></script>
<script src="/static/js/search/track_project_step_events.js"></script>
<script src="/static/js/aids/project_autocomplete.js"></script>
{% endcompress %}
{% endblock %}
