{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}Recherche – Périmètre{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block breadcrumbs %}
<div class="search-progress fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-my-5w">
    <p class="steps fr-mb-0">
        {% include 'search/_breadcrumb.html' with label='La structure' %}
        {% include 'search/_breadcrumb.html' with label='Le territoire' %}
        {% include 'search/_breadcrumb.html' with label='Le projet / les thématiques' counter=3 %}
        {% include 'search/_breadcrumb.html' with label='Les sous-thématiques' counter=4 %}
    </p>
</div>
{% endblock %}

{% block content %}
<div class="fr-container fr-mb-12w">
    <h1 class="fr-mb-5w">Le territoire</h1>

    <form id="perimeter" action="{% url 'search_step_theme' %}" method="GET" class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">

            {% include '_form_snippet.html' %}

            <button class="fr-btn" name="action" value="search" type="submit">
                Envoyer
            </button>

        <div class="navigation-links fr-grid-row">
            <a class="previous-btn fr-mx-2w" href="{% url 'search_step_audience' %}?{{ querystring }}">
                Revenir en arrière
            </a>

            <a class="next-btn fr-mx-2w" href="{% url 'search_step_theme' %}?{{ querystring }}">
                Passer cette étape
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
<script src="/static/js/search/track_perimeter_step_events.js"></script>
{% endcompress %}
{% endblock %}
