{% extends '_base.html' %}
{% load i18n %}
{% load compress %}

{% block extratitle %}{{ _('Search – Categories') }}{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block breadcrumbs %}
<div class="search-progress">
<p class="steps">
    {% include '_breadcrumb.html' with label=_('Your structure') %}
    {% include '_breadcrumb.html' with label=_('Your perimeter') %}
    {% include '_breadcrumb.html' with label=_('Your themes') %}
    {% include '_breadcrumb.html' with label=_('Your categories') %}
</p>
</div>
{% endblock %}

{% block content %}
<h1>
{% blocktrans trimmed %}
<span class="counter">{{ total_aids }}</span> aids match your research
{% endblocktrans %}
</h1>

<h2>{{ _('Refine those results by selecting categories') }}</h2>

{% ifequal request.GET.themes 'urbanisme-logement-amenagement' %}
<form id="categories" action="{% url 'search_step_project' %}" method="GET">
{% else %}
<form id="categories" action="{% url 'search_view' %}" method="GET">
{% endifequal %}

    {% include '_form_snippet.html' %}

    <button name="action" value="search" type="submit">
        {{ _('Submit') }}
    </button>

    <div class="navigation-links">
        <a class="previous-btn" href="{% url 'search_step_theme' %}?{{ querystring }}">
            {{ _('Back to previous step') }}
        </a>
        {% ifequal request.GET.themes 'urbanisme-logement-amenagement' %}
            <a class="next-btn" href="{% url 'search_step_project' %}?{{ querystring }}">
                {{ _('Skip to the next step') }}
            </a>
        {% else %}
            <a class="next-btn" href="{% url 'search_view' %}?{{ querystring }}">
                {{ _('Skip to the next step') }}
            </a>
        {% endifequal %}
    </div>

</form>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/search/track_category_step_events.js"></script>
{% endcompress %}
{% endblock %}
