{% extends '_base.html' %}
{% load i18n %}
{% load compress %}

{% block extratitle %}Recherche – Catégories{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block breadcrumbs %}
<div class="search-progress">
<p class="steps">
    {% include 'search/_breadcrumb.html' with label='La structure' %}
    {% include 'search/_breadcrumb.html' with label='Le territoire' %}
    {% include 'search/_breadcrumb.html' with label='Les thématiques' %}
    {% include 'search/_breadcrumb.html' with label='Les sous-thématiques' %}
</p>
</div>
{% endblock %}

{% block content %}
<h1>
{% blocktrans trimmed %}
<span class="counter">{{ total_aids }}</span> aids match your research
{% endblocktrans %}
</h1>

<h2>Affinez ces résultats en sélectionnant des sous-thématiques</h2>

<form id="categories" action="{% url 'search_step_project' %}" method="GET">

    {% include '_form_snippet.html' %}

    <button name="action" value="search" type="submit">
        Envoyer
    </button>

    <div class="navigation-links">
        <a class="previous-btn" href="{% url 'search_step_theme' %}?{{ querystring }}">
            Revenir en arrière
        </a>
        <a class="next-btn" href="{% url 'search_view' %}?{{ querystring }}">
            Passer cette étape
        </a>
    </div>

</form>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/search/track_category_step_events.js"></script>
{% endcompress %}
{% endblock %}
