{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}Recherche – Audience{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block breadcrumbs %}
<div class="search-progress fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-my-5w">
    {% include 'search/_breadcrumb.html' with label='La structure' %}
    {% include 'search/_breadcrumb.html' with label='Le territoire' counter=2 %}
    {% include 'search/_breadcrumb.html' with label='Le projet / les thématiques' counter=3 %}
    {% include 'search/_breadcrumb.html' with label='Les sous-thématiques' counter=4 %}
</div>
{% endblock %}

{% block content %}
<div class="fr-container">
    <h1>Vous recherchez des aides pour…</h1>

    <form id="audience" action="{% url 'search_step_perimeter' %}" method="GET">
    
        {% include '_form_snippet.html' %}
    
        <div class="navigation-links fr-mb-8w">
            <a class="next-btn" href="{% url 'search_step_perimeter' %}?action=search">
                Passer cette étape
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/search/track_audience_step_events.js"></script>
{% endcompress %}
{% endblock %}
