{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}Recherche – Projet / Thématique{% endblock %}

{% block sectionid %}search-steps{% endblock %}


{% block breadcrumbs %}
<div class="search-progress fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-my-5w">
    {% include 'search/_breadcrumb.html' with label='La structure' %}
    {% include 'search/_breadcrumb.html' with label='Le territoire' %}
    {% include 'search/_breadcrumb.html' with label='Le projet / les thématiques' %}
    {% include 'search/_breadcrumb.html' with label='Les sous-thématiques' counter=4 %}
</div>
{% endblock %}

{% block content %}
<div class="fr-container fr-mb-12w">
    <div id='themes-step'>
        <h1>Le projet / les thématiques</h1>
        <div class="info">
            <p>Vous pouvez trouver des aides en utilisant le moteur de recherche ou en naviguant dans les thématiques.</p>
        </div>
    </div>

    <div id="text-research" class="fr-mb-6w">
        <h2 class="fr-h4 fr-mb-5w">Renseignez votre projet :</h2>
        <form id="text-research-form" action="{% url 'search_view' %}" method="GET" class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-mb-1w fr-pl-1w">

            {% include '_field_snippet.html' with field=form.targeted_audiences.as_hidden %}
            {% include '_field_snippet.html' with field=form.perimeter.as_hidden %}
            {% include '_field_snippet.html' with field=form.text %}       
            <button name="action" value="search" type="submit" class="fr-btn">
                Envoyer
            </button>         
        </form>   
        <div id="text-research-help">
            <p class="fr-mb-0"><strong><span>&#128161;</span> Pour rechercher une expression entière mettez un + entre chaque terme de la recherche</strong></p>
            <ul class="fr-list__none">
                <li>"rénovation cantine" renverra tous les résultats contenant au moins l'un des deux termes : "rénovation" ou "cantine"</li>
                <li>"rénovation+cantine" renverra les aides contenant les 2 termes : "rénovation" et "cantine"</li>
            </ul>
        </div>
    </div>

    <h2 class="fr-h4">Ou naviguez dans les thématiques :</h2>
    <form id="theme" action="{% url 'search_step_category' %}" method="GET">

        {% include '_field_snippet.html' with field=form.targeted_audiences.as_hidden %}
        {% include '_field_snippet.html' with field=form.perimeter.as_hidden %}
        {% include '_field_snippet.html' with field=form.themes %}

        <button name="action" value="search" type="submit" class="fr-btn fr-mb-5w">
            Envoyer
        </button>

        <div class="navigation-links fr-grid-row">
            <a class="previous-btn fr-mx-2w" href="{% url 'search_step_perimeter' %}?{{ querystring }}">
                Revenir en arrière
            </a>

            <a class="next-btn fr-mx-2w" href="{% url 'search_view' %}?{{ querystring }}">
                Passer cette étape
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/search/track_theme_step_events.js"></script>
{% endcompress %}
{% endblock %}
