{% extends '_base.html' %}

{% block extratitle %}{{ _('Search – Audience') }}{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block breadcrumbs %}
<div class="search-progress">
<p class="steps">
    <span class="step">
        <span class="counter active">
            <span class="fas fa-check"></span>
        </span>
        {{ _('Your structure') }}
    </span>

    <span class="separator"></span>

    <span class="step">
        <span class="counter">2</span>
        {{ _('Your perimeter') }}
    </span>

    <span class="separator"></span>

    <span class="step">
        <span class="counter">3</span>
        {{ _('Your themes') }}
    </span>

    <span class="separator"></span>

    <span class="step">
        <span class="counter">4</span>
        {{ _('Your categories') }}
    </span>
</p>
</div>
{% endblock %}

{% block content %}
<h1>{{ _('You are seeking aids for…') }}</h1>

<form id="audience" action="{% url 'search_step_perimeter' %}" method="GET">

    {% include '_form_snippet.html' %}

    <div class="navigation-links">
        <a class="next-btn" href="{% url 'search_step_perimeter' %}">
            {{ _('Skip to the next step') }}
        </a>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="/static/js/search/track_audience_step_events.js"></script>
{% endblock %}
