{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}{{ _('Search – Project') }}{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block breadcrumbs %}
<div class="search-progress">
<p class="steps">
    <span class="step">
        <span class="counter active">
            <span class="fas fa-check"></span>
        </span>
        {{ _('Your structure') }}
    </span>

    <span class="separator"></span>

    <span class="step">
        <span class="counter active">
            <span class="fas fa-check"></span>
        </span>
        {{ _('Your perimeter') }}
    </span>

    <span class="separator"></span>

    <span class="step">
        <span class="counter active">
            <span class="fas fa-check"></span>
        </span>
        {{ _('Your themes') }}
    </span>

    <span class="separator"></span>

    <span class="step">
        <span class="counter active">
            <span class="fas fa-check"></span>
        </span>
        {{ _('Your categories') }}
    </span>

    <span class="separator"></span>

    <span class="step">
        <span class="counter active">
            <span class="fas fa-check"></span>
        </span>
        {{ _('Your project') }}
    </span>
</p>
</div>
{% endblock %}

{% block content %}
<h1>{{ _('In what projects are you interested in ?') }}</h1>

<form id="project" action="{% url 'search_view' %}" method="GET">

    {% include '_form_snippet.html' %}

    <button type="submit">
        {{ _('Submit') }}
    </button>

    <div class="navigation-links">
        <a class="previous-btn" href="{% url 'search_step_category' %}?{{ querystring }}">
            {{ _('Back to previous step') }}
        </a>
        <a class="next-btn" href="{% url 'search_view' %}?{{ querystring }}">
            {{ _('Skip to the next step') }}
        </a>
    </div>
</form>
{% endblock %}