{% extends '_base.html' %}
{% load i18n %}
{% load compress %}

{% block extratitle %}{{ _('Search – Advanced search') }}{% endblock %}

{% block sectionid %}search-steps{% endblock %}

{% block breadcrumbs %}
<div class="search-progress">
<p class="steps">
    {% include '_breadcrumb.html' with label=_('Your structure') %}
    {% include '_breadcrumb.html' with label=_('Your perimeter') %}
    {% include '_breadcrumb.html' with label=_('Your themes') %}
    {% include '_breadcrumb.html' with label=_('Your categories') %}
    {% include '_breadcrumb.html' with label=_('Advanced search') %}

</p>
</div>
{% endblock %}

{% block content %}
<h1>{{ _('Refine your search results') }}</h1>

<div id="advanced_search_box">
    <p><strong>{% blocktrans trimmed %}
        <span class="counter">{{ total_aids }}</span> aids match your research
        {% endblocktrans %}</strong>
    </p>
    <p><strong>{{ _('Do you want to Refine those results by adding others filters or access to results&nbsp;?') }}</strong></p>
    <div>
        <a data-toggle="collapse" href="#advanced_search" role="button" aria-expanded="false" aria-controls="advanced_search">
            {{ _('Add filters') }}
        </a>
        <a id='display-results-btn'  href="{% url 'search_view' %}?{{ querystring }}">
            {{ _('Display results') }}
        </a>
    </div>
</div>

<form id="advanced_search" action="{% url 'search_view' %}" method="GET" class="collapse">

    {% include '_form_snippet.html' %}

    <button name="action" value="search" type="submit">
        {{ _('Submit') }}
    </button>
</form>

<div class="navigation-links">
    <a class="previous-btn" href="{% url 'search_step_category' %}?{{ querystring }}">
        {{ _('Back to previous step') }}
    </a>
    {% ifequal request.GET.themes 'urbanisme-logement-amenagement' %}
        <a class="next-btn" href="{% url 'search_step_project' %}?{{ querystring }}">
            {{ _('Skip to the next step') }}
        </a>
    {% else %}
        <a class="next-btn" href="{% url 'search_view' %}?{{ querystring }}">
            {{ _('Skip to the next step') }}
        </a>
    {% endifequal %}
</div>
{% endblock %}
