# This sshd configuration file is compatible with ANSI's security
# recommandations.
# See https://www.ssi.gouv.fr/administration/guide/recommandations-pour-un-usage-securise-dopenssh/

Protocol 2
ListenAddress 0.0.0.0:42
StrictModes yes
PubkeyAuthentication yes
PasswordAuthentication no
PermitRootLogin prohibit-password  # Required for ansible
UsePAM yes
ChallengeResponseAuthentication no
Ciphers aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
UsePrivilegeSeparation sandbox
X11Forwarding no
PrintLastLog yes
PrintMotd no
PermitUserEnvironment no
AcceptEnv LANG LC_*
Subsystem sftp	/usr/lib/openssh/sftp-server
