.TextSuggestions,
.TextSuggestions ul {
  width: 100%;
}

.TextSuggestions {
  position: relative;
}

.TextSuggestions .suggestionsWrapper {
  background: white;
  z-index: 1000;
  position: absolute;
  width: 100%;
  border-left: solid silver 1px;
  border-right: solid silver 1px;
}

.TextSuggestions li {
  padding: 1rem;
  border-bottom: solid silver 1px;
}

.TextSuggestions li:hover {
  cursor: pointer;
  padding: 1rem;
  border-bottom: solid silver 1px;
  background: rgb(240, 240, 240);
}
