{% extends '_base.html' %}
{% load i18n amendments compress %}

{% block extratitle %}{{ _('Amendment merge') }}{% endblock %}

{% block sectionid %}amend-ui{% endblock %}

{% block content %}
<article>
<h1>
    {{ aid.name }}<br />
    <small>
        {% blocktrans trimmed with author_name=amendment.amendment_author_name date=amendment.date_created|date %}
            By {{ author_name }} on {{ date }}
        {% endblocktrans %}
    </small>
</h1>

<ul>
    <li>{{ _('Author:') }} {{ amendment.amendment_author_name }}</li>
    <li>{{ _('Email:') }} {{ amendment.amendment_author_email|default:_('ND') }}</li>
    <li>{{ _('Organization:') }} {{ amendment.amendment_author_org|default:_('ND') }}</li>
</ul>

<div class="info">
<p>{% blocktrans trimmed %}
This form makes it possible to edit the aid targeted by the amendment.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
Only the fields that are different between the original data and the amended
data are shown. It means that the form can show some fields that were <strong>
not amended</strong> by the user if the original aid was modified after the
amendment was suggested.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
For each field, we show: 1/ the form input with the current data and 2/ the
modification that was suggested.
{% endblocktrans %}</p>
</div>

<nav>
    <a href="{{ aid.get_absolute_url }}">{{ _('See the aid detail') }}</a> /
    <a href="{% url 'admin:aids_aid_change' aid.id %}">{{ _('Admin edit') }}</a>
</nav>

<hr />

<form method="post" action="" class="main-form">
    {% csrf_token %}
    {{ form.media }}

    {% if form.non_field_errors %}
    <div class="danger" role="alert">
        {{ form.non_field_errors.0 }}
    </div>
    {% endif %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in form %}
        {% include '_field_snippet.html' with field=field %}
        <div class="field-diff">{% field_diff aid amendment field.name %}</div>
    {% endfor %}

    <hr />

    {% if amendment.amendment_comment %}
    <div class="info">
        <p>{{ _('The user left this comment:') }}</p>
        {{ amendment.amendment_comment|linebreaks }}
    </div>
    {% endif %}

    <div class="form-actions">
        <div class="submit-buttons">
            <button type="submit">{{ _('Update the aid and discard the amendment') }}</button>
        </div>
        <a href="{% url 'admin:aids_amendment_changelist' %}">{{ _('Cancel and go back to the amendment list') }}</a>
    </div>
</form>
</article>
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
<link rel="stylesheet" href="/static/trumbowyg/dist/ui/trumbowyg.css" type="text/css" charset="utf-8">
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/trumbowyg/dist/trumbowyg.js"></script>
<script src="/static/trumbowyg/dist/langs/fr.js"></script>
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
<script src="/static/js/aids/categories_autocomplete.js"></script>
<script src="/static/js/aids/programs_autocomplete.js"></script>
<script src="/static/js/backers_autocomplete.js"></script>
<script src="/static/js/enable_rich_text_editor_simple.js"></script>
{% endcompress %}
{% endblock %}
