{% extends '_base.html' %}
{% load i18n amendments %}

{% block extratitle %}{{ _('Amendment merge') }}{% endblock %}

{% block sectionid %}amend-ui{% endblock %}

{% block content %}
<h1>
    {{ aid.name }}<br />
    <small>
        {% blocktrans trimmed with author_name=amendment.author.full_name date=amendment.date_created|date %}
            By {{ author_name }} on {{ date }}
        {% endblocktrans %}
    </small>
</h1>

<form method="post" action="" class="main-form">
    {% csrf_token %}
    {{ form.media }}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors.0 }}
    </div>
    {% endif %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in form %}
        {% include '_field_snippet.html' with field=field %}
        <div class="field-diff">{% field_diff aid amendment field.name %}</div>
    {% endfor %}

    <hr />

    <div class="form-actions">
        <a href="{% url 'admin:aids_amendment_changelist' %}">{{ _('Cancel and go back to the amendment list') }}</a>
        <div class="submit-buttons">
            <button type="submit">{{ _('Update the aid and discard the amendment') }}</button>
        </div>
    </div>
</form>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/select2.scss" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block extra_js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
<script src="/static/js/backers_autocomplete.js"></script>
<script src="/static/js/tags_autocomplete.js"></script>
{% endblock %}