{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />{% endblock extrastyle %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Accueil</a>
    > <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    > <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    > <a href="{% url 'admin:geofr_perimeter_change' original.id %}">{{ original }}</a>
    > Combiner
</div>
{% endblock breadcrumbs %}

{% block content %}
<form method="post">
    {{ form.media }}
    {% csrf_token %}
    <div>
        <p>
            Utilisez ce formulaire pour configurer ce périmètre comme une combinaison
            d’autres périmètres. Attention, la configuration actuelle sera remise à zéro.
        </p>
        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row field-{{ field.name }}">
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="help">{{ field.help_text|safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input class="default" type="submit" name="_save" value="Envoyer" />
        </div>
    </div>
</form>
{% endblock content %}
