<table class="sortable-table at-table--xl">
    <caption>{{ caption }}</caption>
    {% if aid_type == "financial_group" %}
        <thead>
            <tr>
                <th scope="col">Catégorie</th>
                <th scope="col">Porteur</th>
                <th scope="col">Périmètre du porteur</th>
                <th scope="col">Total des aides financières</th>
                <th scope="col">Subvention</th>
                <th scope="col">Prêt</th>
                <th scope="col">Avance récupérable</th>
                <th scope="col">Certificat d’économie d’énergie (CEE)</th>
                <th scope="col">Autres aides financières</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        {{ entry.group__subcategory__category__name }}
                    </td>
                    <td>
                        <a href="{% url 'backer_detail_view' entry.id entry.slug %}">{{ entry.name }}</a>
                    </td>
                    <td>{{ entry.perimeter__name}}</td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=grant&aid_type=loan&aid_type=recoverable_advance&aid_type=cee&aid_type=other{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.financial_aids }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=grant{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.grant_count }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=loan{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.loan_count }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=recoverable_advance{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.recoverable_advance_count }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=cee{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.cee_count }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=other{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.other_count }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% elif aid_type == "technical_group" %}
        <thead>
            <tr>
                <th scope="col">Catégorie</th>
                <th scope="col">Porteur</th>
                <th scope="col">Périmètre du porteur</th>
                <th scope="col">Total des aides en ingénierie</th>
                <th scope="col">Ingénierie technique</th>
                <th scope="col">Ingénierie financière</th>
                <th scope="col">Ingénierie juridique / administrative</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        {{ entry.group__subcategory__category__name }}
                    </td>
                    <td>
                        <a href="{% url 'backer_detail_view' entry.id entry.slug %}">{{ entry.name }}</a>
                    </td>
                    <td>{{ entry.perimeter__name }}</td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=technical_engineering&aid_type=financial_engineering&aid_type=legal_engineering{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.technical_aids }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=technical_engineering{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.technical_count }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=financial_engineering{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.financial_count }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=legal_engineering{% if target_audience %}&targeted_audiences={{ target_audience }}{% endif %}">
                            {{ entry.legal_count }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th scope="col">Catégorie</th>
                <th scope="col">Porteur</th>
                <th scope="col">Périmètre du porteur</th>
                <th scope="col">Total des aides</th>
                <th scope="col">Aides financières</th>
                <th scope="col">Aides en ingénierie</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries_list %}
                <tr>
                    <td>
                        {{ entry.group__subcategory__category__name }}
                    </td>
                    <td>
                        <a href="{% url 'backer_detail_view' entry.id entry.slug %}">{{ entry.name }}</a>
                    </td>
                        <td data-sort="{{ entry.perimeter__scale }}">
                            {{ entry.perimeter__name }}
                        </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&targeted_audiences={{ target_audience }}">{{ entry.total_aids }}</a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=grant&aid_type=loan&aid_type=recoverable_advance&aid_type=cee&aid_type=other&targeted_audiences={{ target_audience }}">
                            {{ entry.financial_aids }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'search_view' %}?perimeter={{ current_dept.id }}&backers={{ entry.id }}&aid_type=technical_engineering&aid_type=financial_engineering&aid_type=legal_engineering&targeted_audiences={{ target_audience }}">
                            {{ entry.technical_aids }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>