{% load i18n compress static %}

<div class="fr-container">
    <form id="department-perimeter-search-form" class="fr-grid-row fr-grid-row--gutters fr-mb-3w" method="post">
        <div class="fr-select-group fr-col-12 fr-col-md-3">
            <select class="fr-select at-live-change" id="select-department" name="department" title="Départements - en sélectionnant un élément, la page se rechargera">
                {% for department in departments %}
                    <option value="{{ department.code }}-{{ department.slug }}" {% if department.code == current_dept.code %}selected="selected"{% endif %}>
                        {{ department.code }} - {{ department.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

    <form id="department-search-form" class="fr-grid-row fr-grid-row--gutters fr-mb-3w" method="get" autocomplete="off">

        <div class="fr-col-12 fr-col-md-3">
            {% include '_field_snippet.html' with field=form.targeted_audiences %}
        </div>

        <div class="fr-col-12 fr-col-md-3">
            {% include '_field_snippet.html' with field=form.aid_type %}
        </div>

        <div class="fr-col-12 fr-col-md-3">
            {% include '_field_snippet.html' with field=form.perimeter_scale %}
        </div>

        <div class="fr-col-12 fr-col-md-3">
            {% include '_field_snippet.html' with field=form.categories %}
        </div>

    </form>
</div>