<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-FR" lang="fr-FR">
    <head>



        <title>Services de l'État  / Accueil - Les services de l'État en Guyane</title>



        <meta name="Content-Type" content="text/html; charset=utf-8" />

        <meta name="Content-language" content="fr-FR" />

        <meta name="author" content="Ministère de l'Intérieur" />

        <meta name="copyright" content="Ministère de l'Intérieur" />

        <meta name="description" content="Portail de l'Etat en Guyane" />

        <meta name="keywords" content="etat, préfecture" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">



        <!--[if lt IE 9 ]>
            <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1" />
        <![endif]-->

        <meta name="MSSmartTagsPreventParsing" content="TRUE" />


        <link rel="Shortcut icon" href="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/favicon.ico" type="image/x-icon" />

        <link rel="Home" href="http://www.guyane.gouv.fr/" title="Les services de l'État en Guyane" />
        <link rel="Index" href="http://www.guyane.gouv.fr/" />
        <link rel="Top"  href="http://www.guyane.gouv.fr/" title="Services de l'État  / Accueil - Les services de l'État en Guyane" />
        <link rel="Search" href="http://www.guyane.gouv.fr/content/search" title="Recherche en Guyane" />
        <link rel="Shortcut icon" href="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/favicon.ico" type="image/x-icon" />

        <script type="text/javascript">
            (function() {
                var head = document.getElementsByTagName('head')[0];
                var printNode = document.createElement('link');
                printNode.rel = 'Alternate';
                printNode.href = "/layout/set/print/Services-de-l-Etat" + document.location.search;
                printNode.media = 'print';
                printNode.title = "Version imprimable";
                head.appendChild(printNode);
            })();
        </script>      <link rel="stylesheet" type="text/css" href="http://www.guyane.gouv.fr/var/ezwebin_site/cache/public/stylesheets/61519a9bbf2690478509b66777e1b2c6_1537255414_all.css" />
        <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
        <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
        <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
        <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
        <!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
        <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

        <!-- CSS: implied media=all -->
        <!-- CSS concatenated and minified via ant build script-->
        <link rel="stylesheet" type="text/css" media="screen,projection" href="http://www.guyane.gouv.fr/extension/ide/design/ide_design/stylesheets/menus2.css" />
        <!-- end CSS-->

        <link rel="stylesheet" type="text/css" href="http://www.guyane.gouv.fr/extension/ide/design/ide_design/stylesheets/print.css" media="print" />


        <!-- All JavaScript at the bottom, except for Modernizr / Respond.
            Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
            For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
            <!--<script type="text/javascript" src="/extension/ide/design/ide_design/javascript/libs/modernizr-2.0.6.min.js"></script>
            <script type="text/javascript" src="/extension/ide/design/ide_design/javascript/jquery-1.3.2.js"></script>
            <script type="text/javascript" src="/extension/ide/design/ide_design/javascript/ui.datepicker.js"></script>
            <script type="text/javascript" src="/extension/ide/design/ide_design/javascript/ui.datepicker_fr.js"></script>-->
            <script type="text/javascript" src="http://www.guyane.gouv.fr/var/ezwebin_site/cache/public/javascript/701f026fe38ac63d055cffc5f2ca0c1c_1537255346.js" charset="utf-8"></script>




            <script type="text/javascript">
                jQuery(function() {
                    jQuery("#datepicker_1,#datepicker_2").datepicker();
                });
            </script>


            <link rel="stylesheet" type="text/css" href="http://www.guyane.gouv.fr/var/ezwebin_site/cache/public/stylesheets/cbbf69723c6e759c8f333744c395b945_1479375147_all.css" />

    </head>
    <body>

        <div id="container" class="home grid">
            <div style="background:url('http://www.guyane.gouv.fr/var/ezwebin_site/storage/images/design/parametres-complementaires/56275-2-fre-FR/Parametres-complementaires.jpg') no-repeat center top;" id="bandeau"></div>

            <header>
                <ul class="liensAccessibilite">
                    <li><a href="guyane.html#main" class="visuallyhidden focusable">Aller au contenu</a></li>
                    <li><a href="guyane.html#first" class="visuallyhidden focusable">Aller au menu</a></li>
                </ul>
                <a href="http://www.guyane.gouv.fr/" title="Les services de l&#39;&Eacute;tat en Guyane">
                    <img src="http://www.guyane.gouv.fr/var/ezwebin_site/storage/images/design/en-guyane/172-19-fre-FR/en-Guyane.jpg" alt="Services de l'Etat en Guyane" width="90" height="115" />
                </a>
                <h1>Les services de l&#39;&Eacute;tat <br /><span><strong>en Guyane</strong></span></h1>


                <!-- Top menu area: START -->
                <nav id="first">    <ul class="dropdown">





                        <li class="item_1 selected">
                            <a class="with_submenu"href="guyane.html"><span>Services de l'État </span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Services-de-l-Etat/La-prefecture-de-la-Guyane">La préfecture de la Guyane</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Services-de-l-Etat/La-sous-prefecture-de-St-Laurent-du-Maroni">La sous-préfecture de St-Laurent-du-Maroni</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Services-de-l-Etat/Horaires-et-coordonnees">Horaires et coordonnées</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Services-de-l-Etat/Les-services-de-l-Etat-en-Guyane">Les services de l'État en Guyane</a>
                                                    </li>


                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>






                        <li class="item_2">
                            <a class="with_submenu"href="http://www.guyane.gouv.fr/Politiques-publiques"><span>Politiques publiques</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Assises-des-Outre-mer">Assises des Outre-mer</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Accords-de-Guyane-Plan-d-Urgence">Accords de Guyane / Plan d'Urgence</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Acces-au-foncier-de-l-Etat">Accès au foncier de l'État</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Plan-de-convergence">Plan de convergence</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Collectivites-locales">Collectivités locales</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Elections">Elections</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Alimentation-agriculture-foret">Alimentation, agriculture, forêt</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Amenagement-logement-energie-environnement">Aménagement, logement, énergie, environnement</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Culture-Education-et-formation">Culture, Education et formation</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Finances-publiques">Finances publiques</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Entreprises-concurrence-consommation-emploi">Entreprises, concurrence, consommation, emploi </a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Jeunesse-sports-cohesion-sociale">Jeunesse, sports, cohésion sociale</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Mer-peche">Mer, pêche</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Sante">Santé</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Protection-de-la-population">Protection de la population</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Securite">Sécurité</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Politiques-publiques/Cooperation">Coopération</a>
                                                    </li>


                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>











                        <li class="item_3">
                            <a class="with_submenu"href="http://www.guyane.gouv.fr/Actualites"><span>Actualités</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Communique-de-presse">Communiqué de presse</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Liste-des-principaux-chantiers-sur-les-routes-de-Guyane">Liste des principaux chantiers sur les routes de Guyane</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Actualites-du-Ministere-des-Outre-Mer">Actualités du Ministère des Outre-Mer</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Horaires-d-ouverture-du-pont-de-Saint-George-de-l-Oyapock">Horaires d'ouverture du pont de Saint-George de l'Oyapock</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Dossier-special-Mont-Baduel">Dossier spécial : Mont Baduel</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Concours-examens">Concours / examens</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Recrutements">Recrutements</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Enquetes-publiques">Enquêtes publiques</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Consultations-publiques">Consultations publiques</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Appels-a-Projet">Appels à Projet</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Marches-publics">Marchés publics</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Annonces-legales">Annonces légales</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Reseaux-sociaux">Réseaux sociaux</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Arretes-prefectoraux">Arrêtés préfectoraux</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Divers">Divers</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Campagnes-nationales">Campagnes nationales</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Actualites/Securite-routiere">Sécurité routière</a>
                                                    </li>


                                                    <li><a href="http://www.guyane.gouv.fr/tags/view/Accueil+et+dossier">Accueil et dossier</a></li>

                                                    <li><a href="http://www.guyane.gouv.fr/tags/view/Actualites">Actualités</a></li>

                                                    <li><a href="http://www.guyane.gouv.fr/tags/view/Les+dossiers">Les dossiers</a></li>

                                                    <li><a href="http://www.guyane.gouv.fr/tags/view/Publications">Publications</a></li>

                                                    <li><a href="http://www.guyane.gouv.fr/Actualites">&gt; Toutes les Actualités</a></li>
                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>











                        <li class="item_4">
                            <a class="with_submenu"href="http://www.guyane.gouv.fr/Publications"><span>Publications</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Publications/Etudes-sur-la-Guyane">Etudes sur la Guyane</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Publications/Actes-de-notoriete">Actes de notoriété</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Publications/Le-recueil-des-actes-administratifs">Le recueil des actes administratifs</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Publications/Etudes-d-impact">Etudes d'impact</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Publications/Galerie-de-photos">Galerie de photos</a>
                                                    </li>


                                                    <li><a href="http://www.guyane.gouv.fr/tags/view/Publications/Actes+administratifs">Actes administratifs</a></li>

                                                    <li><a href="http://www.guyane.gouv.fr/Publications">&gt; Toutes les Publications</a></li>
                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>









                        <li class="item_5 floatright">
                            <a href="http://www.guyane.gouv.fr/Demarches-administratives"><span>Démarches administratives</span></a>

                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>
                                                    <li><a href="http://www.guyane.gouv.fr/rendez-vous">Prendre un rendez-vous</a></li>
                                                    <li><a href="http://www.guyane.gouv.fr/siv">Système d'immatriculation des véhicules</a></li>
                                                    <li><a href="http://www.guyane.gouv.fr/non-gage">Certificat de non-gage</a></li>
                                                    <li><a href="http://www.guyane.gouv.fr/professions-reglementees">Professions réglementées</a></li>
                                                    <li><a href="http://www.guyane.gouv.fr/permis-conduire">Permis de conduire</a></li>
                                                    <li><a href="http://www.guyane.gouv.fr/passeport">Passeport</a></li>
                                                    <li><a href="http://www.guyane.gouv.fr/cni">Carte nationale d'identité</a></li>
                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Demarches-administratives/Etrangers-en-France">Etrangers en France</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Demarches-administratives/Vos-demarches-en-ligne">Vos démarches en ligne</a>
                                                    </li>
                                                    <li><a href="http://www.guyane.gouv.fr/Demarches-administratives">&gt; Toutes les Démarches administratives</a></li>
                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>


                        </li>






                        <li class="item_6 last floatright">
                            <a class="with_submenu"href="http://www.guyane.gouv.fr/Vous-etes"><span>Vous êtes</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Vous-etes/Particulier">Particulier</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Vous-etes/Collectivite">Collectivité</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Vous-etes/Professionnel">Professionnel</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://www.guyane.gouv.fr/Vous-etes/Association">Association</a>
                                                    </li>


                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>


                    </ul>
                    <!-- Top menu content: END -->
                </nav>


                <div id="header_contacts">
                    <div id="contacts_txt">
                        <a href="http://www.guyane.gouv.fr/Contactez-nous">Contacts</a>
                    </div>
                    <div id="contacts_bt">
                        <a href="http://www.guyane.gouv.fr/Contactez-nous">
                            <img src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/bt-contact.png" alt="Contacts" />
                        </a>
                    </div>
                </div>

                <div class="menuDeroulant" id="header_choix_site_departement_region">
                    <ul class="navigation">
                        <li class="toggleSubMenu"><span>Sites de la région</span>
                        </li>
                    </ul>
                </div>
                <form id="header_recherche" action="http://www.guyane.gouv.fr/content/search" method="get">
                    <label class="hidden" for="recherche">recherche</label>
                    <input type="text" id="recherche" name="SearchText" value="" title="recherche" />
                    <input type="image" id="recherche_bt" name="SearchButton" src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/bt-ok.png" alt="rechercher" />
                </form>
                <div id="header_reseaux_sociaux">
                    <a href="http://twitter.com/PrefGuyane973" target="_blank" title="Retrouvez-nous sur Twitter - nouvelle fen&ecirc;tre"><img alt="twitter" src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/btn-twitter-bleu.png" /></a>
                    <a href="http://facebook.com/prefecturedelaguyane" target="_blank" title="Retrouvez-nous sur Facebook - nouvelle fen&ecirc;tre"><img alt="facebook" src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/btn-fb-bleu.png" /></a>
                </div>
                <br class="clearfix" />
                <!-- Top menu area: END -->
            </header>
            <br class="clearfix" />
            <div id="main" role="main">
                <div class="section-top">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item-link">Accueil</a>
                        <span>&gt;</span>      <span class="last">Aides publiques</span>
                    </div>
                </div>

                <div class="section-main">

                    <iframe
                        style="width: 100%; border: 0; height: 1600px;"
                        name="Aides Territoires"
                        src="/aides/?perimeter=105652-guyane&integration=integration">
                    </iframe>

                    <div class="cleaner">&nbsp;</div>
                </div>
            </div>
            <footer>
                <div id="fondfooter" class="clearfix">
                    <ul class="footer footer_gauche">

                        <li>
                            <a href="guyane.html">Services de l'État </a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Politiques-publiques">Politiques publiques</a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Actualites">Actualités</a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Publications">Publications</a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Demarches-administratives">Démarches administratives</a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Vous-etes">Vous êtes</a>                </li>
                        <li>
                            &gt; <a href="http://www.guyane.gouv.fr/Vous-etes/Particulier">Particulier</a>                </li>
                        <li>
                            &gt; <a href="http://www.guyane.gouv.fr/Vous-etes/Collectivite">Collectivité</a>                </li>
                        <li>
                            &gt; <a href="http://www.guyane.gouv.fr/Vous-etes/Professionnel">Professionnel</a>                </li>
                        <li>
                            &gt; <a href="http://www.guyane.gouv.fr/Vous-etes/Association">Association</a>                </li>
                    </ul>
                    <ul class="footer footer_centre">

                        <li>
                            <a href="http://www.guyane.gouv.fr/syndication/listexport" title="RSS">RSS
                            </a>
                        </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Outils/FAQ">FAQ</a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/content/view/sitemap/2">Plan du site
                            </a>
                        </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Outils/Mentions-legales">Mentions légales</a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Contactez-nous">Contactez-nous</a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Outils/Glossaire">Glossaire</a>                </li>
                        <li>
                            <a href="http://www.guyane.gouv.fr/Outils/Information-sur-les-cookies">Information sur les cookies</a>                </li>
                        <li>
                            <ul id="rezo">
                                <li><a href="http://twitter.com/PrefGuyane973" target="_blank" title="Retrouvez-nous sur Twitter - nouvelle fen&ecirc;tre"><img alt="twitter" src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/btn-twitter-bleu.png" /></a></li>
                                <li><a href="http://facebook.com/prefecturedelaguyane" target="_blank" title="Retrouvez-nous sur Facebook - nouvelle fen&ecirc;tre"><img alt="facebook" src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/btn-fb-bleu.png" /></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="footer footer_droite">

                        <li>
                            <a href="http://www.guyane.gouv.fr/Publications/Le-recueil-des-actes-administratifs"><span>R.A.A.</span> : Recueil des actes administratifs
                            </a>
                        </li>
                        <li>
                            <a href="http://references.modernisation.gouv.fr/referentiel" target="_blank "title="Visitez le site http://references.modernisation.gouv.fr/referentiel - Nouvelle fen&ecirc;tre" class="menu-item-link" rel="/Liens-colonne-3-pied-de-page/Referentiel-General-d-Accessibilite"><span>RGAA</span> : Référentiel Général d'Accessibilité
                            </a>
                        </li>
                        <li><a class="menu-item-link" href="http://www.guyane.gouv.fr/ial" title="Information acquéreur locataire"><span>IAL</span> : Information acquéreur locataire</a></li>
                        <li><a href="http://www.guyane.gouv.fr/Termites-merules" title="Informations sur les termites et les mérules dans votre département">Termites et mérules</a></li>
                    </ul>


                    <ul class="footer footer_logos">
                        <li id=footer_marianne class="ir roll">République française</li>
                        <li>
                            Tous droits réservés SIG/DILA<br />République Française © 2011-2012</li>
                        <li><a href="http://www.service-public.fr" id="footer_sp" title="Visiter le site http://www.service-public.fr - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />www.service-public.fr</a>
                        </li>
                        <li><a href="http://www.legifrance.gouv.fr" id="footer_legifrance" title="Visiter le site http://www.legifrance.gouv.fr - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />legifrance.fr</a>
                        </li>
                        <li><a href="http://www.france.fr" id="footer_france" title="Visiter le site http://www.france.fr - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />france.fr</a>
                        </li>
                        <li><a href="http://www.gouvernement.fr" id="footer_gouvernement" title="Visiter le site http://www.gouvernement.fr - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />www.gouvernement.fr</a>
                        </li>
                        <li><a href="http://www.data.gouv.fr" id="footer_data_gouv" title="Visiter le site http://www.data.gouv.fr - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://www.guyane.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />data.gouv.fr</a>
                        </li>

                    </ul>
                </div>
            </footer>
        </div>                <!-- Marqueur Xiti -->


            <div id="cookies-banner" style="display:none;">
                <div class="texte">En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies pour réaliser des statistiques de visites.</div>
                <div class="boutons">
                    <a href="http://www.guyane.gouv.fr/info-cookies">En savoir plus</a>
                    <a href="guyane.html#" onclick="javascript:accepter()">Accepter</a>
                </div>
            </div>    <script type="text/javascript">
            <!--


(function( $ )
    {
        var searchtext = document.getElementById('recherche');
        if ( searchtext && !searchtext.disabled )
        {
            jQuery( searchtext ).val( searchtext.title
            ).addClass('passive'
            ).focus(function(){
                if ( this.value === this.title )
                {
                    jQuery( this ).removeClass('passive').val('');
                }
            }).blur(function(){
                if ( this.value === '' )
                {
                    jQuery( this ).addClass('passive').val( this.title );
                }
            });

        }
    })( jQuery );



// -->
        </script>


    </body>
        </html>
