<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-FR" lang="fr-FR">
    <head>



        <title>Direction départementale des territoires et de la mer de la Somme – DDTM 80 / Agriculture, environnement, aménagement et logement / Services de l'Etat / Accueil - Les services de l'État dans la Somme</title>



        <meta name="Content-Type" content="text/html; charset=utf-8" />

        <meta name="Content-language" content="fr-FR" />

        <meta name="author" content="Ministère de l'Intérieur" />

        <meta name="copyright" content="Ministère de l'Intérieur" />

        <meta name="description" content="Portail de l'Etat dans la Somme" />

        <meta name="keywords" content="etat, préfecture" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


        <meta name="MSSmartTagsPreventParsing" content="TRUE" />


        <link rel="Shortcut icon" href="http://somme.gouv.fr/extension/ide/design/ide_design/images/favicon.ico" type="image/x-icon" />

        <link rel="Home" href="http://somme.gouv.fr/" title="Les services de l'État dans la Somme" />
        <link rel="Index" href="http://somme.gouv.fr/" />
        <link rel="Top"  href="http://somme.gouv.fr/" title="Direction départementale des territoires et de la mer de la Somme – DDTM 80 / Agriculture, environnement, aménagement et logement / Services de l'Etat / Accueil - Les services de l'État dans la Somme" />
        <link rel="Search" href="http://somme.gouv.fr/content/search" title="Recherche dans la Somme" />
        <link rel="Shortcut icon" href="http://somme.gouv.fr/extension/ide/design/ide_design/images/favicon.ico" type="image/x-icon" />
        <link rel="Alternate" type="application/rss+xml" title="RSS" href="http://somme.gouv.fr/syndication/flux/rss_feed_69" /><link rel="Alternate" href="http://somme.gouv.fr/layout/set/print/Services-de-l-Etat/Agriculture-environnement-amenagement-et-logement/Direction-departementale-des-territoires-et-de-la-mer-de-la-Somme-DDTM-80" media="print" title="Version imprimable" />      <link rel="stylesheet" type="text/css" href="http://somme.gouv.fr/var/ide_site/cache/public/stylesheets/89d0c6f47293a106fcceb31be9440561_1529419706_all.css" />
        <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
        <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
        <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
        <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
        <!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
        <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

        <!-- CSS: implied media=all -->
        <!-- CSS concatenated and minified via ant build script-->
        <link rel="stylesheet" type="text/css" media="screen,projection" href="http://somme.gouv.fr/extension/ide/design/ide_design/stylesheets/menus2.css" />
        <link href="http://somme.gouv.fr/var/storage/packages/local/ide_titre_blanc/files/default/file/site-colors.css" rel="stylesheet" type="text/css" />
        <link href="http://somme.gouv.fr/var/storage/packages/local/ide_titre_blanc/files/default/file/classes-colors.css" rel="stylesheet" type="text/css" />
        <!-- end CSS-->
        <link rel="stylesheet" type="text/css" href="http://somme.gouv.fr/extension/ide/design/ide_design/stylesheets/print.css" media="print" />


        <!-- All JavaScript at the bottom, except for Modernizr / Respond.
            Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
            For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
            <!--<script type="text/javascript" src="/extension/ide/design/ide_design/javascript/libs/modernizr-2.0.6.min.js"></script>
            <script type="text/javascript" src="/extension/ide/design/ide_design/javascript/jquery-1.3.2.js"></script>
            <script type="text/javascript" src="/extension/ide/design/ide_design/javascript/ui.datepicker.js"></script>
            <script type="text/javascript" src="/extension/ide/design/ide_design/javascript/ui.datepicker_fr.js"></script>-->
            <script type="text/javascript" src="http://somme.gouv.fr/var/ide_site/cache/public/javascript/c88becbcff0630f7fcd2ccbc939927ee_1529419707.js" charset="utf-8"></script>




            <script type="text/javascript">
                jQuery(function() {
                    jQuery("#datepicker_1,#datepicker_2").datepicker();
                });
            </script>



    </head>
    <body>

        <div id="container" class="article">
            <div style="background:url('http://somme.gouv.fr/var/ide_site/storage/images/design/parametres-complementaires/67315-1-fre-FR/Parametres-complementaires.png') no-repeat center top;" id="bandeau"></div>

            <header>
                <ul class="liensAccessibilite">
                    <li><a href="somme.html#main" class="visuallyhidden focusable">Aller au contenu</a></li>
                    <li><a href="somme.html#first" class="visuallyhidden focusable">Aller au menu</a></li>
                </ul>
                <a href="http://somme.gouv.fr/" title="Les services de l&#39;&Eacute;tat dans la Somme">
                    <img src="http://somme.gouv.fr/var/ide_site/storage/images/design/dans-la-somme/172-90-fre-FR/dans-la-Somme.jpg" alt="Services de l'Etat en Somme" width="83" height="105" />
                </a>
                <h1>Les services de l&#39;&Eacute;tat <br /><span><strong>dans la Somme</strong></span></h1>


                <!-- Top menu area: START -->
                <nav id="first">    <ul class="dropdown">





                        <li class="item_1 selected">
                            <a class="with_submenu"href="http://somme.gouv.fr/Services-de-l-Etat"><span>Services de l'Etat</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Prefecture-et-sous-prefectures">Préfecture et sous-préfectures</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Consommation-alimentation-animaux">Consommation, alimentation, animaux</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Reseaux-sociaux-charte-de-moderation-et-d-engagement">Réseaux sociaux : charte de modération et d'engagement</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Agriculture-environnement-amenagement-et-logement">Agriculture, environnement, aménagement et logement</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Culture">Culture</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Defense">Défense</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Informations-sur-l-Education">Informations sur l'Éducation</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Finances">Finances </a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Sante-et-cohesion-sociale">Santé et cohésion sociale</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Securite">Sécurité</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Travail-et-emploi">Travail et emploi</a>
                                                    </li>


                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>






                        <li class="item_2">
                            <a class="with_submenu"href="http://somme.gouv.fr/Politiques-publiques"><span>Politiques publiques</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Agriculture">Agriculture</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Alimentation-consommation-et-commerce">Alimentation, consommation et commerce</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Amenagement-du-territoire-et-urbanisme">Aménagement du territoire et urbanisme</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Animaux">Animaux</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Citoyennete-elections">Citoyenneté, élections</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Collectivites-territoriales">Collectivités territoriales</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Culture">Culture</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Defense">Défense</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Droits-des-femmes">Droits des femmes</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Economie-et-emploi">Économie et emploi</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Education">Éducation</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Environnement">Environnement</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Habitat-et-construction">Habitat et construction</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Jeunesse-sport-et-vie-associative">Jeunesse, sport et vie associative</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Mer-maritime-et-securite-maritime">Mer, maritime, et sécurité maritime</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Observatoire-des-territoires">Observatoire des territoires</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Risques">Risques</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Sante">Santé</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Securite-et-protection-de-la-population">Sécurité et protection de la population</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Solidarite-et-cohesion-sociale">Solidarité et cohésion sociale</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Transports-deplacement-education-et-securite-routiere">Transports, déplacement, éducation et sécurité routière</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Politiques-publiques/Zone-de-securite-prioritaire-ZSP">Zone de sécurité prioritaire (ZSP)</a>
                                                    </li>


                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>











                        <li class="item_3">
                            <a class="with_submenu"href="http://somme.gouv.fr/Actualites"><span>Actualités</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://somme.gouv.fr/Actualites/Nous-suivre-sur-Facebook-et-Twitter">Nous suivre sur Facebook et Twitter</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Actualites/Salle-de-presse">Salle de presse</a>
                                                    </li>


                                                    <li><a href="http://somme.gouv.fr/tags/view/Accueil+et+dossier">Accueil et dossier</a></li>

                                                    <li><a href="http://somme.gouv.fr/tags/view/Actualites">Actualités</a></li>

                                                    <li><a href="http://somme.gouv.fr/tags/view/Publications">Publications</a></li>

                                                    <li><a href="http://somme.gouv.fr/Actualites">&gt; Toutes les Actualités</a></li>
                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>











                        <li class="item_4">
                            <a class="with_submenu"href="http://somme.gouv.fr/Publications"><span>Publications</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Marches-publics">Marchés publics</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Le-guide-du-maire">Le guide du maire</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Rapport-d-activite-des-services-de-l-Etat-dans-la-Somme-Annee-2015">Rapport d'activité des services de l'Etat dans la Somme - Année 2015</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Mission-de-service-civique-en-prefecture2">Mission de service civique en préfecture</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Annonces-judiciaires-et-legales">Annonces judiciaires et légales</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Lettre-mensuelle-L-Etat-dans-la-Somme">Lettre mensuelle &quot;L'Etat dans la Somme&quot;</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Recrutement">Recrutement</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Recueil-des-actes-administratifs-du-departement-de-la-Somme">Recueil des actes administratifs du département de la Somme</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Publications/Environnement-Consultation-publique">Environnement - Consultation publique</a>
                                                    </li>


                                                    <li><a href="http://somme.gouv.fr/Publications">&gt; Toutes les Publications</a></li>
                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>









                        <li class="item_5 floatright">
                            <a href="http://somme.gouv.fr/Demarches-administratives"><span>Démarches administratives</span></a>

                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>
                                                    <li><a href="http://somme.gouv.fr/rendez-vous">Prendre un rendez-vous</a></li>
                                                    <li><a href="http://somme.gouv.fr/siv">Système d'immatriculation des véhicules</a></li>
                                                    <li><a href="http://somme.gouv.fr/non-gage">Certificat de non-gage</a></li>
                                                    <li><a href="http://somme.gouv.fr/professions-reglementees">Professions réglementées</a></li>
                                                    <li><a href="http://somme.gouv.fr/permis-conduire">Permis de conduire</a></li>
                                                    <li><a href="http://somme.gouv.fr/passeport">Passeport</a></li>
                                                    <li><a href="http://somme.gouv.fr/cni">Carte nationale d'identité</a></li>
                                                    <li>
                                                        <a href="http://somme.gouv.fr/Demarches-administratives/Controle-medical-pour-le-permis-de-conduire" title="Visiter le site http://somme.gouv.fr/Demarches-administratives/Controle-medical-pour-le-permis-de-conduire - nouvelle fenêtre" target="_blank">Contrôle médical pour le permis de conduire</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://somme.gouv.fr/Services-de-l-Etat/Prefecture-et-sous-prefectures/La-prefecture-Coordonnees-et-horaires-d-ouverture" title="Visiter le site http://somme.gouv.fr/Services-de-l-Etat/Prefecture-et-sous-prefectures/La-prefecture-Coordonnees-et-horaires-d-ouverture - nouvelle fenêtre" target="_blank">Horaires et coordonnées de la préfecture</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://somme.gouv.fr/Demarches-administratives/Mes-demarches-en-1-clic" title="Visiter le site http://somme.gouv.fr/Demarches-administratives/Mes-demarches-en-1-clic - nouvelle fenêtre" target="_blank">Mes démarches en 1 clic</a>
                                                    </li>
                                                    <li><a href="http://somme.gouv.fr/Demarches-administratives">&gt; Toutes les Démarches administratives</a></li>
                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>


                        </li>






                        <li class="item_6 last floatright">
                            <a class="with_submenu"href="http://somme.gouv.fr/Vous-etes"><span>Vous êtes...</span></a>
                            <div class="sub_menu" >
                                <div class="block">
                                    <div class="block_int"><div class="block_int_2"><div class="block_int_3 clearfix">
                                                <ul>

                                                    <li>
                                                        <a href="http://somme.gouv.fr/Vous-etes/Particulier">Particulier</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Vous-etes/Professionnel">Professionnel</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Vous-etes/Association">Association</a>
                                                    </li>


                                                    <li>
                                                        <a href="http://somme.gouv.fr/Vous-etes/Collectivite">Collectivité</a>
                                                    </li>


                                                </ul>
                                            </div><!--/block_int--></div><!--/block_int--></div><!--/block_int-->
                                            <div class="block_bottom"><div class="block_bottom_1"><div class="block_bottom_2"></div></div></div><!--/block_bottom-->
                                </div><!--/block-->
                            </div>

                        </li>


                    </ul>
                    <!-- Top menu content: END -->
                </nav>


                <div id="header_contacts">
                    <div id="contacts_txt">
                        <a href="http://somme.gouv.fr/Contactez-nous">Contacts</a>
                    </div>
                    <div id="contacts_bt">
                        <a href="http://somme.gouv.fr/Contactez-nous">
                            <img src="http://somme.gouv.fr/extension/ide/design/ide_design/images/bt-contact.png" alt="Contacts" />
                        </a>
                    </div>
                </div>

                <div class="menuDeroulant" id="header_choix_site_departement_region">
                    <ul class="navigation">
                        <li class="toggleSubMenu"><span>Sites de la région</span>
                            <ul class="subMenu">
                                <li><a href="http://www.prefectures-regions.gouv.fr/nord-pas-de-calais-picardie"  target="_blank" title="Site de la préfecture de région Nord - Pas-de-Calais - Picardie">Site de la région Nord - Pas-de-Calais - Picardie</a></li>
                                <li><a href="http://www.aisne.gouv.fr"  target="_blank" title="Site de la préfecture de l'Aisne">Préfecture de l'Aisne</a></li>
                                <li><a href="http://www.oise.gouv.fr"  target="_blank" title="Site de la préfecture de l'Oise">Préfecture de l'Oise</a></li>
                                <li><a href="http://www.nord.gouv.fr/"  target="_blank" title="Site de la préfecture du Nord">Préfecture du Nord</a></li>
                                <li><a href="http://www.pas-de-calais.gouv.fr/"  target="_blank" title="Site de la préfecture du Pas-de-Calais">Préfecture Pas-de-Calais</a></li>
                                <li><a href="http://www.prefectures-regions.gouv.fr/nord-pas-de-calais-picardie"  target="_blank" title="Site de la DRJSCS Nord-Pas-de-Calais-Picardie">DRJSCS Nord-Pas-de-Calais-Picardie</a></li>
                                <li><a href="http://www.draaf.nord-pas-de-calais-picardie.agriculture.gouv.fr/"  target="_blank" title="Site de la DRAAF Nord-Pas-de-Calais-Picardie">DRAAF Nord-Pas-de-Calais-Picardie</a></li>
                                <li><a href="http://www.culturecommunication.gouv.fr/Regions/Drac-Nord-Pas-de-Calais-Picardie"  target="_blank" title="Site de la DRAC Nord-Pas-de-Calais-Picardie">DRAC Nord-Pas-de-Calais-Picardie</a></li>
                                <li><a href="http://nord-pas-de-calais-picardie.direccte.gouv.fr/"  target="_blank" title="Site de la Direccte Nord-Pas-de-Calais-Picardie">DIRECCTE Nord-Pas-de-Calais-Picardie</a></li>
                                <li><a href="http://www.ars.nord-pas-de-calais-picardie.sante.fr/NPCPIC.185819.0.html"  target="_blank" title="Site de l'ARS Nord-Pas-de-Calais-Picardie">ARS Nord-Pas-de-Calais-Picardie</a></li>
                                <li><a href="http://www.ac-amiens.fr/"  target="_blank" title="Site de l'Académie d'Amiens">Académie d'Amiens</a></li>
                                <li><a href="http://www.pole-emploi.fr/region/picardie/index.html"  target="_blank" title="Site du Pôle-Emploi de Picardie">Pôle-Emploi Picardie</a></li>
                                <li><a href="http://www.dir-nord.developpement-durable.gouv.fr/"  target="_blank" title="Site de la direction interdépartementale des routes Nord">DIR Nord</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <form id="header_recherche" action="http://somme.gouv.fr/content/search" method="get">
                    <label class="hidden" for="recherche">recherche</label>
                    <input type="text" id="recherche" name="SearchText" value="" title="recherche" />
                    <input type="image" id="recherche_bt" name="SearchButton" src="http://somme.gouv.fr/extension/ide/design/ide_design/images/bt-ok.png" alt="rechercher" />
                </form>
                <br class="clearfix" />
                <!-- Top menu area: END -->
            </header>
            <br class="clearfix" />
            <div id="main" role="main">

                <!-- Path area: START -->
                <div class="section-top">
                    <div class="breadcrumb">
                        <!-- Path content: START -->
                        <a href="http://somme.gouv.fr/" class="breadcrumb-item-link">Accueil</a>
                        <span>&gt;</span>      <span class="last">Aides publiques</span>
                        <!-- Path content: END -->
                    </div>
                    <ul class="menu_outils">
                        <li><a title="imprimer cette page" href="http://somme.gouv.fr/layout/set/print/Services-de-l-Etat/Agriculture-environnement-amenagement-et-logement/Direction-departementale-des-territoires-et-de-la-mer-de-la-Somme-DDTM-80"  onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=1024,height=768,directories=no,location=no'); return false;"><img alt="imprimer cette page" src="http://somme.gouv.fr/extension/ide/design/ide_design/images/imprimer.png" /></a></li>
                    </ul>
                    <ul class="menu_outils">
                    </ul>
                </div>
                <div class="clearfix"></div>                        <!-- Path area: END -->

                <!-- Toolbar area: START -->
                <!-- Toolbar area: END -->
                <!-- MainContent area: START -->



                <div class="section_main">
                    <iframe
                        style="width: 100%; border: 0; height: 1600px;"
                        name="Aides Territoires"
                        src="/aides/?perimeter=105748-somme&integration=integration">
                    </iframe>
                    <div class="cleaner">&nbsp;</div>
                </div>

            </div>

            <footer>
                <div id="fondfooter" class="clearfix">
                    <ul class="footer footer_gauche">

                        <li>
                            <a href="http://somme.gouv.fr/Services-de-l-Etat">Services de l'Etat</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Politiques-publiques">Politiques publiques</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Actualites">Actualités</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Publications">Publications</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Demarches-administratives">Démarches administratives</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Vous-etes">Vous êtes...</a>                </li>
                        <li>
                            &gt; <a href="http://somme.gouv.fr/Vous-etes/Particulier">Particulier</a>                </li>
                        <li>
                            &gt; <a href="http://somme.gouv.fr/Vous-etes/Professionnel">Professionnel</a>                </li>
                        <li>
                            &gt; <a href="http://somme.gouv.fr/Vous-etes/Association">Association</a>                </li>
                        <li>
                            &gt; <a href="http://somme.gouv.fr/Vous-etes/Collectivite">Collectivité</a>                </li>
                    </ul>
                    <ul class="footer footer_centre">

                        <li>
                            <a href="http://somme.gouv.fr/content/view/sitemap"  target="_blank "title="Visitez le site /content/view/sitemap - Nouvelle fen&ecirc;tre" class="menu-item-link" rel="/Outils/Plan-du-site">Plan du site
                            </a>
                        </li>
                        <li>
                            <a href="http://somme.gouv.fr/syndication/listexport" title="RSS">RSS
                            </a>
                        </li>
                        <li>
                            <a href="http://somme.gouv.fr/Outils/Horaires-et-coordonnees">Horaires et coordonnées</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Outils/FAQ">FAQ</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Publications/Mentions-legales">Mentions légales</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Contactez-nous">Contactez-nous</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Outils/Glossaire">Glossaire</a>                </li>
                        <li>
                            <a href="http://somme.gouv.fr/Outils/Information-sur-les-cookies">Information sur les cookies</a>                </li>
                    </ul>
                    <ul class="footer footer_droite">

                        <li>
                            <a href="http://www.picardie.biep.fonction-publique.gouv.fr/common/jobSearch"  target="_blank "title="Visitez le site http://www.picardie.biep.fonction-publique.gouv.fr/common/jobSearch - Nouvelle fen&ecirc;tre" class="menu-item-link" rel="/Liens-colonne-3-pied-de-page/BRIEP"><span>BRIEP</span> : Bourse régionale interministérielle de l'emploi public en Picardie
                            </a>
                        </li>
                        <li>
                            <a href="http://www.interieur.gouv.fr"  target="_blank "title="Visitez le site http://www.interieur.gouv.fr - Nouvelle fen&ecirc;tre" class="menu-item-link" rel="/Liens-colonne-3-pied-de-page/ITR"><span>ITR</span> : Ministere de l'Intérieur
                            </a>
                        </li>
                        <li>
                            <a href="http://somme.gouv.fr/lettreinformation/abonnement" title="Abonnement">Abonnement à la lettre des services de l'Etat
                            </a>
                        </li>
                        <li>
                            <a href="http://somme.gouv.fr/Publications/Recueil-des-actes-administratifs-du-departement-de-la-Somme-et-de-la-region-Picardie"  target="_blank "title="Visitez le site http://somme.gouv.fr/Publications/Recueil-des-actes-administratifs-du-departement-de-la-Somme-et-de-la-region-Picardie - Nouvelle fen&ecirc;tre" class="menu-item-link" rel="/Liens-colonne-3-pied-de-page/RAA"><span>RAA</span> : Recueil des Actes Administratifs
                            </a>
                        </li>
                        <li>
                            <a href="http://somme.gouv.fr/Politiques-publiques/Alimentation-consommation-et-commerce/Commerce/CDAC-Commission-departementale-d-amenagement-commercial">CDAC - Commission départementale d'aménagement commercial</a>                </li>
                        <li>
                            <a href="http://www.biep.fonction-publique.gouv.fr/common/jobSearch"  target="_blank "title="Visitez le site http://www.biep.fonction-publique.gouv.fr/common/jobSearch - Nouvelle fen&ecirc;tre" class="menu-item-link" rel="/Liens-colonne-3-pied-de-page/BIEP"><span>BIEP</span> : Bourse interministérielle de l'emploi public
                            </a>
                        </li>
                        <li>
                            <a href="http://somme.gouv.fr/Politiques-publiques/Economie-et-emploi/Economie/Taxe-d-apprentissage">Taxe d'apprentissage</a>                </li>
                        <li><a class="menu-item-link" href="http://somme.gouv.fr/ial" title="Information acquéreur locataire"><span>IAL</span> : Information acquéreur locataire</a></li>
                        <li><a href="http://somme.gouv.fr/Termites-merules" title="Informations sur les termites et les mérules dans votre département">Termites et mérules</a></li>
                    </ul>



                    <ul class="footer footer_logos" id="">
                        <li id=footer_marianne class="ir roll">République française</li>
                        <li>
                            Tous droits réservés SIG/DILA<br />
                            République Française © 2011-2012</li>
                        <li><a href="http://www.service-public.fr/" id="footer_sp" title="Visiter le site http://www.service-public.fr/ - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://somme.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />www.service-public.fr</a></li>
                        <li><a href="http://www.legifrance.gouv.fr/" id="footer_legifrance" title="Visiter le site http://www.legifrance.gouv.fr/ - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://somme.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />legifrance.fr</a></li>
                        <li><a href="http://www.france.fr/" id="footer_france" title="Visiter le site http://www.france.fr/ - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://somme.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />france.fr</a></li>
                        <li><a href="http://www.gouvernement.fr/" id="footer_gouvernement" title="Visiter le site http://www.gouvernement.fr/ - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://somme.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />www.gouvernement.fr</a></li>
                        <li><a href="http://www.data.gouv.fr/" id="footer_data_gouv" title="Visiter le site http://www.data.gouv.fr/ - nouvelle fenêtre" target="_blank" class="ir roll"><img src="http://somme.gouv.fr/extension/ide/design/ide_design/images/site-ext.png" />data.gouv.fr</a></li>

                    </ul>
                </div>
            </footer>
        </div>                <!-- Marqueur Xiti -->




        <script type="text/javascript">
            <!--

xtnv = document;        //parent.document or top.document or document
xtsd = "http://logi241";
xt1 = ".somme.gouv.fr";
xtsite = "481985";
xtn2 = "4";        // level 2 site ID
xtpage = "Services-de-l-Etat::Agriculture-environnement-amenagement-et-logement::Direction-departementale-des-territoires-et-de-la-mer-de-la-Somme-DDTM-80";        //page name (with the use of :: to create chapters)
xtdi = "";        //implication degree
xt_multc = "";        //all the xi indicators (like "&x1=...&x2=....&x3=...")
xt_an = "";        //user ID
xt_ac = "";        //category ID
//do not modify below
if (window.xtparam!=null){window.xtparam+="&ac="+xt_ac+"&an="+xt_an+xt_multc;}
else{window.xtparam="&ac="+xt_ac+"&an="+xt_an+xt_multc;};

//-->
        </script>

        <script type="text/javascript" src="http://somme.gouv.fr/var/ide_site/storage/original/application/36589b14b37ee11f867bbe673bcafe6a.js"></script>
        <noscript>
            <img width="1" height="1" alt="" src="http://logi241.xiti.com/hit.xiti?s=481985&s2=4&p=Services-de-l-Etat::Agriculture-environnement-amenagement-et-logement::Direction-departementale-des-territoires-et-de-la-mer-de-la-Somme-DDTM-80&di=&an=&ac=" >
        </noscript>
            <!-- JavaScript at the bottom for fast page loading -->

            <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
            <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->
            <!--<script type="text/javascript" src="/extension/ide/design/ide_design/javascript/libs/jquery-1.6.4.min.js"></script>-->

            <!-- scripts concatenated and minified via ant build script-->
            <!--<script type="text/javascript" src="/extension/ide/design/ide_design/javascript/jquery-ui.pack.js"></script>
            <script type="text/javascript" src="/extension/ide/design/ide_design/javascript/hoverIntent.js"></script>
            <script type="text/javascript" src="/extension/ide/design/ide_design/javascript/jHeadline.js"></script>
            <script defer src="/extension/ide/design/ide_design/javascript/plugins.js"></script>
            <script defer src="/extension/ide/design/ide_design/javascript/script.js"></script>-->
            <script type="text/javascript" src="http://somme.gouv.fr/var/ide_site/cache/public/javascript/83b9cd9072b163d13f399a282f1bc4e1_1529419707.js" charset="utf-8"></script>


            <script type="text/javascript">
            <!--


(function( $ )
    {
        var searchtext = document.getElementById('recherche');
        if ( searchtext && !searchtext.disabled )
        {
            jQuery( searchtext ).val( searchtext.title
            ).addClass('passive'
            ).focus(function(){
                if ( this.value === this.title )
                {
                    jQuery( this ).removeClass('passive').val('');
                }
            }).blur(function(){
                if ( this.value === '' )
                {
                    jQuery( this ).addClass('passive').val( this.title );
                }
            });

        }
    })( jQuery );



// -->
        </script>


    </body>
        </html>
