div #what-image {
    margin-top: -150px;

    #home-main-image {
        float: right;
        width: 700px;
        max-width: 100%;
        display: block;
    }
}

.fr-centered {
    text-align: center;
}

.fr-uppercase {
    text-transform: uppercase;
}

.fr-width-100 {
    max-width: 100%;
}

.fr-icon-xs {
    width: 40px;
    height: 25px;
}

.fr-background-alt {
    background-color: #F6F8FC;
}

.fr-footer-content__link {
    font-weight: 700;
    font-size: medium;
}