.fr-centered {
    text-align: center;
}

.fr-uppercase {
    text-transform: uppercase;
}

.fr-width-100 {
    max-width: 100%;
}

.fr-height--auto {
    height: auto !important;
}

.fr-icon-xs {
    width: 40px;
    height: 25px;
}

.fr-background-alt {
    background-color: #F6F8FC;
}

.fr-background-alt-pink {
    background-color: #ffc29e3d;
}

.fr-footer-content__link {
    font-weight: 700;
    font-size: medium;
}

.fr-box-shadow__none {
    box-shadow: none;
}

.fr-list__none {
    list-style: none;
}

.fr-display__inline {
    display: inline;
}

// Aid detail style

ul.aid-categories ul::before {
    content: "> "
}

ul.aid-categories ul li + li::before {
    content: " + "
}

#aid > .aid-content > .aid-details p {
    margin-bottom: 1rem;
}

// Home style 

div #what-image {
    margin-top: -150px;

    #home-main-image {
        float: right;
        width: 700px;
        max-width: 100%;
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    div #what-image {
        margin-top: 0;
    }
}