/**
 * Only application wide styles should go here.
 *
 * For custom styling, go to the custom.scss file.
 *
 */

.dark-background {
    @extend .bg-dark;
    @extend .text-white;

    background:
        transparent
        linear-gradient(
            0deg,
            #772986 0%,
            #592D87 46%,
            #4B2F87 63%,
            #3A3188 100%)
        0% 0% no-repeat padding-box;
}

.dark-background .main-content > article,
.dark-background .main-content > div.article {
    background-color: white;
    border-radius: 1.5rem 0 1.5rem 1.5rem;
    @extend .py-4;
    @extend .px-4;
    @extend .text-dark;
    @extend .shadow;

    #page-content {
        @extend .px-5;
        @extend .pt-3;
        @extend .pb-5;
        line-height: 1.6;

        h3, h2 {
            @extend .pt-3;
            @extend .mb-4;
        }
    }
}

.light-background {
    background:
        transparent
        linear-gradient(
            0deg,
            #efeeff 30%,
            #dfddff 50%,
            #a29cfe 100%)
        0% 0% no-repeat padding-box;
}

body > footer {
    @extend .bg-dark;
    @extend .text-light;
    padding: 1rem 0 4rem 0;

    @include media-breakpoint-up(lg) {
        padding-top: 4rem;
    }

    h2, h3, h4 {
        font-family: $font-family-base;
    }

    a {
        @extend .text-light;

        &:visited {
            color: #a899a8 !important;

            &:focus {
                color: #d8d4c0 !important;
            }

            &:hover {
                color: #d8d4c0 !important;
            }
        }
    }

    .ml-btn {
        @extend .btn;
        @extend .btn-outline-light;

        &:hover {
            @extend .text-dark;
        }
    }

    div.columns {
        @extend .row;

        @include media-breakpoint-up(lg) {
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
        }
    }

    div.logos {
        img {
            margin-bottom: 1rem;
        }

        .ministry-logo {
            background-color: #fff;
            padding: 1rem;
        }

        a[href^="http"]::after {
            display: none;
        }
    }

    div.logos-1 {
        @extend .col-lg-3;
        @extend .d-none;
        @extend .d-lg-block;

        img {
            width: 220px;
        }

        hr {
            background-color: white;
            color: white;
            border: none;
            height: 3px;
            width: 5rem;
            max-width: 5rem;
            margin-right: auto;
            margin-left: 0;
        }
    }

    div.newsletter {
        @extend .col-12;
        @extend .col-lg-6;
        @extend .order-2;
        @extend .order-lg-1;
        text-align: center;

        p {
            font-size: 1.25rem;
            font-weight: bold;
            max-width: 550px;
            margin: 1rem auto 1rem auto;
        }

        a:hover {
            color: $font-color !important;
        }

        @include media-breakpoint-up(sm) {
            a + a {
                margin-left: 2rem;
            }
        }

        div.subscribe-newsletter {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 2px #fff solid;

            a[href^='http']::after{
                display: none;
            }
        }

    }

    div.logos-2 {
        @extend .row;
        @extend .col-12;
        @extend .col-lg-3;
        @extend .order-1;
        @extend .order-lg-2;
        text-align: center;
        margin-left: 0 !important;
        margin-right: 0 !important;

        a:after {
            content: none;
        }

        a {
            @extend .col-12;
            @extend .order-md-2;
            @extend .order-1;
        }

        img {
            max-height: 160px;
            width: auto;
        }

        & > #accessibility {
            @extend .col-12;
            @extend .order-md-3;
            @extend .order-3;
            font-size: $font-size-small;
        }

        & #social-network {
            @extend .order-md-1;
            @extend .order-2;
            @extend .col-12;
            @extend .my-3;
            
            @include media-breakpoint-down(md) {
                margin-top: 0 !important;
            }

            & p {
                font-size: 1.25rem;
                font-weight: bold;
                @extend .mb-3;
                @extend .col-12;
            }

            & a > img {
                max-width: 40px;

                &:hover {
                    transform: translateY(-2px);
                    transition: ease-in-out .2s;
                }
            }
        }

        @include media-breakpoint-down(md) {
            text-align: center;
            margin-top: -75px;
            margin-bottom: 2rem;

            h4 {
                font-size: 1.8rem;

                @include media-breakpoint-up(sm) {
                    font-size: 2.5rem;
                }
            }

            p {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
    }

    nav {
        border-top: 2px solid $pale-text;
        margin-top: 3rem;
        padding-top: 1rem;

        ul {
            @extend .nav;
            justify-content: space-between;
        }

        li {
            @extend .nav-item;
            flex-grow: 1;
            flex-basis: 0;
            text-align: center;
        }

        a {
            @extend .nav-link;
            white-space: nowrap;
        }

        a.contact {
            @include icon(before, $fa-var-envelope);
            @extend .text-light;
        }
    }
}

nav#main-navbar {
    @extend .navbar;
    @extend .navbar-light;
    @extend .bg-white;
    @extend .navbar-expand-lg;
    box-shadow: 0 0.125rem 0.25rem rgba($dark, 0.5);

    div.container-lg {
        align-items: center;
    }

    .homelink {
        @extend .mr-auto;
        white-space: nowrap;
        display: inline-block;
        vertical-align: baseline;
        text-decoration: none;
        height: $navbar-brand-height;

        img {
            height: 100%;
            width: auto;
            vertical-align: baseline;
        }

        img.marianne {
            margin-right: 0.5rem;
        }

        img.at {
            // Here, we align our logo's baseline with the navbar's bottom border.
            // It means the little red pin will slightly overflow inside the
            // navbar padding.
            margin-bottom: -$navbar-brand-height / (120 / 17.6);
            height: $navbar-brand-height * (1 + 1 / (120 / 17.6));
        }
    }

    div.navbar-collapse {
        flex-grow: 0;
        text-align: right;
    }

    button.navbar-toggler {
        align-self: center;
    }

    // See https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/le-bloc-marque
    // Note : the menu font has a 1/5 descender height.
    // Since the menu's line-height is 24px, we compute the following value as:
    // 30px (gov's design guidelines) - 24 * 5 (menu font descender) - 8px (menu bottom padding)
    // This is to make sure that the "Republique française" has top a bottom
    // padding of exactly 30px while all baselines are aligned.
    @include media-breakpoint-up(sm) {
        padding-top: 1.875rem;  // 30px
        padding-left: 1.25rem;  // 20px
        padding-bottom: 1.875rem;  // 30px

        div.container-lg {
            align-items: baseline;
        }

        .homelink {
            height: 7.5rem;  // 120px

            img.marianne {
                margin-right: 2.5rem;  // 40px
            }

            img.at {
                margin-bottom: -7.5rem / (120 / 9.4);
                height: 7.5rem * (1 + 1 / (120 / 9.4));
            }
        }

        div.navbar-collapse {
            flex-grow: 0;
            text-align: right;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 1.125rem;  // 18px
    }

    ul.navbar-menu {
        @extend .navbar-nav;

        li {
            @extend .nav-item;

            &.stat {
                @extend .d-none;
                @extend .d-lg-block;
            }

            &.user-menu {
                @extend .dropdown;

                &>a {
                    @extend .dropdown-toggle;
                    @include icon(before, $fa-var-user);
                }
            }

            &>a.pink-border {
                font-weight: bolder;
                border: 3px solid $contrast-color;
                border-radius: 15px 15px 0 15px;
                margin-left: 0.5rem;
                display: inline-block;
                padding: 0.4rem;
            }

            &>a {
                @extend .nav-link;
                white-space: nowrap;

                span.counter {
                    @extend .badge;
                    @extend .badge-pill;
                    @extend .badge-light;
                    @extend .ml-1;
                }
            }

            &>a:visited {
                color: #736e99;

                &:focus {
                    color: #DB1C83;
                }

                &:hover {
                    color: #DB1C83;
                }
            }

            div.dropdown-menu {
                &>a {
                    @extend .dropdown-item;
                }

                form {
                    @extend .px-4;
                    @extend .py-2;

                    button[type=submit] {
                        @extend .btn-block;
                    }
                }

                p {
                    @extend .px-4;
                    @extend .py-2;
                    @extend .mb-0;
                    @extend .text-muted;
                    min-width: 20rem;
                }

                a.menu-button {
                    @extend .btn;
                    @extend .btn-success;
                    @extend .btn-block;
                    @extend .my-2;
                }

                h6 {
                    @extend .dropdown-header;

                    &#profile-menu {
                        @include icon(before, $fa-var-user-circle);
                    }

                    &#consumer-menu {
                        @include icon(before, $fa-var-search);
                    }

                    &#contributor-menu {
                        @include icon(before, $fa-var-pencil-alt);
                    }

                    &#register-menu {
                        @include icon(before, $fa-var-user-plus);
                    }
                }

                hr {
                    @extend .dropdown-divider;
                }
            }
        }
    }
}

nav#partner-navbar {
    @extend .navbar;
    @extend .navbar-light;
    @extend .bg-white;
    @extend .navbar-expand-lg;

    div.container-lg {
        align-items: bottom;
    }

    .homelink {
        @extend .mr-auto;
        white-space: nowrap;
        height: $navbar-brand-height;
    }

    .partner-link {
        height: $navbar-brand-height;
        display: flex;
        align-items: center;
    }

    .imglink {
        text-decoration: none;

        &:after {
            content: none;
        }

        img {
            height: auto;
            max-height: 100%;
        }
    }

    @include media-breakpoint-up(sm) {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        .homelink {
            height: 4rem;
        }

        .partner-link {
            height: 4rem;

            img {
                max-width: 20rem;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 1rem;
        padding-bottom: 1rem;

        .homelink {
            height: 6rem;
        }

        .partner-link {
            height: 6rem;

            img {
                max-width: 20rem;
            }
        }
    }
}

main {
    background: transparent url(../img/courbes.svg) top center no-repeat;
    padding-top: 1.5rem;
    @extend .pb-5;

    &>:last-child {
        @include media-breakpoint-down(md) {
            padding-bottom: 75px;
        }
    }

    div.main-content {
        @extend .container-lg;

        @include media-breakpoint-up(lg) {
            padding-top: 1.5rem;
        }

        a.main-action,
        button.main-action {
            @extend .btn;
            @extend .btn-primary;
            @extend .ml-3;

            float: right;

            &.action-add {
                @include icon(before, $fa-var-plus);
            }
        }
    }
}

form {
    .form-group {
        &.required > label:after {
            content:"*";
        }

        &.checkbox {
            @extend .form-check;

            label:last-child {
                @extend .form-check-label;
            }

            input {
                @extend .form-check-input;
            }
        }

        &>label {
            font-weight: bold;
            margin-bottom: 0;
            margin-bottom: $label-margin-bottom;
        }

        span.field-help {
            @extend .form-text;
            @extend .text-muted;
            margin-top: -$label-margin-bottom;
            margin-bottom: $label-margin-bottom;
        }

        .field-error {
            @extend .mt-2;
        }

        input + input {
            @extend .mt-1;
        }
    }


    .global-errors {
        @include icon(before, $fa-var-exclamation-triangle);
        @include icon(after, $fa-var-exclamation-triangle);
    }

    div.form-actions {

        @include media-breakpoint-up(md) {
            display: flex;
        }

        & > a {
            text-align: center;
        }

        div.submit-buttons {
            margin-right: auto;

            & > button {
                margin-bottom: 1rem;
            }
        }

    }

    button[type=submit] {
        @extend .btn;
    }

    button[type=submit]:not(.secondary) {
        @extend .btn-primary;
    }

    button[type=submit].secondary {
        @extend .btn-outline-primary;
        @extend .text-dark;
        background-color: #fff;

        &:hover {
            @extend .text-white;
            background-color: $contrast-color !important;
        }
    }

    input[type=text],
    input[type=email],
    input[type=date],
    input[type=url],
    input[type=number],
    input[type=password],
    select,
    textarea {
        @extend .form-control;
    }

    &>fieldset {
        &>legend {
            @extend .h4;
            background-color: $pale-background;
            border-radius: 0 2rem 2rem 2rem;
            padding: .5rem 1rem;
        }
    }

    * + fieldset {
        margin-top: 1.5rem;
    }

    div.multiple-input {
        div.single-input {
            @extend .form-check;

            input {
                @extend .form-check-input;
            }

            label {
                @extend .form-check-label;
            }
        }

        fieldset {

            &:not(:last-of-type) {
                @extend .mb-3;
            }

            legend {
                font-size: 1em;
                font-style: italic;
                margin-bottom: 0;
                @include icon(before, $fa-var-long-arrow-alt-right);
            }
        }
    }
}

h1 {
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
        font-size: 2.5rem;
    }

    small {
        @extend .text-muted;
        @extend .h3;
    }

    &::after {
        content: "";
        color: transparent;
        background-color: #DB1C83;
        display: block;
        width: 6rem;
        height: 0px;
        max-height: 1px;
        padding: 0;
        border: 2px solid $contrast-color;
        border-radius: 4px;
        margin: .5rem auto 0 auto;

        @include media-breakpoint-up(md) {
            margin-left: 0;
            border: 4px solid $contrast-color;
        }

    }
}

h2 {
    @include media-breakpoint-up(md) {
        font-size: 2rem;
    }
}

h3 {
    @include media-breakpoint-up(md) {
        font-size: 1.75rem;
    }
}

p, div {
    &.success {
        @extend .alert-success;
    }

    &.error,
    &.danger {
        @extend .alert-danger;
    }

    &.info {
        background-color: $pale-background;
    }

    &.warning {
        @extend .alert-warning;
        font-weight: bold;
    }

    &.tip {
        @extend .alert-warning;
    }

    &.center {
        text-align: center;
    }

    &.success,
    &.error,
    &.danger,
    &.info,
    &.warning,
    &.tip {
        @extend .alert;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

div.messages {
    @extend .mb-3;
}

nav#pagination {
    @extend .mt-5;

    ul {
        @extend .justify-content-center;

        li {
            @extend .page-item;

            a {
                @extend .page-link;
                color: $font-color;
            }
        }
    }
}

ol.breadcrumb {
    @include media-breakpoint-up(lg) {
        margin-bottom: 3rem;
    }

    li {
        @extend .breadcrumb-item;
        align-items: center;

        a {
            font-weight: bold;
        }
    }

    li + li {
        @include icon(before, $fa-var-chevron-right);
    }

    li + li::before {
        padding-right: 0.5rem;
        color: $font-color;
        font-size: 1rem;
    }
}

div.modal {
    @extend .fade;

    .modal-dialog {

        @extend .modal-dialog-centered;
        @extend .text-dark;

        section {
            @extend .modal-content;

            header {
                @extend .modal-header;

                h1 {
                    @extend .h3;
                    margin-bottom: 0;
                }
            }

            footer {
                @extend .modal-footer;

                button {
                    @extend .btn;
                    @extend .btn-primary;
                }
            }

            div.content {
                @extend .modal-body;
            }
        }
    }
}

a[href^='http'] {
    @include icon(after, $fa-var-external-link-alt);
}

a[href^='http'].no-after{
    &::after{
          display: none;
     }
}

html.integration {
    background-color: white !important;

    body {
        nav#main-navbar,
        div.header-warning,
        nav[aria-label=breadcrumb],
        &>footer,

        main {
            @extend .pb-3;

            & > :last-child {
                padding-bottom: 0;
            }

            div.main-content {
                @extend .container-fluid;
                max-width: 100%;
            }
        }
    }
}

.narrow {
    @extend .mx-auto;
    max-width: 40rem;
    @extend .px-3;

    h1 {
        text-align: center;

        &::after {
            margin: .5rem auto 0 auto;
        }
    }

    h2 {
        text-align: center;
    }

    form {

        button[type=submit] {
            @extend .btn-lg;
            @extend .btn-block;
            @extend .mb-3;
        }
    }
}

table.data-table {
    @extend .table;
    @extend .table-sm;
    @extend .mt-3;
}

div.list-actions {
    @extend .mb-2;
    @extend .navbar;
    @extend .navbar-dark;
    @extend .bg-primary;

    span {
        color: white;
    }

    button {
        @extend .btn;
        @extend .btn-outline-light;
    }
}

iframe#stats-optout {
    border: 0;
    height: 200px;
    width: 100%;
}

// Custom fix for a specific select2 unresolved issue
// See https://github.com/select2/select2/pull/4898#issuecomment-408568031
.select2-container .select2-selection__rendered>*:first-child.select2-search--inline {
    width: 100% !important;

    .select2-search__field {
        width: 100% !important;
    }
}

// Make select2 result box bigger
// ul.select2-results__options {
.select2-container--bootstrap4 .select2-results > .select2-results__options {
    max-height: 400px !important;
}

.select2-container--bootstrap4 .select2-results__group {
    color: #16181b !important;
    background-color: #dfe0e1 !important;
}


span {
    // Allow to set two labels in some places. The short label will
    // only be displayed on small screens, the longer one will be
    // displayed on bigger screens.

    &.long-label {
        @extend .d-none;
        @extend .d-md-inline;
    }

    &.short-label {
        @extend .d-inline;
        @extend .d-md-none;
    }
}

span.badge {
    @extend .badge;
    vertical-align: top;

    &.badge-lg {
        font-size: 90%; // default: 75%
        padding: 0.5em 0.5em; // default: 0.25em 0.4em
    }
}

html {
    // Hide some elements when js is detected
    &.js .nojs {
        display: none;
    }

    // Hide js specific elements when js is not detected
    &.nojs .js {
        display: none;
    }
}

div.header-warning {
    background-color: $red;
    color: white;
    @extend .shadow-sm;

    p {
        @extend .py-2;
        margin-bottom: 0;
        @include icon(before, $fa-var-exclamation-triangle);
        text-align: center;
    }

    a {
        color: white;
    }
}

nav.form-steps {
    @extend .nav;
    @extend .nav-pills;
    @extend .nav-fill;
    @extend .nav-justified;
    @extend .mb-3;

    &:not(:first-of-type) {
        @extend .mt-4;
    }

    a {
        @extend .nav-item;
        @extend .nav-link;
        background-color: $breadcrumb-bg;
        @extend .mx-1;

        &:first-child {
            margin-left: 0 !important;
        }

        &:last-child {
            margin-right: 0 !important;
        }

        span.step-counter {
            @extend .badge;
            @extend .badge-secondary;
        }

        &.active {
            @extend .bg-primary;
            @extend .text-light;

            span.step-counter {
                @extend .badge-light;
            }
        }
    }
}

.card {
    @extend .shadow-sm;
}

ul:last-child,
p:last-child {
    margin-bottom: 0;
}

.btn {
    border-radius: 0 1rem 1rem 1rem;
}

.hidden-btn {
    position: absolute;
    left: -9999px;
}

.save-alert-btn {
    @extend .mt-2;
    @extend .btn;
    @extend .btn-primary;
    @include icon(before, $fa-var-bell);
    font-weight: bold;
    display: block;
    border-radius: 0 1rem 1rem 1rem;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
