p {
  margin: 0 0 1.5rem;
}

h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

.fr-card__desc, .fr-card__title {
  margin-top: 0;
}

.fr-centered {
  text-align: center;
}

.at-centered-important {
  text-align: center !important;
}

.align-end {
  text-align: end;
}

.fr-text--bold {
  font-weight: bold;
}

.fr-text--normal {
  font-weight: normal;
}

.fr-break-word {
  word-break: break-all;
}

.fr-uppercase {
    text-transform: uppercase;
}

.fr-width-fix-100 {
  width: 100%;
}

.fr-width-100 {
    max-width: 100%;
}

.fr-height--auto {
    height: auto !important;
}

.fr-icon-xs {
    width: 40px;
    height: 25px;
}

.fr-color--blue {
  color: var(--text-action-high-blue-france);
}

.at-icon-align--sub {
  vertical-align: sub;
}

.fr-nav__btn[aria-expanded=true] {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: 0;
    background-color: var(background-action-high-blue-france);
  }
}

.overflow--initial {
  overflow: initial;
}

.color-white {
  color: var(--text-inverted-grey) !important;
}

.background-blue {
  background-color: var(--background-active-blue-france) !important;
}

.fr-background-main {
  background-color: var(--text-inverted-grey);
}

.fr-background-alt {
    background-color: var(--background-alt-blue-france);
}

.fr-background-alt-pink {
    background-color: var(--background-alt-pink-tuile);
}

.fr-footer-content__link {
    font-weight: 700;
    font-size: medium;
}

.fr-footer__partners .fr-footer__logo {
  height: 5.625rem;
}

.at-link__nodecorator {
    box-shadow: none;
    background-image: none;
}

.fr-list__none {
    list-style: none;
}

.fr-display__inline {
    display: inline;
}

.fr-display__none {
  display: none;
}

.at-visibility__hidden {
  visibility: hidden;
}

.fr-link-blank__none:after {
    display: none;
}

.column--space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.at-button-right {
  margin-left: auto;
  margin-right: 0;
}

.at-box-shadow--none {
  box-shadow: none;
}

// Force certain classes on tables
.at-table--xl td, .at-table--xl th {
  font-size: 1rem;
}

.at-table--fullwidth {
  width: 100%;
}

.at-table--fullwidth table {
  display: table;
}

// error general rules

.error.global-errors {
  color: var(--text-default-error);
  padding: 1rem;
  border: solid 2px;
}

.error.field-error {
  color: var(--text-default-error);
}

// Form general rules

form .fr-input-group.required > label::after {
  content: "*";
}

form .fr-input-group > ul > li,
form .fr-checkbox-group > ul > li {
  list-style: none;
}

// Fix spacing in checkboxes
.fr-checkbox-group ul{
  margin-block-end: 0;
  margin-block-start: 0;
}

.fr-checkbox-group li {
  padding-bottom: 0;
}


// Responsive video iframe

.responsive-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// HEADER: Manage the light/dark schemes on the main logo
// Only display the light mode in case the "scheme" media query is not supported
.dark-mode { display: none !important; }
.light-mode { display: block !important; }

// Manage system scheme
:root[data-fr-scheme="system"] {
  @media (prefers-color-scheme: dark) {
    .dark-mode { display: block !important; }
    .light-mode { display: none !important; }
  }
  
  @media (prefers-color-scheme: light) {
    .dark-mode { display: none !important; }
    .light-mode { display: block !important; }
  }
}

// Manage actually selected scheme
:root[data-fr-scheme="dark"] {
  .dark-mode { display: block !important; }
  .light-mode { display: none !important; }
}
  

:root[data-fr-scheme="light"] {
  .dark-mode { display: none !important; }
  .light-mode { display: block !important; }
}