@mixin icon($type, $icon, $size: 1em) {
    &:#{$type} {
        @include fa-icon;
        @extend .fas;
        content: fa-content($icon);
        vertical-align: baseline;
        font-size: $size;

        @if $type == 'before' {
            @extend .mr-1;
        }

        @if $type == 'after' {
            @extend .ml-1;
        }
    }
}
