/********** DSFR theme for select2 ***********/
.select2-container--select2-dsfr {
  display: block;
}

.select2-container--select2-dsfr .select2-selection--single {
  height: auto;
}

.select2-container .select2-selection--multiple {
  min-height: 2.6em;
}

.select2-container--select2-dsfr .select2-results__option {
  color: var(--text-title-grey);
  background-color: var(--background-contrast-grey);
}

.select2-container--select2-dsfr .select2-results__option--highlighted {
  background-color: var(--background-alt-grey-active);
}

.select2-container--select2-dsfr .select2-results__option[aria-selected="true"] {
  background-color: var(--background-alt-grey-hover);
}

.select2-container--select2-dsfr .select2-results__option--highlighted[aria-selected="true"] {
  background-color: var(--background-alt-grey-active);
}

.select2-container--select2-dsfr .select2-dropdown {
  color: var(--text-default-grey);
  background-color: var(--background-default-grey);
  max-height: 300px;
  overflow-y: auto;
}

.select2-container--select2-dsfr .select2-search__field::placeholder {
  font-style: italic;
  color: var(--text-default-grey);
  background-color: var(--background-contrast-grey);
}

.select2-container--select2-dsfr .select2-selection__placeholder {
  font-style: italic;
  color: var(--text-default-grey);
  background-color: var(--background-contrast-grey);
}

.select2-container--select2-dsfr .select2-search--inline {
  background-color: var(--background-contrast-grey);
}

.select2-container--select2-dsfr .select2-search__field {
  min-width: 100%;
  color: var(--text-default-grey);
  background-color: var(--background-contrast-grey);
  font-size: 1rem;
}

.select2-container--select2-dsfr .select2-selection__choice__remove,
.select2-container--select2-dsfr .select2-selection__clear {
  margin-right: 0.5em;
}

.select2-container--select2-dsfr .select2-selection__choice__remove:hover,
.select2-container--select2-dsfr .select2-selection__clear:hover {
  background-color: var(--background-disabled-grey);
}

.select2-container--select2-dsfr .select2-selection__rendered {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.fr-label~.select2-container--select2-dsfr {
  margin-top: 0.5em;
}

.select2-container--select2-dsfr .select2-results__option[role=option]:before {
  --idle: transparent;
  --hover: var(--background-active-blue-france-hover);
  content: "";
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid var(--border-action-high-grey);
  border-radius: 4px;
  background-color: var(--background-default-grey);
  margin-right: 20px;
  vertical-align: middle;
}

.select2-container--select2-dsfr .select2-results__option[role=option][aria-selected=true]:before {
  background-color: var(--background-active-blue-france);

  --idle: transparent;
  --hover: var(--background-active-blue-france-hover);
  --active: var(--background-active-blue-france-active);
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23fff' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
  background-image: var(--data-uri-svg);
}