$blue: #4874b8;
$indigo: #3c619b;
$red: #e85348;
$green: #7fc6a4;
$gray-100: #f5f4ef;
$gray-800: #1f2532;
$gray-900: #202328;
$custom-control-indicator-size: 1.2rem;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.15;
$h4-font-size: $font-size-base * 1.10;
$h5-font-size: $font-size-base ;
$h6-font-size: $font-size-base;
