$grid-breakpoints: (
  xxs: 0,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  xs: 320px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$font-family-sans-serif: 'Encode Sans Semi Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base: 'Encode Sans Semi Expanded', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;
$spacer: 1rem;
$headings-margin-bottom: $spacer;

$blue: #4874b8;
$indigo: #3c619b;
$red: #e85348;
$green: #83cfc3;
$dark-green: #009688;
$gray-100: #f5f4ef;
$gray-800: #1f2532;
$gray-900: #202328;
$custom-control-indicator-size: 1.2rem;
$font-color: #3a3188;
$contrast-color: #DB1C83;
$pale-text: #817bb5;
$pale-background: #d9f0ec;
$salmon: #ff787f;
$orange: #fcb40a;
$light-purple: #6c5aa8ff;
$pale-purple: #9999ad;
$dark: #2b2465;
$turquoise: #63d9e7;

$success: $dark-green;
$warning: $orange;
$primary: $contrast-color;

$body-color: $font-color;
$link-color: $contrast-color;
$link-hover-color: $contrast-color;
// $link-hover-decoration: none;
$component-active-bg: #59bbab;

$navbar-light-color: $font-color;
$navbar-light-hover-color: $contrast-color;

$breadcrumb-bg: white;
$breadcrumb-active-color: $font-color;

$font-size-base: 1rem;
$font-size-medium: $font-size-base + 0.1;
$font-size-small: $font-size-base - 0.1;
$font-size-lg: $font-size-base * 1.5;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.5;
// $h4-font-size: $font-size-base * 1.10;
// $h5-font-size: $font-size-base;
// $h6-font-size: $font-size-base;

$card-border-radius: 3px;

$enable-shadows: true;
$box-shadow-sm:               0 .125rem .25rem rgba($dark, .9);
$box-shadow:                  0 .5rem 1rem rgba($dark, .9);
$box-shadow-lg:               0 1rem 3rem rgba($dark, .9);

$print-page-size: a4;

$height-img-base: 100px;
