/**
 * Custom element styles should go here.
 *
 * For styles that can be used for multiple elements / on multiple pages, use
 * the styles.scss file.
 *
 */

@import 'theme';
@import 'bootstrap/scss/bootstrap';

$fa-font-path: '../@fortawesome/fontawesome-free/webfonts/';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';


section#landing-value {
    @extend .jumbotron;
    @extend .bg-dark;
    border-radius: 0;
    margin-bottom: 0;

    background: url('/static/img/lead-header3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h1 {
        @extend .text-white;
        @extend .text-center;
    }


    p.tagline {
        @extend .lead;
        @extend .mb-5;
        @extend .text-white;
        @extend .text-center;
    }

    form.search-form {

        button {
            @extend .btn-lg;
            width: 100%;
        }
    }

    @include media-breakpoint-up(lg) {
        form.search-form {

            display: flex;

            div.search-control {
                flex-grow: 1;
                margin-bottom: 0;

                .select2-selection {
                    @include border-right-radius(0);
                    border-right: 0;
                }
            }

            button {
                @include border-left-radius(0);
                width: inherit;
            }
        }
    }
}

section#contact {
    @extend .py-5;
    @extend .bg-light;

    div.narrow-form {
        @extend .pb-4;
    }
}

section.aid-list {
    @extend .row;

    div.aid-sidebar {
        @extend .col-3;

        form {
            .form-group {
                @extend .card;
                @include border-radius(0);

                &:first-of-type {
                    @include border-top-radius($card-border-radius);
                }

                &:last-of-type {
                    @include border-bottom-radius($card-border-radius);
                }

                &:not(:last-of-type) {
                    margin-bottom: 0;
                    border-bottom: 0;
                }

                &>label {
                    @extend .card-header;
                }

                div.field {
                    @extend .card-body;
                }
            }

            button[type=submit] {
                @extend .btn-lg;
                @extend .btn-block;
            }

            p {
                @extend .text-muted;
            }

            a.reset {
                @extend .btn;
                @extend .btn-block;
                @extend .btn-dark;
                @extend .my-1;
            }

            fieldset#id_aid_types_0 legend {
                &:before {
                    @include fa-icon;
                    @extend .fas;
                    @extend .pr-1;
                    vertical-align: inherit;
                    content: fa-content($fa-var-euro-sign);
                }
            }

            fieldset#id_aid_types_1 legend {
                &:before {
                    @include fa-icon;
                    @extend .fas;
                    @extend .pr-1;
                    vertical-align: inherit;
                    content: fa-content($fa-var-cog);
                }
            }
        }

        nav {
            @extend .card;

            h2 {
                @extend .card-header;
                font-size: 1rem;
            }

            ul {
                @extend .list-group;
                @extend .list-group-flush;

                li {
                    @extend .list-group-item;

                    a.active {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    div.aid-results {
        @extend .col;

        &.loading {
            opacity: 0.3;
        }


        div.aid {
            @extend .card;
            @extend .mb-3;

            section {
                @extend .card-body;

                h1 {
                    @extend .h3;
                    @extend .card-title;

                    small {
                        @extend .card-subtitle;
                    }

                    div.status-icons {
                        @extend .pl-4;
                        @extend .float-right;

                        span.icon {
                            @extend .pl-1;

                            i.fas {
                                color: $primary;
                            }
                        }
                    }

                    i.fa-clock {
                        color: $danger;
                    }

                    small {
                        @extend .text-muted;
                    }
                }

                p {
                    @extend .card-text;
                }
            }

            ul {
                @extend .list-group;
                @extend .list-group-flush;

                li {
                    @extend .list-group-item;
                }

                li.warning {
                    @extend .bg-danger;
                    @extend .text-white;
                }
            }
        }
    }
}

section#aid-edit {
    @extend .row;

    div.form-sidebar {
        @extend .col-3;
    }

    form.main-form {
        @extend .col;

        div.form-actions {

            button[type=submit] {
                float: right;
            }
        }
    }
}

section#stats {
    @extend .card-deck;

    div.stat {
        @extend .card;
        min-width: 18rem;
        margin-bottom: $card-group-margin;

        span.stat-title {
            @extend .card-header;
        }

        div.stat-body {
            @extend .card-body;

            &.number-stat {
                @extend .h1;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }
}

section#aid {
    h1 {
        @extend .h2;
        small {
            @extend .text-muted;
        }
    }

    button.report-error {
        @extend .btn-danger;

        &:before {
            @include fa-icon;
            @extend .fas;
            content: fa-content($fa-var-bullhorn);
            @extend .mr-1;
            vertical-align: baseline;
        }
    }

    table {
        @extend .table;
        @extend .table-bordered;

        caption {
            @extend .sr-only;
        }

        th.header {
            text-align: center;
            color: white;
            background-color: $primary;
            border-color: $table-border-color;
        }
    }

    div.aid-data {
        @extend .card;

        h2 {
            @extend .card-body;
        }

        ul {
            @extend .list-group;
            @extend .list-group-flush;

            li {
                @extend .list-group-item;
            }
        }
    }
}

div#error-report {
    p.center {
        a {
            &:before {
                @include fa-icon;
                @extend .fas;
                @extend .pr-1;
                content: fa-content($fa-var-envelope);
            }
        }
    }
}

div#bookmark-modal {
    h2 {
        @extend .h5;
    }

    form {
        @extend .mb-3;

        button {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn-block;
        }
    }
}

section#login-form {
    @extend .pt-4;
    @extend .pb-5;
    @extend .bg-light;
}