/**
 * Custom element styles should go here.
 *
 * For styles that can be used for multiple elements / on multiple pages, use
 * the styles.scss file.
 *
 */
@import 'bootstrap/scss/bootstrap';

section#landing-value {
    @extend .jumbotron;
    @extend .text-center;

    p {
        @extend .lead;
        @extend .text-muted;
    }

    div#steps {
        @extend .card-deck;

        div.step {
            @extend .card;

            div.step-content {
                @extend .card-body;

                h2 {
                    @extend .card-title;
                }

                p {
                    @extend .card-text;
                }
            }
        }
    }
}

section#cta {
    @extend .container;
    @extend .my-5;
    @extend .py-4;

    div.search-control {
        @extend .input-group;
        @extend .input-group-lg;

        div.search-control-btn {
            @extend .input-group-append;

            button {
                @extend .btn;
                @extend .btn-primary;
            }
        }
    }
}

section#contact {
    @extend .py-5;
    background-color: $jumbotron-bg;

    h1 {
    }

    form#mailing-list-form {
        max-width: 30rem;
        margin: 0 auto;

        button[type=submit] {
            margin: 0 auto;
            display: flex-block;
        }
    }
}

section#search {
    @extend .row;

    div.search-engine {
        @extend .col-3;
    }

    div.search-results {
        @extend .col;
    }

    div.search-results {
        div.aid {
            @extend .mt-4;
            @extend .mb-4;

            h2 {
                @extend .h4;
            }

            table {
                @extend .table;
                @extend .table-sm;

                caption {
                    @extend .sr-only;
                }

                th {
                    width: 33%;
                }

                span.contact {
                    &:after {
                        content: ' / ';
                    }

                    &:last-child:after {
                        content: '';
                    }
                }
            }
        }
    }
}

div.search-engine form {
    .form-group {
        @extend .card;
        @include border-radius(0);

        &:first-of-type {
            @include border-top-radius($card-border-radius);
        }

        &:last-of-type {
            @include border-bottom-radius($card-border-radius);
        }

        &:not(:last-of-type) {
            margin-bottom: 0;
            border-bottom: 0;
        }

        &>label {
            @extend .card-header;
        }

        div.field {
            @extend .card-body;
        }
    }
}
