/**
 * Custom element styles should go here.
 *
 * For styles that can be used for multiple elements / on multiple pages, use
 * the styles.scss file.
 *
 */
@import 'bootstrap/scss/bootstrap';

section#landing-value {
    @extend .jumbotron;
    @extend .text-center;

    p {
        @extend .lead;
        @extend .text-muted;
    }
}

section#howitworks {
    @extend .container;
    @extend .my-5;

    h1 {
        @extend .text-center;
    }

    div#steps {
        @extend .card-deck;

        div.step {
            @extend .card;
            @extend .shadow-sm;

            div.step-content {
                @extend .card-body;

                h2 {
                    @extend .card-title;
                }

                p {
                    @extend .card-text;
                }
            }
        }
    }
}

section#contact {
    @extend .bg-dark;
    @extend .py-5;

    h1 {
        @extend .text-light;
    }

    form#mailing-list-form {
        max-width: 30rem;
        margin: 0 auto;

        button[type=submit] {
            margin: 0 auto;
            display: flex-block;
        }
    }
}


form#mailing-list-form {
    p {
        @extend .text-white-50;
    }
}

section#search {
    @extend .row;

    div.search-engine {
        @extend .col-3;
    }

    div.search-results {
        @extend .col;
    }

    div.search-results {
        div.aid {
            @extend .mt-4;
            @extend .mb-4;

            h2 {
                @extend .h4;
            }

            table {
                @extend .table;
                @extend .table-sm;

                caption {
                    @extend .sr-only;
                }

                th {
                    width: 33%;
                }

                span.contact {
                    &:after {
                        content: ' / ';
                    }

                    &:last-child:after {
                        content: '';
                    }
                }
            }
        }
    }
}
