/**
 * Only application wide styles should go here.
 *
 * For custom styling, go to the custom.scss file.
 *
 */

@import 'theme';
@import 'bootstrap/scss/bootstrap';

$fa-font-path: '../@fortawesome/fontawesome-free/webfonts/';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';


html {
    @extend .bg-dark;
}

html.light {
    main {
        @extend .bg-light;
    }
}

// Disable smallests breakpoints
.container {
    min-width: map-get($container-max-widths, md);
}

body {
    >footer {
        @extend .py-5;
        @extend .bg-dark;
        @extend .text-light;

        a {
            @extend .text-light;
        }

        svg.fabnum-logo {
            max-height: $font-size-base * 11;
            @extend .float-right;
            @extend .ml-3;
            @extend .mb-3;
        }

        h1 {
            @extend .h3;
            max-width: 45rem;

            small {
                @extend .text-muted;
            }
        }

        nav {
            @extend .nav;
            @extend .flex-column;

            a {
                @extend .nav-link;
                padding-left: 0;
            }
        }
    }
}

nav#main-navbar {
    @extend .navbar;
    @extend .navbar-dark;
    @extend .bg-dark;
    @extend .navbar-expand-sm;

    .homelink {
        @extend .navbar-brand;
        @extend .mr-auto;

        svg.marianne-logo {
            max-height: $font-size-base * 2.5;
            // Prevent Chrome bug that does not limit the svg width
            // 1.59 is the computed element's width / height ratio
            max-width: $font-size-base * 2.5 * 1.59;
            @extend .pr-1;
        }

        span {
            text-transform: uppercase;
            color: $navbar-dark-color;
        }
    }

    ul.navbar-menu {
        @extend .navbar-nav;

        li {
            @extend .nav-item;

            &.user-menu {
                @extend .dropdown;

                &>a {
                    @extend .dropdown-toggle;
                }
            }

            a {
                @extend .nav-link;

                span.review_counter {
                    @extend .badge;
                    @extend .badge-pill;
                    @extend .badge-light;
                    @extend .ml-1;
                }
            }

            div.dropdown-menu {
                a {
                    @extend .dropdown-item;
                }
            }
        }
    }
}

main {
    section.main-content {
        @extend .py-4;

        h1 {
            @extend .h2;
            @extend .mb-3;
        }

        a.main-action,
        button.main-action {
            @extend .btn;
            @extend .btn-primary;
            @extend .ml-3;

            float: right;

            &.action-add:before {
                @include fa-icon;
                @extend .fas;
                content: fa-content($fa-var-plus);
                @extend .mr-1;
                vertical-align: baseline;
            }
        }
    }
}

form {
    span.field-help {
        @extend .form-text;
        @extend .text-muted;
    }

    .form-group.required > label:after {
        content:"*";
    }

    .form-group.checkbox {
        @extend .form-check;

        label {
            @extend .form-check-label;
        }

        input {
            @extend .form-check-input;
        }
    }

    button[type=submit] {
        @extend .btn;
        @extend .btn-success;
    }

    input[type=text],
    input[type=email],
    input[type=date],
    input[type=url],
    input[type=number],
    select,
    textarea {
        @extend .form-control;
    }

    &>fieldset {
        &>legend {
            background-color: $blue;
            color: white;
            @extend .px-2;
            @extend .py-1;
        }
    }


    div.multiple-input {
        div.single-input {
            @extend .form-check;

            input {
                @extend .form-check-input;
            }

            label {
                @extend .form-check-label;
            }
        }

        fieldset {

            &:not(:last-of-type) {
                @extend .mb-3;
            }

            legend {
                font-size: 1em;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }
}

p, div {
    &.info {
        @extend .alert-primary;
    }

    &.warning {
        @extend .alert-warning;
    }

    &.tip {
        @extend .alert-warning;
    }

    &.center {
        text-align: center;
    }

    &.info,
    &.warning,
    &.tip {
        @extend .alert;

        ul:last-child,
        p:last-child {
            margin-bottom: 0;
        }
    }
}

nav#pagination {
    @extend .mb-5;

    ul {
        @extend .justify-content-center;
        @extend .mt-5;

        li {
            @extend .page-item;

            a {
                @extend .page-link;
            }
        }
    }
}

ol.breadcrumb {
    li {
        @extend .breadcrumb-item;
    }
}

div.modal {
    @extend .fade;

    .modal-dialog {

        section {
            @extend .modal-content;

            header {
                @extend .modal-header;

                h1 {
                    @extend .h3;
                    margin-bottom: 0;
                }
            }

            footer {
                @extend .modal-footer;

                button {
                    @extend .btn;
                    @extend .btn-primary;
                }
            }

            div.content {
                @extend .modal-body;
            }
        }
    }
}

a[href^='http']:after {
    @include fa-icon;
    @extend .fas;
    content: fa-content($fa-var-external-link-alt);
    vertical-align: baseline;
    @extend .ml-1;
}

html.integration {
    background-color: white !important;

    body {
        nav#main-navbar {
            display: none;
        }

        nav[aria-label=breadcrumb] {
            display: none;
        }

        &>footer {
            display: none;
        }

        main {
            section.main-content {
                @extend .container-fluid;
                max-width: 100%;
            }
        }
    }
}

.narrow-form {
    @extend .mx-auto;
    max-width: 40rem;
    @extend .px-3;

    h1 {
        @extend .h2;
        text-align: center;
    }

    form {

        button[type=submit] {
            @extend .btn-lg;
            @extend .btn-block;
            @extend .mb-3;
        }
    }
}

table.data-table {
    @extend .table;
    @extend .table-sm;
}

div.list-actions {

    @extend .mb-2;
    @extend .navbar;
    @extend .navbar-dark;
    @extend .bg-primary;

    span {
        color: white;
    }

    button {
        @extend .btn;
        @extend .btn-outline-light;
    }
}