{% load i18n %}

<dialog aria-labelledby="fr-modal-title-modal-1" role="dialog" id="alert-search-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="alert-search-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Soyez notifié des nouvelles aides correspondant à votre recherche</h1>

                        <form id="alert-form" action="{% url 'alert_create_view' %}" method="post">
                            <section>
                                <div class="content">
                                    <div class="info fr-mb-3w">
                                        <p class="fr-h6">Les filtres sélectionnés</p>
                                        {% include 'aids/_search_meta.html' with display="all" %}
                                    </div>

                                    {% csrf_token %}

                                    {% if not search_page and user.is_authenticated %}
                                    <input type="email" name="email" hidden value="{{ user.email }}" id="id_email">
                                    {% else %}
                                    {% include '_field_snippet.html' with field=alert_form.email %}
                                    {% endif %}

                                    {% include '_field_snippet.html' with field=alert_form.title %}
                                    {% include '_field_snippet.html' with field=alert_form.alert_frequency %}

                                    <p class="info fr-background-alt-pink fr-p-2w">
                                        <span class="fas fa-check"></span>
                                        {% url 'legal_mentions' as legal_mentions_url %}
                                        En créant une alerte, vous acceptez que vos données soient traitées en accord avec <a href="{{ legal_mentions_url }}" target="_blank" rel="noopener">notre politique de confidentialité</a>. 
                                    </p>
                                </div>

                                <footer>
                                    <button class="btn-block fr-btn" type="submit">
                                       Créer une alerte
                                    </button>
                                </footer>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
