{% load i18n %}

<div id="alert-search-modal" class="anonymous-modal modal">
    <div class="modal-dialog modal-lg">
        <form id="alert-form" action="{% url 'alert_create_view' %}" method="post">
            <section>
                <header>
                    <h1>{{ _('Receive new aids before everyone!') }}</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </header>

                <div class="content">
                    {% if form %}
                        <div class="info">
                            <h5>{{ _('Selected filters') }}</h5>
                            {% include 'aids/_search_meta.html' with display="all" %}
                        </div>
                    {% endif %}

                    {% csrf_token %}
                    {% include '_field_snippet.html' with field=alert_form.email %}
                    {% include '_field_snippet.html' with field=alert_form.title %}
                    {% include '_field_snippet.html' with field=alert_form.alert_frequency %}

                    <p class="info">
                        <span class="fas fa-check"></span>
                        {% url 'legal_mentions' as legal_mentions_url %}
                        {% blocktrans trimmed %}
                        By using this feature, you acknowledge that your data will
                        be processed <a href="{{ legal_mentions_url }}" target="_blank">
                            according to our privacy policy</a>.
                        {% endblocktrans %}
                    </p>
                </div>

                <footer>
                    <button class="btn-block" type="submit">
                        {{ _('Create an alert') }}
                    </button>
                </footer>
            </section>
        </form>
    </div>
</div>
