{% extends 'emails/_base.html' %}
{% load settings i18n %}

{% block email_title %}{{ nb_aids }} résultats pour votre alerte{% endblock %}

{% block content %}

<p>Bonjour,</p>

<p>Nous avons détecté au moins une nouvelle aide sur votre recherche
<strong>{{ alert_title }}</strong></p>

<ul>
{% for aid in new_aids %}
    <li>
        <strong>Titre :</strong>
        <a href="https://{{ domain_with_subdomain }}{{ aid.get_absolute_url|safe }}">
            {{ aid.name|safe }}
        </a>
        {% if aid.submission_deadline %}<br /><strong>Clôture :</strong> {{ aid.submission_deadline|date }}{% endif %}
    </li>
{% endfor %}
</ul>

{% if nb_aids > 3 %}
    <p>
        Attention, il semble qu'il y ait encore d'autres aides disponibles ! <br />
        <a href="{{ alert_url|safe }}">
            Rendez-vous sur Aides-territoires pour les découvrir.
        </a>
    </p>
{% endif %}

{% include 'alerts/_search_meta.html' %}

<p><strong>N'hésitez pas à créer d'autres alertes pour être toujours bien informé en suivant <a href="https://{{ domain_with_subdomain }}{% url 'advanced_search_view' %}">ce lien.</a></strong><br>
Vous pouvez également transférer cet email à vos partenaires afin qu'ils prennent connaissance de ces aides.
</p>

<p>
    🌟 Aidez-nous à améliorer vos alertes !<br />
    <a href="{{ alert_email_feedback_form_url|safe }}">
        Notez cette alerte de 1 à 5 et faites-nous part de vos remarques.
    </a>
</p>

<p>
    🔕 Cette alerte ne correspond plus à vos besoins ? <br />
    <a href="{{ alert_delete_url|safe }}">
        Vous pouvez la supprimer.
    </a>
</p>

<p>
    À très vite !<br />
    L'équipe d'Aides-territoires.
</p>
{% endblock %}
