{% extends "_base.html" %}
{% load static %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block extratitle %}Suppression d’alerte{% endblock extratitle %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1 class="fr-mb-5w">Confirmer la suppression de l’alerte</h1>
            <p class="lead">Vous êtes sur le point de supprimer l’alerte « {{ alert.title }} »</p>
            <p>Êtes vous certain de vouloir continuer ?</p>

            <form id="delete-form" method="post">
                {% csrf_token %}
                <button class="fr-btn" type="submit">
                    Oui, supprimer cette alerte
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script nonce="{{ request.csp_nonce }}">
    ALERT_TITLE = '{{ alert.title }}';
</script>
<script src="{% static 'js/alerts/track_alert_form_events.js' %}"></script>
{% endblock extra_js %}
