{% extends '_base.html' %}
{% load i18n %}

{% block sectionid %}alert-feedback{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block extratitle %}Aidez-nous à améliorer vos alertes{% endblock %}

{% block content %}
<div class="article narrow">
    <h1>Aidez-nous à améliorer vos alertes !</h1>

    <p class="lead">
        Notez cette alerte et faites-nous part de vos remarques.
    </p>

    <p>
        (Votre alerte : {{ alert.title }})
    </p>

    <form id="validation-form" method="POST" action="">
        {% csrf_token %}

        {% include '_field_snippet.html' with field=form.rate nest_field_class='rate-container' %}
        {% include '_field_snippet.html' with field=form.feedback %}

        <button type="submit">
            Envoyer
        </button>
    </form>
</div>
{% endblock %}
