{% extends "_base.html" %}
{% load static %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block extratitle %}Validation d’alerte{% endblock extratitle %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Confirmez votre alerte</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-mb-5w fr-pb-5w">
    <h1>Confirmez la création de l’alerte</h1>

    <p class="lead">Cliquez sur le bouton suivant pour confirmer la création de l’alerte « {{ alert_title }} ».</p>

    <p>
        Une fois l'alerte validée, vous recevrez à la fréquence choisie des e-mails listant
        les nouvelles aides correspondantes à votre recherche.
    </p>

    <form id="validation-form" method="post">
        {% csrf_token %}
        <button type="submit" class="fr-btn">
            Confirmez la création de l’alerte
        </button>
    </form>
</div>
{% endblock content %}

{% block extra_js %}
<script nonce="{{ request.csp_nonce }}">
    ALERT_TITLE = '{{ alert.title }}';
</script>
<script src="{% static 'js/alerts/track_alert_form_events.js' %}"></script>
{% endblock extra_js %}
