{% extends '_base.html' %}
{% load i18n %}

{% block extratitle %}{{ _('All tags') }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">{{ _('All known tags') }}</li>
    </ol>
</nav>
{% endblock %}

{% block sectionid %}tags{% endblock %}

{% block content %}

<h1>{{ _('All known tags') }}</h1>
<p>{% blocktrans trimmed %}
A tag is a label associated with one or several aids. Using tags is a great way
to browse the site for aids relevant to your specific interests.
{% endblocktrans %}</p>
<div id="tag-list" class="row">
    {% for tag in tags %}
        <div class="tag">
            <a href="{% url 'search_view' %}?text={{ tag.name }}">
                {{ tag }} ({{ tag.nb_aids }})
            </a>
        </div>
    {% endfor %}
</div>

{% include '_pagination.html' %}
{% endblock %}
