{% extends "_base.html" %}
{% load i18n compress mailing_list %}

{% block extratitle %}Mes notifications{% endblock extratitle %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}user-account{% endblock sectionid %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil
            d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Porteurs d’aides masqués</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with backers_blacklist=True %}

        <div class="fr-col-12 fr-col-md-9">
            <div class="fr-grid-row fr-grid-row--middle">    
                <h1 class="fr-h3 fr-col-12 fr-col-md-9">Porteurs d’aides masqués</h1>
            </div>

            <div class="fr-alert fr-alert--info fr-alert--sm">
                <p>
                    Cette page liste les porteurs d’aide correpondant aux paramètres de votre organisation
                    (périmètre, type)
                </p>
                <p>
                    Vous pouvez les masquer individuellement dans les résultats de recherche.
                </p>
            </div>

            <div id="at-backer-toggles">
                {% for backer in page_obj %}
                    <div class="fr-toggle">
                        <input type="checkbox" class="fr-toggle__input" id="toggle-mask-{{ backer.id }}" aria-describedby="toggle-mask-{{ backer.id }}-hint-text" data-at-backer-id="{{ backer.id }}"{% if backer.is_masked %}checked{% endif %}>
                        <label class="fr-toggle__label" for="toggle-mask-{{ backer.id }}" data-fr-checked-label="Masqué" data-fr-unchecked-label="Affiché">
                            {{ backer.name }} ({{ backer.nb_instructed_aids }} aides)
                        </label>
                        <p class="fr-hint-text" id="toggle-mask-{{ backer.id }}-hint-text"><a href="{{ backer.get_absolute_url }}" class="href">
                            Voir la page du porteur</a>
                        </p>
                    </div>
                {% endfor %}
            </div>

            {% include '_pagination.html' %}

        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        (function (exports) {
            // Update the masked status of a backer for the current user
            exports.toggleMaskedBacker = function () {
                let backerId = $(this).attr('data-at-backer-id');
                let isChecked = $(this).prop('checked');
                console.log(backerId, isChecked);
                $.post(
                    '/partenaires/masquer/' + backerId + '/',
                    {
                        'masked': isChecked ? 1 : 0,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    function (data) {
                        console.log(data.response);
                    },
                );
            };
        })(this);
        $(document).ready(function () {
            const backerToggles = $('#at-backer-toggles .fr-toggle__input');
            backerToggles.on('click', toggleMaskedBacker);
        });
    </script>
{% endblock %}
