{% extends '_base.html' %}
{% load compress %}

{% block extratitle %}{{ backer.name }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">{{ backer.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<article id="backer">

    <section class="backer-content">

        <h1>{{ backer.name }}</h1>

        {% if backer.description %}
            <div>
                <h2>Présentation générale :</h2>
                {{ backer.description|safe }}
            </div>
        {% endif %}   

        {% if aids %}
        <div>
            <h2>Thématiques associées :</h2>
            <ul class="backer-categories">
            {% for key,values in categories_by_theme.items %}
                <li class="theme">
                    <strong>
                        {{ key }}
                    </strong>
                    <ul>
                        {% for value in values %}
                        <li class="category">{{ value }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        {% if programs %}
        <div>
            <h2>Programmes associés :</h2>
            <div id="program-logo">
            {% for aid in aids %}
            {% if aid.programs %}
                {% for program in aid.programs.all %}
                {% if program.logo %}
                    <a href="{% url 'program_detail' program.slug %}">
                        <img src="{{ program.logo.url }}" alt="{{ program.name }}">
                    </a>
                {% else %}
                <p class="program">
                    <strong>
                        {{ program }}
                    </strong>
                </p>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
            
    </section>

</article>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/links_on_images.js"></script>
{% endcompress %}
{% endblock %}
