{% extends "_base.html" %}
{% load i18n compress mailing_list %}

{% block extratitle %}Porteurs d’aides masqués{% endblock extratitle %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}excluded-backers{% endblock sectionid %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil
            d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Porteurs d’aides masqués</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with backers_exclusion_list=True %}

        <div class="fr-col-12 fr-col-md-9">
            <div class="fr-grid-row fr-grid-row--middle">    
                <h1 class="fr-h3 fr-col-12 fr-col-md-9">Porteurs d’aides masqués</h1>
            </div>

            <div class="fr-alert fr-alert--info fr-alert--sm">
                <p>
                    Cette page liste les porteurs d’aide correpondant aux
                    <a href="{% url 'organization_update_view' user.beneficiary_organization.pk %}">
                        paramètres de votre structure.
                    </a>
                </p>
                <p>
                    Vous pouvez les masquer individuellement dans les résultats de recherche.
                </p>

                <p id="nb-excluded-backers">
                    {% if nb_excluded %}
                        {{ nb_excluded }} porteur{{ nb_excluded|pluralize }} masqué{{ nb_excluded|pluralize }}.
                    {% else %}
                        Tous les porteurs sont affichés.
                    {% endif %}
                </p>
            </div>

            {% if request.GET.backlink == "1" %}
                <div class="fr-my-2w">
                    <ul class="fr-btns-group">
                        <a class="fr-btn" href="{% url 'search_view' %}?{{ current_search }}">Retourner aux résultats de la recherche</a>
                    </ul>
                </div>
            {% endif %}

            <div id="at-backer-toggles">
                {% for backer in page_obj %}
                    <div class="fr-toggle">
                        <input type="checkbox" class="fr-toggle__input" id="toggle-mask-{{ backer.id }}" aria-describedby="toggle-mask-{{ backer.id }}-hint-text" data-at-backer-id="{{ backer.id }}"{% if backer.is_excluded %}checked{% endif %}>
                        <label class="fr-toggle__label" for="toggle-mask-{{ backer.id }}" data-fr-checked-label="Masqué" data-fr-unchecked-label="Affiché">
                            {{ backer.name }} ({{ backer.nb_financed_aids }} aide{{ backer.nb_financed_aids|pluralize }})
                        </label>
                        <p class="fr-hint-text" id="toggle-mask-{{ backer.id }}-hint-text"><a href="{{ backer.get_absolute_url }}" class="href">
                            Voir la page du porteur</a>
                        </p>
                    </div>
                {% endfor %}
            </div>

            {% include '_pagination.html' %}

        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        var csrf_token = '{{ csrf_token }}';
    </script>
    {% compress js %}
        <script src="/static/js/backers/toggle_excluded_backers.js"></script>
    {% endcompress %}
{% endblock %}
