{% extends "_base.html" %}
{% load i18n compress mailing_list %}

{% block extratitle %}Porteurs d’aides masqués{% endblock extratitle %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}excluded-backers{% endblock sectionid %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil
            d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Porteurs d’aides masqués</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with backers_exclusion_list=True %}

        <div class="fr-col-12 fr-col-md-9">
            <div class="fr-grid-row fr-grid-row--middle">    
                <h1 class="fr-h3 fr-col-12 fr-col-md-9">Porteurs d’aides masqués</h1>
            </div>

            <div class="fr-alert fr-alert--info fr-alert--sm">
                <p>
                    Cette page liste les porteurs d’aide correpondant aux
                    <a href="{% url 'organization_update_view' user.beneficiary_organization.pk %}">
                        paramètres de votre structure.
                    </a>
                </p>
                <p>
                    Vous pouvez les masquer individuellement dans les résultats de recherche.
                </p>

                <p id="nb-excluded-backers">
                    {% if nb_excluded %}
                        {{ nb_excluded }} porteur{{ nb_excluded|pluralize }} masqué{{ nb_excluded|pluralize }}.
                    {% else %}
                        Tous les porteurs sont affichés.
                    {% endif %}
                </p>
            </div>

            <div class="fr-mt-4w">
                <p>
                    Vous souhaitez masquer certains porteurs de toutes vos recherches ? vous pouvez le faire sur cette page.
                    Cette opération s’appliquera à toutes vos recherches, mais elle est parfaitement réversible :
                    vous pouvez changer d’avis à tout moment selon vos besoins, ou même faire varier les paramètres propres
                    à une recherche particulière, afin de ne louper aucune aide !
                </p>

                <p>
                    Le choix de masquer un porteur d’aides est individuel, et ne sera pas partagé avec les membres de votre équipe.
                </p>

                <p>
                    Néanmoins, si un membre de votre équipe repère une aide d’un porteur que vous avez masqué et l’intègre
                    à votre projet, vous serez en mesure de voir cette aide.
                </p>
            </div>


            {% if request.GET.backlink == "1" %}
                <div class="fr-my-2w">
                    <ul class="fr-btns-group">
                        <a class="fr-btn" href="{% url 'search_view' %}?{{ current_search }}">Retourner aux résultats de la recherche</a>
                    </ul>
                </div>
            {% endif %}

            <div class="at-backers-list">
                {% for backer in page_obj %}
                <div class="fr-tile fr-tile--sm fr-tile--horizontal  fr-my-5w" id="toggle-mask-{{ backer.id }}-tile">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="{{ backer.get_absolute_url }}" id="toggle-mask-{{ backer.id }}-name">{{ backer.name }}</a>
                            </h3>
                            <p class="fr-tile__detail">
                                {{ backer.nb_financed_aids }} aide{{ backer.nb_financed_aids|pluralize }}
                            </p>
                            <div class="fr-toggle">
                                <input type="checkbox" class="fr-toggle__input" id="toggle-mask-{{ backer.id }}" aria-describedby="toggle-mask-{{ backer.id }}-name" data-at-backer-id="{{ backer.id }}"{% if backer.is_excluded %}checked{% endif %}>
                                <label class="fr-toggle__label" for="toggle-mask-{{ backer.id }}" data-fr-checked-label="Masqué" data-fr-unchecked-label="Affiché">
                                    Masquer ce porteur dans les résultats de recherche ?
                                </label>
                            </div>
                        </div>
                    </div>
                    {% if backer.logo %}
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <img class="at-tile__logo" src="{{ backer.logo.url }}" alt="" />
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div id="at-backer-toggles">
                {% for backer in page_obj %}
                    <div class="fr-toggle">
                        <input type="checkbox" class="fr-toggle__input" id="toggle-mask-{{ backer.id }}" aria-describedby="toggle-mask-{{ backer.id }}-hint-text" data-at-backer-id="{{ backer.id }}"{% if backer.is_excluded %}checked{% endif %}>
                        <label class="fr-toggle__label" for="toggle-mask-{{ backer.id }}" data-fr-checked-label="Masqué" data-fr-unchecked-label="Affiché">
                            {{ backer.name }} ({{ backer.nb_financed_aids }} aide{{ backer.nb_financed_aids|pluralize }})
                        </label>
                        <p class="fr-hint-text" id="toggle-mask-{{ backer.id }}-hint-text"><a href="{{ backer.get_absolute_url }}" class="href">
                            Voir la page du porteur</a>
                        </p>
                    </div>
                {% endfor %}
            </div>

            {% include '_pagination.html' %}

        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        var csrf_token = '{{ csrf_token }}';
    </script>
    {% compress js %}
        <script src="/static/js/backers/toggle_excluded_backers.js"></script>
    {% endcompress %}
{% endblock %}
