{% load i18n %}

<div id="aid-eligibility-test-modal" class="anonymous-modal modal">
    <div class="modal-dialog modal-lg">
        <section>
            <header>
                <h1>Test d'éligibilité</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </header>
            <div class="content">
                <div id="eligibility-test-introduction"></div>

                <hr />

                <form id="eligibility-test-form" action=""></form>
                
                <div id="eligibility-test-results">
                    <hr />
                    <p id="eligibility-test-result-message"></p>
                    <div id="eligibility-test-conclusion"></div>
                    <br />
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>&nbsp;Fermer
                    </button>
                </div>
                
                <span id="spinner">
                    <span class="spinner-border spinner-border-sm mr-3" role="status" aria-hidden="true"></span>
                    <span>Chargement en cours</span>
                </span>
            </div>
        </section>
    </div>
</div>
