.SearchFilters {
  font-family: "Lato", sans-serif;
  background: rgb(250, 250, 250);
  padding: 2rem;
}

.SearchFilters .field > label {
  font-size: 20px;
}

.SearchFilters .checkbox {
  padding: 0.5rem;
}
