server {
    listen 80 default_server;
    return 444;
}

server {
    listen 443 ssl default_server;
    ssl_certificate /etc/letsencrypt/live/{{ project_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ project_domain }}/privkey.pem;
    return 444;
}
