upstream {{ project_name }} {
    server localhost:8000;
}

server {
    listen 443 ssl;
    server_name www.{{ project_domain }} recherche.{{ project_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ project_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ project_domain }}/privkey.pem;

    return 301 https://{{ project_domain }}$request_uri;
}

server {
    listen 80;
    server_name {{ project_domain }};
    return 301 https://$server_name$request_uri;
}

server {
    listen 80;
    server_name integration-{{ project_domain }};

    location /static/ {
        root {{ project_root }}/public/;
        expires 1y;
        access_log off;
    }

    location / {
        error_page 418 = @django;
        return 418;
    }

    location @django {
        proxy_pass http://{{ project_name }};
        proxy_redirect off;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass_header Authorization;
    }
}

server {
    listen 443 ssl http2;
    server_name {{ project_domain }};

    access_log /var/log/nginx/{{ project_name }}.access.log;
    error_log /var/log/nginx/{{ project_name }}.error.log;
    client_max_body_size 150m;
    server_tokens off;

    ssl_certificate /etc/letsencrypt/live/{{ project_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ project_domain }}/privkey.pem;

    # Security options
    add_header X-XSS-Protection "1; mode=block";
    # add_header X-Frame-Options "SAMEORIGIN";  # Superseded by csp settings
    add_header X-Content-Type-Options "nosniff";
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload";
    add_header Content-Security-Policy "default-src 'none'; connect-src 'self'; font-src 'self'; frame-src https://stats.data.gouv.fr; frame-ancestors 'self' *.gouv.fr; img-src 'self' https://stats.data.gouv.fr data:; script-src 'self' https://stats.data.gouv.fr/piwik.js; style-src 'self' 'unsafe-inline'; base-uri 'self'; form-action 'self' https://my.sendinblue.com;";

    gzip on;
    gzip_proxied any;
    gzip_types text/plain text/xml text/css application/x-javascript application/javascript text/javascript;
    gzip_vary on;
    gzip_disable "MSIE [1-6]\.(?!.*SV1)";

    location /favicon {
        root {{ project_root }}/public/static/favicons/;
        expires 1m;
        access_log off;
    }

    location /static/ {
        root {{ project_root }}/public/;
        expires 1y;
        access_log off;
    }

    location / {
        error_page 418 = @django;
        return 418;
    }

    location @django {
        proxy_pass http://{{ project_name }};
        proxy_redirect off;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass_header Authorization;
    }
}
