[program:celery]
environment=DJANGO_SETTINGS_MODULE='core.settings.production'
directory=/home/aides/aides/src
command=/home/aides/.virtualenvs/aides/bin/celery -A core worker -l INFO

user=aides
autostart=true

stdout_logfile=/var/log/supervisor/celery.log
redirect_stderr=true
autostart=true
autorestart=true
