{% extends "_base.html" %}
{% load i18n static compress %}

{% block extratitle %}Ma structure{% endblock extratitle %}

{% block sectionid %}update-organization-page{% endblock sectionid %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" a href="{% url 'organization_update_view' user.beneficiary_organization.pk %}">Ma structure</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Données-clés</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">

        {% include 'accounts/_sidebar_menu.html' with structure=True data_info=True %}

        <div class="fr-col-md-9">
            <h1 class="fr-h3">Les données-clés de la collectivité</h1>

            <p>Pour bénéficier de recommandations adaptées à votre collectivité, vous pouvez renseigner les informations ci-dessous.</p>

            <form id="update-organization-form" method="post" novalidate>
                {% csrf_token %}

                <fieldset class="fr-pl-0 fr-my-5w">
                    <legend class="fr-h4">🧑 Population</legend>
                    <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
                        <div class="fr-col-12  fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.inhabitants_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.voters_number %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fr-pl-0 fr-my-5w">
                    <legend class="fr-h4">👋 Développement économique</legend>
                    <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.corporates_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.shops_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.associations_number %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fr-pl-0 fr-my-5w">
                    <legend class="fr-h4">🛣️ Réseaux & voiries</legend>
                    <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.municipal_roads %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.departmental_roads %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.tram_roads %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.lamppost_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.bridge_number %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fr-pl-0 fr-my-5w">
                    <legend class="fr-h4">📚 Culture</legend>
                    <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.library_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.medialibrary_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.theater_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.cinema_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.museum_number %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fr-pl-0 fr-my-5w">
                    <legend class="fr-h4">🎒 Enfance - Enseignement</legend>
                    <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.nursery_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.kindergarten_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.primary_school_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.rec_center_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.middle_school_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.high_school_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.university_number %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fr-pl-0 fr-my-5w">
                    <legend class="fr-h4">🎾 Infrastructures sportives</legend>
                    <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.tennis_court_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.football_field_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.running_track_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.other_outside_structure_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.covered_sporting_complex_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.swimming_pool_number %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fr-pl-0 fr-my-5w">
                    <legend class="fr-h4">⛪ Lieux de culte et de mémoire</legend>
                    <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.place_of_worship_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.cemetery_number %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fr-pl-0 fr-my-5w">
                    <legend class="fr-h4">🌳 Patrimoine</legend>
                    <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.protected_monument_number %}
                        </div>
                        <div class="fr-col-12 fr-col-md-3">
                            {% include '_field_snippet.html' with field=form.forest_number %}
                        </div>
                    </div>
                </fieldset>

                <button type="submit" class="fr-btn">Modifier</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
    {% compress js %}
        <script src="{% static 'select2/dist/js/select2.js' %}"></script>
        <script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
        <script src="{% static 'js/accounts/toggle_intercommunality_type_field.js' %}"></script>
        <script src="{% static 'js/accounts/pre_fill_organization_name.js' %}"></script>
        <script src="{% static 'js/aids/perimeter_autocomplete.js' %}"></script>
        <script src="{% static 'js/aids/select2_dsfr.js' %}"></script>
        <script src="{% static 'js/organizations/toggle_administrative_data.js' %}"></script>
    {% endcompress %}
{% endblock extra_js %}