{% extends "_base.html" %}
{% load i18n static compress %}

{% block extratitle %}Ma structure{% endblock extratitle %}

{% block sectionid %}update-organization-page{% endblock sectionid %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Ma structure</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">

        {% include 'accounts/_sidebar_menu.html' with structure=True structure_info=True %}

        <div class="fr-col-md-9">
            <h1 class="fr-h3">Informations sur ma structure</h1>

            <p>Les champs marqués d’un astérisque (*) sont obligatoires.</p>

            <form id="update-organization-form" method="post" novalidate>
                {% csrf_token %}

                <fieldset class="fr-my-5w">
                    <legend class="fr-h4">Généralités</legend>

                    {% include '_field_snippet.html' with field=form.organization_type %}

                    <div id="intercommunality-type-field-collapse" class="fr-collapse">
                        {% include '_field_snippet.html' with field=form.intercommunality_type %}
                    </div>

                    {% include '_field_snippet.html' with field=form.perimeter %}
                    {% include '_field_snippet.html' with field=form.name %}
                </fieldset>

                <fieldset class="fr-my-5w">
                    <legend class="fr-h4">Coordonnées</legend>
                    {% include '_field_snippet.html' with field=form.address %}
                    {% include '_field_snippet.html' with field=form.city_name %}
                    {% include '_field_snippet.html' with field=form.zip_code %}
                </fieldset>

                <fieldset id="organization-administrative-data" class="fr-my-5w">
                    <legend class="fr-h4">Données administratives</legend>
                    {% include '_field_snippet.html' with field=form.siren_code %}
                    {% include '_field_snippet.html' with field=form.siret_code %}
                    {% include '_field_snippet.html' with field=form.ape_code %}
                </fieldset>

                <button type="submit" class="fr-btn">Mettre à jour</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
    {% compress js %}
        <script src="{% static 'select2/dist/js/select2.js' %}"></script>
        <script src="{% static 'select2/dist/js/i18n/fr.js' %}"></script>
        <script src="{% static 'js/accounts/toggle_intercommunality_type_field.js' %}"></script>
        <script src="{% static 'js/accounts/pre_fill_organization_name.js' %}"></script>
        <script src="{% static 'js/aids/perimeter_autocomplete.js' %}"></script>
        <script src="{% static 'js/aids/select2_dsfr.js' %}"></script>
        <script src="{% static 'js/organizations/toggle_administrative_data.js' %}"></script>
    {% endcompress %}
{% endblock extra_js %}