{% extends '_base.html' %}
{% load i18n %}

{% block extratitle %}{{ _('Contributor profile') }}{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}profile-form{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Mettre à jour votre profil contributeur</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">

        {% include 'accounts/_sidebar_menu.html' %}

        <div class="fr-col-md-9">
            {% if user.profile_complete %}
            <h1>Mon profil</h1>
            {% else %}
            <h1>{{ _("Become a contributor") }}<br/>
                <small>{{ _("Fill out the required data") }}</small>
            </h1>
            {% endif %}

            <div class="info fr-background-alt-pink fr-p-3w fr-mb-5w">
                <p class="fr-mb-2w">
                    <span class="fas fa-lightbulb"></span>
                    Vous pouvez mettre à jour vos informations ci-dessous.
                </p>
                <p class="fr-mb-0">Ces informations nous sont essentielles pour garantir la qualité des données présentes sur le site</p>
            </div>

            <form method="post" action="" novalidate>
                {% csrf_token %}
                {% include '_form_snippet.html' with form=form %}
                <button type="submit" class="fr-btn">Mettre à jour vos données</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
