{% extends '_base.html' %}
{% load i18n %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}login-form{% endblock %}

{% block extratitle %}{{ _('Login') }}{% endblock %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1>Connexion à votre compte contributeur</h1>

            <form method="post" action="" novalidate class="fr-mt-5w">
                {% csrf_token %}
        
                {% include '_form_snippet.html' with form=form %}
                <button type="submit" class="fr-btn">Connectez-vous</button>
            </form>
        
            {% url 'password_reset' as password_reset_url %}
            <p class="warning fr-mt-5w fr-background-alt-pink fr-p-3w">
                <span class="fas fa-lightbulb"></span>
                {% blocktrans trimmed %}
                Have you forgotten your password? <a href="{{ password_reset_url }}">
                Request a new one.</a>
            {% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
