{% extends '_base.html' %}
{% load i18n %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}login-form{% endblock %}

{% block extratitle %}{{ _('Login') }}{% endblock %}

{% block content %}
<div class="article narrow">
    <h1>{{ _('Log in to your contributor account') }}
    </h1>

    <form method="post" action="" novalidate>
        {% csrf_token %}

        {% include '_field_snippet.html' with field=form.feedback %}

        <button type="submit">{{ _('Login') }}</button>
    </form>

    {% url 'password_reset' as password_reset_url %}
    <p class="warning">
        <span class="fas fa-lightbulb"></span>
        {% blocktrans trimmed %}
        Have you forgotten your password? <a href="{{ password_reset_url }}">
        Request a new one.</a>
    {% endblocktrans %}</p>
</div>
{% endblock %}
