{% extends "_base.html" %}
{% load i18n %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}login-form{% endblock sectionid %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1>Quelque chose s’est mal passé</h1>
            <p>
                Désolé, il semble que quelque chose se soit mal passé.
                Nous n'avons pu accéder à votre demande de connexion.
            </p>

            <p class="fr-mt-5w fr-background-alt-pink fr-p-3w">
                Vous allez <a href="{% url 'login' %}">devoir réessayer.</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
