{% extends "_base.html" %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}login-form{% endblock sectionid %}

{% block extra_head %}
<meta property="og:title" content="Aides-territoires | Connexion" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Trouvez les aides pertinentes pour financer et accompagner les projets de votre territoire" />
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock %}

{% block extratitle %}Connectez-vous{% endblock %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1>Connexion à votre compte</h1>

            <form method="post" action="" novalidate class="fr-mt-5w">
                {% csrf_token %}
        
                {% include '_form_snippet.html' with form=form %}
                <button type="submit" class="fr-btn">Connectez-vous</button>
            </form>
        
            {% url 'password_reset' as password_reset_url %}
            <p class="warning fr-mt-5w fr-background-alt-pink fr-p-3w">
                💡 Avez-vous oublié votre mot de passe&nbsp;?
                <a href="{{ password_reset_url }}"> Vous pouvez en demander un nouveau.</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
