{% extends '_base.html' %}
{% load i18n %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}login-form{% endblock %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1>{{ _("Your log in request was acknowledged") }}</h1>
            <p class="fr-mt-5w">{% blocktrans trimmed %}
                <strong>Provided that the email you submitted is associated to an account</strong>,
                we sent you an email with an access link. Check your mailbox and click
                on the link to log in to your account.
            {% endblocktrans %}</p>

            {% url 'login' as login_url %}
            <div class="fr-mt-5w fr-background-alt-pink fr-p-3w">{% blocktrans trimmed %}
                Don't see the email? Try the following:<ul>
                    <li>make sure you logged in with the address associated with your account;</li>
                    <li>check your spam folder;</li>
                    <li>wait a few minutes <a href="{{ login_url }}">and try again</a>;</li>
                </ul>
            {% endblocktrans %}</div>

            <p class="warning fr-background-alt-pink fr-p-3w fr-mt-5w">
                <span class="fr-fi-mail-line" aria-hidden="true"></span>
                {% blocktrans trimmed %}
                If you can't log in, <a href="mailto:aides-territoires@beta.gouv.fr">
                please contact us</a>.
            {% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
