{% extends "_base.html" %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}login-form{% endblock sectionid %}

{% block extratitle %}Récupération du mot de passe{% endblock extratitle %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1>Mot de passe oublié ?<br />
                <span class="fr-h4">En demander un nouveau</span>
            </h1>

            <p>Les champs marqués d’un astérisque (*) sont obligatoires.</p>

            <form method="post" class="fr-mt-5w">
                {% csrf_token %}

                {% include '_form_snippet.html' with form=form %}
                <button type="submit" class="fr-btn">Demander un nouveau mot de passe</button>
            </form>

            <div class="fr-col-12 fr-mt-3w">
                <div class="fr-alert fr-alert--info fr-alert--sm">
                    <p>
                        Vous n’avez pas encore de compte ? <a href="{% url 'register' %}">Rendez-vous
                        au formulaire d'inscription.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}