{% extends '_base.html' %}
{% load i18n %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}login-form{% endblock %}

{% block extratitle %}{{ _('Password reset') }}{% endblock %}

{% block content %}
<div class="article narrow fr-container fr-my-5w">
    <h1>{{ _('Forgot your password?') }}<br />
        <span class="fr-h4">{{ _('Request a new one') }}</span>
    </h1>

    <form method="post" action="" class="fr-mt-5w">
        {% csrf_token %}

        {% include '_form_snippet.html' with form=form %}
        <button type="submit" class="fr-btn">{{ _('Request a new password') }}</button>
    </form>

    {% url 'register' as register_url %}
    <p class="info fr-mt-5w fr-background-alt-pink fr-p-3w">
        <span class="fr-fi-user-line" aria-hidden="true"></span>
        {% blocktrans trimmed %}
        Don't have an account yet? <a href="{{ register_url }}">Proceed to
        the registration form.</a>
    {% endblocktrans %}</p>
</div>
{% endblock %}
