{% extends '_base.html' %}
{% load i18n %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}login-form{% endblock %}

{% block extratitle %}{{ _('Password reset') }}{% endblock %}

{% block content %}
<div class="article narrow">
    <h1>{{ _('Forgot your password?') }}<br />
        <small>{{ _('Request a new one') }}</small>
    </h1>

    <form method="post" action="">
        {% csrf_token %}

        {% include '_form_snippet.html' with form=form %}
        <button type="submit">{{ _('Request a new password') }}</button>
    </form>

    {% url 'register' as register_url %}
    <p class="info">
        <span class="fas fa-user-plus"></span>
        {% blocktrans trimmed %}
        Don't have an account yet? <a href="{{ register_url }}">Proceed to
        the registration form.</a>
    {% endblocktrans %}</p>
</div>
{% endblock %}
