{% extends '_base.html' %}
{% load i18n %}

{% block extratitle %}Mon nouveau mot de passe{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}reset-password-confirm-form{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Mon nouveau mot de passe</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">

        <div class="fr-col-md-9">
            <h1 class="fr-h3">Mon nouveau mot de passe</h1>

            <div role="alert" class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w">
                <p>
                    Vous pouvez mettre à jour votre mot de passe ci-dessous.
                </p>
            </div>

            <p>Les champs marqués d’un astérisque (*) sont obligatoires.</p>

            <form method="post" action="" novalidate>
                {% csrf_token %}
                {% include '_field_snippet.html' with field=form.new_password %}
                {% include '_field_snippet.html' with field=form.new_password2 %}
                <button type="submit" class="fr-btn">Mettre à jour mon mot de passe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
