{% extends '_base.html' %}
{% load i18n compress %}

{% block extratitle %}{{ _('Update your profile') }}{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}profile-form{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{{ _('Home') }}</a></li>
        <li class="active" aria-current="page">{{ _('Update your profile') }}</li>
    </ol>
</nav>
{% endblock %}


{% block content %}
<div class="article narrow">

    <h1>{{ _('Update your profile') }}</h1>

    {% if user.is_contributor_or_staff %}
    {% url 'contributor_profile' as contributor_profile_url %}
    <div class="info">
    {% blocktrans trimmed %}
        <p>
            <span class="fas fa-lightbulb"></span>
            You have a contributor account. <a href="{{ contributor_profile_url }}">
            To update your contributor profile, please proceed to the specific page.
            </a>
        </p>
    {% endblocktrans %}
    </div>
    {% endif %}

    <form method="post" action="" novalidate>
        {% csrf_token %}
        {% include '_form_snippet.html' with form=form %}
        <button type="submit">{{ _('Update your personal data') }}</button>
    </form>
</div>
{% endblock %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
{% endcompress %}
{% endblock %}
