{% extends '_base.html' %}
{% load i18n %}

{% block extratitle %}{{ _('Update your profile') }}{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}register-form{% endblock %}

{% block content %}
<div class="narrow-form">

    <h1>{{ _('Update your profile') }}</h1>

    <form method="post" action="" novalidate>
        {% csrf_token %}
        {% include '_form_header.html' %}

        <h2>
            <span class="fas fa-envelope"></span><br />
            {{ _('Notification and alerts preferences') }}
        </h2>
        {% include '_checkbox_snippet.html' with field=form.ml_consent %}
        {% include '_checkbox_snippet.html' with field=form.similar_aids_alert %}

        <hr />

        {% if user.is_contributor %}
            <h2>
                <span class="fas fa-pencil-alt"></span><br />
                {{ _("Your contributor profile") }}
            </h2>
        {% else %}
            <h2>
                <span class="fas fa-pencil-alt"></span><br />
                {{ _("Become a contributor") }}<br/>
                <small>{{ _("Fill out the required data") }}</small>
            </h2>
        {% endif %}

        <div class="info">
        {% blocktrans trimmed %}
            <p>
                <span class="fas fa-lightbulb"></span>
                Some features on Aides-Territoires require a contributor account.
                To become a contributor, all you have to do is provide additional
                contact data.
            </p>
            <p>We will use this data to help validate the aids your contribute.</p>
        {% endblocktrans %}
        </div>

        {% include '_field_snippet.html' with field=form.organization %}
        {% include '_field_snippet.html' with field=form.role %}
        {% include '_field_snippet.html' with field=form.contact_phone %}

        <button type="submit">{{ _('Update your personal data') }}</button>
    </form>
</div>
{% endblock %}