{% extends "_base.html" %}
{% load i18n static compress %}

{% block extratitle %}Mettre à jour votre profil{% endblock extratitle %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}profile-form{% endblock sectionid %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li class="active" aria-current="page">Mettre à jour votre profil</li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1>Mettre à jour votre profil</h1>

            {% if user.is_contributor_or_staff %}
            {% url 'contributor_profile' as contributor_profile_url %}
            <div class="info">
                <p>
                    💡 Vous bénéficiez d’un compte contributeur.
                    <a href="{{ contributor_profile_url }}">Pour mettre à jour votre profil contributeur, rendez-vous sur la page dédiée.</a>
                </p>
            </div>
            {% endif %}

            <form method="post" novalidate>
                {% csrf_token %}
                {% include '_form_snippet.html' with form=form %}
                <button type="submit">Mettre à jour vos données</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
{% compress css %}
{% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
{% compress js %}
<script src="{% static '/select2/dist/js/select2.js' %}"></script>
<script src="{% static '/select2/dist/js/i18n/fr.js' %}"></script>
{% endcompress %}
{% endblock extra_js %}
