{% extends "_base.html" %}
{% load i18n %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}login-form{% endblock sectionid %}

{% block extratitle %}Compte créé{% endblock extratitle %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1>Merci d'avoir créé un compte</h1>

            <p>
                <strong>Une dernière étape est nécessaire avant d’activer votre compte :</strong>
                consultez votre messagerie et cliquez sur le lien de confirmation.
            </p>

            <p>
                Si vous ne recevez pas d’e-mail, essayez les solutions suivantes :
                <ul>
                    <li>vérifiez l’exactitude de l’adresse e-mail saisie ;</li>
                    <li>vérifiez vos spams ;</li>
                    <li>attendez quelques minutes <a href="{% url 'register' %}">et réessayez</a> ;</li>
                </ul>
            </p>

            <div class="fr-alert fr-alert--info fr-alert--sm">
                <p>
                    Si vous n’arrivez pas à vous inscrire,
                    <a href="{% url 'contact' %}">n’hésitez pas à nous contacter.</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
