{% extends '_base.html' %}
{% load i18n %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}login-form{% endblock %}

{% block extratitle %}Compte créé{% endblock %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <h1>Merci d'avoir créé un compte</h1>

            <p>
                <strong>Une dernière étape est nécessaire avant d'activer votre compte&nbsp;</strong>
                consultez votre messagerie et cliquez sur le lien de confirmation.
            </p>

            <p>
                Si vous ne recevez pas d'e-mail, essayez les solutions suivantes&nbsp;:
                <ul>
                    <li>vérifiez l'exactitude de l'adresse e-mail saisie&nbsp;;</li>
                    <li>vérifiez vos spams&nbsp;;</li>
                    <li>attendez quelques minutes <a href="{{ register }}">et réessayez</a>&nbsp;;</li>
                </ul>
            </p>

            <div role="alert" class="fr-alert fr-alert--info fr-alert--sm">
                <span class="fas fa-bug"></span>
                Si vous n'arrivez pas à vous inscrire,
                <a href="mailto:aides-territoires@beta.gouv.fr"> n'hésitez pas à nous contacter</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}
