{% extends '_base.html' %}
{% load i18n form_utils compress %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}register-form{% endblock %}

{% block extra_head %}
<meta property="og:title" content="Aides-territoires | Inscription" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Trouvez les aides pertinentes pour financer et accompagner les projets de votre territoire" />
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock %}

{% block extratitle %}{{ _('Register') }}{% endblock %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">

            <h1 class="fr-mb-5w">Créer votre compte</h1>

            <p class="warning fr-background-alt-pink fr-p-3w fr-mb-0">
                <span class="fr-fi-lock-line" aria-hidden="true"></span>
                {% url 'login' as login_url %}
                Vous disposez déjà d'un compte ?
                <a href="{{ login_url }}">Rendez-vous sur la page de connexion.</a>
            </p>

            <form method="post" action="" novalidate class="fr-mt-5w" id="register-form">
                {% csrf_token %}
                {{ form.media }}

                {% include '_form_header.html' with form=form %}

                <fieldset>
                    <legend>Informations personnelles</legend>
                    {% include '_field_snippet.html' with field=form.first_name %}
                    {% include '_field_snippet.html' with field=form.last_name %}
                    {% include '_field_snippet.html' with field=form.email %}
                    {% include '_field_snippet.html' with field=form.password1 %}
                    {% include '_field_snippet.html' with field=form.password2 %}
                </fieldset>

                <fieldset class="fr-mt-5w">
                    <legend>Informations professionnelles</legend>

                    <div id="form-group-organization_type" class="fr-input-group required ">
                        <label for="id_organization_type">Vous êtes un/une</label>
                        <select name="organization_type" id="id_organization_type">
                            <option value="" hidden>Sélectionnez une option</option>
                            {% for option in form.organization_type %}
                            {{ option }}
                            {% endfor %}
                        </select>
                        {% if form.organization_type.errors %}
                        <p class="error field-error">
                            ↑
                            {{ form.organization_type.errors.0 }}
                            ↑
                        </p>
                        {% endif %}
                    </div>

                    <div id="beneficiary-fields-collapse" class="fr-collapse fr-mb-3w">
                        {% include '_field_snippet.html' with field=form.beneficiary_role %}
                        {% include '_field_snippet.html' with field=form.beneficiary_function %}
                    </div>

                    <div class="fr-form-group">
                        <fieldset class="fr-fieldset">
                            <p>Vous souhaitez utiliser Aides-territoires pour&nbsp;:</p>
                            <div class="fr-grid-row fr-grid--middle">
                                <div class="fr-fieldset__content fr-pr-2w">
                                    {% include '_checkbox_snippet.html' with field=form.is_beneficiary %}
                                </div>        
                                <div class="fr-fieldset__content">
                                    {% include '_checkbox_snippet.html' with field=form.is_contributor %}
                                </div>
                            </div>
                        </fieldset>    
                    </div>
                </fieldset>

                {% url 'legal_mentions' as legal_mentions_url %}
                <p class="info fr-background-alt-pink fr-p-3w fr-mt-5w">
                    <span class="fr-fi-checkbox-circle-line" aria-hidden="true"></span>
                    En créant un compte, vous acceptez que vos données soient traitées en accord avec <a href="{{ legal_mentions_url }}" target="_blank" rel="noopener">notre politique de confidentialité</a>.
                </p>
                <button type="submit" class="fr-btn fr-mb-5w">Créer un compte</button>
            </form>

            <p class="warning fr-background-alt-pink fr-p-3w">
                <span class="fas fa-bug"></span>
                Si vous n'arrivez pas à vous inscrire, 
                <a href="mailto:aides-territoires@beta.gouv.fr">n'hésitez pas à nous contacter.</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/js/accounts/toggle_beneficiary_related_fields.js"></script>
{% endcompress %}
{% endblock %}
