{% extends '_base.html' %}
{% load i18n %}

{% block extratitle %}Mon compte{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}user-account{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Mon compte</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with dashboard=True %}

        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-h3">Bienvenue sur votre compte Aides-territoires {{ user.full_name }}&nbsp;!</h1>
            {% if join_organization %}
            <div class="fr-alert fr-alert--info fr-alert--sm fr-mt-5w fr-mb-5w">
                <p><strong>Vous avez une invitation à rejoindre une organisation en attente. <a href="{% url 'join_organization' %}">Cliquez ici</a> pour la consulter.</strong></p>
            </div>
            {% endif %}
            <p>Depuis votre compte utilisateur, gérez vos projets, vos aides, ou les informations liées à votre structure.</p>
            <div class="fr-ml-5w fr-grid-row fr-grid-row--gutters fr-mt-5w">
                {% if user.is_contributor %}
                <div class="fr-col-6 fr-col-md-4 fr-col-lg-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <h4 class="fr-tile__title">
                                <a class="fr-tile__link" href="{% url 'aid_draft_list_view' %}">Diffuser mes aides</a>
                            </h4>
                            <p class="fr-tile__desc fr-h4 fr-pb-2w">{{ aids_number }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if user.is_beneficiary %}
                <div class="fr-col-6 fr-col-md-4 fr-col-lg-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <h4 class="fr-tile__title">
                                <a class="fr-tile__link" href="{% url 'project_list_view' %}">Gérer mes projets</a>
                            </h4>
                            <p class="fr-tile__desc fr-h4 fr-pb-2w">{{ projects_number }}</p>
                        </div>
                    </div>    
                </div>
                {% endif %}
                {% if user.is_beneficiary %}
                <div class="fr-col-6 fr-col-md-4 fr-col-lg-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <h4 class="fr-tile__title">
                                <a class="fr-tile__link" href="{% url 'collaborators' %}">Inviter des collaborateurs</a>
                            </h4>
                            <p class="fr-tile__desc fr-h4 fr-pb-2w">{{ collaborators_number }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
