{% extends '_base.html' %}
{% load i18n %}

{% block extratitle %}Mon compte{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}user-account{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Mon compte</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' %}

        <div class="fr-col-12 fr-col-md-9">
            <h1>Ma clé API</h1>
            <p>
                La clé API, ou Token API, est une combinaison vous permettant d’associer votre
                login et votre mot de passe de façon sécurisée lors de vos intégrations.
            </p>
            <p>
                Cet identifiant vous permet de connecter notre API à votre logiciel/service en
                ligne avec une sécurité maximale.
            </p>
            <p>

                <strong>
                    Il sera obligatoire pour utiliser la nouvelle version de notre API prévue en
                    novembre 2023.
                </strong>
            </p>

            {% if user.auth_token %}
                <div class="fr-alert fr-alert--success">
                    <p>Votre Token API :</p>
                    <p><strong>{{ user.auth_token.key }}</strong></p>

                    <p>
                        <a href="{% url 'swagger-ui' %}?version={{ api_version }}" target="_blank" rel="noopener">
                            Consulter la documentation de l’API
                            <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
                        </a>
                    </p>
                </div>
            {% else %}
            <div class="fr-alert fr-alert--info">
                <p>
                    <a href="{% url 'swagger-ui' %}?version={{ api_version }}" target="_blank" rel="noopener">
                        Consulter la documentation de l’API
                        <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
                    </a>
                </p>
            </div>
            <h2>Pour obtenir votre clé, merci de remplir le formulaire :</h2>
            {% endif %}

            <form method="post" class="fr-mt-3w" novalidate>
                <p>Les champs marqués d’un astérisque (*) sont obligatoires.</p>
                {% csrf_token %}

                {% include '_field_snippet.html' with field=form.api_project_description %}
                {% include '_field_snippet.html' with field=form.api_project_url %}
                <button type="submit" class="fr-btn">Envoyer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
