{% extends '_base.html' %}
{% load i18n mailing_list %}

{% block extratitle %}Mon compte{% endblock %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}user-account{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Mes alertes</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include 'accounts/_sidebar_menu.html' with user_parameter=True alert_list=True %}

        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-h3 fr-mb-5w">Gestion des alertes et souscriptions</h1>

            <div class="fr-mb-5w">
                <h2 class="fr-h4">Newsletter</h2>
                {% if isUserSubscriber %}
                <p>Vous êtes abonné à la newsletter.</p>
                <a href="{% url 'unsubscribe_nawsletter' %}" class="fr-btn fr-mb-5w">
                    Se désabonner
                </a>
                {% else %}
                <a class="fr-btn fr-mb-5w" href="{% mailing_list_url %}" title="S‘abonner à notre lettre d’information">S'abonner</a>
                {% endif %}
            </div>
            
            <h2 class="fr-h4">Mes alertes</h2>
            <p>Retrouvez ici toutes les alertes auxquelles vous vous êtes abonnées.</p>
            <div class="fr-table fr-table--bordered">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Fréquence</th>
                            <th scope="col">Date création</th>
                            <th scope="col">Dernière réception</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% if alerts %}
                        {% for alert in alerts %}
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{% url 'search_view'%}?{{ alert.querystring }}" target="_blank" rel="noopener">
                                        {{ alert.title }}
                                    </a>
                                </td>
                                <td>{{ alert.get_alert_frequency_display }}</td>
                                <td>{{ alert.date_created|date:'d/m/y' }}</td>
                                <td>
                                    {% if alert.validated %}
                                    {{ alert.latest_alert_date|date:'d/m/y' }}
                                    {% else %}
                                    En attente de confirmation
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'alert_delete_view' alert.token %}" target="_blank" rel="noopener" title="supprimer cette alerte">
                                        Supprimer
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tbody>
                            <tr>
                                <td colspan="5">
                                    <center>Vous n'avez aucune alerte pour l'instant</center>
                                </td>
                            </tr>
                        </tbody>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
