{% extends "_base.html" %}

{% block extratitle %}Supprimer mon compte{% endblock extratitle %}

{% block extraclasses %}light{% endblock extraclasses %}

{% block sectionid %}profile-form{% endblock sectionid %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'user_dashboard' %}">Mon compte</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Supprimer mon comptel</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">

        {% include 'accounts/_sidebar_menu.html' with user_parameter=True %}

        <div class="fr-col-md-9">
            <h1 class="fr-h3">Supprimer mon compte</h1>

            <div role="alert" class="fr-alert fr-alert--warning fr-alert--sm fr-mb-5w">
                <p>
                    Vous vous apprêtez à supprimer votre compte. Cette action est définitive !
                    Merci de prendre le temps de vérifier les informations qui vont être supprimées lors de la suppression du compte.
                </p>
            </div>

            <h2 class="fr-h4">Structure</h2>
            {% if org_members.count > 1 %}
                <p>
                    La structure « {{ user.beneficiary_organization }} » compte d’autres membres que vous : elle ne sera donc pas supprimée.
                </p>
            {% else %}
                <p>
                    Vous êtes la seule personne appartenant à la structure « {{ user.beneficiary_organization }} ».
                    Si vous supprimez votre compte elle sera donc également supprimée.
                </p>
                
            {% endif %}

            {% if projects.count > 0 %}
                <h2 class="fr-h4">Projets</h2>
                {% if org_members.count > 1 %}
                    <p>Vous pouvez transférer la propriété des projets suivants à un autre membre de votre structure.</p>
                {% else %}
                    <p>
                        Les projets suivants seront supprimés. Si vous voulez les transférer à un autre utilisateur,
                        vous pouvez l’inviter à rejoindre votre structure ou demander à ce qu’il vous invite.
                        Vous pourrez alors transférer la propriété du projet à cette personne.
                    </p>
                {% endif %}
                <ul>
                {% for project in projects %}
                    <li>{{ project.name }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if aids.count > 0 %}
                <h2 class="fr-h4">Aides</h2>
                <p>Les aides suivantes vont être supprimées :</p>
                <ul>
                {% for aid in aids %}
                    <li>{{ aid.name }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if alerts.count > 0 %}
                <h2 class="fr-h4">Alertes</h2>
                <p>Les alertes suivantes vont être supprimées :</p>
                <ul>
                {% for alert in alerts %}
                    <li>{{ alert.title }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <div>
                <a class="fr-btn fr-btn--icon-left fr-fi-delete-line btn_delete" href="{% url 'delete_user_account_validated' %}">
                    Supprimer votre compte
                </a>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}