{% load i18n widget_tweaks %}
<div id="bookmark-search-modal" class="modal">
    <div class="modal-dialog">
        <section>
            <header>
                <h1>{{ _('New aids alert') }}</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </header>

            <div class="content">
                <p class="info">{% blocktrans trimmed %}
                    You can receive email alerts whenever
                    new aids corresponding to your current search are published.
                {% endblocktrans %}</p>

                <p class="warning">
                    <a href="{% url 'login' %}">
                        {{ _('Do you already own an account? Login first.') }}
                    </a>
                </p>

                <form>
                    <div class="form-group">
                        {{ bookmark_form.title.label_tag }}
                        {{ bookmark_form.title|attr:"form:search-form"|attr:"autocomplete:off" }}
                    </div>

                    <div class="form-group">
                        {{ bookmark_form.email.label_tag }}
                        {{ bookmark_form.email|attr:"form:search-form"|attr:"autocomplete:off" }}
                        <span class="field-help">
                            {{ bookmark_form.email.help_text }}
                        </span>
                    </div>
                </form>
            </div>

            <footer>
                <button class="btn-block" type="submit" form="search-form" formaction="{% url 'bookmark_create_view' %}" formmethod="post">
                    {{ _('Bookmark the search') }}
                </button>
            </footer>
        </section>
    </div>
</div>