{% load i18n %}
<div id="bookmark-search-modal" class="user-modal modal">
    <div class="modal-dialog">
        <form id="bookmark-form" action="{% url 'bookmark_create_view' %}" method="post">
            <section>
                <header>
                    <h1>{{ _('New email aids alert') }}</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </header>

                <div class="content">
                    {% csrf_token %}
                    {% include '_field_snippet.html' with field=bookmark_form.title %}
                    {% include '_checkbox_snippet.html' with field=bookmark_form.send_email_alert %}
                    {% include '_field_snippet.html' with field=bookmark_form.alert_frequency %}
                </div>

                <footer>
                    <button class="btn-block" type="submit">
                        {{ _('Create an alert') }}
                    </button>
                </footer>
            </section>
        </form>
    </div>
</div>