{% extends '_base.html' %}
{% load i18n %}

{% block extratitle %}{{ _('Bookmarks') }}{% endblock %}

{% block sectionid %}bookmarks{% endblock %}

{% block content %}
<h1>{{ _('Your bookmarks') }}</h1>

{% for bookmark in bookmarks %}
<div class="bookmark">
<div>
    <h2>
        {{ bookmark.title }}<br />
        <small>{{ bookmark.date_created|date:'SHORT_DATETIME_FORMAT' }}</small>
    </h2>

    <a href="{% url 'search_view' %}?{{ bookmark.querystring }}">
        {{ _('See results') }}
    </a>

    <form class="delete-form" action="{% url 'bookmark_delete_view' bookmark.id %}" method="post">
        {% csrf_token %}
        <button type="submit">
            {{ _('Delete this bookmark') }}
        </button>
    </form>
</div>
</div>
{% empty %}
<p class="info">{% blocktrans trimmed %}
    You don't have any bookmarks yet. You can save bookmarks by using the
    search engine and clicking on the "save search" button.
{% endblocktrans %}</p>
{% endfor %}
{% endblock %}