.CheckboxGroup {
  padding: 1rem;
}

.CheckboxGroup .label {
  cursor: pointer;
}

.CheckboxGroup .checkbox {
  display: block;
  margin-bottom: 1rem;
}

.CheckboxGroup .checkbox span {
  padding: 1rem;
}
