[run]
omit = */virtualenvs/*,*tests/*,*/apps.py,*migrations/*,*manage.py,*__init__.py,*/factories.py,*asgi*,core/wsgi.py,*/admin.py,*/urls.py,manage.py

[report]
omit = */virtualenvs/*,*tests/*,*/apps.py,*migrations/*,*manage.py,*__init__.py,*/factories.py,*asgi*,core/wsgi.py,*/admin.py,*/urls.py,manage.py
