[run]
omit =
    */virtualenvs/*
    */tests/*
    */apps.py
    */migrations/*
    *manage.py
    *__init__.py
    */settings/*
    */factories.py
    *asgi*
    *wsgi*
    */admin.py
    */tasks.py
    */urls.py
    core/admin_*
