[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
celery = "*"
crawlerdetect = "*"
django = "<4"
django-activity-stream = "*"
django-admin-autocomplete-filter = {editable = true, ref = "pre_release", git = "https://github.com/farhan0581/django-admin-autocomplete-filter.git"}
django-admin-sortable2 = "*"
django-admin-tools = "*"
django-anymail = {extras = ["sendinblue"],version = "*"}
django-braces = "*"
django-celery-beat = "*"
django-compressor = "*"
django-cors-headers = "*"
django-environ = "*"
django-fieldsets-with-inlines = "*"
django-import-export = "*"
django-model-utils = "*"
django-otp = "*"
django-redis = "*"
djangorestframework = "*"
django-xworkflows = "*"
dj-static = "*"
dj-database-url = "*"
gunicorn = "*"
importlib-metadata = "*"
psycopg2-binary = "*"
qrcode = "*"
redis = "*"
requests = "*"
scrapy = "*"
sentry-sdk = "*"
unipath = "*"
xlrd = "*"
zipp = "*"
django-storages = "*"
boto3 = "*"
whitenoise = "*"
xmltodict = "*"
deepdiff = "*"
django-simple-captcha = "*"
django-dsfr = "*"
xhtml2pdf = "*"
python-stdnum = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
django-csp = "*"
django-resized = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
factory-boy = "*"
flake8 = "*"
ipython = "*"
pytest = "*"
pytest-django = "*"
pyparsing = "*"
pydot = "*"
rope = "*"
selenium = "*"
yapf = "*"
pytest-xdist = "*"
ipdb = "*"
black = "*"
pre-commit = "*"
bandit = "*"
coverage = "*"

[requires]
python_version = "3.10"
