[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
unipath = "*"
"psycopg2-binary" = "*"
django-compressor = "*"
django-widget-tweaks = "*"
django-model-utils = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
django-debug-toolbar = "*"
factory-boy = "*"

[requires]
python_version = "3.6"
