[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
celery = "*"
crawlerdetect = "*"
django = "<4"
django-activity-stream = "*"
django-admin-autocomplete-filter = {editable = true, ref = "pre_release", git = "https://github.com/farhan0581/django-admin-autocomplete-filter.git"}
django-admin-sortable2 = "*"
django-admin-tools = "*"
django-anymail = {extras = ["sendinblue"],version = "*"}
django-braces = "*"
django-celery-beat = "*"
django-compressor = "*"
django-cors-headers = "*"
django-environ = "*"
django-fieldsets-with-inlines = "*"
django-import-export = "*"
django-model-utils = "*"
django-otp = "*"
django-redis = "*"
django-rest-framework = "*"
django-xworkflows = "*"
dj-static = "*"
dj-database-url = "*"
drf-spectacular = "*"
gunicorn = "*"
importlib-metadata = "*"
"psycopg2-binary" = "*"
qrcode = "*"
redis = "*"
requests = "*"
scrapy = "*"
sentry-sdk = "*"
unipath = "*"
xlrd = "*"
zipp = "<2"  # https://github.com/jaraco/zipp/issues/28
django-storages = "*"
boto3 = "*"
whitenoise = "*"

[dev-packages]
ansible = "<4"
django-debug-toolbar = "*"
django-extensions = "*"
factory-boy = "*"
"flake8" = "*"
ipython = "*"
pytest = "*"
pytest-django = "*"
pyparsing = "*"
pydot = "*"
rope = "*"
selenium = "*"
yapf = "*"
pytest-xdist = "*"

[requires]
python_version = "3"
