<h1>
        Aides territoires s’adresse aux acteurs des territoires
</h1>
<p>
    Le but de ce service est <strong>d'agréger l'ensemble des aides destinées au financement et à l'ingénierie</strong> de vos projets locaux.<br>
    Le service est fonctionnel depuis 2018 et s'améliore chaque jour en <strong>rendant disponible plus d'offres et en améliorant la qualité de recherche</strong>.
</p>
<div class="comercial">
    <div>
        <i class="fas fa-clock fa-5x"></i>
        <h2>Gagnez du temps</h2>
        <p>Obtenez au <strong>même endroit</strong> les aides de la part de nombreux organismes</p>
    </div>
    <div>
        <i class="fas fa-list-alt fa-5x"></i>        
        <h2>Ne ratez rien</h2>
        <p>Retrouvez une large sélection d'aides <strong>disponibles pour votre territoire</strong></p>
    </div>
    <div>
        <i class="fas fa-eye fa-5x"></i>
        <h2>Restez en veille</h2>
        <p>Les subventions et les aides sont <strong>mises à jour chaque jour</strong></p>
    </div>
</div>