<h1>
        Aides territoires s’adresse aux acteurs des territoires
</h1>
<p>
    Le but de ce service est <b>d’agréger l’ensemble des aides destinées au financement et à l'ingénierie</b> de vos projets locaux.<br>
    Le service est fonctionnel depuis 2018 et s’améliore chaque jour en <b>rendant disponible plus d’offres et en améliorant la qualité de recherche</b>.
</p>
<div>
    <div class="comercial">
        <img src="/static/icons/noun_Time_2630876.svg" alt="Gagnes du temps" />
        <h2>Gagnez du temps</h2>
        <p>Obtenez au <b>même endroit</b> les aides de la part de nombreux organismes</p>
    </div>
    <div class="comercial">
        <img src="/static/icons/noun_List_2041127.svg" alt="Ne ratez rien" />
        <h2>Ne ratez rien</h2>
        <p>Retrouvez une large sélection d’aides <b>disponibles pour votre territoire</b></p>
    </div>
    <div class="comercial">
        <img src="/static/icons/noun_Eye_2184513.svg" alt="Restez en veille" />
        <h2>Restez en veille</h2>
        <p>Les subventions et les aides sont <b>mises à jour chaque jour</b></p>
    </div>
</div>