<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col-lg-5 fr-mb-10w">
        <h2>Trouvez les aides disponibles pour votre territoire</h2>

        <p class="fr-text--lead">
            <strong>
                <span class="at-color--blue">{{ nb_aids }}</span> aides recensées par <span class="at-color--blue">{{ nb_backers }}</span> porteurs d’aides partout en France
            </strong>
        </p>
        <form id="department-search-form" method="post">
            <div class="fr-select-group">
                <select class="fr-select fr-mt-3w at-live-change"
                        title="Choisissez un département - La sélection recharge la page"
                        id="select-department"
                        name="department">
                    <option value="">Choisissez un département</option>
                    {% for department in departments %}
                        <option value="{{ department.code }}-{{ department.slug }}">
                            {{ department.code }} - {{ department.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </form>

        {% if subset_selected_backers %}
            <div id="home-partners" class="fr-grid-row fr-grid-row--center fr-grid-row--gutter fr-pb-3w fr-pt-2w at-centered fr-grid-row--bottom" >
                {% for selected_backer in subset_selected_backers %}
                    {% if forloop.counter <= 5 %}
                        <div class="fr-col-xs-12 fr-p-3w">
                            <a href="{{ selected_backer.get_absolute_url }}" class="at-link__nodecorator">
                            {% if selected_backer.logo %}
                                <img src="{{ selected_backer.logo.url }}" alt="Logo : {{ selected_backer.name }}" loading="lazy" />
                            {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>        
        {% endif %}
    
    </div>
    <div class="fr-col-12 fr-col-lg-7" role="presentation">
        <div id="france-map" class="fr-mt-4w fr-mb-4w">{% include "geofr/france_departments.svg" %}</div>
        <div id="tooltip"></div>
    </div>
</div>