{% load settings %}
<figure role="group" class="fr-content-media">
    <video controls class="fr-responsive-vid" poster="{% cloud_file_url 'Aides-territoires-presentation.jpg' %}">
        <source src="{% cloud_file_url 'Aides-territoires-presentation.mp4' %}" type="video/mp4">
        <source src="{% cloud_file_url 'Aides-territoires-presentation.webm' %}" type="video/webm">
        <p>
            Votre navigateur ne prend pas en charge les vidéos HTML5.
            Voici <a href="{% cloud_file_url 'Aides-territoires-presentation.mp4' %}">un lien pour télécharger la vidéo</a>.
        </p>
    </video>
    <figcaption class="fr-content-media__caption">
        Vidéo de présentation d’Aides-territoires
    </figcaption>
</figure>

<ul class="fr-btns-group fr-btns-group--inline fr-btns-group--center fr-btns-group--icon-left">
    <li>
        <a class="fr-btn" target="_blank" rel="noopener" href="https://app.livestorm.co/aides-territoires/demonstration-de-la-plateforme-aides-territoires?type=detailed">
            Je m’inscris à une session de démonstration
        </a>
    </li>
</ul>
