<div class="fr-pt-2w">
    <figure role="group" class="fr-content-media">
        <iframe class="fr-responsive-vid" src="https://www.dailymotion.com/embed/video/x8gyqrn" allowfullscreen title="Lecteur vidéo Dailymotion — Présentation d’Aides-territoires" allow="autoplay"> </iframe>
        <figcaption class="fr-content-media__caption">
            Description / Source
            <a class="fr-link" href="https://www.dailymotion.com/video/x8gyqrn">
                Dailymotion
            </a>
        </figcaption>
    </figure>    
</div>
