{% extends "_base.html" %}

{% block extratitle %}Déclaration d’accessibilité{% endblock extratitle %}

{% block meta_description %}Déclaration d’accessibilité{% endblock meta_description %}

{% block extra_head %}
<meta property="og:title" content="Déclaration d’accessibilité" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock extra_head %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil
            d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Déclaration d’accessibilité</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<article class="fr-container">
    <div id="page-content" class="fr-grid-row fr-grid-row--center fr-mb-5w fr-pb-5w">
        <div class="fr-col-md-8">
            <h1>Déclaration d’accessibilité</h1>
            <p class="fr-text--sm">Établie le <time datetime="2023-08-30">30 août 2023</time>.</p>

            <p>
                La Fabrique Numérique du Ministère de la Transition écologique et solidaire et du
                Ministère de la Cohésion des territoires et des Relations avec les collectivités
                territoriales s’engage à rendre son service accessible, conformément à l’article 47
                de la loi n° 2005-102 du 11 février 2005.
            </p>

            <p>
                Cette déclaration d’accessibilité s’applique à <strong>Aides-territoires</strong>
                (https://aides-territoires.beta.gouv.fr/).
            </p>

            <h2>État de conformité</h2>

            <p>
                <strong>Aides-territoires</strong> est <strong>en conformité partielle</strong>
                avec le référentiel général d’amélioration de l’accessibilité en raison des
                non-conformités et des dérogations énumérées ci-dessous.
            </p>

            <h2>Résultats des tests</h2>
            
            <p>
                L’audit de conformité au RGAA 4.1.2 réalisé par la société Numerik-ea révèle que :
            </p>

            <ul>
                <li><strong>76,81 %</strong> des critères RGAA 4.1.2 sont respectés.</li>
            </ul>

            <p>Dans le détail :</p>

            <ul>
                <li>Nombre de critères conformes : 53 ;</li>
                <li>Nombre de critères non applicables : 16 ;</li>
                <li>Nombre de critères non conformes : 37.</li>
            </ul>

            <h2>
                Contenus non accessibles
            </h2>

            <p>Les contenus listés ci-dessous ne sont pas accessibles pour les raisons suivantes :</p>

            <h3>Non conformité</h3>

            <p>Liste des critères non conformes :</p>
            <ul>
                <li>
                    1.2	Chaque image de décoration est-elle correctement ignorée par les technologies
                    d’assistance ?
                </li>
                <li>
                    1.3	Pour chaque image porteuse d'information ayant une alternative textuelle,
                    cette alternative est-elle pertinente (hors cas particuliers) ?
                </li>
                <li>
                    1.8	Chaque image texte porteuse d’information, en l’absence d’un mécanisme de
                    remplacement, doit si possible être remplacée par du texte stylé. Cette règle
                    est-elle respectée (hors cas particuliers) ?
                </li>
                <li>2.1	Chaque cadre a-t-il un titre de cadre ?</li>
                <li>
                    3.1	Dans chaque page web, l’information ne doit pas être donnée uniquement par
                    la couleur. Cette règle est-elle respectée ?
                </li>
                <li>
                    4.1	Chaque média temporel pré-enregistré a-t-il, si nécessaire, une
                    transcription textuelle ou une audiodescription (hors cas particuliers) ?
                </li>
                <li>
                    4.3	Chaque média temporel synchronisé pré-enregistré a-t-il, si nécessaire, des
                    sous-titres synchronisés (hors cas particuliers) ?
                </li>
                <li>6.1	Chaque lien est-il explicite (hors cas particuliers) ?</li>
                <li>
                    7.1	Chaque script est-il, si nécessaire, compatible avec les technologies
                    d’assistance ?
                </li>
                <li>
                    7.5	Dans chaque page web, les messages de statut sont-ils correctement
                    restitués par les technologies d’assistance ?
                </li>
                <li>
                    9.1	Dans chaque page web, l’information est-elle structurée par l’utilisation
                    appropriée de titres ?
                </li>
                <li>
                    10.1	Dans le site web, des feuilles de styles sont-elles utilisées pour
                    contrôler la présentation de l’information ?
                </li>
                <li>
                    10.2	Dans chaque page web, le contenu visible porteur d’information
                    reste-t-il présent lorsque les feuilles de styles sont désactivées ?
                </li>
                <li>11.1	Chaque champ de formulaire a-t-il une étiquette ?</li>
                <li>
                    11.10	Dans chaque formulaire, le contrôle de saisie est-il utilisé de manière
                    pertinente (hors cas particuliers) ?
                </li>
                <li>
                    13.3	Dans chaque page web, chaque document bureautique en téléchargement
                    possède-t-il, si nécessaire, une version accessible (hors cas particuliers) ?
                </li>
            </ul>

            <h3>Contenus non soumis à l’obligation d’accessibilité</h3>
            <ul>
                <li>
                    Les fichiers disponibles dans des formats bureautiques publiés avant le
                    23 septembre 2018 ;
                </li>
                <li>
                    Les contenus de tiers qui ne sont ni financés ni développés par l’organisme
                    concerné et qui ne sont pas sous son contrôle (vidéos hébergées sur des sites
                    tiers tels que Youtube ou Dailymotion, fichiers PDF en lien ou en téléchargement
                    qui peuvent être partiellement ou totalement inaccessibles.)
                </li>
            </ul>

            <h3>
                Dérogations pour charge disproportionnée
            </h3>
            <p>
                Liste des contenus non accessibles, dérogés pour charge disproportionnée :
            </p>

            <ul>
                <li>
                    Certains documents PDF sont produits par Aides-territoires, comme les exports des
                    aides liées à un projet ou à un porteur d’aides. Destinés à l’impression, nous n’en
                    garantissons pas l’accessibilité. L’alternative accessible consiste à consulter
                    directement les aides en question sur le site.
                </li>
            </ul>


            <h2>Établissement de cette déclaration d’accessibilité</h2>
            <p>Cette déclaration a été établie le 30 août 2023.</p>
            <p>
                Technologies utilisées pour la réalisation du site web :
            </p>
            <ul>
                <li>HTML ;</li>
                <li>CSS ;</li>
                <li>JavaScript.</li>
            </ul>

            <h3>Environnement de test</h3>
            <p>
                Les tests des pages web ont été effectués avec les combinaisons de navigateurs web
                et lecteurs d’écran suivants :
            </p>
            <ul>
                <li>NVDA, Firefox ;</li>
                <li>Jaws, Firefox ;</li>
                <li>Voiceover, Safari.</li>
            </ul>

            <p>Les outils suivants ont été utilisés lors de l’évaluation :</p>
            <ul>
                <li>WCAG contrast checker ;</li>
                <li>HeadingsMap ;</li>
                <li>Web developer ;</li>
                <li>ARC Toolkit ;</li>
                <li>PAC (PDF Accessibility Checker)</li>            
            </ul>

            <p>
                Pages du site ayant fait l’objet de la vérification de conformité :
            </p>

            <ol>
                <li>Accueil : https://aides-territoires.beta.gouv.fr/</li>
                <li>Contact : https://aides-territoires.beta.gouv.fr/contact/</li>
                <li>
                    Mentions légales : https://aides-territoires.beta.gouv.fr/mentions-l%C3%A9gales/
                </li>
                <li>Accessibilité : https://aides-territoires.beta.gouv.fr/accessibilit%C3%A9/</li>
                <li>Blog : https://aides-territoires.beta.gouv.fr/blog/</li>
                <li>
                    Article blog : https://aides-territoires.beta.gouv.fr/blog/les-fabriques-prospectives-accompagnent-les-collec/
                </li>
                <li>Cartographie : https://aides-territoires.beta.gouv.fr/cartographie/</li>
                <li>
                    Cartographie d’un département (Cher) : https://aides-territoires.beta.gouv.fr/cartographie/18-cher/programmes/
                </li>
                <li>
                    Connexion au compte :  https://aides-territoires.beta.gouv.fr/comptes/connexion/
                </li>
                <li>
                    Recherche aides : https://aides-territoires.beta.gouv.fr/recherche/trouver-des-aides/
                </li>
                <li>
                    Fiche d’aide : https://aides-territoires.beta.gouv.fr/aides/3616-demarches-de-developpement-durable-et-de-qual/ 
                </li>
                <li>
                    Partenaires : https://aides-territoires.beta.gouv.fr/partenaires/113-banque-des-territoires/
                </li>
                <li>
                    Porteurs des aides (vidéos) : https://aides-territoires.beta.gouv.fr/porteurs-aides/
                </li>
                <li>
                    Création de compte : https://aides-territoires.beta.gouv.fr/comptes/inscription/ 
                </li>
                <li>
                    Création de compte 2  https://aides-territoires.beta.gouv.fr/comptes/inscription-succ%C3%A8s/
                </li>
                <li>
                    Mon compte : https://aides-territoires.beta.gouv.fr/comptes/moncompte/
                </li>
                <li>
                    Mon compte > Gérer mes projets : https://aides-territoires.beta.gouv.fr/projets/vos-projets/
                </li>
                <li>
                    Mon compte > Gérer mes projets > Mon projet : https://aides-territoires.beta.gouv.fr/projets/8177-ac39-test/
                </li>
                <li>
                    Statistiques : https://aides-territoires.beta.gouv.fr/stats/
                </li>
                <li>
                    Publier une aide : https://aides-territoires.beta.gouv.fr/aides/publier/
                </li>
            </ol>

            <h2>Retour d’information et contact</h2>

            <p>
                Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter
                le responsable de <span>Aides-territoires</span> pour être orienté vers une
                alternative accessible ou obtenir le contenu sous une autre forme.
            </p>

            <ul class="basic-information feedback h-card">
                <li>
                    E-mail : <a href="mailto:aides-territoires@beta.gouv.fr">aides-territoires@beta.gouv.fr</a>
                </li>
                <li>
                    Formulaire de contact :
                    <a href="https://aides-territoires.beta.gouv.fr/contact/">
                        https://aides-territoires.beta.gouv.fr/contact/
                    </a>
                </li>
            </ul>
            <h2>Voie de recours</h2>

            <p>
                Cette procédure est à utiliser dans le cas suivant :
                vous avez signalé au responsable du site internet un défaut d’accessibilité qui
                vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez
                pas obtenu de réponse satisfaisante.
            </p>

            <p>Vous pouvez :</p>

            <ul>
                <li>
                    Écrire un message au
                    <a href="https://formulaire.defenseurdesdroits.fr/" target="_blank" rel="noopener">
                        Défenseur des droits
                        <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
                    </a>
                </li>
                <li>
                    Contacter 
                    <a href="https://www.defenseurdesdroits.fr/saisir/delegues" target="_blank" rel="noopener">
                        le délégué du Défenseur des droits dans votre région
                        <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
                    </a>
                </li>
                <li>
                    Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :<br />
                    Défenseur des droits<br />
                    Libre réponse 71120<br />
                    75342 Paris CEDEX 07
                </li>
            </ul>
        </div>
    </div>
</article>
{% endblock content %}
