{% extends "_base.html" %}

{% block extratitle %}Déclaration d’accessibilité{% endblock extratitle %}

{% block meta_description %}Déclaration d’accessibilité{% endblock meta_description %}

{% block extra_head %}
<meta property="og:title" content="Déclaration d’accessibilité" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock extra_head %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil
            d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Déclaration d’accessibilité</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<article class="fr-container">
    <div id="page-content" class="fr-grid-row fr-grid-row--center fr-mb-5w fr-pb-5w">
        <div class="fr-col-md-8">
            <h1>Déclaration d’accessibilité</h1>

            <p class="fr-text--sm">Établie le <time datetime="2022-03-21">21 mars 2022</time>.</p>

            <p><span>La Fabrique Numérique du Ministère de la Transition écologique et solidaire et du Ministère de la Cohésion des territoires et des Relations avec les collectivités territoriales</span> s’engage à rendre son service accessible, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.</p>

            <p>Cette déclaration d’accessibilité s’applique à <strong>Aides Territoires</strong><span> (<span>https://aides-territoires.beta.gouv.fr/</span>)</span>.</p>

            <h2>État de conformité</h2>

            <p>
                <strong>Aides Territoires</strong> est 
                <strong><span data-printfilter="lowercase">non conforme</span></strong> avec le <abbr title="Référentiel général d’amélioration de l’accessibilité">RGAA</abbr>. <span>Le site n’a encore pas été audité.</span>
            </p>

            <h2>Dérogations</h2>
            <h3>Contenus tiers</h3>

            <p>Les contenus suivants sont dérogés, car il s’agit de composants tiers sur lesquels Aides-territoires ne peut ni intervenir ni garantir l’accessibilité :</p>

            <ul>
                <li>
                    Les vidéos hébergées sur des sites tiers tels que Youtube ou Dailymotion ;
                </li>
                <li>
                    Le champ d’édition texte riche présent sur certains formulaires, notamment celui de création d’aides.
                    Il est possible de nous contacter via les moyens indiqués ci-dessous pour que nous remplissions ce champ
                    pour vous si nécessaire.
                </li>
            </ul>

            <h3>Documents PDF</h3>
            <p>Le site propose de nombreux fichiers PDF en lien ou en téléchargement qui peuvent être partiellement ou totalement inaccessibles.</p>

            <p>La grande majorité d’entre eux sont des contenus tiers et proviennent d’autres administrations (documents publics). Aides-territoires souhaite travailler sur ce sujet en bonne intelligence avec les différentes administrations et leur rappeler l’importance de fournir des fichiers accessibles et conformes à la réglementation.</p>

            <p>Certains documents PDF sont produits par Aides-territoires, comme les exports des aides liées à un projet ou à un porteur d’aides. Destinés à l’impression, nous n’en garantissons pas l’accessibilité.</p>

            <p>L’alternative accessible consiste à consulter directement les aides en question sur le site.</p>

            <h2>Amélioration et contact</h2>

            <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de <span>Aides Territoires</span> pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.</p>

            <ul class="basic-information feedback h-card">
                <li>
                    E-mail : <a href="mailto:aides-territoires@beta.gouv.fr">aides-territoires@beta.gouv.fr</a>
                </li>
                <li>
                    Formulaire de contact : <a href="https://aides-territoires.beta.gouv.fr/contact/">https://aides-territoires.beta.gouv.fr/contact/</a>
                </li>
            </ul>
            <h2>Voie de recours</h2>

            <p>Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>

            <p>Vous pouvez :</p>

            <ul>
                <li>Écrire un message au <a href="https://formulaire.defenseurdesdroits.fr/" target="_blank" rel="noopener">
                    Défenseur des droits
                    <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
                </a></li>
                <li>Contacter <a href="https://www.defenseurdesdroits.fr/saisir/delegues" target="_blank" rel="noopener">
                    le délégué du Défenseur des droits dans votre région
                    <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
                </a></li>
                <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :<br />
                Défenseur des droits<br />
                Libre réponse 71120 75342 Paris CEDEX 07</li>
            </ul>
        </div>
    </div>
</article>

<article class="fr-container">
    <div id="page-content" class="fr-grid-row fr-grid-row--center fr-mb-5w fr-pb-5w">
        <div class="fr-col-md-8">
            <h1>Déclaration d’accessibilité</h1>
            <p class="fr-text--sm">Établie le <time datetime="2023-08-30">30 août 2023</time>.</p>

            <p>
                La Fabrique Numérique du Ministère de la Transition écologique et solidaire et du
                Ministère de la Cohésion des territoires et des Relations avec les collectivités
                territoriales s’engage à rendre son service accessible, conformément à l’article 47
                de la loi n° 2005-102 du 11 février 2005.
            </p>

            <p>
                Cette déclaration d’accessibilité s’applique à <strong>Aides-territoires</strong>
                (https://aides-territoires.beta.gouv.fr/).
            </p>

            <h2>État de conformité</h2>

            <p>
                <strong>Aides-territoires</strong> est <strong>en conformité partielle</strong>
                avec le référentiel général d’amélioration de l’accessibilité en raison des
                non-conformités et des dérogations énumérées ci-dessous.
            </p>

            <h2>Résultats des tests</h2>
            
            <p>
                L’audit de conformité au RGAA 4.1.2 réalisé par la société Numerik-ea révèle que :
            </p>

            <ul>
                <li>76,81 % des critères RGAA 4.1.2 sont respectés.</li>
            </ul>

            <p>Dans le détail :</p>

            <ul>
                <li>Nombre de critères conformes : 53</li>
                <li>Nombre de critères non applicables : 16</li>
                <li>Nombre de critères non conformes : 37</li>
            </ul>

            <h2>
                Contenus non accessibles
            </h2>

            <p>Les contenus listés ci-dessous ne sont pas accessibles pour les raisons suivantes :</p>

            <h3>Non conformité</h3>

            <p>Liste des critères non conforme :</p>


    • 1.2	Chaque image de décoration est-elle correctement ignorée par les technologies d’assistance ?
    • 1.3	Pour chaque image porteuse d'information ayant une alternative textuelle, cette alternative est-elle pertinente (hors cas particuliers) ?
    • 1.8	Chaque image texte porteuse d’information, en l’absence d’un mécanisme de remplacement, doit si possible être remplacée par du texte stylé. Cette règle est-elle respectée (hors cas particuliers) ?
    • 2.1	Chaque cadre a-t-il un titre de cadre ?
    • 3.1	Dans chaque page web, l’information ne doit pas être donnée uniquement par la couleur. Cette règle est-elle respectée ?
    • 4.1	Chaque média temporel pré-enregistré a-t-il, si nécessaire, une transcription textuelle ou une audiodescription (hors cas particuliers) ?
    • 4.3	Chaque média temporel synchronisé pré-enregistré a-t-il, si nécessaire, des sous-titres synchronisés (hors cas particuliers) ?
    • 6.1	Chaque lien est-il explicite (hors cas particuliers) ?
    • 7.1	Chaque script est-il, si nécessaire, compatible avec les technologies d’assistance ?
    • 7.5	Dans chaque page web, les messages de statut sont-ils correctement restitués par les technologies d’assistance ?
    • 9.1	Dans chaque page web, l’information est-elle structurée par l’utilisation appropriée de titres ?
    • 10.1	Dans le site web, des feuilles de styles sont-elles utilisées pour contrôler la présentation de l’information ?
    • 10.2	Dans chaque page web, le contenu visible porteur d’information reste-t-il présent lorsque les feuilles de styles sont désactivées ?
    • 11.1	Chaque champ de formulaire a-t-il une étiquette ?
    • 11.10	Dans chaque formulaire, le contrôle de saisie est-il utilisé de manière pertinente (hors cas particuliers) ?
    • 13.3	Dans chaque page web, chaque document bureautique en téléchargement possède-t-il, si nécessaire, une version accessible (hors cas particuliers) ?

Dérogations pour charge disproportionnée
Liste des contenus non accessible, dérogés pour charge disproportionnée:

Contenus non soumis à l’obligation d’accessibilité
    • Les fichiers disponibles dans des formats bureautiques publiés avant le 23 septembre 2018;
    • Les contenus de tiers qui ne sont ni financés ni développés par l’organisme concerné et qui ne sont pas sous son contrôle ;

ÉTABLISSEMENT DE CETTE DÉCLARATION D’ACCESSIBILITÉ
Cette déclaration a été établie le 30 août 2023.
Technologies utilisées pour la réalisation du site web
    • HTML
    • CSS
    • Javascript
Environnement de test
Les tests des pages web ont été effectués avec les combinaisons de navigateurs web et lecteurs d’écran suivants :
    • NVDA, Firefox 
    • Jaws , Firefox 
    • Voiceover, Safari,
Les outils suivants ont été utilisés lors de l’évaluation :
    • WCAG contrast checker​
    • HeadingsMap​
    • Web developer​
    • ARC Toolkit
    • PAC (PDF Accessibility Checker)
Pages du site ayant fait l’objet de la vérification de conformité
    1. Accueil : https://aides-territoires.beta.gouv.fr/ 
    2. Contact : https://aides-territoires.beta.gouv.fr/contact/ 
    3. Mentions légales : https://aides-territoires.beta.gouv.fr/mentions-l%C3%A9gales/ 
    4. Accessibilité : https://aides-territoires.beta.gouv.fr/accessibilit%C3%A9/ 
    5. Blog : https://aides-territoires.beta.gouv.fr/blog/ 
    6. Article blog : https://aides-territoires.beta.gouv.fr/blog/les-fabriques-prospectives-accompagnent-les-collec/ 
    7. Cartographie : https://aides-territoires.beta.gouv.fr/cartographie/ 
    8. Cartographie d'un département (Cher) : https://aides-territoires.beta.gouv.fr/cartographie/18-cher/programmes/ 
    9. Connexion au compte :  https://aides-territoires.beta.gouv.fr/comptes/connexion/ 
    10. Recherche aides : https://aides-territoires.beta.gouv.fr/recherche/trouver-des-aides/ 
    11. Fiche d'aide : https://aides-territoires.beta.gouv.fr/aides/3616-demarches-de-developpement-durable-et-de-qual/ 
    12. Partenaires : https://aides-territoires.beta.gouv.fr/partenaires/113-banque-des-territoires/ 
    13. Porteurs des aides (vidéos) : https://aides-territoires.beta.gouv.fr/porteurs-aides/ 
    14. Création de compte : https://aides-territoires.beta.gouv.fr/comptes/inscription/ 
    15. Création de compte 2 : https://aides-territoires.beta.gouv.fr/comptes/inscription-succ%C3%A8s/ 
    16. Création de Mon compte : https://aides-territoires.beta.gouv.fr/comptes/moncompte/ 
    17.  Mon compte > Gérer mes projets : https://aides-territoires.beta.gouv.fr/projets/vos-projets/ 
    18. Mon compte > Gérer mes projets > Mon projet : https://aides-territoires.beta.gouv.fr/projets/8177-ac39-test/ 
    19. Statistiques : https://aides-territoires.beta.gouv.fr/stats/ 
    20. Publier une aide : https://aides-territoires.beta.gouv.fr/aides/publier/ 
RETOUR D’INFORMATION ET CONTACT
Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable du site web pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.
    • Envoyer un message https://aides-territoires.beta.gouv.fr/contact/ 
VOIES DE RECOURS
Cette procédure est à utiliser dans le cas suivant.
Vous avez signalé au responsable du site web un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services et vous n’avez pas obtenu de réponse satisfaisante.
    • Écrire un message au Défenseur des droits (https://formulaire.defenseurdesdroits.fr/)
    • Contacter le délégué du Défenseur des droits dans votre région ( https://www.defenseurdesdroits.fr/saisir/delegues)
    • Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) 
Défenseur des droits
Libre réponse 71120 
75342 Paris CEDEX 07
{% endblock content %}
