{% extends "_base.html" %}

{% block extratitle %}Conditions générales d'utilisation{% endblock extratitle %}

{% block meta_description %}Conditions générales d'utilisation{% endblock meta_description %}

{% block extra_head %}
<meta property="og:title" content="Conditions générales d'utilisation" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock extra_head %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil
            d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Conditions générales d'utilisation</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<article class="fr-container">
    <div id="page-content" class="fr-grid-row fr-grid-row--center fr-mb-5w fr-pb-5w">
        <div class="fr-col-md-8">
            <h1>Conditions générales d'utilisation</h1>

            <p>Les présentes conditions générales d’utilisation (dites « CGU ») fixent le cadre juridique de la plateforme Aides-territoires et définissent les conditions d’accès et d’utilisation des services par les utilisateurs.</p>

            <div>
                <h2>Article 1 - Champ d’application</h2>
                <p>La plateforme Aides-territoires est ouverte aux :</p>
                <ul>
                    <li>structures proposant des dispositifs financiers et d’ingénierie à destination des collectivités et de leurs partenaires locaux ;</li>
                    <li>collectivités territoriales, leurs partenaires locaux (associations, établissements publics, entreprises) portant un ou plusieurs projets et recherchant des aides.</li>
                </ul>
            </div>

            <div>
                <h2>Article 2 – Objet</h2>
                <p>La plateforme Aides-territoires a pour objectif de faciliter la réalisation de projets des collectivités, en rendant visibles et accessibles à tous les dispositifs financiers et/ou d’ingénierie auxquels les porteurs de projets locaux (collectivités et leurs partenaires) peuvent prétendre.</p>
                <p>La plateforme Aides-territoires permet d’assurer :</p>
                <ul>
                    <li>la centralisation des dispositifs : des centaines de porteurs d'aides dont les dispositifs d'appui sont réunis sur une même plateforme ;</li>
                    <li>la fiabilité de l'information : les aides présentées sont disponibles au moment où vous effectuez la recherche et leur contenu est vérifié par notre équipe ;</li>
                    <li>la personnalisation des résultats : les différentes entrées du parcours de recherche ciblent les aides correspondant au projet et à sa localisation ;</li>
                    <li>un gain de temps : les porteurs de projets locaux reçoivent les nouvelles aides et informations pour leurs projets directement sur leur boîte mail.</li>
                </ul>
            </div>

            <div>
                <h2>Article 3 – Définitions</h2>
                <p>« Utilisateur » désigne toute personne utilisant la plateforme Aides-territoires.</p>
                <p>« Les Porteurs.ses d’aides » désignent toute structure qui propose des dispositifs d’appui financiers et/ou d’ingénierie à destination des collectivités territoriales et de leurs partenaires locaux (associations, établissements publics, entreprises, agriculteurs). Il s’agit de la structure à l’origine de l’aide.</p>
                <p>« Les Porteurs.ses de projets locaux » désignent toute collectivité territoriale, tout partenaire local (associations, établissements publics, entreprises) porteur d’un projet et cherchant ou bénéficiant pour ce dernier de dispositifs financiers et/ ou d’ingénierie mis à disposition par des Porteurs d’aides.</p>
                <p>Les « Services » sont les fonctionnalités offertes par la plateforme Aides-territoires pour répondre à ses finalités.</p>
            </div>

            <div>
                <h2>Article 4 – Fonctionnalités</h2>
                <p>Tout Utilisateur accédant aux Services peut :</p>
                <ul>
                    <li>rechercher des aides proposées par des Porteurs d’aides, accéder aux informations relatives à chacune de ces aides ;</li>
                    <li>rechercher des projets rendus publics sur la plateforme Aides-territoires par des Porteurs de projets collectivités, sans pouvoir accéder au détail des informations relatives à chaque projet public ;</li>
                    <li>rechercher des projets déjà subventionnés sur un territoire donné ;</li>
                    <li>accéder à la cartographie référençant les Porteurs d’aides et des programmes associés à ces aides sur un territoire donné ;</li>
                    <li>accéder à la liste des programmes d’aides ;</li>
                    <li>accéder aux actualités du blog et sur les financements européens.</li>
                </ul>
                <p>Les Utilisateurs ayant un compte en tant que Porteurs d’aides ou Porteurs de projets bénéficient de fonctionnalités supplémentaires lorsqu’ils utilisent les Services.</p>
                <p>L’accès à ces fonctionnalités est subordonné à la création d’un compte sur la plateforme par le responsable de la structure Porteuse d’aides ou Porteuse de projets locaux. Pour ce faire, le responsable de la structure indique sur la plateforme Aides-territoires : ses prénom et nom, son adresse e-mail, son mot de passe, le type de structure, le territoire concerné, le nom de la structure, le souhait de trouver des aides (pour les Porteurs de projets locaux) ou de publier des aides (pour les Porteurs d’aides).</p>
                <p>Une fois créé, le responsable de structure pourra se connecter à son compte en indiquant son adresse e-mail et son mot de passe.</p>
                <p>Des informations administratives (SIREN, SIRET, adresse de la structure) et de qualification du compte (ex : données INSEE) peuvent être automatiquement adjointes au compte des porteurs de projets.</p>
            
                <div>
                    <h3>4.1. Fonctionnalités ouvertes uniquement aux Porteurs d’aides</h3>
                    <p>Après la création de la structure et du compte responsable de structure Porteuse d’aides, les Services permettent à tout responsable de cette structure de :</p>
                    <ul>
                        <li>Référencer des aides sur la plateforme Aides-territoires en complétant pour chacune d’elles un formulaire ou en transmettant un fichier Excel référençant les aides ou via un flux JSON. Les aides référencées sont rendues publiques sur la plateforme des Aides-territoires et viennent alimenter le moteur de recherche de la plateforme. Les données transmises sont diffusées sous Licence Ouverte 2.0  ;</li>
                        <li>Constituer un portefeuille d’aides, les gérer et en obtenir des statistiques de visite, y compris la connaissance des utilisateurs et des projets intéressés par les aides ;</li>
                        <li>Créer un portail personnalisé en formulant une demande à l’équipe de la plateforme Aides-territoires afin de référencer sur ce portail l’ensemble des aides proposées par la structure ;</li>
                        <li>Être mis en relation avec les porteurs de projets dont la typologie ou le projet correspondent a priori aux aides portées par la structure ;</li>
                        <li>Bénéficier d’une valorisation des aides (publication d’articles par l’équipe de la plateforme Aides-territoires, référencement au sein des webinar).</li>
                    </ul>
                </div>

                <div>
                    <h3>4.2 Fonctionnalités ouvertes aux Porteurs.ses de projets locaux</h3>
                    <p>Après la création de la structure et du compte responsable de la structure Porteuse de projets locaux, les Services permettent à tout responsable de cette structure de :</p>
                    <ul>
                        <li>Créer un projet en renseignant les informations relatives à ce dernier. Les informations relatives à un projet sont partagées avec les collaborateurs bénéficiant d’un compte collaborateur sur la plateforme Aides-territoires ;</li>
                        <li>Accéder à une suggestion d’aides référencées sur la plateforme Aides-territoires ;</li>
                        <li>Rendre public un projet afin de le rendre visible sur la plateforme Aides-territoires et de bénéficier de suggestions d’aides par d’autres Porteurs d’aides (dont les services de l’Etat) ou Porteurs de projets locaux ;</li>    
                        <li>Accéder pour chacune des aides proposées aux informations relatives au Porteur d’aides et aux critères d’éligibilité du dispositif, sa description, les contacts associés, une redirection vers le site du Porteur d’aide détaillant le dispositif ;</li>
                        <li>Sélectionner et sauvegarder une aide dans le projet ;</li>
                        <li>Faire une recherche d’aides à partir du moteur de recherche en indiquant les critères relatifs à la thématique du projet, la nature de l’aide, l’identité des Porteurs d’aides, une échéance pour candidater à une aide, les programmes d’aides, l’avance du projet, le type d’actions concernées, la nature des aides recherchées (payantes ou gratuites) ;</li>
                        <li>Créer une alerte e-mail à partir des critères de recherche d’aides sélectionnés pour être informé dès qu’une nouvelle aide est publiée, et supprimer les alertes ;</li>
                        <li>Ajouter un projet aux favoris ;</li>
                        <li>Inviter un collaborateur à rejoindre la structure en indiquant ses prénom et nom, son adresse e-mail. Un courriel d’invitation lui est envoyé ;</li>
                        <li>Gérer les membres de l’équipe de la structure ayant un compte collaborateur ;</li>
                        <li>Gérer les projets : avoir une visibilité sur l’ensemble des projets et des aides associées, mettre à jour le statut des aides, exporter le projet en format CSV, tableur Excel ou PDF ;</li>
                        <li>Accéder aux projets rendus publics par les autres Porteurs de projets locaux de la plateforme, identifier les aides associées, ajouter le projet rendu public à ses favoris ou suggérer une aide pour ce projet ;</li>
                        <li>Consulter une cartographie des porteurs d’aides (même accessible aux personnes n’ayant pas de compte) afin d’identifier l’ensemble des Porteurs d’aides pour un territoire en particulier ;</li>
                        <li>S’abonner à la newsletter ;</li>
                        <li>Bénéficier d’un parcours personnalisé : recevoir un courriel de l’équipe de la plateforme Aides-territoires permettant d’assurer le suivi des projets, suggérant des événements, des événements liés aux projets référencés, proposant des mises en relation avec d’autres Porteurs de projets locaux ou des Porteurs d’aides ;</li>
                        <li>Bénéficier de suggestions personnalisées et automatiques: en fonction d’un parcours identifié, des caractéristiques du compte, des recherches déjà effectuées, des projets enregistrés, des alertes paramétrées et plus globalement de toute action effectuée par le Porteur de projets.</li>
                    </ul>
                    <p>Les Services permettent aux comptes collaborateurs de :</p>
                    <ul>
                        <li>accéder aux projets de la structure ;</li>
                        <li>faire une recherche d’aides à partir du moteur de recherche en indiquant les critères relatifs à la thématique du projet, la nature de l’aide, l’identité des Porteurs d’aides, une échéance pour candidater à une aide, les programmes d’aides, l’avance du projet, le type d’actions concernées, la nature des aides recherchées (payantes ou gratuites) ;</li>
                        <li>contribuer aux projets de la structure en sélectionnant et sauvegardant une aide dans le projet ;</li>
                        <li>accéder au suivi des projets favoris de la structure ;</li>
                        <li>consulter les projets publics et les informations relatives à ceux-ci, les ajouter en favoris ou suggérer des aides.</li>
                    </ul>
                </div>
            </div>
            <div>
                <h2>Article 5 - Responsabilités</h2>

                <div>
                    <h3>5.1 L’éditeur de « Aides-territoires »</h3>
                    <p>Les sources des informations diffusées sur la plateforme sont réputées fiables mais la plateforme ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
                    <p>L’éditeur s’engage à la sécurisation de la plateforme, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. Il le réalise dans la limite des capacités techniques liées au chiffrement.</p>
                    <p>L’éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu à la plateforme. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le site pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>
                </div>

                <div>
                    <h3>5.2 Le responsable de la structure Porteuse d’aides ou Porteuse de projets locaux</h3>
                    <p>Le responsable de structure Porteuse d’aides ou Porteuse de projets locaux s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe.</p>
                    <p>Il assure être en mesure d’engager juridiquement la structure.</p>
                    <p>Il s’engage à ne pas commercialiser les données reçues et à ne pas les communiquer à des tiers en dehors des cas prévus par la loi.</p>
                    <p>Toute information transmise par le responsable de structure Porteuse d’aides ou Porteuse de projets locaux est de leur seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.</p>
                    <p>Le responsable de structure Porteuse d’aides ou Porteuse de projets locaux s'engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur.</p>
                </div>

                <div>
                    <h3>5.3. L’Utilisateur et les collaborateurs des structures Porteuses de projets locaux</h3>
                    <p>L'Utilisateur et les collaborateurs des structures Porteuses de projets locaux s'assurent de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe.</p>
                    <p>Ils s’engagent à ne pas commercialiser les données reçues et à ne pas les communiquer à des tiers en dehors des cas prévus par la loi.</p>
                    <p>Toute information transmise par l'Utilisateur et les collaborateurs des structures Porteuses de projets locaux est de leur seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.</p>
                    <p>L'Utilisateur et les collaborateurs des structures Porteuses de projets locaux s'engagent à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur.</p>
                </div>

                <div>
                    <h3>Article 6 - Mise à jour des conditions d’utilisation</h3>
                    <p>Les termes des présentes conditions d’utilisation peuvent être amendés à tout moment, en fonction des modifications apportées à la plateforme, de l’évolution de la législation ou pour tout autre motif jugé nécessaire. Chaque modification donne lieu à une nouvelle version qui est acceptée par les parties.</p>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock content %}
