{% extends "_base.html" %}

{% block extratitle %}Contact{% endblock extratitle %}

{% block extra_head %}
<meta property="og:title" content="Aides-territoires | Contactez-nous" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Trouvez les aides pertinentes pour financer et accompagner les projets de votre territoire" />
<meta property="og:url" content="https://aides-territoires.beta.gouv.fr" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="https://aides-territoires.beta.gouv.fr/static/img/logo_AT_og.png" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock extra_head %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Contact</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="fr-container fr-mb-5w fr-pb-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-8">
            <form id="contact-form" action="{% url 'contact' %}" method="post">
                <section>
                    <header>
                        <h1>Nous contacter</h1>
                    </header>

                    <div class="content fr-mb-5w">
                        <div role="alert" class="fr-alert fr-alert--info fr-alert--sm fr-mb-2w fr-mt-5w">
                            <p>
                                <strong>
                                    Toute demande relative à un projet spécifique ne pourra être traitée car nous n'avons pas vocation à conseiller directement les porteurs de projets.
                                </strong> 
                            </p>
                            <p>
                                <strong>
                                    Vous pouvez contacter directement les porteurs d’aides, dont vous trouverez les contacts en bas de chaque fiche aide.
                                </strong>
                            </p>
                        </div>            
                        {% csrf_token %}
                        <fieldset>
                            {% include '_field_snippet.html' with field=form.first_name %}
                            {% include '_field_snippet.html' with field=form.last_name %}
                            {% include '_field_snippet.html' with field=form.email %}
                            {% include '_field_snippet.html' with field=form.phone %}
                            {% include '_field_snippet.html' with field=form.organization_and_role %}
                        </fieldset>

                        <fieldset>
                            {% include '_field_snippet.html' with field=form.subject %}
                        </fieldset>

                        <fieldset>
                            {% include '_field_snippet.html' with field=form.message %}
                        </fieldset>
                    </div>

                    <p class="info fr-background-alt-pink fr-p-3w fr-mt-5w">
                        <span class="fr-fi-checkbox-circle-line" aria-hidden="true"></span>
                        En utilisant cette fonctionnalité, vous acceptez que vos données soient traitées en accord avec <a href="{% url 'privacy_policy' %}" target="_blank" rel="noopener">notre politique de confidentialité</a>.
                    </p>

                    <footer>
                        <button type="submit" class="fr-btn">Envoyer</button>
                    </footer>
                </section>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
