{% extends '_base.html' %}
{% load compress %}

{% block title %}
Aides-territoires 🏡 Aides publiques pour les collectivités
{% endblock %}

{% block body-class %}home{% endblock %}

{% block main %}
<section id="intro">
    <div class="container">

        <div class="title-block" id="what">
            <h1>Réalisez vos projets locaux</h1>
            <p class="tagline">
                Chaque jour, des collectivités comme la vôtre trouvent et bénéficient
                d'aides pour financer et accompagner des projets portant sur une
                grande variété de thématiques. Donnez vie aux ambitions de votre
                territoire. Commencez maintenant !
            </p>
            <p>
                <a href="{% url 'search_step_audiance' %}" class="cta">Trouver des aides</a>
            </p>
            <img src="/static/img/home_aides.svg" alt="" />
        </div>

        <div class="title-block" id="how">
            <h1>Comment ça marche ?</h1>

            <div class="marketing">
                <div>
                    <img alt="" src="/static/img/home_steps_1.svg" />
                    <p>Les porteurs créent des aides financières ou en ingénierie</p>
                </div>
                <div>
                    <img alt="" src="/static/img/home_steps_2.svg" />
                    <p>Aides-territoires recense et trie toutes ces aides</p>
                </div>
                <div>
                    <img alt="" src="/static/img/home_steps_3.svg" />
                    <p>Les collectivités sont alertées des aides pertinentes</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="stats" class="dark-background">
<div>
    <div class="container">
        <h1>Aides-territoires en {% now "Y" %}</h1>

        <div>
            <div>
                <h2>
                    <span>{{ nb_aids }}</span>
                    aides disponibles
                </h2>
                <p>
                    Un chiffre en croissance grâce à notre stratégie de
                    déploiement
                </p>
            </div>
            <div>
                <h2>
                    <span>{{ nb_backers }}</span>
                    porteurs d'aides référencés
                </h2>
                <p>
                    Des partenaires toujours plus nombreux nous font confiance
                    pour publier leurs aides
                </p>
            </div>
            <div>
                <h2>
                    <span>{{ nb_categories }}</span>
                    thématiques
                </h2>
                <p>
                    et sous-thématiques pour faciliter votre recherche sur tout
                    le territoire
                </p>
            </div>

        </div>

    </div>
</div>
</section>

<section id="partner">
    <div class="container">
        <h1>Ils nous font confiance</h1>
        <div>
            <img src="/static/img/partners/logo-afb.svg" title="Agence Française pour la Biodiversité" alt="Logo de l'Agence Française pour la Biodiversité" />
            <img src="/static/img/partners/logo-aesn-small.png" title="Agence de l'eau Seine Normandie" alt="Logo de l'Agence de l'eau Seine Normandie" />
            <img src="/static/img/partners/logo-ademe.svg" title="Agence de l'environnement et de la maîtrise de l'énergie" alt="Logo de l'Agence de l'environnement et de la maîtrise de l'énergie" />
            <img src="/static/img/partners/logo-miqcp-small.png" title="Mission Interministérielle pour la Qualité des Constructions Publiques" alt="Logo de la Mission Interministérielle pour la Qualité des Constructions Publiques" />
            <img src="/static/img/partners/logo-seg-small.png" title="Services de l'État en Guyane" alt="Logo des Services de l'Etat en Guyane " />
            <img src="/static/img/partners/logo-ge-small.png" title="Région Grand Est" alt="Logo de la Région Grand Est" />
            <img src="/static/img/partners/logo-adlrmc-small.png" title="Agence de l'eau Rhône Méditarranée Corse" alt="Logo de l'Agence de l'eau Rhône Méditerranée Corse" />
            <img src="/static/img/partners/logo-afd-small.png" title="Agence Française de Développement" alt="Logo de l'Agence française de développement" />
            <img src="/static/img/partners/logo-bdt-small.png" title="Banque des Territoires" alt="Logo de la Banque des Territoires" />
        </div>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/select2.scss" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
{% endcompress %}
<script>
$(document).ready(function () {
    // Autofocus the perimeter search input
    $('select#id_perimeter').select2('open');
});
</script>
{% endblock %}
