{% extends '_base.html' %}

{% block extratitle %}{{ _('Home') }}{% endblock %}

{% block main %}
<section id="landing-value">
    <div class="container">
        <h1>Réalisez vos projets locaux en trouvant des aides appropriées.</h1>
        <p class="tagline">
            Grâce à ce service, des territoires comme le vôtre obtiennent chaque semaine des subventions pour leurs projets
            Recherchez dès maintenant les aides dont votre territoire peut bénéficier
        </p>

    <form class="search-form" method="get" action="{% url 'search_view' %}">
        <div class="search-control form-group form-group-lg">
            <select id="id_perimeter" name="perimeter" aria-label="{{ _('City, department, region, EPCI…') }}">
            </select>
        </div>

        <button type="submit" id="search-btn">
            {{ _('Start searching for aids') }}
        </button>
    </form>
    </div>
</section>

<section id="partner">
    <div class="container">
        <h1>Retrouvez sur Aides-territoires les aides de :</h1>
        <div>
            <img src="/static/img/partners/logo-afb.svg" alt="Logo de l'Agence Française pour la Biodiversité" />
            <img src="/static/img/partners/logo-aesn.png" alt="Logo de l'Agence de l'eau Seine Normandie" />
            <img src="/static/img/partners/logo-ademe.svg" alt="Logo de l'Agence de l'environnement et de la maîtrise de l'énergie" />
            <img src="/static/img/partners/logo-miqcp.png" alt="Logo de la Mission Interministérielle pour la Qualité des Constructions Publiques" />
            <img src="/static/img/partners/logo-seg.png" alt="Logo des Services de l'Etat en Guyane " />
            <img src="/static/img/partners/logo-ge.png" alt="Logo de la Région grand Est" />
            <img src="/static/img/partners/logo-adlrmc.png" alt="Logo de l'Agence de l'eau Rhône Méditerranée Corse" />
            <img src="/static/img/partners/logo-afd.png" alt="Logo de l'Agence française de développement" />
            <img src="/static/img/partners/logo-bdt.png" alt="Logo de la Banque des Territoires" />

        </div>
    </div>
</section>

<section id="contact">
    <div class="narrow-form">
        <h1>Restons en contact</h1>

        {% include 'home/_mailing_list_form.html' %}
    </div>
</section>

<section id="comercial">
    <div class="container">
        {% include 'home/_comercial.html' %}
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/select2.scss" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block extra_js %}
<script src="/static/select2/dist/js/select2.js"></script>
<script src="/static/select2/dist/js/i18n/fr.js"></script>
<script src="/static/js/aids/perimeter_autocomplete.js"></script>
{% endblock %}
