{% extends '_base.html' %}

{% block content %}
<h1>{{ _('Legal mentions') }}</h1>

<h2>Éditeurs</h2>

<p>
Aides-territoires est édité par la Fabrique numérique des ministères de la
Transition écologique et solidaire et de la Cohésion des territoires (Grande
Arche de la Défense, 92055 La Défense CEDEX), avec l'appui de l’incubateur de
services numériques beta.gouv.fr de la direction interministérielle du numérique
et du système d’information et de communication de l’État (DINSIC).</p>


<h2>Directeur de la publication</h2>

<p>
Monsieur Paul Delduc, directeur général de l'aménagement, du logement et de la
nature (DGALN).
</p>

<h2>Hébergeur</h2>

<p>
OVH
RCS Roubaix – Tourcoing 424 761 419 00045
Code APE 6202A
N° TVA : FR 22 424 761 419
Siège social : 2 rue Kellermann, 59100 Roubaix, France
</p>
{% endblock %}
