{% extends '_base.html' %}

{% block content %}
<h1>{{ _('Legal mentions') }}</h1>

<h2>Éditeurs</h2>

<p>
Aides-territoires est édité par la Fabrique Numérique du
Ministères de la Transition écologique et solidaire et
du Ministère de la Cohésion des territoires et des Relations
avec les collectivités territoriales (Grande
Arche de la Défense, 92055 La Défense CEDEX), avec l'appui de l’incubateur de
services numériques beta.gouv.fr de la direction interministérielle du numérique
et du système d’information et de communication de l’État (DINSIC).</p>


<h2>Directeur de la publication</h2>

<p>
Monsieur Paul Delduc, directeur général de l'aménagement, du logement et de la
nature (DGALN).
</p>

<h2>Hébergeur</h2>

<p>
ONLINE SAS, société par actions simplifiée au capital de 214 410,50 Euros,
filiale du groupe Iliad, immatriculée au Registre du Commerce et des Sociétés
de Paris sous le numéro RCS PARIS B 433 115 904, numéro de TVA FR 35 433115904.
</p>

<h2>Suivi d'audience et vie privée</h2>

<h3>Cookies et consentement</h3>

<p>Ce site dépose un petit fichier texte (un « cookie ») sur votre ordinateur
lorsque vous le consultez. Cela nous permet de mesurer le nombre de visites et
de comprendre quelles sont les pages les plus consultées.</p>

<iframe id="stats-optout" src="//stats.data.gouv.fr/index.php?module=CoreAdminHome&action=optOut&language=fr"></iframe>

<h3>Ce site n’affiche pas de bannière de consentement aux cookies, pourquoi ?</h3>

<p>
Nous respectons la loi, qui dit que certains outils de suivi d'audience,
correctement configurés pour respecter la vie privée, sont exemptés
d'autorisation préalable au dépôt de cookies.
</p>

<p>
Nous utilisons pour cela Piwik, un outil libre, paramétré pour être en
conformité avec la recommandation « Cookies » de la CNIL. Cela signifie que
votre adresse IP, par exemple, est anonymisée avant d'être enregistrée. Il est
donc impossible d'associer vos visites sur ce site à votre personne.
</p>


<h3>Je contribue à enrichir vos données, puis-je y accéder ?</h3>

<p>
Bien sûr ! Les statistiques d’usage de la majorité de nos produits sont
disponibles en accès libre sur <a href="//stats.data.gouv.fr/">stats.data.gouv.fr</a>.
</p>


{% endblock %}
