{% extends '_base.html' %}
{% load i18n %}

{% block extraclasses %}light{% endblock %}

{% block sectionid %}login-form{% endblock %}

{% block extratitle %}{{ _('You have successfully subscribed') }}{% endblock %}

{% block breadcrumbs %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Vous êtes abonné</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="fr-container fr-mb-5w fr-pb-5w">
    <h1>Merci pour votre abonnement à la newsletter</h1>

    <p>
        <strong>
            Votre abonnement à la newsletter a été enregistré.
        </strong> 
    </p>
</div>
{% endblock %}
